[2014-05-18 15:37] lipki opened #5 "Make a new mojang logo"
The mojang logo change, we must also change the logo in pack.

[2014-05-18 15:51] lipki opened #6 "Make a new panorama for the site"
To create a new panorama:
Choose a wonderful place in Minecraft,
enable shader
make 8 sceenshot, every 45 °
If you can make a panorama done, otherwise send me 8 pictures here.

[2014-05-18 16:16] lipki opened #7 "Make new images for the site"
Make new images with the new biomes.
It does not matter if the textures are not fully up to date, anyway, we can not remake the images every release.

[2014-05-19 14:43] 2LEPRECHAUN opened #8 "Proposal Update texture: wooden planks."
Proposal Update texture: wooden planks.

[2014-05-19 16:27] lipki opened #9 "Ajouter une version de Summerfields pour minetest"
http://minetest.net

[code]

We can make a texture pack for minetest.
Minetest need Summerfields :D

[2014-05-20 15:25] lipki opened #12 "Which license for Summerfields ?"
Which license for Summerfields  ?

I have a preference for beerware: D

But I do not think lithiumsound agrees :)

For my open source projects, I use a GPLv2 or 3
But I am not sure it is compatible with the license of Minecraft.

Otherwise, for a work in image as Summerfields, the easiest would be CC-BY-NC-SA.

<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Cre

[2014-05-22 04:16] #12 closed, assigned to CuddleWoozle

[2014-05-22 04:16] #9 closed, assigned to lipki

[2014-05-22 04:17] #8 closed, assigned to nobody

[2014-05-22 14:41] #5 closed, assigned to nobody

[2014-05-22 14:46] lipki opened #19 "Add 1.7 changes in master. test"
Add 1.7 changes in master.

[2014-05-23 00:07] 2LEPRECHAUN opened #23 "Question: New topic."
I believe that a new forum thread to let minecraft texture in evidence again. Am I wrong?

[2014-05-23 00:38] #19 closed, assigned to lipki

[2014-06-08 09:54] #7 closed, assigned to nobody

[2014-06-08 09:56] #6 closed, assigned to nobody

[2014-06-10 15:53] lipki opened #34 "Add support for Feed The Beast 1.6.4"
If "card" joins us.

[2014-06-10 15:54] lipki opened #35 "Add support for Feed The Beast 1.5.2"
If "card" joins us.

[2014-06-10 21:17] lipki opened #36 "Add section "Feed The Beast" in the site."
Add section "Feed The Beast" in the site.

[2014-06-12 19:48] #34 closed, assigned to nobody

[2014-06-12 19:48] #35 closed, assigned to nobody

[2014-06-15 14:07] lipki opened #39 "Discution "feed the beast""
Feed the beast (FTB) is supported by Card / Sandromonti

[2014-06-19 02:23] muink opened #41 "This is what I do,I hope to help to you"
![coarse_dirt](https://cloud.githubusercontent.com/assets/7929014/3323041/fe98be02-f757-11e3-8396-f181e0aa58d4.png)
![sponge_wet](https://cloud.githubusercontent.com/assets/7929014/3323043/0dd25cd4-f758-11e3-9574-b5a9370208fb.png)

sorry,my english is not good :-(

[2014-06-19 17:28] 2LEPRECHAUN opened #42 "New branch (Milestone-1.8)"
I propose a new branch: 1.8. To facilitate modifications of pre-release. @lipki

[2014-06-19 22:34] lipki opened #43 "Update 14w25"
## 3D models #44

Moved file
- models/block/xxx.json -> blockstates/xxx.json
- models/block/meshes/xxx.json -> models/block/xxx.json

New file format for both.
## Textures
### New blocks
- ![coarse_dirt](https://cloud.githubusercontent.com/assets/401965/3334606/6aabb6d0-f802-11e3-8d69-674588a40614.png) textures/blocks/coarse_dirt.png - ref : dirt #45
- ![prismarine_bricks](https://cloud.githubuser

[2014-06-19 22:50] lipki opened #44 "Update 14w25a - 3D models"
Moved file

[code]

New file format for both.

[2014-06-19 22:59] lipki opened #45 "Update 14w25a - coarse_dirt"
![coarse_dirt](https://cloud.githubusercontent.com/assets/401965/3334606/6aabb6d0-f802-11e3-8d69-674588a40614.png)  textures/blocks/coarse_dirt.png

![dirt](https://cloud.githubusercontent.com/assets/401965/3334736/98d049fc-f804-11e3-942e-50596070ecd2.png) Référence texture
## Proposal :
- ![coarse_dirt](https://cloud.githubusercontent.com/assets/401965/3334748/f0ea600a-f804-11e3-8c7b-d606aa04d009

[2014-06-19 23:02] lipki opened #46 "Update 14w25a - prismarine_bricks"
- ![prismarine_bricks](https://cloud.githubusercontent.com/assets/401965/3334608/729afcd4-f802-11e3-918c-485464db1c5a.png) textures/blocks/prismarine_bricks.png

![stonebrick](https://cloud.githubusercontent.com/assets/401965/3334794/cd00f6ee-f805-11e3-8511-01b254809212.png) Référence texture
## Proposal :

[2014-06-19 23:06] lipki opened #47 "Update 14w25a - prismarine_rough"
- ![prismarine_rough](https://cloud.githubusercontent.com/assets/401965/3334612/750c4ee6-f802-11e3-94b5-ce6687cf62a8.png) textures/blocks/prismarine_rough.png

![cobblestone](https://cloud.githubusercontent.com/assets/401965/3334790/ab43fcd6-f805-11e3-8fc5-3a9b5ebf216a.png) Référence texture .... or not !
## Proposal :

[2014-06-19 23:08] lipki opened #48 "Update 14w25a - prismarine_dark"
- ![prismarine_dark](https://cloud.githubusercontent.com/assets/401965/3334611/73e675fa-f802-11e3-8313-8e15f04decb1.png) textures/blocks/prismarine_dark.png

[2014-06-19 23:10] lipki opened #49 "Update 14w25a - sea_lantern"
- ![sea_lantern](https://cloud.githubusercontent.com/assets/401965/3334613/77537cc4-f802-11e3-9b83-13269a2ae62d.png) textures/blocks/sea_lantern.png

![glowstone](https://cloud.githubusercontent.com/assets/401965/3334852/c518657e-f806-11e3-9b88-21eaafa7e290.png) Référence texture
## Proposal :

[2014-06-19 23:13] lipki opened #50 "Update 14w25a - sponge"
- ![sponge](https://cloud.githubusercontent.com/assets/401965/3334614/7aae1d98-f802-11e3-87bc-39d6d318348d.png) textures/blocks/sponge.png
- ![sponge_wet](https://cloud.githubusercontent.com/assets/401965/3334615/7bfc4cb0-f802-11e3-8069-270b2f610cf6.png) textures/blocks/sponge_wet.png

![sponge](https://cloud.githubusercontent.com/assets/401965/3334881/4284a5ae-f807-11e3-86cb-74fff9a5eb77.png) Réf

[2014-06-19 23:17] lipki opened #51 "Update 14w25a - Deleted"
textures/blocks/leaves_acacia_opaque.png
.... and company

[2014-06-19 23:18] lipki opened #52 "Update 14w25a - Guardian"
- ![guardian](https://cloud.githubusercontent.com/assets/401965/3334646/e9f1ac42-f802-11e3-95c4-97d9bb2200ad.png) textures/entity/guardian.png
- ![guardian_beam](https://cloud.githubusercontent.com/assets/401965/3334651/f12c6eb6-f802-11e3-8ae1-34c7ec3c3f6d.png) textures/entity/guardian_beam.png

![capture du 2014-06-18 21 56 44](https://cloud.githubusercontent.com/assets/401965/3334961/ed75cec4-f8

[2014-06-19 23:19] lipki opened #53 "Update 14w25a - Guardian Elder"
- ![guardian_elder](https://cloud.githubusercontent.com/assets/401965/3334650/ef9da20e-f802-11e3-930a-93791fb85234.png) textures/entity/guardian_elder.png
- ![guardian_beam](https://cloud.githubusercontent.com/assets/401965/3334651/f12c6eb6-f802-11e3-8ae1-34c7ec3c3f6d.png) textures/entity/guardian_beam.png

![capture du 2014-06-18 21 56 44](https://cloud.githubusercontent.com/assets/401965/3334964

[2014-06-19 23:22] lipki opened #54 "Update 14w25a - Texture check"
- textures/items/fireworks_charge.png
- textures/items/leather_boots.png
- textures/items/leather_helmet.png
- textures/items/leather_leggings.png
- textures/items/potion_overlay.png
- textures/items/spawn_egg.png

[2014-06-19 23:49] lipki opened #55 "Update 14w25a - prismarine_crystals"
- ![prismarine_crystals](https://cloud.githubusercontent.com/assets/401965/3335108/44caa8ea-f80c-11e3-800d-88fe0f860971.png) prismarine_crystals

[2014-06-19 23:50] lipki opened #56 "Update 14w25a - prismarine_shard"
- ![prismarine_shard](https://cloud.githubusercontent.com/assets/401965/3335113/66c255ce-f80c-11e3-9526-326464694798.png) prismarine_shard

[2014-06-20 00:52] lipki opened #57 "Update 14w20"
## new folder #44
- 3d model
- textures/gui/presets
## New blocks
- ![iron_trapdoor](https://cloud.githubusercontent.com/assets/401965/3335470/8abdaa92-f815-11e3-9121-2a9f4b4fdf4d.png) textures/blocks/iron_trapdoor.png #59
- ![slime](https://cloud.githubusercontent.com/assets/401965/3335487/c620641c-f815-11e3-902e-25bf5620583c.png) textures/blocks/slime.png #60
- ![stone_andesite](https://cloud.gi

[2014-06-20 01:05] lipki opened #58 "Update 14w20 - new 3d model"
new folder 3d model

[2014-06-20 01:06] #58 closed, assigned to lipki

[2014-06-20 01:07] lipki opened #59 "Update 14w20 - iron_trapdoor.png"
- ![iron_trapdoor](https://cloud.githubusercontent.com/assets/401965/3335470/8abdaa92-f815-11e3-9121-2a9f4b4fdf4d.png) textures/blocks/iron_trapdoor.png

[2014-06-20 01:07] lipki opened #60 "Update 14w20 - slime block"
- ![slime](https://cloud.githubusercontent.com/assets/401965/3335487/c620641c-f815-11e3-902e-25bf5620583c.png) textures/blocks/slime.png

[2014-06-20 01:08] lipki opened #61 "Update 14w20 - granite and co"
- ![stone_andesite](https://cloud.githubusercontent.com/assets/401965/3335473/9fe729d4-f815-11e3-90ac-fc4f8688aa09.png) textures/blocks/stone_andesite.png
- ![stone_andesite_smooth](https://cloud.githubusercontent.com/assets/401965/3335474/9fe82a28-f815-11e3-82e4-ed72ac77e8aa.png) textures/blocks/stone_andesite_smooth.png
- ![stone_diorite](https://cloud.githubusercontent.com/assets/401965/3335476

[2014-06-20 01:09] lipki opened #62 "Update 14w20 - barrier"
- ![barrier](https://cloud.githubusercontent.com/assets/401965/3335491/dffb74b2-f815-11e3-98b0-2c0e4c3762f6.png) textures/items/barrier.png

[2014-06-20 01:09] lipki opened #63 "Update 14w20 - presets"
- ![chaos](https://cloud.githubusercontent.com/assets/401965/3335494/f89824ca-f815-11e3-84e5-47eda597b90b.png) textures/gui/presets/chaos.png
- ![delight](https://cloud.githubusercontent.com/assets/401965/3335498/f8a3124a-f815-11e3-9b9f-433f6ff03f2a.png) textures/gui/presets/delight.png
- ![drought](https://cloud.githubusercontent.com/assets/401965/3335495/f89c775a-f815-11e3-8dcc-c2ffdd966ef1.png)

[2014-06-20 01:11] lipki opened #64 "Update 14w20 - button"
- ![server_selection](https://cloud.githubusercontent.com/assets/401965/3335513/2f3d63d2-f816-11e3-8be5-b0a2fb1f074d.png) textures/gui/server_selection.png
- ![spectator_widgets](https://cloud.githubusercontent.com/assets/401965/3335514/2f410c6c-f816-11e3-9c9e-c7830074d0c0.png) textures/gui/spectator_widgets.png
- ![widgets](https://cloud.githubusercontent.com/assets/401965/3335539/98218d9c-f816-1

[2014-06-20 01:12] lipki opened #65 "Update 14w20 - forcefield"
- ![forcefield](https://cloud.githubusercontent.com/assets/401965/3335520/42f8fcc4-f816-11e3-93c4-f65ce59ec6f7.png) textures/misc/forcefield.png

[2014-06-20 01:12] lipki opened #66 "Update 14w20 - unknown server"
- ![unknown_server](https://cloud.githubusercontent.com/assets/401965/3335521/42fbe4d4-f816-11e3-957b-a6233a5b602e.png) textures/misc/unknown_server.png

[2014-06-20 01:13] lipki opened #67 "Update 14w20 - endermite"
- ![endermite](https://cloud.githubusercontent.com/assets/401965/3335527/7521481e-f816-11e3-9c8e-51746bb7ec6a.png) textures/entity/endermite.png

[2014-06-20 01:14] lipki opened #68 "Update 14w20 - steve"
- ![steve](https://cloud.githubusercontent.com/assets/401965/3335528/7e70237c-f816-11e3-9c06-5974b7b73961.png) textures/entity/steve.png

[2014-06-20 01:14] lipki opened #69 "Update 14w20 - enchanting_table"
- ![enchanting_table](https://cloud.githubusercontent.com/assets/401965/3335535/8f54ad98-f816-11e3-9571-f9a73db467fa.png) textures/gui/container/enchanting_table.png

[2014-06-20 01:15] lipki opened #70 "Update 14w20 - REALMS title"
- ![minecraft](https://cloud.githubusercontent.com/assets/401965/3335536/953441d8-f816-11e3-9f9f-028afbca121f.png) textures/gui/title/minecraft.png - add Realms title

[2014-06-20 01:46] lipki opened #71 "stream_indicator"
![stream_indicator](https://cloud.githubusercontent.com/assets/401965/3335816/a649e350-f81c-11e3-9d3e-467fd2e2181b.png) stream_indicator.png

[2014-06-23 03:28] CuddleWoozle opened #72 "Poppies?"
Not sure when it got changed.

But I did want to note:

The original 'rose' texture, from before it was turned into a bush actually _IS_ a poppy.  Specifically based on the Flander's Poppy.  http://www.greatwar.co.uk/article/remembrance-poppy.htm

It would be nice if it was changed back because I think it looks nicer.  Maybe I just have a thing for 'groups' of flowers, but I think it actually look

[2014-06-23 20:05] lipki opened #73 "Organisation"
hello CuddleWoozle, we need a organisation in github, can you make it ?

To assign issue to people.

[2014-06-26 02:02] muink opened #74 "Hey guys! What do you think this kind of presets?"
![water](https://cloud.githubusercontent.com/assets/7929014/3394060/dd67a99a-fcd5-11e3-8474-53014c6f144d.png)
![chaos](https://cloud.githubusercontent.com/assets/7929014/3394062/dd8e0ca2-fcd5-11e3-894b-8804f9cecd8f.png)
![delight](https://cloud.githubusercontent.com/assets/7929014/3394061/dd8db676-fcd5-11e3-8c5e-c0b56092abe7.png)
![drought](https://cloud.githubusercontent.com/assets/7929014/339406

[2014-06-26 02:19] muink opened #75 "Oh,Right activatorrail and comparator"
http://i.imgur.com/E02cjoP.png
http://i.imgur.com/yvbEE73.png

[2014-06-26 03:23] #74 closed, assigned to nobody

[2014-06-26 11:09] muink opened #77 "1.5+ records wrong"
record has wrong  conversion by TextureEnder.jar
This will solve the problem are you think?
record_cat![record_cat](https://cloud.githubusercontent.com/assets/7929014/3397579/638a5194-fd21-11e3-8bf5-d7573ff6f7e7.png)
record_far![record_far](https://cloud.githubusercontent.com/assets/7929014/3397576/63867a38-fd21-11e3-96c3-143de2d9fc99.png)
record_ward![record_ward](https://cloud.githubusercontent.

[2014-06-26 16:39] #42 closed, assigned to lipki

[2014-06-26 16:51] #73 closed, assigned to CuddleWoozle

[2014-06-26 17:44] lipki opened #78 "New -> the Organisation"
@CuddleWoozle transferring the repo **SummerFields** on a new Organization **Summerfields**.

https://github.com/SummerFields

No refork, it's the same repo, it's just the owner that to change.

The website is now at :
http://summerfields.github.io/official/

And now we have teams

https://github.com/orgs/SummerFields/teams
- **GOD**
  - for @LithiumSound, but it does not have github account ...
-

[2014-06-26 23:14] lipki opened #79 "1.7.10 ?"
I want to release a version of 1.7.10, is that you have to make changes on the 1.7?

[List of changes for 1.7.10](https://github.com/SummerFields/SummerFields/issues?milestone=8&page=1&state=open)

[2014-06-27 20:58] 2LEPRECHAUN opened #80 "Texture - GUI_stats_icons"
# Proposal
#### Default

![stats_icons](https://cloud.githubusercontent.com/assets/7558430/3417763/f13a0180-fe3c-11e3-8adb-083629dbf73f.png)
#### SummerFields

![stats_icons](https://cloud.githubusercontent.com/assets/7558430/3417831/c2a4a888-fe3d-11e3-9874-8a29b7ad5514.png)

[2014-06-27 22:49] #66 closed, assigned to lipki

[2014-06-27 22:50] #70 closed, assigned to lipki

[2014-06-28 11:08] muink opened #81 "redstone_dust has been restored in 14w26a"
redstone_dust_cross.png
redstone_dust_line.png
Has been restored in 14w26a
No need to rotate the texture of the :-)

[2014-07-02 17:10] debugman18 opened #84 "As of 14w27b, grass wraps randomly"
The current grass texture looks a little strange with it, since it wasn't designed for erratic wrapping.

[2014-07-03 00:45] muink opened #85 "14w27b update a big lump of things OMG!!"
mutton
![mutton_raw](https://cloud.githubusercontent.com/assets/7929014/3464292/555c4888-024a-11e4-93c1-7d4568621955.png)![mutton_cooked](https://cloud.githubusercontent.com/assets/7929014/3464291/5537898a-024a-11e4-8821-4ded454380cf.png)
I think such good![image](https://cloud.githubusercontent.com/assets/7929014/3464299/8547aa6a-024a-11e4-85ed-9af95414dc9b.png)

and rabit ;-)
![rabbit_foot](http

[2014-07-03 12:17] lipki opened #87 "Update 14w27 - Rabbit !!!!"
- ![black](https://cloud.githubusercontent.com/assets/401965/3469149/3c697002-02aa-11e4-9247-a0dd823260f7.png) assets/minecraft/textures/entity/rabbit/black.png
 - ![brown](https://cloud.githubusercontent.com/assets/401965/3469150/3c6bdb3a-02aa-11e4-8e2b-f3eabb01ac01.png) assets/minecraft/textures/entity/rabbit/brown.png
 - ![caerbannog](https://cloud.githubusercontent.com/assets/401965/3469151/3c

[2014-07-03 12:19] lipki opened #88 "Update 14w27 - Rabbit nomnom"
- ![rabbit_raw](https://cloud.githubusercontent.com/assets/401965/3469185/c134f874-02aa-11e4-8d0b-1033b52902a6.png) assets/minecraft/textures/items/rabbit_raw.png
 - ![rabbit_cooked](https://cloud.githubusercontent.com/assets/401965/3469183/c128dbfc-02aa-11e4-99fb-a2a2ceca1fce.png) assets/minecraft/textures/items/rabbit_cooked.png
 - ![rabbit_foot](https://cloud.githubusercontent.com/assets/401965

[2014-07-03 12:20] lipki opened #89 "Update 14w27 - Mutton nomnom"
- ![mutton_cooked](https://cloud.githubusercontent.com/assets/401965/3469197/d6978bb4-02aa-11e4-82f6-b374be4ef10d.png) assets/minecraft/textures/items/mutton_cooked.png
- ![mutton_raw](https://cloud.githubusercontent.com/assets/401965/3469198/d6b7b470-02aa-11e4-80d7-4a2b82499e58.png) assets/minecraft/textures/items/mutton_raw.png

[2014-07-04 09:51] #36 closed, assigned to lipki

[2014-07-04 09:59] #51 closed, assigned to lipki

[2014-07-04 11:03] #54 closed, assigned to lipki

[2014-07-04 11:12] #81 closed, assigned to lipki

[2014-07-04 12:52] lipki opened #90 "Unifying color metals - [FTB]"
What do you think of unifying color metals.

Rather than having:

![ingotbronze](https://cloud.githubusercontent.com/assets/401965/3481524/616d2730-0373-11e4-8054-d56f2f331f58.png) assets/forestry/textures/items/ingotBronze.png
![itemingotbronze](https://cloud.githubusercontent.com/assets/401965/3481550/b8330d0a-0373-11e4-8ce5-3e69af6d79bd.png) assets/ic2/textures/items/resources/itemIngotBronze.p

[2014-07-09 23:58] #44 closed, assigned to lipki

[2014-07-23 17:50] lipki opened #95 "Update 14w30 - Banner"
# New banner
- ![banner_base](https://cloud.githubusercontent.com/assets/401965/3676925/d67a1722-128c-11e4-9419-3d0a1d740e50.png) - textures/entity/banner_base.png
## New items
- ![banner_base](https://cloud.githubusercontent.com/assets/401965/3676939/f49596e6-128c-11e4-8360-9ade2b5b44b1.png) - textures/items/banner_base.png
- ![banner_overlay](https://cloud.githubusercontent.com/assets/401965/367

[2014-07-31 02:21] #23 closed, assigned to CuddleWoozle

[2014-08-01 17:53] lipki opened #99 "Update 14w31 - NightDetector"
## New Textures
- ![daylight_detector_inverted_top](https://cloud.githubusercontent.com/assets/401965/3782626/1407d804-19a4-11e4-9bd4-ebaa133effa4.png) textures/blocks/daylight_detector_inverted_top.png
- ![border](https://cloud.githubusercontent.com/assets/401965/3782638/3ceb9a8a-19a4-11e4-990d-50121021009e.png)  textures/entity/banner/border.png
- ![curly_border](https://cloud.githubusercontent.

[2014-08-02 13:20] #77 closed, assigned to muink

[2014-08-03 18:47] #71 closed, assigned to 2LEPRECHAUN

[2014-08-03 18:48] #72 closed, assigned to 2LEPRECHAUN

[2014-08-03 18:48] #79 closed, assigned to lipki

[2014-08-03 18:48] #80 closed, assigned to 2LEPRECHAUN

[2014-08-04 19:54] 2LEPRECHAUN opened #110 "Icon in the site"
Before you begin I want to apologize for being so giving you problems @lipki .

Well, I believe that an icon on the tab on a website is something more particular, makes the most stylish website, although I do not know programming. I searched a bit and if you can place it would be great. Here are two sites that I believe can help you:

(This is in your language)http://msdn.microsoft.com/fr-fr/libra

[2014-08-04 20:01] 2LEPRECHAUN opened #111 "Improvement of texture: Cake"
Hello,

Well, was playing and noticed some small defects on the cake. I tried to improve.

Original: ![1](http://i.imgur.com/BCWfwLg.png)
Remake: ![2](http://i.imgur.com/0sdbBil.png)

Original: ![3](http://i.imgur.com/Hkmt06F.png)
Remake: ![4](http://i.imgur.com/8z6kTWz.png)

[2014-08-09 16:40] lipki opened #113 "Update 14w32 - more more"
## Doors #114

![door_jungle](https://cloud.githubusercontent.com/assets/401965/3866809/5fe4a24e-1fe3-11e4-89f3-f68d4b11a111.png) - ![door_acacia](https://cloud.githubusercontent.com/assets/401965/3866807/5fd84cd8-1fe3-11e4-8c52-de2ace636d08.png) - ![door_birch](https://cloud.githubusercontent.com/assets/401965/3866808/5fdcba98-1fe3-11e4-9e04-542f2a8ce6fb.png) - ![door_dark_oak](https://cloud.gith

[2014-08-09 16:41] lipki opened #114 "Update 14w32 - Doors"
![door_jungle](https://cloud.githubusercontent.com/assets/401965/3866809/5fe4a24e-1fe3-11e4-89f3-f68d4b11a111.png) - ![door_acacia](https://cloud.githubusercontent.com/assets/401965/3866807/5fd84cd8-1fe3-11e4-8c52-de2ace636d08.png) - ![door_birch](https://cloud.githubusercontent.com/assets/401965/3866808/5fdcba98-1fe3-11e4-9e04-542f2a8ce6fb.png) - ![door_dark_oak](https://cloud.githubusercontent.c

[2014-08-09 16:42] lipki opened #115 "Update 14w32 - Armor stand"
![wooden_armorstand](https://cloud.githubusercontent.com/assets/401965/3866820/9b5e9b4a-1fe3-11e4-83e9-e7b6f0b70264.png) - /textures/items/wooden_armorstand.png

![wood](https://cloud.githubusercontent.com/assets/401965/3866822/a4cdc200-1fe3-11e4-8c72-707ff321fb3d.png) - /textures/entity/armorstand/wood.png

[2014-08-09 16:59] lipki opened #116 "Update 14w32 - Red sandstone"
![red_sandstone_bottom](https://cloud.githubusercontent.com/assets/401965/3866874/0feb636a-1fe6-11e4-9208-80f8d4c74a09.png) - /textures/blocks/red_sandstone_bottom.png
![red_sandstone_carved](https://cloud.githubusercontent.com/assets/401965/3866875/0fee1d9e-1fe6-11e4-9e6b-81e3fb220b9b.png) - /textures/blocks/red_sandstone_carved.png
![red_sandstone_normal](https://cloud.githubusercontent.com/asse

[2014-08-11 09:18] #110 closed, assigned to nobody

[2014-08-11 09:22] #84 closed, assigned to nobody

[2014-08-22 14:27] lipki opened #119 "Update 1.8pr 1 - Alex"
### Delete

./textures/blocks/door_jungle_inner.png
### New caractère

![alex](https://cloud.githubusercontent.com/assets/401965/4011819/1cdada16-2a08-11e4-8188-75ac8ac2fe71.png) - ./textures/entity/alex.png

[2014-08-22 20:51] #89 closed, assigned to nobody

[2014-08-22 20:52] #99 closed, assigned to nobody

[2014-08-22 20:53] #111 closed, assigned to nobody

[2014-08-22 20:54] #116 closed, assigned to nobody

[2014-08-22 20:55] #115 closed, assigned to nobody

[2014-08-22 20:57] #45 closed, assigned to nobody

[2014-08-22 21:00] #39 closed

[2014-08-22 21:01] #41 closed, assigned to muink

[2014-08-22 21:03] #59 closed, assigned to nobody

[2014-08-22 21:06] #65 closed, assigned to nobody

[2014-08-22 21:08] #68 closed, assigned to nobody

[2014-08-22 21:09] #69 closed, assigned to nobody

[2014-08-22 21:10] #78 closed, assigned to nobody

[2014-08-22 22:24] #62 closed, assigned to nobody

[2014-08-25 02:18] 2LEPRECHAUN opened #125 "Clay - Proposal"
For a "new" concept in the texture, i'll propose the change of the texture of the clay.
![clay](https://cloud.githubusercontent.com/assets/7558430/4025555/28e6ec96-2bfc-11e4-808a-f212820f38db.png) ![clay_ball](https://cloud.githubusercontent.com/assets/7558430/4025556/28f541b0-2bfc-11e4-9dae-de973af4fc82.png)

Following the logic -> ![clay](https://cloud.githubusercontent.com/assets/7558430/402555

[2014-08-25 19:31] #64 closed, assigned to nobody

[2014-08-25 19:32] #60 closed, assigned to nobody

[2014-09-03 08:54] #95 closed, assigned to nobody

[2014-09-03 20:28] #90 closed, assigned to nobody

[2014-09-04 21:02] #67 closed, assigned to nobody

[2014-09-04 21:20] #63 closed, assigned to muink

[2014-09-04 21:23] #61 closed, assigned to nobody

[2014-09-04 21:24] #57 closed, assigned to nobody

[2014-09-04 21:31] #50 closed, assigned to nobody

[2014-09-04 21:36] #119 closed, assigned to nobody

[2014-09-04 21:37] #113 closed, assigned to nobody

[2014-09-04 23:18] #114 closed, assigned to nobody

[2014-09-07 17:32] susnux opened #137 "Redstone is wrong side"
If I connect redstone it is on Wrong side:

|   |   |
instead of:

---

See this picture:
![problem](https://cloud.githubusercontent.com/assets/1855448/4179039/b3dba5e0-36b4-11e4-9333-e51280845653.png)

Downloaded summfields today, uses MC 1.7.10

[2014-09-11 21:06] #49 closed, assigned to 2LEPRECHAUN

[2014-09-11 21:06] #47 closed, assigned to 2LEPRECHAUN

[2014-09-11 21:06] #46 closed, assigned to 2LEPRECHAUN

[2014-09-11 21:32] #53 closed, assigned to nobody

[2014-09-11 21:32] #52 closed, assigned to nobody

[2014-09-11 21:36] #43 closed, assigned to nobody

[2014-09-11 22:05] #55 closed, assigned to 2LEPRECHAUN

[2014-09-11 22:05] #56 closed, assigned to 2LEPRECHAUN

[2014-09-11 22:34] #137 closed, assigned to nobody

[2014-12-08 14:48] lipki opened #152 "Improvement of some item, with the new model technology."
Just some changes without adding polygon, for not to slow down the game.

![full](https://cloud.githubusercontent.com/assets/401965/5341053/249974ac-7ef3-11e4-9211-10f8db68359b.png)

![cauldron](https://cloud.githubusercontent.com/assets/401965/5340854/7a5f4f08-7ef1-11e4-8071-31d4f3e55ecf.png)
![hopper](https://cloud.githubusercontent.com/assets/401965/5340856/7e21d2f0-7ef1-11e4-8096-f3339d76beae.

[2014-12-08 21:28] lipki opened #153 "Improvement of some block, with the new model technology."
Just some changes without adding polygon, for not to slow down the game.

![daylight](https://cloud.githubusercontent.com/assets/401965/5347522/6ade92ae-7f29-11e4-9ffb-0e60b46b2c77.png)
![iron_trapdoor](https://cloud.githubusercontent.com/assets/401965/5347525/6ea34664-7f29-11e4-8343-ab202fd9eb9e.png)
![trapdoor](https://cloud.githubusercontent.com/assets/401965/5347526/6fd74fb2-7f29-11e4-86ac-efc

[2015-04-17 20:06] RobertZenz opened #156 "License is unclear."
I have a hard time figuring out what license these textures are under, I found a source saying CC-BY-NC-SA 4, is this correct?

Can you please add a LICENSE file to the repository to avoid any confusion about it?

[2015-04-17 20:39] lipki commented on #156
oui, you'r right !
it's done.
https://github.com/SummerFields/SummerFields/blob/master/LICENSE.md

[2015-04-18 08:26] RobertZenz commented on #156
Thanks for the confirmation.

[2015-04-18 08:26] #156 closed

[2015-05-05 13:41] lipki commented on #153
done

[2015-05-05 13:41] #153 closed

[2015-05-05 13:42] lipki commented on #125
done

[2015-05-05 13:42] #125 closed

[2015-05-05 13:42] lipki commented on #152
done

[2015-05-05 13:42] #152 closed

[2015-05-05 13:43] lipki commented on #75
done

[2015-05-05 13:43] #75 closed

[2015-05-05 13:43] lipki commented on #48
done

[2015-05-05 13:43] #48 closed

[2015-05-05 13:48] lipki opened #157 "A quiver for 1.9"
original
![quiver](https://cloud.githubusercontent.com/assets/401965/7473779/d41b4da6-f33d-11e4-98fe-2d40465dfb69.png)
vs
new
![quiver](https://cloud.githubusercontent.com/assets/401965/7473797/f06e7fdc-f33d-11e4-9bc4-d01084f50bfc.png)

[2015-05-05 13:53] lipki opened #158 "Arrow for 1.9"
Currently
![arrow](https://cloud.githubusercontent.com/assets/401965/7473990/fc5f9bd6-f33e-11e4-83dc-21c163ecaa73.png)

Special arrow in other support pack
![forcearrow](https://cloud.githubusercontent.com/assets/401965/7474041/3d94d260-f33f-11e4-9e7a-b299c113666d.png) Dartcraft
![el_arrow_air](https://cloud.githubusercontent.com/assets/401965/7474049/4eac32a0-f33f-11e4-9a5a-426a856f5edc.png)![el_

[2015-05-05 14:02] lipki opened #159 "Shields for 1.9"
original shield(s)
???
Shields in other support pack :
![shields_inv_shield_admin](https://cloud.githubusercontent.com/assets/401965/7474176/f4260b20-f33f-11e4-9b4a-0ae6267a1a40.png)![shields_inv_shield_bronze](https://cloud.githubusercontent.com/assets/401965/7474177/f42d8f08-f33f-11e4-9d1d-a3cb798652bc.png)![shields_inv_shield_cactus](https://cloud.githubusercontent.com/assets/401965/7474178/f43

[2015-05-05 14:40] lipki opened #160 "Inventory GUI for 1.9"
![](http://media-minecraftforum.cursecdn.com/attachments/107/709/arrow.png)

Proposal that does not please me.

![inventory](https://cloud.githubusercontent.com/assets/401965/7474998/4e439f1e-f345-11e4-97d2-f21b711af1d1.png)

[2015-05-05 15:07] lipki opened #161 "Improved of various brick"
Here is a proposal for improvement of brick and stone brick paving to create a lovely ground.

http://codepen.io/anon/pen/bdVgQX
![capture du 2015-05-05 16 50 40](https://cloud.githubusercontent.com/assets/401965/7475546/802ef5de-f348-11e4-8d0f-fa6a70e2daef.png)
![capture du 2015-05-05 16 50 40](https://cloud.githubusercontent.com/assets/401965/7475505/511cacaa-f348-11e4-8362-803271cabdfb.png)

ht

[2015-05-05 15:59] lipki opened #162 "New granit andesite and diorite ... again"
Another proposal for the smooth andesite diorite and granite.
This time though, I am happy with the result.

![capture du 2015-05-05 17 54 26](https://cloud.githubusercontent.com/assets/401965/7476847/858ee0b8-f350-11e4-9a91-bfdf4638dc03.png)

[2015-05-05 18:33] CuddleWoozle commented on #158
Arrows should be pretty easy.  Who did those?  I know I did a bunch before for a mod, but I can't remember what mine looked like.  XD

[2015-05-05 18:36] CuddleWoozle commented on #160
I have an idea, but I won't be able to work on it until tomorrow or later.

I'm kinda thinking maybe we could do something other than the wooden boxes for this because it's starting to look like the inside of a shipping center.  XD  I was thinking maybe having some kind of cloth-like texture so it looks like it's showing what is on your back or something like that.  That's where a quiver should ha

[2015-05-05 18:44] lipki commented on #158
The blue, "Dartcraft", I do not know who made this.
The others comes from "Thaumcraft" and "Improving-minecraft" and it is mine.

[2015-05-06 07:12] CuddleWoozle commented on #158
Ah!  I looked and mine were for Ropes+.  Might want to have a look at those, too.  Although most of them are kind of...odd.  It all depends on what the new arrows actually do.

[2015-05-08 19:15] lipki opened #164 "improvement pane"
Between the panes we can see the edges
It is not very pretty.

(I chose textures without wooden edge, to show the edges.)
(do not pay attention has the stone ...)
![capture du 2015-05-08 19 37 57](https://cloud.githubusercontent.com/assets/401965/7542484/5d59e056-f5bd-11e4-8684-c94aff8a24c3.png)

We can not correct this problem perfectly.
When did it disappear edge, to obtain very smooth glass.
Th

[2015-05-08 19:34] lipki opened #165 "Leaves in fast"
In fancy mode, leaves look like :
![capture du 2015-05-08 21 09 21](https://cloud.githubusercontent.com/assets/401965/7543832/fa73de28-f5c7-11e4-8585-0e86be75dc5e.png)

And in 1.8 in fast mode, the leaves look like this :
![capture du 2015-05-08 21 09 32](https://cloud.githubusercontent.com/assets/401965/7543857/41bd54bc-f5c8-11e4-8fe7-1451a602f65b.png)
beuuuuurk ( °A°)~_

But playing with transpa

[2015-05-12 15:39] lipki opened #166 "Beacon by ImLeeRii"
proposal to right
![capture du 2015-05-12 17 32 17](https://cloud.githubusercontent.com/assets/401965/7591351/b2d48eb0-f8cd-11e4-8911-e4353110a52c.png)

[2015-05-12 15:41] lipki opened #167 "Acacia door 3d by ImLeeRii"
proposal to right
![capture du 2015-05-12 17 07 36](https://cloud.githubusercontent.com/assets/401965/7591403/029d2826-f8ce-11e4-839c-96e4a480a99f.png)

[2015-05-12 15:42] lipki opened #168 "firework and egg by ImLeeRii"
proposal to right
![capture du 2015-05-12 17 02 21](https://cloud.githubusercontent.com/assets/401965/7591432/2556dcb8-f8ce-11e4-9b91-79c150fbf6df.png)

[2015-05-12 15:43] lipki opened #169 "GUI Beacon by ImLeeRii"
proposal to right
![capture du 2015-05-12 17 00 40](https://cloud.githubusercontent.com/assets/401965/7591468/5012df24-f8ce-11e4-8f1e-2dd9368450e4.png)

[2015-05-12 15:43] lipki opened #170 "GUI hopper by ImLeeRii"
proposal to right
![capture du 2015-05-12 17 00 07](https://cloud.githubusercontent.com/assets/401965/7591483/645649e4-f8ce-11e4-980a-84b6085ef20c.png)

[2015-05-12 15:44] lipki opened #171 "GUI anvil by ImLeeRii"
proposal to right
![capture du 2015-05-12 16 59 33](https://cloud.githubusercontent.com/assets/401965/7591499/84a1924e-f8ce-11e4-9bfa-cbb186592fbe.png)

[2015-05-12 15:45] lipki opened #172 "Chest by ImLeeRii"
proposal to right
![capture du 2015-05-12 16 58 17](https://cloud.githubusercontent.com/assets/401965/7591513/9331c0d6-f8ce-11e4-96eb-64c92c0b652a.png)

[2015-05-12 15:45] lipki opened #173 "RedstoneBlock by ImLeeRii"
proposal to right
![capture du 2015-05-12 16 53 56](https://cloud.githubusercontent.com/assets/401965/7591528/a71e30ca-f8ce-11e4-92cc-281d6bd67f38.png)

[2015-05-12 15:46] lipki opened #174 "Quartz ore by ImLeeRii"
proposal to right
![capture du 2015-05-12 16 53 29](https://cloud.githubusercontent.com/assets/401965/7591538/bdfb3964-f8ce-11e4-9983-1f1e95663e16.png)

[2015-05-12 15:47] lipki opened #175 "Quartz by ImLeeRii"
proposal to right
![capture du 2015-05-12 16 52 29](https://cloud.githubusercontent.com/assets/401965/7591561/df568fe6-f8ce-11e4-8ab1-132c7d2184cb.png)

[2015-05-12 15:47] lipki opened #176 "Sea Block by ImLeeRii"
proposal to right
![capture du 2015-05-12 16 51 14](https://cloud.githubusercontent.com/assets/401965/7591578/f52f9ee8-f8ce-11e4-877d-9c5a8fa45a5f.png)

[2015-05-12 15:48] lipki opened #177 "Melon stem by ImLeeRii"
proposal to right
![capture du 2015-05-12 16 49 12](https://cloud.githubusercontent.com/assets/401965/7591587/0bd18c4c-f8cf-11e4-9687-cc775b6b0543.png)

[2015-05-12 15:49] lipki opened #178 "Log by ImLeeRii"
proposal to bottom
![capture du 2015-05-12 16 46 46](https://cloud.githubusercontent.com/assets/401965/7591612/2d382238-f8cf-11e4-9346-7938351cd71b.png)

[2015-05-12 15:49] lipki opened #179 "Hopper by ImLeeRii"
proposal to right
![capture du 2015-05-12 16 43 15](https://cloud.githubusercontent.com/assets/401965/7591631/3dbccd34-f8cf-11e4-8960-92791c143a69.png)

[2015-05-12 15:50] lipki opened #180 "hay block by ImLeeRii"
proposal to right
![capture du 2015-05-12 16 42 19](https://cloud.githubusercontent.com/assets/401965/7591639/542d765e-f8cf-11e4-96fb-dc2bbb51897d.png)

[2015-05-12 15:50] lipki opened #181 "Endframe by ImLeeRii"
proposal to right
![capture du 2015-05-12 16 41 27](https://cloud.githubusercontent.com/assets/401965/7591649/694eada0-f8cf-11e4-8121-668fa962769a.png)

[2015-05-12 15:51] lipki opened #182 "dropper/dispenser top by ImLeeRii"
proposal to right
![capture du 2015-05-12 16 40 21](https://cloud.githubusercontent.com/assets/401965/7592043/88f9dd30-f8d1-11e4-8ded-7fa14dd55f82.png)

[2015-05-12 15:52] lipki opened #183 "Daylight detector by ImLeeRii"
proposal to bottom
![capture du 2015-05-12 16 39 08](https://cloud.githubusercontent.com/assets/401965/7591702/a3891a0a-f8cf-11e4-9f1c-2e4e5f0ed649.png)

[2015-05-12 15:53] lipki opened #184 "Command block by ImLeeRii"
proposal to right
![capture du 2015-05-12 16 38 24](https://cloud.githubusercontent.com/assets/401965/7591727/bc281e1c-f8cf-11e4-8a05-70aaa22ff24f.png)

[2015-05-12 15:53] lipki opened #185 "Coal block by ImLeeRii"
proposal to right
![capture du 2015-05-12 16 37 20](https://cloud.githubusercontent.com/assets/401965/7591736/cc8ce382-f8cf-11e4-9151-6ef9d1f9465e.png)

[2015-05-12 15:54] lipki opened #186 "Cauldron by ImLeeRii"
proposal to right
![capture du 2015-05-12 16 36 34](https://cloud.githubusercontent.com/assets/401965/7591750/dda1df38-f8cf-11e4-8a04-4c7effc7acd3.png)

[2015-05-12 15:54] lipki opened #187 "EnderCrystal by ImLeeRii"
proposal to right
![capture du 2015-05-10 17 22 01](https://cloud.githubusercontent.com/assets/401965/7591766/ef4cb906-f8cf-11e4-8661-3be0fd139757.png)

[2015-05-12 15:55] lipki commented on #187
It is super, I take it.

[2015-05-12 15:57] lipki commented on #186
The craft of the cauldron is made of iron, so for me the cauldron not wood, it is not good.

[2015-05-12 16:01] lipki commented on #185
I do not like the fact that coal is an iron border.
I prefer yours.

[2015-05-12 16:02] lipki commented on #183
I like.
Perhaps the wood a little too orange.

[2015-05-12 16:06] lipki commented on #182
I like it, it makes sense.

[2015-05-12 16:07] lipki commented on #181
Well ... no connection :)

[2015-05-12 16:09] lipki commented on #180
I do not like the current block, yours has more character, but we must see the color I think, too orange.

[2015-05-12 16:10] lipki commented on #179
The craft hopper is made of iron, so for me the wooden hopper, this is not good.

[2015-05-12 16:11] lipki commented on #178
I think the heart of the wood, must match the color of the boards.

[2015-05-12 16:12] lipki commented on #177
This should be done for so long :D

[2015-05-12 16:14] lipki commented on #176
There are much better than mine ... I do not know.

[2015-05-12 16:15] lipki commented on #175
Even more character in yours.

[2015-05-12 16:17] lipki commented on #173
I do not like the fact that the redstone block is iron border.
But I do not like yours.

[2015-05-12 16:20] lipki commented on #167
This is your door, so ok for your model.
I like it.

[2015-05-12 16:20] lipki commented on #166
Il est super, moi, je le Prend.

[2015-05-12 18:00] CuddleWoozle commented on #186
That's not to say the textures themselves aren't good.  Those look freaking awesome.  Maybe it can be used for a mod texture or as an alternate for people who want a 'barrel' and not a cauldron.

Although I do agree with Lipki about the wood color...it's a little bit too orange compared to the default textures.  It shouldn't be too hard to tone down though.  :)

[2015-05-12 18:03] CuddleWoozle commented on #178
That was my idea when I did those textures originally, that the inner color of the tree should match up to the color of the planks they produce.  Although in real life, wood can lighten or darken with age/exposure to weather.

[2015-05-12 23:02] ImLeeRii commented on #186
The textures become flipped in certain directions, so I actually made a custom model to fix that. The logs are supposed to look like they are stack on top of each other.

[2015-05-13 01:18] lipki commented on #186
yep, mi bad.

![capture du 2015-05-13 03 09 16](https://cloud.githubusercontent.com/assets/401965/7601999/a204a18c-f91e-11e4-8e1e-b89799167c94.png)

[2015-05-18 13:04] lipki commented on #187
@CuddleWoozle I would switch to that of ImLeeRii.
What do you think?

[2015-05-18 13:27] #177 closed

[2015-05-18 13:56] #167 closed

[2015-05-18 14:09] #166 closed

[2015-05-18 14:09] #165 closed

[2015-05-21 17:14] CuddleWoozle commented on #187
It's fine with me.  :)
I think it goes with the rest of the stuff a bit better than my (honestly kind of rushed) version.

[2015-05-24 14:27] #187 closed

[2015-07-08 03:02] pangys opened #189 "I can download SummerFields!"
I can download SummerFields!
What's the 'blob:xxxxxxx'?

[2015-07-08 19:37] lipki commented on #189
yes you can !

'blob:xxxxxxx' ?

[2015-07-08 20:00] #157 closed

[2015-07-09 14:26] pangys commented on #189
Oops.I'm sorry that i had a wrong expression.The truth is, I can't download SummerFields!
When I pressed the download buttom, It gave me a link with 'blob:https%3A//summerfields.github.io/f698564a-2e44-4b9b-842d-1a48e4eb19a4'.
How can i download it?

[2015-07-09 15:55] lipki commented on #189
That blob IS the texture pack.
You should be able to save in your computer.
What browser do you use?

Meanwhile, you can find the package to this address:

http://summerfields.info/version/1.8.X/SummerFields-1.8.7.zip

[2015-07-10 09:40] pangys commented on #189
Thank you!
I use downloading software but it can't identify the link.And it's work with browser‘s downloading function.

[2015-07-10 09:40] #189 closed

[2015-07-12 09:27] lipki opened #190 "[1.9] Chorus tree"
- chorus : ![chorus_flower](https://cloud.githubusercontent.com/assets/401965/9409782/0e90bf28-481d-11e5-9964-3ab8117dfcbb.png)![chorus_flower_dead](https://cloud.githubusercontent.com/assets/401965/9409783/0e972048-481d-11e5-8633-fe2ca7c4e41a.png)![chorus_plant](https://cloud.githubusercontent.com/assets/401965/9409784/0e9b5082-481d-11e5-9a4b-184d82c2f250.png)
![chorus_fruit](https://cloud.github

[2015-07-12 09:33] lipki opened #191 "[1.9 ] Endstone brick"
![end5](https://cloud.githubusercontent.com/assets/401965/8637283/ce920d12-2889-11e5-8e6e-867dcdc029b5.png)

ref color :
![end_stone](https://cloud.githubusercontent.com/assets/401965/8637287/e9cc374c-2889-11e5-84ce-102c881fa66d.png)
![endframe_side](https://cloud.githubusercontent.com/assets/401965/8637288/f0fe7cd2-2889-11e5-9b7f-c7dd8371ddd4.png)

ref shape :
![stonebrick](https://cloud.githubus

[2015-08-09 13:53] CuddleWoozle opened #192 "Pack Reconfiguration for 1.9"
I'm not sure what all has changed but the 1.9 snapshots won't just let you drop the pack in and use it.
If you try to use it the game will not let you because it states that it is for 'A previous version of Minecraft'.

I'm opening this as an issue because as it stands the pack would be unusable in 1.9 because of this.  I'll be looking into how the new packs are put together more as the snapshots

[2015-08-11 23:10] lipki commented on #192
It's nothing serious, just a version number, I will publish a first version 1.9 beta with some textures I made. it takes some time to detail all the changes, but I will.

[2015-08-13 06:20] CuddleWoozle commented on #192
This has been solved.  I believe Dinnerbone posted on the forums to change 'pack_format' from 1 to 2 in pack.mcmeta.

[2015-08-14 14:37] lipki opened #193 "consistency problem in END"
beige :
![end_stone](https://cloud.githubusercontent.com/assets/401965/8580966/e9bc83b6-25bd-11e5-9745-7e5b1b5bf7c7.png)
red :
![obsidian](https://cloud.githubusercontent.com/assets/401965/8580974/f5fed2d2-25bd-11e5-85da-b42df4d6303c.png)![ender_pearl](https://cloud.githubusercontent.com/assets/401965/8581014/447d5adc-25be-11e5-910c-c9ece34b8ab6.png)
purple :
![endermite](https://cloud.githubuserc

[2015-08-14 14:39] lipki commented on #193
ping @CuddleWoozle

[2015-08-14 17:01] lipki commented on #192
https://github.com/SummerFields/SummerFields/commit/8a4777d784bf02b69dec45d17c3aaa79ca44d10b

solved

[2015-08-17 02:06] CuddleWoozle commented on #193
...I'm unsure where you are going with this?

The colors aren't all the same?

The default colors are different.  There's beige/white endstone, green/blue trim on the end portal blocks, purple obsidian, blue/green ender pearls/eyes of ender, etc.

I don't think it's a problem to have color variations in these textures.  If they are share a common color scheme it will make the End look bland.

Obsi

[2015-08-21 14:17] lipki opened #194 "Update 1.9"
New :
- structures folder

- beetroots #195 : ![beetroots_stage_0](https://cloud.githubusercontent.com/assets/401965/9409714/ad091106-481c-11e5-95c9-77840e412c33.png)![beetroots_stage_1](https://cloud.githubusercontent.com/assets/401965/9409715/ad0d4032-481c-11e5-8892-565245fa31d5.png)![beetroots_stage_2](https://cloud.githubusercontent.com/assets/401965/9409716/ad10aa38-481c-11e5-9f65-7ac53012c9d

[2015-08-21 14:27] lipki opened #195 "[1.9] Beetroots"
![beetroots_stage_0](https://cloud.githubusercontent.com/assets/401965/9409714/ad091106-481c-11e5-95c9-77840e412c33.png)![beetroots_stage_1](https://cloud.githubusercontent.com/assets/401965/9409715/ad0d4032-481c-11e5-8892-565245fa31d5.png)![beetroots_stage_2](https://cloud.githubusercontent.com/assets/401965/9409716/ad10aa38-481c-11e5-9f65-7ac53012c9d8.png)![beetroots_stage_3](https://cloud.githu

[2015-08-21 14:33] lipki opened #196 "[1.9] Command block"
- command block :
![chain_command_block_back](https://cloud.githubusercontent.com/assets/401965/9704891/f3d03890-54b4-11e5-8b93-d6483cc153b5.png)![chain_command_block_conditional](https://cloud.githubusercontent.com/assets/401965/9704892/f3d46668-54b4-11e5-8656-0324fd51d1cc.png)![chain_command_block_front](https://cloud.githubusercontent.com/assets/401965/9704893/f3dd6e98-54b4-11e5-82f5-4880bea020

[2015-08-21 14:39] lipki commented on #191
![end_bricks](https://cloud.githubusercontent.com/assets/401965/9410888/246af16e-4823-11e5-98d7-a285ae916342.png)

[2015-08-21 14:43] #160 closed

[2015-08-21 14:43] #159 closed

[2015-08-21 14:43] #158 closed

[2015-08-21 14:45] lipki opened #197 "[1.9] Purpur block"
- pupur block : ![purpur_block](https://cloud.githubusercontent.com/assets/401965/9409837/6550bb42-481d-11e5-8336-8222536a6612.png)![purpur_pillar](https://cloud.githubusercontent.com/assets/401965/9409839/655612e0-481d-11e5-8ebe-677d948a279c.png)![purpur_pillar_top](https://cloud.githubusercontent.com/assets/401965/9409838/6554edac-481d-11e5-822f-f2f37fae833e.png)
- end rod : ![end_rod](https://c

[2015-08-21 14:46] lipki commented on #197
![purpur_block](https://cloud.githubusercontent.com/assets/401965/9411054/15d99140-4824-11e5-9ae2-2f290e6c249e.png)![purpur_pillar](https://cloud.githubusercontent.com/assets/401965/9411055/15fea2fa-4824-11e5-8550-de22db40b9d4.png)![purpur_pillar_top](https://cloud.githubusercontent.com/assets/401965/9411056/160143f2-4824-11e5-813e-fd16e700c42b.png)

![2015-08-12_19 25 31](https://cloud.githubuser

[2015-08-21 14:47] lipki opened #198 "[1.9] Grass path"
- grass path : ![grass_path_side](https://cloud.githubusercontent.com/assets/401965/9409829/497146ee-481d-11e5-8bfd-7312e35a4104.png)![grass_path_top](https://cloud.githubusercontent.com/assets/401965/9409830/4977e5a8-481d-11e5-9f72-408720b40de2.png)

[2015-08-21 14:47] lipki commented on #198
![grass_path_side](https://cloud.githubusercontent.com/assets/401965/9411091/515e4a8a-4824-11e5-93e2-ad374bb798c3.png)![grass_path_top](https://cloud.githubusercontent.com/assets/401965/9411092/51878198-4824-11e5-8edf-f406eb4631cb.png)

![2015-08-12_19 25 46](https://cloud.githubusercontent.com/assets/401965/9411097/542bbfe0-4824-11e5-975b-1cdbba8a4132.png)

[2015-08-21 14:49] lipki opened #199 "[1.9] Structure block"
- structure block : ![structure_block](https://cloud.githubusercontent.com/assets/401965/9409881/a8cb2cea-481d-11e5-9d25-bd4ffb4dd2e1.png)![structure_block_corner](https://cloud.githubusercontent.com/assets/401965/9409882/a8d19166-481d-11e5-9067-06f31ae96abc.png)![structure_block_data](https://cloud.githubusercontent.com/assets/401965/9409883/a8d38ab6-481d-11e5-908c-54d1721aba2e.png)![structure_bl

[2015-08-21 14:50] lipki commented on #199
![structure_block](https://cloud.githubusercontent.com/assets/401965/9411140/9fe753ae-4824-11e5-8149-63fa44676747.png)![structure_block_corner](https://cloud.githubusercontent.com/assets/401965/9411141/9feaf5d6-4824-11e5-8491-116f86696c45.png)![structure_block_data](https://cloud.githubusercontent.com/assets/401965/9411142/9fed716c-4824-11e5-83a7-456aacf66268.png)![structure_block_load](https://cl

[2015-08-21 14:51] lipki opened #200 "[1.9] dragon fireball"
- dragon fireball : ![dragon_fireball](https://cloud.githubusercontent.com/assets/401965/9409908/c69a28de-481d-11e5-8eb4-2ecfd7c26c5e.png)

[2015-08-21 14:58] lipki opened #201 "[1.9] Arrow"
- arrow :
 ![arrow](https://cloud.githubusercontent.com/assets/401965/9409919/d98104e0-481d-11e5-9023-c000a92e4928.png)![spectral_arrow](https://cloud.githubusercontent.com/assets/401965/9409918/d97fc2e2-481d-11e5-9f7b-7c981d491a48.png)![tipped_arrow](https://cloud.githubusercontent.com/assets/401965/9409920/d987aad4-481d-11e5-9cdb-defc2f281b05.png)![spectral_arrow](https://cloud.githubusercontent

[2015-08-21 14:59] lipki commented on #201
![spectral_arrow](https://cloud.githubusercontent.com/assets/401965/9411373/e63dc80a-4825-11e5-97bc-35e260b9e22a.png)![tipped_arrow_base](https://cloud.githubusercontent.com/assets/401965/9411377/e8ad2f18-4825-11e5-9754-bb158ec5448c.png)![tipped_arrow_head](https://cloud.githubusercontent.com/assets/401965/9411380/e9c4c172-4825-11e5-9380-ce57b7e9b480.png)
![2015-08-12_19 27 10](https://cloud.githu

[2015-08-21 15:00] lipki opened #202 "[1.9] Shield"
- shield :
![shield_base](https://cloud.githubusercontent.com/assets/401965/9410035/5336345e-481e-11e5-8faf-a849f5a1b2f7.png)
![base](https://cloud.githubusercontent.com/assets/401965/9409944/f92f1174-481d-11e5-87d2-ed752ac69167.png)
![border](https://cloud.githubusercontent.com/assets/401965/9409945/f93306d0-481d-11e5-84fc-e934fdb0ae9f.png)
![bricks](https://cloud.githubusercontent.com/assets/401

[2015-08-21 15:01] lipki opened #203 "[1.9] Shulker"
- shulker :
![endergolem](https://cloud.githubusercontent.com/assets/401965/9410023/37a3b6c6-481e-11e5-97cf-4ab28b45b938.png)![spark](https://cloud.githubusercontent.com/assets/401965/9410024/37a4f2b6-481e-11e5-8501-5b6368f59a1c.png)

[2015-08-21 15:02] lipki commented on #203
![endergolem](https://cloud.githubusercontent.com/assets/401965/9411446/4b396f0c-4826-11e5-82ee-81708c64fee6.png)![spark](https://cloud.githubusercontent.com/assets/401965/9411447/4b3a6196-4826-11e5-8b38-2c94ff877ccf.png)

![2015-08-12_19 42 38](https://cloud.githubusercontent.com/assets/401965/9411454/52f46968-4826-11e5-923e-505425509a5e.png)

[2015-08-21 15:02] lipki opened #204 "[1.9] end gateway beam"
- end gateway beam :
![end_gateway_beam](https://cloud.githubusercontent.com/assets/401965/9410065/6fcfa852-481e-11e5-90ec-78db6fc7080d.png)

[2015-08-21 15:05] lipki opened #205 "[1.9] Sweep"
- sweep ? : ![sweep](https://cloud.githubusercontent.com/assets/401965/9410075/7966bbf8-481e-11e5-95c0-19f61e080668.png)

[2015-08-21 15:10] lipki opened #206 "[1.9] Gui"
- gui :
![bars](https://cloud.githubusercontent.com/assets/401965/9410093/9d028272-481e-11e5-95bc-c5020a5eb650.png)![world_selection](https://cloud.githubusercontent.com/assets/401965/9410098/9f615f16-481e-11e5-8b1c-f6881bad730f.png)
![tab_inventory](https://cloud.githubusercontent.com/assets/401965/9410277/ad3bd746-481f-11e5-85bf-f7859c481a28.png)![stats_icons](https://cloud.githubusercontent.com

[2015-08-21 15:19] lipki opened #207 "[1.9] Dragon breath"
- dragon breath : ![dragon_breath](https://cloud.githubusercontent.com/assets/401965/9410159/f3a98490-481e-11e5-8ef5-c2c8620f1807.png)

[2015-08-21 15:20] lipki opened #208 "[1.9] empty armor slot shield"
- empty armor slot shield : ![empty_armor_slot_shield](https://cloud.githubusercontent.com/assets/401965/9410172/05ab0a06-481f-11e5-89cf-4b445a7daf43.png)

[2015-08-21 15:20] lipki opened #209 "[1.9] potion bottle lingering"
- potion bottle lingering : ![potion_bottle_lingering](https://cloud.githubusercontent.com/assets/401965/9410188/1ace2d1e-481f-11e5-916b-f2203b2f902f.png)

[2015-08-21 15:31] lipki commented on #209
![potion_bottle_lingering](https://cloud.githubusercontent.com/assets/401965/9412139/7584080e-482a-11e5-88fb-3f1a0257e0e2.png)
juste a ball ...

[2015-08-21 15:42] lipki commented on #207
![dragon_breath](https://cloud.githubusercontent.com/assets/401965/9412435/fcaea61c-482b-11e5-9b3a-0caf9ae7492d.png)

[2015-08-21 15:53] lipki commented on #206
![bars](https://cloud.githubusercontent.com/assets/401965/9412635/143d25c8-482d-11e5-85af-0f0fd1306ace.png)
![world_selection](https://cloud.githubusercontent.com/assets/401965/9412603/dffa8184-482c-11e5-846a-1d8b9547dffb.png)
![tab_inventory](https://cloud.githubusercontent.com/assets/401965/9412615/f12f3fee-482c-11e5-8060-ee86da4679dc.png)
![widgets](https://cloud.githubusercontent.com/assets/40

[2015-08-21 19:04] lipki commented on #202
![shield_base](https://cloud.githubusercontent.com/assets/401965/9416487/3684008e-4846-11e5-89e1-9f8f0021e76d.png)

[2015-08-22 10:07] lipki commented on #195
![beetroots_stage_0](https://cloud.githubusercontent.com/assets/401965/9423481/503eac38-48c6-11e5-806d-250b8a4cac75.png)![beetroots_stage_1](https://cloud.githubusercontent.com/assets/401965/9423482/50445eee-48c6-11e5-83e7-682fdc4f8e89.png)![beetroots_stage_2](https://cloud.githubusercontent.com/assets/401965/9423483/5046e1b4-48c6-11e5-8a2d-d0ab9abf6190.png)![beetroots_stage_3](https://cloud.githu

[2015-08-22 12:20] lipki commented on #196
![chain_command_block_back](https://cloud.githubusercontent.com/assets/401965/9423896/ad455546-48d8-11e5-8e7c-f67cabf43940.png)![chain_command_block_front](https://cloud.githubusercontent.com/assets/401965/9423897/ad48d7a2-48d8-11e5-974b-e99dd23ae5e7.png)![chain_command_block_side](https://cloud.githubusercontent.com/assets/401965/9423898/ad4a0ac8-48d8-11e5-9eca-2f3be8fc70be.png) ![command_block_b

[2015-08-22 12:43] lipki commented on #200
![dragon_fireball](https://cloud.githubusercontent.com/assets/401965/9423964/537638ee-48da-11e5-8673-276bb8e51ec4.png)

[2015-08-23 14:14] lipki commented on #194
@CuddleWoozle can you put your textures in the different "issue" ?

[2015-09-06 14:54] lipki opened #210 "[1.9 ] Zombie villager"
- zombies villager :
![zombie_butcher](https://cloud.githubusercontent.com/assets/401965/9705026/bb53eb80-54b7-11e5-8216-f0429ed6465b.png)
![zombie_farmer](https://cloud.githubusercontent.com/assets/401965/9705027/bb56c3be-54b7-11e5-9428-603216235979.png)
![zombie_librarian](https://cloud.githubusercontent.com/assets/401965/9705028/bb5d88fc-54b7-11e5-9640-a1b5168bb441.png)
![zombie_priest](https:/

[2015-09-06 15:17] lipki commented on #210
These are the textures MCPatcher (random)
I'll edit.

![zombie_villager2](https://cloud.githubusercontent.com/assets/401965/9705075/ddda97e8-54b8-11e5-8c88-a3cef4d1737b.png)![zombie_villager3](https://cloud.githubusercontent.com/assets/401965/9705077/ecd35ff0-54b8-11e5-987d-e88b59c7c13d.png)![zombie_villager4](https://cloud.githubusercontent.com/assets/401965/9705086/089a35e2-54b9-11e5-85d8-871b95

[2015-09-06 21:51] #210 closed

[2015-09-06 22:59] lipki commented on #205
![sweep](https://cloud.githubusercontent.com/assets/401965/9707036/a7d4e08e-54fb-11e5-83bc-dce25b617067.png)

[2015-09-06 22:59] #205 closed

[2015-09-07 20:10] #192 closed

[2015-11-07 02:41] #190 closed

[2015-11-07 02:41] #191 closed

[2015-11-07 02:41] #197 closed

[2015-11-07 02:41] #198 closed

[2015-11-07 02:41] #199 closed

[2015-11-07 02:41] #203 closed

[2015-11-07 02:41] #204 closed

[2015-11-07 02:41] #207 closed

[2015-11-07 02:41] #209 closed

[2015-11-07 02:50] #175 closed

[2015-11-07 02:50] #178 closed

[2015-11-07 02:50] #179 closed

[2015-11-07 02:50] #180 closed

[2015-11-07 02:50] #181 closed

[2015-11-07 02:50] #183 closed

[2015-11-07 02:50] #184 closed

[2015-11-07 02:50] #186 closed

[2015-11-07 02:52] #173 closed

[2015-11-07 02:53] #172 closed

[2015-11-07 02:56] #168 closed

[2015-11-07 02:56] #164 closed

[2015-11-07 02:56] #162 closed

[2015-11-07 02:56] #161 closed

[2015-11-07 02:58] #85 closed

[2015-11-07 02:59] #174 closed

[2015-11-07 03:00] #171 closed

[2015-11-07 03:00] #170 closed

[2015-11-07 03:00] #169 closed

[2015-11-07 03:03] #182 closed

[2015-11-07 03:03] #185 closed

[2015-11-22 04:05] #196 closed

[2015-11-22 04:05] #200 closed

[2015-11-22 04:05] #201 closed

[2015-11-22 04:05] #202 closed

[2015-11-22 04:05] #206 closed

[2015-11-22 04:05] #208 closed

[2015-11-22 20:17] #195 closed

[2015-11-22 20:54] #88 closed

[2015-11-22 20:55] #87 closed

[2015-11-22 23:55] #194 closed

[2016-05-28 18:21] tobyplowy commented on #176
The ones on the right look a lot better.

[2016-05-28 18:21] tobyplowy commented on #176
@lipki The ones on the right look a lot better.

[2016-05-28 20:12] lipki commented on #176
yes ...

[2016-05-29 13:21] tobyplowy opened #214 "Villagers should look a bit more different from each other"
All types of villagers pretty much look the same in this texture pack it's really hard to differentiate them.

[2016-05-29 19:55] lipki commented on #214
yes yes, in fact I had started work on colors closer to default colors.

![pnj](https://cloud.githubusercontent.com/assets/401965/15635764/f6b128a8-25e7-11e6-9524-524e01cf6a05.png)

What do you think ?

[2016-05-29 20:39] tobyplowy commented on #214
@lipki these look beautiful. exactly what I meant! (maybe one little suggestion) I think the butcher should have a little bit more blood on him (more like one big splatter instead of just a couple red pixels)

[2016-05-29 21:28] tobyplowy opened #215 "Update 16w20 - husk texture"
hallo @lipki i made a husk texture I don't know how I can help with this project but I've always loved summer fields  its been my favorite texture pack.

I used to make the New textures for the snapshots/updates
I didn't know this existed (github for summerfields also I thought summerfields was dead/discontinued) so this time im sharing my work with the community hopefully it helps (you're probabl

[2016-05-29 22:50] tobyplowy opened #216 "Zombie horse texture"
There still needs to be a zombie horse texture.

[2016-05-29 23:11] tobyplowy commented on #214
@lipki also the difference between the light and the dark colors/pixels on the ropes/clothes of the brown Villager look a bit too flat maybe a bit more contrast between the colors/pixels on the brown villager

[2016-05-30 02:52] lipki commented on #215
I invite you to visit this forum to present new texture is more accessible than github for people.

http://www.minecraftforum.net/forums/mapping-and-modding/resource-packs/1244128-summerfields-1-9-the-end-is-nigh-dont-look-them-in

For the husk, it seems important to me to be different from other zombie.
And above all, he needs a hat, to explain that he does not burn.

But I take all your proposal

[2016-05-30 02:54] lipki commented on #216
I have one version: D
But I do not like it, so, go ! propose.

[2016-05-30 02:56] lipki commented on #214
yes maybe.

If you want to try a correction, these are the textures.

![butcher](https://cloud.githubusercontent.com/assets/401965/15638667/bc9a9272-2622-11e6-9fef-f3aa00c5876c.png)
![farmer](https://cloud.githubusercontent.com/assets/401965/15638672/bca75f98-2622-11e6-9fa4-948b313fc1c6.png)
![librarian](https://cloud.githubusercontent.com/assets/401965/15638668/bc9decec-2622-11e6-9e7f-613c8b131b9

[2016-05-30 08:40] tobyplowy commented on #215
Hello @lipki can I keep doing my work here? I don't like the forums (also the husk texture had a cap but he didn't look too good) :\

[2016-05-30 08:44] tobyplowy commented on #214
@lipki I will work on them later today (one little note they definitely look better than the ones in the pack  know

[2016-05-30 15:00] tobyplowy commented on #214
@lipki the butcher texture is done. i hope you like it
![butcher](https://cloud.githubusercontent.com/assets/16853304/15652655/057ce3fe-2688-11e6-8d5a-6077f50991b2.png)

[2016-05-30 16:40] lipki commented on #215
Yes of course :)

[2016-05-30 16:42] lipki commented on #214
ok it's better.

[2016-05-30 16:59] tobyplowy commented on #214
@lipki well now you're not alone anymore. I'm here to help if that's okay of course :D (so what will happen with the texture now will it get added to the pack?) (also another little thing I would do is add more facial features like the blacksmith/armorur could have black stains on his face because of the coal.

[2016-05-30 17:09] lipki commented on #214
Go ! Make yourself happy !
And yes it will be added to the resource pack, when we will be pleased them both.

[2016-05-30 17:15] tobyplowy commented on #214
@lipki are you mad? You sound a bit frustrated did I say anything wrong?

[2016-05-30 17:22] lipki opened #217 "Update 16w20"
## New blocks

- ![magma](https://cloud.githubusercontent.com/assets/401965/15655123/8911706a-269a-11e6-99da-814fa2d447b0.png) textures/blocks/magma.png #218
- ![nether_wart_block](https://cloud.githubusercontent.com/assets/401965/15655135/a4471f74-269a-11e6-876b-83b3bac4e988.png) textures/blocks/nether_wart_block.png #219
- ![red_nether_brick](https://cloud.githubusercontent.com/assets/401965/156

[2016-05-30 17:24] lipki commented on #214
Non je suis pas fou, je suis francais :D
j'écris trés mal anglais.

No I'm not crazy, I'm french :)
I write very bad in English.

[2016-05-30 17:30] lipki opened #218 "Update 16w20 - Magma"
- ![magma](https://cloud.githubusercontent.com/assets/401965/15655123/8911706a-269a-11e6-99da-814fa2d447b0.png) textures/blocks/magma.png

[2016-05-30 17:31] lipki opened #219 "Update 16w20 - Nether wart block"
- ![nether_wart_block](https://cloud.githubusercontent.com/assets/401965/15655135/a4471f74-269a-11e6-876b-83b3bac4e988.png) textures/blocks/nether_wart_block.png

[2016-05-30 17:32] lipki opened #220 "Update 16w20 - Red nether brick"
- ![red_nether_brick](https://cloud.githubusercontent.com/assets/401965/15655146/baafa678-269a-11e6-870e-15fd05aa3c49.png) textures/blocks/red_nether_brick.png

ref :
![nether_brick](https://cloud.githubusercontent.com/assets/401965/15655414/44c9c9cc-269d-11e6-8b33-2b9e0e5e2d43.png)

[2016-05-30 17:33] lipki opened #221 "Update 16w20 - Bone block"
- ![bone_block_side](https://cloud.githubusercontent.com/assets/401965/15655150/c4c2d644-269a-11e6-8639-f4b2fd45471b.png) textures/blocks/bone_block_side.png
- ![bone_block_top](https://cloud.githubusercontent.com/assets/401965/15655151/c4c82978-269a-11e6-9a11-849fd6464a4b.png) textures/blocks/bone_block_top.png

[2016-05-30 17:33] lipki opened #222 "Update 16w20 - Structure block"
- ![structure_block](https://cloud.githubusercontent.com/assets/401965/15655187/1a9dfcec-269b-11e6-8655-c81c90d70ac6.png) textures/blocks/structure_block.png
- ![structure_block_corner](https://cloud.githubusercontent.com/assets/401965/15655188/1aa03926-269b-11e6-8914-fbbf97ffe807.png) textures/blocks/structure_block_corner.png
- ![structure_block_data](https://cloud.githubusercontent.com/assets/4

[2016-05-30 17:34] lipki opened #223 "Update 16w20 - Stray"
- ![stray](https://cloud.githubusercontent.com/assets/401965/15655249/a7a5e352-269b-11e6-98ec-3c87dc92e4d0.png) textures/entity/skeleton/stray.png
- ![stray_overlay](https://cloud.githubusercontent.com/assets/401965/15655250/a7a9ed1c-269b-11e6-97d4-900e9a09c1da.png) textures/entity/skeleton/stray_overlay.png

[2016-05-30 17:35] lipki opened #224 "Update 16w20 - Polar bear"
- ![polarbear](https://cloud.githubusercontent.com/assets/401965/15655262/c1d42716-269b-11e6-8ea3-ceb2a2928382.png) textures/entity/bear/polarbear.png

[2016-05-30 17:39] tobyplowy commented on #214
@lipki well you sound like a really fun person :D but are you sure it's okay I help if it's not just say it :D (also I'm really thankful that you update this texture pack it means a lot to me)

[2016-05-30 17:42] lipki commented on #218
![435877110block](https://cloud.githubusercontent.com/assets/401965/15655541/54cb6cb2-269e-11e6-8abe-498e6f6b54c1.png)

Not bad but .... maybe too connect to the nether.

![magma](https://cloud.githubusercontent.com/assets/401965/15655495/075b03d4-269e-11e6-9c4f-32b4bb404505.png)

[2016-05-30 17:44] lipki commented on #219
![nether_wart_block](https://cloud.githubusercontent.com/assets/401965/15655607/e6690db4-269e-11e6-96d9-392cd227d5ca.png)
![435877110block](https://cloud.githubusercontent.com/assets/401965/15655603/dc8da84a-269e-11e6-8c10-14a1c09f20a4.png)

[2016-05-30 17:45] lipki commented on #220
![435877110block](https://cloud.githubusercontent.com/assets/401965/15655620/0b7b860e-269f-11e6-9c77-3b351c5acec7.png)
![red_nether_brick](https://cloud.githubusercontent.com/assets/401965/15655622/11acc498-269f-11e6-9a0e-b9a25ff5ae19.png)

[2016-05-30 17:46] lipki commented on #221
![bone_block_side](https://cloud.githubusercontent.com/assets/401965/15655637/2ae1ebd2-269f-11e6-8e38-bc3f5b05b77a.png)
![bone_block_top](https://cloud.githubusercontent.com/assets/401965/15655638/2b0bdc94-269f-11e6-8720-8d58b8a4ef63.png)
![435877110block](https://cloud.githubusercontent.com/assets/401965/15655635/264e902a-269f-11e6-88a6-706465adfe06.png)

[2016-05-30 17:48] lipki commented on #222
![structure_block](https://cloud.githubusercontent.com/assets/401965/15655656/55ecfeac-269f-11e6-8210-2b4da64bdbf6.png)![structure_block_corner](https://cloud.githubusercontent.com/assets/401965/15655657/560fc234-269f-11e6-8baa-0261a17df8ef.png)![structure_block_data](https://cloud.githubusercontent.com/assets/401965/15655658/56135d40-269f-11e6-94d7-57dc74ea3168.png)![structure_block_load](https:/

[2016-05-30 17:50] lipki commented on #215
my version :
![husk](https://cloud.githubusercontent.com/assets/401965/15655711/b673891c-269f-11e6-972c-f59c77f0c912.png)
![307109110mob](https://cloud.githubusercontent.com/assets/401965/15655708/a919a7e2-269f-11e6-8e24-4199ed8dc430.png)

[2016-05-30 17:52] lipki commented on #223
![stray](https://cloud.githubusercontent.com/assets/401965/15655727/d8c6ae18-269f-11e6-9b57-4c452f3e0f05.png) ![stray_overlay](https://cloud.githubusercontent.com/assets/401965/15655728/d910e24e-269f-11e6-8037-0184802d38de.png)
![307109110mob](https://cloud.githubusercontent.com/assets/401965/15655724/d25ade0a-269f-11e6-916d-eeaba73e138d.png)

[2016-05-30 17:52] lipki commented on #223
I have another idea, a ice skeleton.

[2016-05-30 17:53] lipki commented on #224
![polarbear](https://cloud.githubusercontent.com/assets/401965/15655753/233ddd4a-26a0-11e6-8d0b-6d49404f04c9.png)
![307109110mob](https://cloud.githubusercontent.com/assets/401965/15655749/175a3708-26a0-11e6-82ed-c2b3e43074c6.png)

[2016-05-30 17:58] tobyplowy commented on #215
@lipki okay you're texture looks a billion times better (only the mouth look's a bit weird but apart from that it's awesome) also the cap on his head is that a Miner's hat (it looks amazing) and now the polar bear :P lol

[2016-05-30 18:09] lipki commented on #216
![horse_zombie](https://cloud.githubusercontent.com/assets/401965/15655863/71a8780e-26a1-11e6-8c24-5fdc891149cd.png)
![307109110mob](https://cloud.githubusercontent.com/assets/401965/15655932/5983ce6c-26a2-11e6-85a2-3794c9f79c55.png)

[2016-05-30 18:10] lipki commented on #214
I'm really happy when someone just participate.
I think the Summerfields is best when it is updated by several people.

I finished the "issues" of the snapshot 16w20 and I put my own textures.
you can go criticize and propose yours.

[2016-05-30 18:22] tobyplowy commented on #216
@lipki yeah I agree it could be better (but it could also been worse) I really like the exposed bone in his neck. also I think you should add more exposed flesh/bones because it's a zombie u know :P  ( and actually if you make the texture less blurry it would actually be looking good) in my opinion

[2016-05-30 18:27] tobyplowy commented on #222
@lipki these look perfect (there's no way I can do it better than this) good job :D

[2016-05-30 18:30] tobyplowy commented on #221
@lipki this one also looks really good! :Wink:

[2016-05-30 18:32] tobyplowy commented on #219
@lipki looks nice

[2016-05-30 18:34] tobyplowy commented on #220
@lipki it's a bit too much red (the original has some red and purple / black in it) maybe make the shading of this book a bit more purple

[2016-05-30 19:02] tobyplowy opened #225 "I'm going to update the zombie villagers"
@lipki I'm going to update the zombie villagers so they match the new textures.

[2016-05-30 19:05] lipki commented on #225
not worth it :)

[2016-05-30 19:05] lipki commented on #225
![zombie_butcher](https://cloud.githubusercontent.com/assets/401965/15656702/4ab731b4-26aa-11e6-92c9-299301078e19.png)
![Uploading zombie_farmer.png…]()
![Uploading zombie_librarian.png…]()
![Uploading zombie_priest.png…]()
![Uploading zombie_smith.png…]()
![Uploading zombie_villager.png…]()

[2016-05-30 19:08] tobyplowy commented on #225
@lipki ah shit im to late :D

[2016-05-30 20:04] tobyplowy commented on #225
@lipki hire are the ones i made
![4ab731b4-26aa-11e6-92c9-299301078e19](https://cloud.githubusercontent.com/assets/16853304/15657578/76b558f6-26b2-11e6-86b5-53232e7b03b7.png)
![56b5a1a8-26aa-11e6-9711-0653498fb29d](https://cloud.githubusercontent.com/assets/16853304/15657580/791b58c0-26b2-11e6-8f12-de6e8b6d6e0b.png)
![56b95564-26aa-11e6-82c4-6eec05fe5ea4](https://cloud.githubusercontent.com/assets

[2016-05-30 22:08] lipki commented on #225
yes i can

[2016-05-31 08:10] tobyplowy commented on #225
@lipki thanks :D

[2016-05-31 08:27] tobyplowy opened #226 "Hey @lipki I have a question for you"
@lipki (I have a question for you next time if you make a texture wil you record it for me) because I do pixel art but I'm not so good at this art style it would help me see how you do it so I can learn from it (preferably with a screen recorder software And Not a camera :\ ) it would be really awesome if you can do this for me :D

[2016-05-31 11:56] lipki commented on #226
me too :)
What I do take these existing textures, modify and mix.
I know well use Gimp, but this is my only strength.

[2016-05-31 12:53] tobyplowy commented on #226
@lipki lol ( well I must compliment you they look like completely original textures)

[2016-05-31 14:49] lipki commented on #223
maybe this one?
![stray](https://cloud.githubusercontent.com/assets/401965/15678699/91548612-274f-11e6-8420-1e68ebffadc2.png)
![stray1](https://cloud.githubusercontent.com/assets/401965/15678691/8afa821c-274f-11e6-9af1-e63378bfe8e2.png)

[2016-05-31 14:50] lipki commented on #223
but I prefer this one.
the overlay is lousy.

![stray](https://cloud.githubusercontent.com/assets/401965/15678739/ae50dc02-274f-11e6-902e-a04813430562.png)
![stray2](https://cloud.githubusercontent.com/assets/401965/15678744/b1690540-274f-11e6-94a6-cbea8d1dde37.png)

[2016-05-31 14:51] lipki commented on #226
thanks

[2016-05-31 14:51] #226 closed

[2016-05-31 22:35] lipki opened #227 "inused skin (not made by me)"
![builder](https://cloud.githubusercontent.com/assets/401965/15692578/89d47ec0-278f-11e6-852d-6fa0b583113a.png)![builder](https://cloud.githubusercontent.com/assets/401965/15692618/b658b29a-278f-11e6-8f82-7384235d0864.png)
![food](https://cloud.githubusercontent.com/assets/401965/15692580/89dbcfae-278f-11e6-87bb-05f1edb713b2.png)![food](https://cloud.githubusercontent.com/assets/401965/15692637/dc

[2016-06-01 00:37] lipki opened #228 "make a christmas chest"
![christmas](https://cloud.githubusercontent.com/assets/401965/15694869/c138e844-27a1-11e6-8d1b-ae73cae340be.png)
![christmas_double](https://cloud.githubusercontent.com/assets/401965/15694870/c151c5a8-27a1-11e6-8b20-00956728a599.png)

ref :
![normal](https://cloud.githubusercontent.com/assets/401965/15694872/c7af7d28-27a1-11e6-87ce-eb8bbd5bbe98.png)
![normal_double](https://cloud.githubuserconten

[2016-06-01 02:26] lipki opened #229 "We have textures for this mod, but no support."
- Minion mod
- aether
- btwmodtex
- buildcraft
- extrabiomes
- Metallurgy 2
- Backpacks
- BetterBreeding
- DoggyTalents
- ElementalCreepers
- FiniteLiquid
- MoCreatures
- PetBat
- Ropes+
- XiesFarmingPartial
- XPBooks
- TyberMod
- UsefulStorage
- Carpenter
- ~~Balkon~~
- ~~WeaponsMod~~
- ~~DecorativesMod~~
- ~~PaintersFlowerPot~~
- ~~MultiPage~~

[2016-06-01 09:32] tobyplowy commented on #229
aether yes i love aether 2

[2016-06-01 09:32] tobyplowy commented on #229
@lipki  aether yes i love aether 2

[2016-06-01 09:36] tobyplowy commented on #223
@lipki It Looks Better Without The overlay

[2016-06-01 18:57] lipki opened #230 "We can change the item skin just by renaming it ?"
We'll have to test that.

[2016-06-02 13:14] tobyplowy commented on #230
@lipki what??

[2016-06-02 14:01] tobyplowy opened #231 "New gravel texture"
The gravel texture in the pack right now is a 16 by 16 Tile in a 4 by 4 (it's a 16 by 16 tile repeated 4 times)

[2016-06-02 18:22] lipki commented on #231
yes, is true :)

[2016-06-02 18:34] tobyplowy commented on #231
@lipki lol‚ soooooowww. (will you change it?)

[2016-06-02 18:40] lipki commented on #231
after you :)

[2016-06-02 19:50] tobyplowy commented on #231
new gravel texture
![gravel](https://cloud.githubusercontent.com/assets/16853304/15758688/0cff0a04-290c-11e6-9016-dedeca571d03.png)

keep the old Texture for customizer

[2016-06-02 20:10] lipki commented on #231
![gravel](https://cloud.githubusercontent.com/assets/401965/15759404/cd7b5bb4-290e-11e6-89fb-aa0c4a4fdf72.png)
mouais

[2016-06-02 20:14] tobyplowy commented on #231
What is mouais?

[2016-06-02 20:23] lipki commented on #231
not sure this is better.

[2016-06-02 20:29] tobyplowy commented on #231
Well it gets rid of the 4 by 4 texture :sweat_smile: it's your choice I guess' will you make your texture (also I will give this another try tomorrow) I will make another gravel texture tomorrow (I didn't have too much time today)

[2016-06-03 10:58] tobyplowy opened #232 "Minecraft 1.10 is going to release very shortly"
Yes Minecraft 1.10 is going to release very shortly (they are now going to work with shorter updates) I personally think it's really short but yeh (if you don't believe it the evidence is [here](https://mobile.twitter.com/SeargeDP/status/738398048062218244))

[2016-06-03 16:08] lipki commented on #232
I follow the Minecraft news very closely.
So yes release made, I will release a beta version of the resource pack.

zombie horse is bad :(

[2016-06-03 16:09] tobyplowy commented on #232
(zombie horse is bad) what? Dod they remove It?

[2016-06-03 16:11] lipki commented on #232
No.
My texture is poor.
It bothers me to put it in the pack.

[2016-06-03 16:18] tobyplowy commented on #232
put it in as a temporary texture :\ (or Make a new one (Bdw ther making leather horse armor for mcpe)

[2016-06-03 16:55] lipki opened #233 "Make MCPE version of minecraft"
We need an alpha tester for the #PE version of #Summerfields.
You must have the latest version of Minecraft PE and learn to install a texture pack.

[2016-06-03 17:01] tobyplowy commented on #233
Sorry but I can't help with that :/

[2016-06-04 13:28] tobyplowy opened #234 "Release 1.10 update"
Release 1.10 update (the defs confermd dat No More textures Will Be added for 1.10)

[2016-06-04 17:18] lipki commented on #234
duplicate #232 :(

[2016-06-04 17:18] #234 closed

[2016-06-05 16:00] lipki opened #238 "about the tree foliage"
posted by jdwarfer:
http://www.minecraftforum.net/forums/mapping-and-modding/resource-packs/1244128-summerfields-1-9-the-end-is-nigh-dont-look-them-in?comment=794

Ok, there's something weird about it.
On the web site, I looked at the pictures, the trees look "normal".
But in my game, it looks like this:
![1465109142-2016-06-05-08-43-18](https://cloud.githubusercontent.com/assets/401965/15806615/4

[2016-06-05 16:09] lipki commented on #238
my personal test :
![tree](https://cloud.githubusercontent.com/assets/401965/15806660/9b050a86-2b48-11e6-872c-a338506d4c9a.png)
![treef](https://cloud.githubusercontent.com/assets/401965/15806661/9dcecb30-2b48-11e6-9585-b5fbffe33070.png)

[2016-06-05 16:10] lipki commented on #232
Release done https://github.com/SummerFields/SummerFields/releases/tag/mc_1.10-b1

[2016-06-05 16:10] #232 closed

[2016-06-05 16:35] lipki commented on #229
mod support for balkon's weapon done

[2016-06-05 16:36] lipki commented on #229
"Decoratives Mod" not updated.

[2016-06-05 16:38] lipki commented on #229
"Painters Flower Pot" included in carpenter

[2016-06-05 16:38] lipki commented on #229
mod support for "MultipageChest" done

[2016-06-05 16:54] #230 closed

[2016-06-05 18:58] lipki commented on #228
![christmas](https://cloud.githubusercontent.com/assets/401965/15807508/45add794-2b60-11e6-9f0f-aff101327dda.png)
![christmas_double](https://cloud.githubusercontent.com/assets/401965/15807509/45de03e2-2b60-11e6-9931-62ca07abf06b.png)

[2016-06-05 19:02] #228 closed

[2016-06-08 10:51] tobyplowy opened #239 "Fancy Bush models / tree foliage"
If you don't know what I'm talking about just look at this [image](http://i.imgur.com/6Nq5wYB.png) the bushes at the top have these panels going through them this makes them more bushy

The picture is of this texture pack also the mobiles are in here http://www.planetminecraft.com/texture_pack/john-smith-legacy-3d-models-addon/

[2016-06-08 11:47] lipki commented on #239
I'm not to put new models everywhere, it slowed minecraft.
But there is a repo 3d

https://github.com/SummerFields/Summerfields-newmodel

[2016-06-08 12:20] tobyplowy commented on #239
Could you make it an option for the customizer?

[2016-06-08 16:51] lipki commented on #239
yes of course.

[2016-06-08 16:54] tobyplowy commented on #239
Man your just amazing! :D

[2016-06-08 16:59] lipki commented on #224
done

[2016-06-08 16:59] #224 closed

[2016-06-08 16:59] lipki commented on #223
not overlay

[2016-06-08 16:59] #223 closed

[2016-06-08 17:03] lipki commented on #222
done

[2016-06-08 17:03] #222 closed

[2016-06-08 17:03] lipki commented on #221
done

[2016-06-08 17:04] #221 closed

[2016-06-08 17:04] lipki commented on #220
done

[2016-06-08 17:04] #220 closed

[2016-06-08 17:04] lipki commented on #219
done

[2016-06-08 17:04] #219 closed

[2016-06-08 17:05] lipki commented on #218
done

[2016-06-08 17:05] #218 closed

[2016-06-08 17:06] lipki commented on #216
done ..... pffff

[2016-06-08 17:06] #216 closed

[2016-06-08 17:06] lipki commented on #215
done

[2016-06-08 17:06] #215 closed

[2016-06-08 17:06] lipki commented on #217
done

[2016-06-08 17:06] #217 closed

[2016-06-08 17:06] lipki commented on #238
done

[2016-06-08 17:06] #238 closed

[2016-06-08 17:08] tobyplowy commented on #223
Keep the overlay as an option for the customizer

[2016-06-08 17:10] tobyplowy commented on #216
lipki you can improve it later don't worry :)

[2016-06-08 18:39] lipki commented on #214
New new new villager
white butcher
green librarian
gray smith
![butcher](https://cloud.githubusercontent.com/assets/401965/15906388/e36fb2d6-2db8-11e6-90b1-b550a2168652.png)![farmer](https://cloud.githubusercontent.com/assets/401965/15906390/e3762562-2db8-11e6-94b2-2de7c40eb346.png)![librarian](https://cloud.githubusercontent.com/assets/401965/15906391/e3791eac-2db8-11e6-9d9d-c72c5336bb29.png)![pr

[2016-06-08 18:56] tobyplowy commented on #214
I really like the armourer (like really a lot) nice texturing

[2016-06-08 19:01] tobyplowy commented on #214
You're probably going to update the zombie villagers if you do could you also change their clothes they have holes in them but they're all the same size and the same position (could you change that)

[2016-06-08 19:03] tobyplowy commented on #214
Also where is the Smith texture? I want to make his skurt a little bit less symmetric

[2016-06-08 19:18] lipki commented on #214
smith is armorer

[2016-06-08 19:18] lipki commented on #214
a ...

[2016-06-08 19:18] lipki commented on #214
![smith](https://cloud.githubusercontent.com/assets/401965/15907736/9b9aa244-2dbe-11e6-9978-5ec42e13b542.png)

[2016-06-08 19:33] tobyplowy commented on #214
Im going to make the Smith texture his skurt a little bit less symmetric that's my work :) also it seems like you have not noticed [this](https://github.com/SummerFields/official/issues/6) issue yet

[2016-06-08 19:53] tobyplowy commented on #214
your texture
![9b9aa244-2dbe-11e6-9978-5ec42e13b542](https://cloud.githubusercontent.com/assets/16853304/15908733/7560559c-2dc3-11e6-945a-32364a6a06a7.png)

my texture
![smith](https://cloud.githubusercontent.com/assets/16853304/15908726/60cba262-2dc3-11e6-8eab-0c45b4621a2f.png)

[2016-06-08 19:58] tobyplowy commented on #214
i also made a dirty alternative
dirty
![smith alt](https://cloud.githubusercontent.com/assets/16853304/15908868/1ff0c028-2dc4-11e6-9d63-5561d4855275.png)
clean
![smith](https://cloud.githubusercontent.com/assets/16853304/15908885/3066bf2a-2dc4-11e6-8995-b304a91bfcff.png)

[2016-06-08 20:03] #239 closed

[2016-06-08 20:30] lipki commented on #214
Well I valid this, for release 1.10

[2016-06-08 20:32] #214 closed

[2016-06-08 20:33] lipki commented on #225
![zombie_butcher](https://cloud.githubusercontent.com/assets/401965/15908685/3748887e-2dc3-11e6-8c78-2d07a377f1f6.png)![zombie_farmer](https://cloud.githubusercontent.com/assets/401965/15908686/374c0666-2dc3-11e6-8291-2574e449d45d.png)![zombie_librarian](https://cloud.githubusercontent.com/assets/401965/15908687/374f5e2e-2dc3-11e6-943b-aac0e792b2a0.png)![zombie_priest](https://cloud.githubusercont

[2016-06-09 09:34] tobyplowy commented on #214
What is for 1.10 your Smith texture or my edit?

[2016-06-09 09:40] lipki commented on #214
surprise !! :D

[2016-06-09 09:48] tobyplowy commented on #214
lipki can you pleas creddit me on this page, also it needs to be deied to add 1;9 and 1.10 https://github.com/SummerFields/SummerFields/blob/master/README.md

[2016-06-09 09:54] lipki commented on #214
This was done on the 1.10, I just merge to master.
I did not put details, you can add more if you want.

[2016-06-09 09:58] tobyplowy commented on #214
i have an new smith texture with a red nose just a test do you like it?
![smith](https://cloud.githubusercontent.com/assets/16853304/15925903/72a9f1ac-2e39-11e6-8b5d-f61b3bacc5b6.png)

[2016-06-09 10:04] lipki commented on #214
For me NPCs have no nose. !?

[2016-06-09 10:16] tobyplowy commented on #214
Well look between his eyes and above his mouth that's definitely a nose on the villagers ( or is it because of the shading it looks like in nose)

[2016-06-09 17:01] tobyplowy commented on #214
Can you check out the textures i made [this](https://github.com/SummerFields/official/issues/6) issue Page

[2016-06-09 17:07] tobyplowy commented on #176
Will this get edded to the pack? if Not culd this issue be closed? It's already quite old :)

[2016-06-09 17:11] tobyplowy commented on #193
lipki Can this issue be closed?

[2016-06-09 17:15] tobyplowy opened #241 "add new creeper armor texture"
this texture is not in the pack jet
Which is surprising this got added in 1.5 (its old :smile:)

![creeper_armor](https://cloud.githubusercontent.com/assets/16853304/15939067/6ebfe2ee-2e76-11e6-89eb-9c01f174e7ed.png)
new texture
![creeper_armor](https://cloud.githubusercontent.com/assets/16853304/15940991/a81d73c8-2e7e-11e6-9abe-5fc4b429e6e6.png)
![creeper_armor](https://cloud.githubusercontent.co

[2016-06-10 18:22] lipki commented on #176
It will remain until we decide.
Even if it remains three years.

[2016-06-10 18:23] lipki commented on #193
No, the problem still exists.

[2016-06-10 18:45] lipki commented on #241
too blur, i think.

[2016-06-10 23:06] tobyplowy commented on #241
Maybe it could be an alternative for the customizer?

[2016-06-12 22:02] tobyplowy opened #242 "new sunflower texture"
i made a new sunflower texture

old
![double_plant_sunflower_front](https://cloud.githubusercontent.com/assets/16853304/15994043/001a1c58-30f9-11e6-9d8c-deca9495c985.png)
new
![double_plant_sunflower_front](https://cloud.githubusercontent.com/assets/16853304/15994341/ecdb3b1e-3101-11e6-94b3-80c8ecab349e.png)
new back texture

old
![double_plant_sunflower_back](https://cloud.githubusercontent.com/a

[2016-06-12 22:59] tobyplowy commented on #242
@lipki what do you think of my new sunflower texture?

[2016-06-18 12:51] tobyplowy opened #243 "new elytra texture"
@lipki i made this new elytra texture i hope it's good, i did my best. :P
![elytra](https://cloud.githubusercontent.com/assets/16853304/16170969/30e7e3a0-3564-11e6-95f5-c7e9a25282e2.png)

[2016-06-18 13:38] tobyplowy commented on #233
@lipki can you give me a download link maybe I can do something

[2016-06-19 13:59] lipki commented on #233
She is beautiful :D
you can do the items ?

[2016-06-19 13:59] lipki commented on #243
She is beautiful :D
you can do the items ?

[2016-06-19 14:01] tobyplowy commented on #233
What Who is beautiful?

Also yes I want to do the items if you can give me the bace PNG

[2016-06-19 14:07] tobyplowy commented on #243
i know its bad but i cant do any beter :/
![elytra](https://cloud.githubusercontent.com/assets/16853304/16177822/fb4d67ae-3637-11e6-99df-0f340acf320f.png)

[2016-06-19 14:10] lipki commented on #233
(My comment was for your elytra.)
https://github.com/SummerFields/MCPE/releases/tag/alpha

[2016-06-19 14:11] lipki commented on #243
add a broken Version

[2016-06-19 14:19] tobyplowy commented on #243
broken Version done
![broken_elytra](https://cloud.githubusercontent.com/assets/16853304/16177894/981a2f08-3639-11e6-8ef4-1bef58f3febf.png)

[2016-06-26 13:39] tobyplowy opened #244 "Theme packs"
I think it would be cool to make Theme packs these are packs dedicated to specific Themes (obviously) like Halloween and Christmas, lipki what do you think about this?

[2016-06-26 13:41] tobyplowy commented on #244
@lipki what do you think about this?

[2016-06-26 14:14] lipki commented on #244
Patient, I will answer you, but contrary to appearance, I do not sleep on github.

Yes it is a good idea, of course, but it takes work, and I do not know if it will be used a lot.

[2016-06-26 14:36] tobyplowy commented on #244
I do not sleep on github?

[2016-06-26 14:37] tobyplowy opened #245 "More random textures"
The randomized textures look amazing but some blocks don't have random textures so that's what this topic is for

[2016-06-26 14:42] tobyplowy commented on #245
random mycelium textures
![mycelium_top1](https://cloud.githubusercontent.com/assets/16853304/16362990/fced7290-3bbc-11e6-9479-1db5f39d2459.png)
![mycelium_top2](https://cloud.githubusercontent.com/assets/16853304/16362991/fcf63100-3bbc-11e6-8bda-c1936b12d605.png)
![mycelium_top3](https://cloud.githubusercontent.com/assets/16853304/16362992/fcfd22b2-3bbc-11e6-884a-0cc49e348382.png)
![mycelium_top4

[2016-06-26 15:01] tobyplowy commented on #245
random reed
![reeds1](https://cloud.githubusercontent.com/assets/16853304/16363082/adc66836-3bbf-11e6-9e1e-d7c8a80fe0d9.png)

[2016-06-26 15:46] tobyplowy commented on #245
2 random stone textures
![stone1](https://cloud.githubusercontent.com/assets/16853304/16363264/e31f3796-3bc5-11e6-8dad-6f4e32db2b60.png)
![stone2](https://cloud.githubusercontent.com/assets/16853304/16363265/e3a679ea-3bc5-11e6-9c72-02b51eaeb999.png)

[2016-06-26 19:54] lipki commented on #245
cool

For reeds is more complex because it is a 3d model.

[2016-06-26 20:32] tobyplowy commented on #245
I did my best I will be doing more stuff, will Stone And mycelium get added to the base pack?

[2016-06-27 17:36] lipki commented on #245
Yes, it will done.

[2016-06-27 17:52] tobyplowy commented on #245
I will probably do some more Wednesday :D

[2016-07-29 02:26] tobyplowy commented on #245
random stone_slab_top textures
![stone_slab_top png2](https://cloud.githubusercontent.com/assets/16853304/17235858/a48bb6a6-5544-11e6-858e-c5be0d8c4c6b.png)
![stone_slab_top png3](https://cloud.githubusercontent.com/assets/16853304/17235859/a65f14be-5544-11e6-8dec-1f4ab880016a.png)
![stone_slab_top png4](https://cloud.githubusercontent.com/assets/16853304/17235862/a8d723ee-5544-11e6-84da-921252485

[2016-07-31 00:32] tobyplowy commented on #245
@lipki some random prismarine_dark textures
tiled
![pev](https://cloud.githubusercontent.com/assets/16853304/17273884/ec5dd1b6-56c6-11e6-9412-a2cb933ca694.png)
the textures
![prismarine_dark1](https://cloud.githubusercontent.com/assets/16853304/17273886/f39e03a6-56c6-11e6-96f0-69fd81702b3c.png)
![prismarine_dark2](https://cloud.githubusercontent.com/assets/16853304/17273887/f3cfbd6a-56c6-11e6-8def

[2016-07-31 00:58] tobyplowy commented on #245
flowerpots
![flower_pot1](https://cloud.githubusercontent.com/assets/16853304/17273967/a5dbda54-56ca-11e6-936f-a568538326d0.png)
![flower_pot2](https://cloud.githubusercontent.com/assets/16853304/17273968/a60239ec-56ca-11e6-8dd5-a27ff53d8f87.png)
![flower_pot3](https://cloud.githubusercontent.com/assets/16853304/17273969/a61e5f28-56ca-11e6-8bea-ce9f478c855e.png)
![flower_pot4](https://cloud.github

[2016-08-09 02:45] tobyplowy commented on #245
@lipki What do you think about the stuff I've made so far (also is this project still active?)

[2016-08-20 14:56] lipki commented on #245
That's fine, I'll include them, but with me it's the holidays :)

[2016-08-20 14:59] tobyplowy commented on #245
Its holidays For me as well I was just scared, the project was dead again :)

[2016-08-22 14:03] tobyplowy commented on #245
@lipki some random prismarine_dark textures
tiled pev
![pev](https://cloud.githubusercontent.com/assets/16853304/17857365/cb8ddfae-6881-11e6-9d47-3557d3e1800c.png)
the textures
![prismarine_dark1](https://cloud.githubusercontent.com/assets/16853304/17857374/d30a9fce-6881-11e6-84d9-ef01a33c4c9b.png)
![prismarine_dark2](https://cloud.githubusercontent.com/assets/16853304/17857373/d30891ac-6881-11e6-

[2016-08-22 14:37] tobyplowy opened #246 "[1.11] the green villager is back"
topic for new 1.11 update

[2016-08-22 14:38] tobyplowy commented on #246
the green villager is back weoh
![green villager](https://cloud.githubusercontent.com/assets/16853304/17858634/b7678d4a-6886-11e6-8dac-a04907d56db4.png)

[2016-08-23 14:53] lipki commented on #246
a new villager ?

[2016-08-23 15:10] tobyplowy commented on #246
Yes look at the latest snapshot. the picture is called villager.png it's already in the pack but it's not green

[2016-08-24 08:58] lipki commented on #225
I reopens for Villagers Nitwit

[2016-08-24 08:59] lipki commented on #214
I reopens for Villagers Nitwit

[2016-08-24 09:03] #225 closed

[2016-08-24 12:30] lipki commented on #246
Ah ok, I had not seen the last snapshot.

I propose to keep the green for nitwit, what you did.
And using a different color for the Librarian, blue for example.

[2016-08-24 13:15] lipki commented on #246
![zombie_villager](https://cloud.githubusercontent.com/assets/401965/17931775/5eb23622-6a0d-11e6-8ba3-3074b18cd50a.png)

![zombie_librarian](https://cloud.githubusercontent.com/assets/401965/17931410/a048166c-6a0b-11e6-9f98-74e292e536b7.png)![librarian](https://cloud.githubusercontent.com/assets/401965/17931176/563091e0-6a0a-11e6-8bfd-da9bf3de1749.png)

[2016-08-24 13:57] tobyplowy commented on #246
Look's good

[2016-08-24 13:59] tobyplowy commented on #246
I really like the new librarian ( one thing that I must point out about the zombie librarian is there still a little green around the blood that's probably because you copy and pasted the blood from the green one)

[2016-08-24 15:33] lipki commented on #246
Yes that's it.
I did not find it annoying :)

[2016-08-24 15:37] #231 closed

[2016-08-24 15:37] #241 closed

[2016-08-24 20:52] tobyplowy commented on #246
Yeah it's not that annoying for me but it does take away from the quality of the pack

[2016-08-25 11:55] lipki commented on #246
Done better !
:D

[2016-08-25 13:18] tobyplowy commented on #246
I don't see a difference ( you probably forgot to update the picture)

[2016-08-29 02:46] diouxis opened #247 "The leaves can't be transparent with Optifine"
I've tried changing different configuration in the advanced video setting, but the leaves always looks opacity, like they are in the Fast Quality.
Then, I tried replacing the leaves texture form the old version, and it works.

[2016-08-29 19:41] lipki commented on #247
I know this bug. It is normally corrected.
In which version do you find this ?

[2016-08-29 19:47] lipki commented on #246
I wanted to say :
you can do better if you want :p

[2016-08-29 20:58] tobyplowy commented on #246
I will probably do it later, (after the vacation I think)

[2016-09-17 13:59] tobyplowy opened #248 "More mod support"
In the Future (Next updates) Minecraft wil officially support mods on all platforms (console, mobile, and pc) and i thought we need To support More mods (any suggestions?)

[2016-09-17 14:06] tobyplowy commented on #176
I do Prefer the lantarn on the lift and the prismarine on the right

[2016-09-17 14:35] tobyplowy commented on #248
I was thinking of

The Twilight Forest mod
Mo Creatures
Biomes o plenty
the aether 2
Mr crayfish's furniture mod
And mutant Creatures mod

[2016-09-18 08:36] lipki commented on #176
Yes, I add "ImReeLee textures" to 1.11

[2016-09-18 08:44] lipki commented on #248
https://github.com/SummerFields/Mod-Twilight-Forest

[2016-09-18 08:45] lipki commented on #247
@diouxis ping

[2016-09-18 08:50] lipki commented on #245
add in 1.11

[2016-09-18 08:51] lipki commented on #242
add in 1.11

[2016-09-18 08:51] #242 closed

[2016-09-18 08:53] lipki commented on #248
#229

[2016-09-18 09:41] lipki commented on #245
![stonebrick_top_random](https://cloud.githubusercontent.com/assets/401965/18614724/aef8000e-7d94-11e6-94ba-cb572f399376.png)

![stonebrick_top](https://cloud.githubusercontent.com/assets/401965/18614729/b91a0348-7d94-11e6-85c9-f10da2951f72.png)
![stonebrick_top_1](https://cloud.githubusercontent.com/assets/401965/18614730/b9469070-7d94-11e6-9383-60cc320e00b0.png)
![stonebrick_top_2](https://cloud

[2016-09-18 10:15] lipki commented on #176
add in 1.11

[2016-09-18 14:58] tobyplowy commented on #248
Can you split up the Textures in categories for Twilight Forest (like you did with x-decor mod) so I can begin texting them

[2016-09-18 14:59] tobyplowy commented on #245
Looks Nice :D

[2016-09-18 15:00] tobyplowy commented on #245
Do you have More?

[2016-09-18 18:17] tobyplowy opened #249 "mutant Creatures mod support"
support for mutant Creatures mod

[2016-09-18 18:18] tobyplowy commented on #249
![zombie](https://cloud.githubusercontent.com/assets/16853304/18617992/f7b4f5a2-7ddc-11e6-8e44-a871d9c63114.png)

[2016-09-26 10:48] lipki opened #250 "Update 1.11 - “The Exploration Update”"
New :
- The green villager #246 :
  ![villager](https://cloud.githubusercontent.com/assets/401965/18831692/6bbc7398-83e7-11e6-9db3-460290697abd.png)
- The observer #251
  ![observer_back](https://cloud.githubusercontent.com/assets/401965/18922822/85bb11a4-85aa-11e6-900c-aedf8a2fcb63.png)
  ![observer_front](https://cloud.githubusercontent.com/assets/401965/18922823/85e211d2-85aa-11e6-939e-9b016429

[2016-09-26 11:43] lipki opened #251 "[1.11] The observer"
![screenshot at 2016-09-28 17 16 48](https://cloud.githubusercontent.com/assets/401965/18926056/96e9a1a0-85b6-11e6-9c85-8bc7b80cf6f3.png)

![observer_back](https://cloud.githubusercontent.com/assets/401965/18922037/6a1fce4c-85a7-11e6-9e00-c1fa111ae017.png)![observer_front](https://cloud.githubusercontent.com/assets/401965/18922039/6a2644b6-85a7-11e6-8c56-a05073958649.png)![observer_side](https://c

[2016-09-26 11:45] lipki opened #252 "[1.11] The Shulker Box"
![screenshot at 2016-09-28 17 16 48](https://cloud.githubusercontent.com/assets/401965/18925781/939b3032-85b5-11e6-9436-a78ed78e977b.png)

![shulker_box](https://cloud.githubusercontent.com/assets/401965/18923530/dc9d1614-85ac-11e6-8d04-6b14f18daee5.png)
![shulker_shell](https://cloud.githubusercontent.com/assets/401965/18923595/2305bee4-85ad-11e6-8bde-67513ed0db1e.png)
![shulker_black](https://cl

[2016-09-26 11:47] lipki opened #253 "[1.11] The Cartographers"
ref :
![librarian](https://cloud.githubusercontent.com/assets/401965/18833155/9ed03f8c-83ef-11e6-8e66-d5149c0ccd5c.png)
 need more ref

[2016-09-26 11:48] lipki opened #254 "[1.11] Item treasure map"
![firefox-2016-09-25-20-15-50-80-560x350](https://cloud.githubusercontent.com/assets/401965/18833192/d8b54490-83ef-11e6-83bf-c2abe64dc5eb.jpg)

![map_filled](https://cloud.githubusercontent.com/assets/401965/18923583/14846c08-85ad-11e6-8066-fb97bb2b767c.png) ![map_filled_markings](https://cloud.githubusercontent.com/assets/401965/18923967/a89ebf50-85ae-11e6-8422-e4cb3ed13f95.png)
![map_icons](http

[2016-09-26 11:49] lipki opened #255 "[1.11] The Vindicator"
![firefox-2016-09-25-20-24-30-52-560x350](https://cloud.githubusercontent.com/assets/401965/18833224/fc997462-83ef-11e6-8edd-e06bced9435a.jpg)

![vindicator](https://cloud.githubusercontent.com/assets/401965/18922883/a2eef8da-85aa-11e6-8433-261b95a11f62.png)

ref :
![zombie_smith](https://cloud.githubusercontent.com/assets/401965/18844440/89649dea-841d-11e6-921d-5074c1c0a048.png)

[2016-09-26 11:50] lipki opened #256 "[1.11] The Evoker"
![firefox-2016-09-25-20-25-08-69-560x350](https://cloud.githubusercontent.com/assets/401965/18833268/26bb22f4-83f0-11e6-977a-68d44a9b406a.jpg)

![evoker](https://cloud.githubusercontent.com/assets/401965/18922931/d41d3f7a-85aa-11e6-9909-1011e04b9a2c.png)![fangs](https://cloud.githubusercontent.com/assets/401965/18922933/d585f032-85aa-11e6-9e59-2a5b22c564c4.png)

ref :
![witch](https://cloud.github

[2016-09-26 11:54] lipki opened #257 "[1.11] The Vex"
![firefox-2016-09-25-20-24-42-86-560x350](https://cloud.githubusercontent.com/assets/401965/18833340/757ba26a-83f0-11e6-8d0a-934b85b8a57f.jpg)

![vex](https://cloud.githubusercontent.com/assets/401965/18922996/065f997e-85ab-11e6-8115-2d8924bdbf7f.png)![vex_charging](https://cloud.githubusercontent.com/assets/401965/18922997/0689c3ca-85ab-11e6-93ab-058297d3a4e0.png)

ref :
![elytra](https://cloud.g

[2016-09-26 11:56] lipki opened #258 "[1.11] Item Totem of undying"
![firefox-2016-09-25-20-29-48-93-560x350](https://cloud.githubusercontent.com/assets/401965/18833436/dfcb2d48-83f0-11e6-9ffd-d7e05623d1ab.jpg)

![totem](https://cloud.githubusercontent.com/assets/401965/18923601/2d733fb4-85ad-11e6-888a-8b6ae37a0c53.png)

[2016-09-26 11:58] lipki opened #259 "[1.11] The Llama"
![firefox-2016-09-25-20-31-31-97-560x350](https://cloud.githubusercontent.com/assets/401965/18833464/12cb83e6-83f1-11e6-8572-766645c44147.jpg)

![llama](https://cloud.githubusercontent.com/assets/401965/18923100/64dfbd9e-85ab-11e6-916c-efd943d1c416.png)![llama_brown](https://cloud.githubusercontent.com/assets/401965/18923099/64de9ac2-85ab-11e6-8b63-3f30c707009d.png)![llama_creamy](https://cloud.gi

[2016-09-26 13:03] #253 closed

[2016-09-26 17:14] lipki commented on #255
First draft
I chose a butler outfit.

![vindicator](https://cloud.githubusercontent.com/assets/401965/18844366/48d0eb3a-841d-11e6-9268-953f520e2353.png)
![screenshot at 2016-09-26 19 11 53](https://cloud.githubusercontent.com/assets/401965/18844362/44fd0ea8-841d-11e6-867d-4d8ad7135b73.png)

[2016-09-26 20:13] tobyplowy commented on #259
Holy shit you work fast I was just going to post this stuff here Looks Like im Too Late for the party huh :)

[2016-09-26 20:19] tobyplowy commented on #256
![farmer - kopie](https://cloud.githubusercontent.com/assets/16853304/18850298/38d9ea50-8437-11e6-978c-6c589a96c5f3.png) i made this

[2016-09-26 20:21] tobyplowy commented on #255
this is my texture
![farmer](https://cloud.githubusercontent.com/assets/16853304/18850339/65ba411e-8437-11e6-94d9-384f00af9b70.png)
i think we need to keep the gray skin

[2016-09-26 20:22] tobyplowy commented on #255
this is my texture
![farmer](https://cloud.githubusercontent.com/assets/16853304/18850339/65ba411e-8437-11e6-94d9-384f00af9b70.png)
i think we need to keep the gray skin and bald head

[2016-09-26 20:26] tobyplowy commented on #257
I think they should reference the Red Wings more but Without The flaps ( you know those things that are connected between the bones the ligt parts)

[2016-09-26 20:29] tobyplowy commented on #255
@lipki what do you think of my texture? Is the Mad face good?

[2016-09-26 20:31] tobyplowy commented on #252
This probably uses the same file as the shulker

[2016-09-27 09:25] tobyplowy opened #260 "[1.11] Shulker Shell"
This is basically the shulker's shell used to craft The shulker box

[2016-09-27 16:42] tobyplowy commented on #252
i mede a shulker shell texture ovrer at #260

[2016-09-27 16:44] tobyplowy commented on #260
Shulker Shell item texture done
![shulker shell](https://cloud.githubusercontent.com/assets/16853304/18883144/64933f92-84e2-11e6-9bca-bb7fb5ed5073.png)

[2016-09-27 19:53] tobyplowy commented on #246
![blue guy](https://cloud.githubusercontent.com/assets/16853304/18889338/d7118b22-84fc-11e6-9622-297953780d60.png)
Done ;D

[2016-09-27 20:00] tobyplowy commented on #254
![treshure map](https://cloud.githubusercontent.com/assets/16853304/18889506/88d57d78-84fd-11e6-8edb-9a30a6d140c2.png) i think we shuld use the old one as treasure map and the new one as normal map maby?
![map](https://cloud.githubusercontent.com/assets/16853304/18889522/a3442ae2-84fd-11e6-9d8f-07e007406dcb.png)

[2016-09-27 20:31] tobyplowy commented on #251
side
![side](https://cloud.githubusercontent.com/assets/16853304/18890563/f352cf58-8501-11e6-912e-0f55807ee75c.png)
top Note The Arrow Points To the front
![top](https://cloud.githubusercontent.com/assets/16853304/18890573/ff93d186-8501-11e6-952b-a62a00736b68.png)
back
![back](https://cloud.githubusercontent.com/assets/16853304/18890604/1fae1044-8502-11e6-8e8d-552da1887410.png)
front
![front](http

[2016-09-28 11:51] tobyplowy opened #261 "lucky block mod"
is rilly popular and its easy :D

[2016-09-28 15:48] tobyplowy commented on #256
![evoker](https://cloud.githubusercontent.com/assets/16853304/18921067/b3ce7736-85a3-11e6-81a5-b0e08e0900f6.png)

[2016-09-28 15:49] tobyplowy commented on #255
this is my texture
![vindicator](https://cloud.githubusercontent.com/assets/16853304/18921129/eef2f788-85a3-11e6-8ce6-103db75ad932.png)

i think we need to keep the gray skin and bald head
also hes mad :D

[2016-09-28 16:18] lipki commented on #251
great :)

It would be nice to do a test with the wood of repeaters inside.
To give color, and because it's more of the family of repeater.

[2016-09-28 16:23] tobyplowy commented on #251
I don't know what you mean by that, but If You Would Be interested In editing the texture Go Ahead :)

[2016-09-28 16:25] tobyplowy commented on #256
My Evoker texture Doesn't Look great

[2016-09-28 16:32] lipki commented on #251
It is really good ...
![screenshot at 2016-09-28 18 30 09](https://cloud.githubusercontent.com/assets/401965/18922651/d5d40692-85a9-11e6-8d1a-ac9acf115889.png)

[2016-09-28 16:41] lipki commented on #257
Yes I understand.
I like the idea of mortal angels ...
Or crying angel of dr who.
I do not know yet.

[2016-09-28 16:42] tobyplowy commented on #251
Thank you :)

[2016-09-28 16:46] lipki commented on #259
the summary of snapshot, Rather do it myself.

[2016-09-28 16:57] lipki commented on #261
yep

[2016-09-28 16:58] tobyplowy commented on #251
I'm working on a wood variant (I was also wondering How is the customizer going?)

[2016-09-28 17:00] lipki commented on #252
Put your shulker shell  here please.

[2016-09-28 17:00] tobyplowy commented on #259
So you don't want me to help?

[2016-09-28 17:02] tobyplowy commented on #257
I think it should be a dark angel, But The Doctor Who angel is a nice reference :/

[2016-09-28 17:03] lipki commented on #260
Yeah ok, but keep this up.
We loot only half box.

I close duplicate #252

[2016-09-28 17:03] #260 closed

[2016-09-28 17:06] tobyplowy commented on #252
half shell ![shulker_shell - kopie](https://cloud.githubusercontent.com/assets/16853304/18923920/7a0f807a-85ae-11e6-9eb3-c7d8ced135ae.png)
and this is for the customiser :P
![shulker_shell](https://cloud.githubusercontent.com/assets/16853304/18923935/8660cd52-85ae-11e6-86ee-877b2eeb3d13.png)

[2016-09-28 17:11] lipki commented on #259
I like to create the "issue", but just the "issue" for the rest of course I want your help.
I am very happy even.

[2016-09-28 17:13] lipki opened #262 "[1.11] The chicken head"
![chicken](https://cloud.githubusercontent.com/assets/401965/18923554/f481a150-85ac-11e6-9843-5974487f5b94.png)

The chickens don't anymore a hole in the head.

[2016-09-28 17:14] lipki opened #263 "[1.11] Horse inventory"
![horse](https://cloud.githubusercontent.com/assets/401965/18923519/cfc18e34-85ac-11e6-9e91-dc401b4abfe1.png)

[2016-09-28 17:14] tobyplowy commented on #259
oh ok i get it :D

hey i started work on this lama texture but i downt feal like compleating it today maby is usfull to you
![llama_white](https://cloud.githubusercontent.com/assets/16853304/18924266/d5c9c230-85af-11e6-985d-13933a3db5e5.png)

[2016-09-28 17:16] lipki commented on #251
He is on vacation, for now.
But I would pass him hello of you. :D

[2016-09-28 17:16] tobyplowy commented on #262
Im going To Fix this

[2016-09-28 17:19] tobyplowy commented on #251
I didn't really Mean that what I asked for the customizer ( You know the thing on the website) but you can Still say hello from me :D

[2016-09-28 17:21] lipki commented on #254
yes, i make that :

![map_empty](https://cloud.githubusercontent.com/assets/401965/18923931/84825fe6-85ae-11e6-8492-e62ea31a3895.png) empty
![map_filled](https://cloud.githubusercontent.com/assets/401965/18923932/84854134-85ae-11e6-8925-7a922d2fc5fb.png) filled
![map_treasure](https://cloud.githubusercontent.com/assets/401965/18923933/848aff0c-85ae-11e6-9c4d-716935f3f7e7.png) treasure

[2016-09-28 17:22] tobyplowy commented on #262
![chicken](https://cloud.githubusercontent.com/assets/16853304/18924567/f2567e7e-85b0-11e6-8c63-f51397829f65.png)
done

[2016-09-28 17:28] lipki commented on #254
![map_filled](https://cloud.githubusercontent.com/assets/401965/18924696/7cecc368-85b1-11e6-8478-3456bca029f2.png)
![map_filled_markings](https://cloud.githubusercontent.com/assets/401965/18924695/7ce83f5a-85b1-11e6-962d-a3b43dfc564f.png)
![screenshot at 2016-09-28 19 26 33](https://cloud.githubusercontent.com/assets/401965/18924724/96b4200c-85b1-11e6-92e7-641018a40f77.png)

[2016-09-28 17:33] lipki commented on #255
he look good.

but
the hood is force, it is in the contract. :)

But gray skin is good, the costume is correct, but perhaps too wise, and the face is great.

[2016-09-28 17:39] lipki commented on #255
![screenshot at 2016-09-28 19 36 32](https://cloud.githubusercontent.com/assets/401965/18925185/2e2820c2-85b3-11e6-8982-08ee4b5edff0.png)

![screenshot at 2016-09-28 19 37 45](https://cloud.githubusercontent.com/assets/401965/18925184/2e24f0fa-85b3-11e6-81ef-1273c8b7afbe.png)
![vindicator](https://cloud.githubusercontent.com/assets/401965/18925192/398042ce-85b3-11e6-8489-bb5c43421001.png)

[2016-09-28 17:48] tobyplowy commented on #254
Looks good

[2016-09-28 17:48] lipki commented on #256
no no it's not bad.

![screenshot at 2016-09-28 19 43 22](https://cloud.githubusercontent.com/assets/401965/18925497/7a443b3e-85b4-11e6-85db-dc0b0d269d10.png)

I had done that (but I took your gray skin)

![screenshot at 2016-09-28 19 46 08](https://cloud.githubusercontent.com/assets/401965/18925501/7d365912-85b4-11e6-8d2b-f26ca4038a78.png)
![evoker](https://cloud.githubusercontent.com/assets/4019

[2016-09-28 17:52] #246 closed

[2016-09-28 17:52] lipki commented on #246
ok i take it, thank you.

[2016-09-28 17:54] lipki commented on #262
thank you

[2016-09-28 17:54] #262 closed

[2016-09-28 17:55] tobyplowy commented on #255
I don't really feel comfortable with the Hood but the butler costume Looks Nice

[2016-09-28 17:56] tobyplowy commented on #256
your Texture is a lot better :/

[2016-09-28 18:06] lipki commented on #255
Me to, the hood does not please me, but it must cover their heads, perhaps another hat.

[2016-09-28 18:34] tobyplowy commented on #261
100% Done

lucky_block
![lucky_block](https://cloud.githubusercontent.com/assets/16853304/18927092/ae23b21c-85ba-11e6-8458-cae22aee9fa9.png)

items

lucky_bow_pulling_0
![lucky_bow_pulling_0](https://cloud.githubusercontent.com/assets/16853304/18927100/b60742aa-85ba-11e6-9643-d3417d826960.png)
lucky_bow_pulling_1
![lucky_bow_pulling_1](https://cloud.githubusercontent.com/assets/16853304/18927103/b

[2016-09-28 18:35] tobyplowy commented on #261
you can put it on the website ;P

[2016-09-28 18:37] tobyplowy commented on #263
this is your job i can't do this :/

[2016-09-28 18:41] tobyplowy commented on #255
Why exactly do you have to wear something on their head? If you really have to give him a hat I think a ball hat Would Look Good http://thumbnail.image.rakuten.co.jp/@0_mall/platz-ts/cabinet/vwhat/bolhatbrn2.jpg

[2016-09-28 19:09] tobyplowy opened #264 "Fence texture inprovement?"
i added a border around the edge of the top
i like this more but what do you think about it lipki?
![fence_acacia](https://cloud.githubusercontent.com/assets/16853304/18928208/75a3687e-85bf-11e6-8cd4-3e61a9315008.png)
![fence_big_oak](https://cloud.githubusercontent.com/assets/16853304/18928209/75a5df50-85bf-11e6-8f15-c17599d7bae6.png)
![fence_birch](https://cloud.githubusercontent.com/assets/1685

[2016-09-28 19:25] tobyplowy commented on #251
@lipki wood variant done

side
![observer_side - kopie](https://cloud.githubusercontent.com/assets/16853304/18928808/011afb22-85c2-11e6-85f9-a70bf10031a6.png)
top
![observer_top - kopie](https://cloud.githubusercontent.com/assets/16853304/18928810/011f6b08-85c2-11e6-87a7-49a88d4a66cc.png)
back
![observer_back - kopie](https://cloud.githubusercontent.com/assets/16853304/18928809/011dd914-85c2-11e6-

[2016-09-28 22:55] lipki commented on #252
![shulker_box](https://cloud.githubusercontent.com/assets/401965/18935155/8383de14-85de-11e6-8fc6-b11a8e8cd6ea.png)

![particle](https://cloud.githubusercontent.com/assets/401965/18935174/aed4a922-85de-11e6-82c9-1e88d172fbbf.png)
![shulker_black](https://cloud.githubusercontent.com/assets/401965/18935175/aed7339a-85de-11e6-8b63-75df044a5176.png)![shulker_blue](https://cloud.githubusercontent.com/a

[2016-09-28 23:09] lipki commented on #252
![screenshot at 2016-09-29 00 56 52](https://cloud.githubusercontent.com/assets/401965/18935413/2a6b8c9e-85e0-11e6-9ff8-add77f2804a7.png)

[2016-09-28 23:32] lipki commented on #263
![horse](https://cloud.githubusercontent.com/assets/401965/18926527/66fc3000-85b8-11e6-98cc-f418cfc356b5.png)

[2016-09-29 08:11] tobyplowy commented on #263
How do you make these textures, do you have pre-made things You put Together?

[2016-09-29 08:13] tobyplowy commented on #252
Looks Nice I really like the colors ;D

[2016-09-29 08:39] tobyplowy commented on #254
i made this map icones
![map_icons](https://cloud.githubusercontent.com/assets/16853304/18946795/ca0df70a-8630-11e6-8a4c-028438fe02b3.png)
im happy with the ocean temple icone but i hete the mension icone and i cant make it better :/

[2016-09-29 12:37] lipki commented on #263
I use what already exists.
For that if it was just a small change.
But I am unable to do it from scratch.

[2016-09-29 12:42] lipki commented on #254
maybe like this :
![ca0df70a-8630-11e6-8a4c-028438fe02b3](https://cloud.githubusercontent.com/assets/401965/18954349/ece16506-8652-11e6-9d60-7a203b2067cd.png)

[2016-09-29 13:08] lipki commented on #264
yes it's better

[2016-09-29 13:08] tobyplowy commented on #254
Jeh that Looks better but maby change the outline to be not Black

[2016-09-29 13:09] tobyplowy commented on #254
Im gonna do that

[2016-09-29 13:14] tobyplowy commented on #254
here i fixed the out line
bdw sorry my textures are so bad and you have to fix them sometimes :/
![ece16506-8652-11e6-9d60-7a203b2067cd](https://cloud.githubusercontent.com/assets/16853304/18955331/47044d1a-8657-11e6-833a-72141c15de54.png)

[2016-09-29 13:20] lipki commented on #264
add in master
Thank you.

[2016-09-29 13:20] #264 closed

[2016-09-29 13:21] tobyplowy commented on #264
Why did you assign me I did all the textures already ;)

[2016-09-29 13:22] lipki commented on #254
No, it's a teamwork.

[2016-09-29 13:24] tobyplowy commented on #254
that's actually sort of true I guess

[2016-09-29 13:27] tobyplowy commented on #250
XD

[2016-09-29 13:30] lipki commented on #250
@CuddleWoozle  ping

[2016-09-29 13:31] tobyplowy opened #265 "Most mobs Don't have The Bottom of the torso textured"
Most mobs Don't have The Bottom of the torso textured most noateble the zombie

[2016-09-29 13:34] tobyplowy commented on #251
@lipki What do you think of the Wood variant also the one that doesn't get added could be added to the customizer on the website

[2016-09-29 13:35] tobyplowy commented on #261
@lipki you can add this to the website is done :D

[2016-09-29 13:38] tobyplowy commented on #265
![zombie](https://cloud.githubusercontent.com/assets/16853304/18956179/be409caa-865a-11e6-986b-2e1fae246aed.png)
zombie is fixed

[2016-09-29 13:40] tobyplowy commented on #265
![husk](https://cloud.githubusercontent.com/assets/16853304/18956248/0d9aae12-865b-11e6-92f9-47090f143e24.png)
husk is fixed

[2016-09-29 13:41] tobyplowy commented on #265
thers probably more

[2016-09-29 13:42] #176 closed

[2016-09-29 13:43] tobyplowy commented on #249
I'm going to take my time with this one so I doubt it will be ready till 1.11

[2016-09-29 13:47] tobyplowy commented on #265
@lipki ok im done you can close this

[2016-09-29 13:50] lipki commented on #265
add in 1.11
thank you :)

[2016-09-29 13:50] #265 closed

[2016-09-29 13:51] lipki commented on #249
the mod does not exist in 1.11, so it doesn't matter.

[2016-09-29 13:54] tobyplowy opened #266 "guardian tail fin inprovement?"
![guardian_elder](https://cloud.githubusercontent.com/assets/16853304/18956778/f7d80550-865c-11e6-8ea0-13379c586bd8.png)
![guardian](https://cloud.githubusercontent.com/assets/16853304/18956779/f7d9c99e-865c-11e6-8986-9998328bfd29.png)

[2016-09-29 13:57] tobyplowy commented on #243
keep the old one for the customiser on the website

[2016-09-29 14:00] tobyplowy opened #267 "minecraft windows 10 edition support"
we still need to make support for minecraft windows 10 edition

[2016-09-29 14:03] lipki commented on #267
yep, we need.

[2016-09-29 14:07] tobyplowy commented on #267
I'm testing round with it at the moment ;D

[2016-09-29 14:08] lipki commented on #266
yep ok
add in 1.11

[2016-09-29 14:09] tobyplowy commented on #227
who made these textures?

[2016-09-29 14:09] #266 closed

[2016-09-29 14:10] lipki commented on #267
He'll have to learn to use git
We will go faster !

[2016-09-29 14:11] lipki commented on #227
I don't no.

[2016-09-29 14:13] tobyplowy commented on #227
Can we do Whatever we want with this?

[2016-09-29 14:36] tobyplowy commented on #267
@lipki Sorry I'm doing my best to be useful :(

[2016-09-29 14:37] RobertZenz commented on #227
It seems like [it has originated from here](http://www.minecraftforum.net/forums/mapping-and-modding/resource-packs/1230882-32x32-1-3-2-pre12w37a-summerfields-r29-a-is-out?comment=1664). Further down the topic [lithiumsound seems to post progress updates](http://www.minecraftforum.net/forums/mapping-and-modding/resource-packs/1230882-32x32-1-3-2-pre12w37a-summerfields-r29-a-is-out?comment=1674). S

[2016-09-29 14:38] tobyplowy opened #268 "New Zombie Horse Texture"
There is no denying The zombie horse Texture doesn't Look really great
We should make a better One

[2016-09-29 15:19] tobyplowy opened #269 "better end rod texture?"
![end_rod](https://cloud.githubusercontent.com/assets/16853304/18960113/de3d3c3a-8668-11e6-81a2-ae777af9329c.png)

[2016-09-29 16:14] lipki commented on #251
![observer_back](https://cloud.githubusercontent.com/assets/401965/18962218/392bddca-8670-11e6-9582-dafc53a027c7.png)![observer_front](https://cloud.githubusercontent.com/assets/401965/18962219/39310d4a-8670-11e6-9ad9-02711c689593.png)![observer_side](https://cloud.githubusercontent.com/assets/401965/18962220/393240b6-8670-11e6-8538-fc96cc7067c6.png)![observer_top](https://cloud.githubusercontent.

[2016-09-29 16:19] tobyplowy commented on #251
Oh you made a custom model for it that's pretty cool ( but I still prefer the Stone one :/ )
Also When will the customizer be working! (Not the guy on Vacation the thing On The website)

[2016-09-29 16:42] lipki commented on #251
It was a joke.
The customizer is on vacation = I have not finished.
And I do not know when I'll be over it.

[2016-09-29 16:46] lipki commented on #269
What a difference ?

[2016-09-29 16:48] tobyplowy commented on #269
The other one was almost pure white and i added a little gradient

[2016-09-29 17:03] lipki commented on #227
I'm assuming that he were created textures for Summerfields.
But I'll do a search.

[2016-09-29 17:07] lipki commented on #227
My answer is yes, under Summerfields or modpack.
And I assume the result.

[2016-09-29 17:12] lipki commented on #267
You may have misunderstood.
git is a software that can manage versions of a project.
Github communicates with git to update the textures.
If you knew to use it, you could manage modpack, alone.

[2016-09-29 17:12] tobyplowy commented on #250
@lipki Why do you need @CuddleWoozle

[2016-09-29 17:21] tobyplowy commented on #267
it's programming I have no Idea How to do dat :/

[2016-09-29 17:26] tobyplowy commented on #259
![decor_blue](https://cloud.githubusercontent.com/assets/16853304/18964743/7c2f1128-867a-11e6-86bb-4349d69c03d4.png)

also can you add my name to the Thanks in the README

[2016-09-29 17:40] lipki commented on #259
It's done.
it will be updated as and measurement.

ok good start for carpets.
do not hesitate to change the patterns.

[2016-09-29 17:42] lipki commented on #250
She is the official owner, I want to keep abreast of developments.

[2016-09-29 17:48] tobyplowy commented on #250
I knew she was developer but I didn't know she was a girl Until Now :D

[2016-09-29 17:51] tobyplowy commented on #259
I have an Idea You Can do the lama textures while i do the carpet textures?

[2016-09-29 19:41] tobyplowy commented on #255
@lipki Why exactly do they have to wear something on their head? If you really have to give him a hat I think a ball hat Would Look Good http://thumbnail.image.rakuten.co.jp/@0_mall/platz-ts/cabinet/vwhat/bolhatbrn2.jpg

[2016-09-29 19:46] tobyplowy commented on #256
@lipki thers no issue for the fangs (and i cant make a new one becuse you dount like that :P) but this is relateble
![fangs](https://cloud.githubusercontent.com/assets/16853304/18969535/d9515ec0-868d-11e6-893a-25358671fad8.png)
![naamloos](https://cloud.githubusercontent.com/assets/16853304/18969542/dd27ce6c-868d-11e6-9749-ce9123b852ce.png)
(NOTE) you downt wanna know how hard it was to get this i

[2016-09-29 22:43] diouxis commented on #247
sorry about the late reply.
I found this in the latest release version of Optifine and Minecraft 1.10.2.

[2016-09-30 01:13] lipki commented on #259
![screenshot at 2016-09-30 03 06 24](https://cloud.githubusercontent.com/assets/401965/18977542/81ffd182-86bb-11e6-9f92-0afd8e25fc90.png)
I have to redo the muzzle.

![llama](https://cloud.githubusercontent.com/assets/401965/18977551/906220c2-86bb-11e6-9abf-dc0b114984c6.png)![llama_brown](https://cloud.githubusercontent.com/assets/401965/18977552/908a0ce0-86bb-11e6-9683-88c90a6d2363.png)![llama_cr

[2016-09-30 06:59] tobyplowy commented on #259
Yeah the muzzle is a bit strange (now it looks like he's an alien and has 4 eyes)

[2016-09-30 15:13] lipki commented on #267
Not programming.
If you use windows, you can use github desktop.
https://desktop.github.com/
But you have to understand the principle.

[2016-10-01 14:44] tobyplowy commented on #258
Lipki This one is your job I have no Idea What to do with this :/

[2016-10-01 15:24] tobyplowy commented on #259
decor_brown done
![decor_brown](https://cloud.githubusercontent.com/assets/16853304/19015003/bc26a9c6-87fb-11e6-9c21-c43eb0c0aad2.png)

also i dount like the color of this texture
![llama_creamy](https://cloud.githubusercontent.com/assets/16853304/19015013/dbf31c44-87fb-11e6-8615-a575836ed77f.png)

[2016-10-01 15:25] tobyplowy commented on #259
lipki what is spit.png?

[2016-10-01 15:36] lipki commented on #258
first try : ![totem](https://cloud.githubusercontent.com/assets/401965/19015075/219b4130-87fd-11e6-8234-c42ead7e1bb6.png)

I'm not super happy with the item.
But still, it makes good in games, try it.

![screenshot at 2016-10-01 17 29 18](https://cloud.githubusercontent.com/assets/401965/19015076/262728b8-87fd-11e6-927a-197283b6524c.png)

[2016-10-01 15:38] tobyplowy commented on #256
@lipki you forgot the shading on his face
this is a fix for it
![82140b46-85b4-11e6-9fb6-8c49f2ca945f](https://cloud.githubusercontent.com/assets/16853304/19015098/cb2555a6-87fd-11e6-921e-8f8e9caf7576.png)

[2016-10-01 15:51] lipki commented on #259
no idea

[2016-10-01 16:18] tobyplowy commented on #257
i made this (note this is not supost to look good i diddent even trie)
![vex](https://cloud.githubusercontent.com/assets/16853304/19015355/4496ad54-8803-11e6-8e22-761486a7e2d5.png)
![vex_charging](https://cloud.githubusercontent.com/assets/16853304/19015354/4495ac24-8803-11e6-8e69-bb22ed8aa7ee.png)

[2016-10-01 16:20] tobyplowy commented on #257
Also this uses the creeper texture but you probably already noticed that

[2016-10-01 16:23] tobyplowy commented on #258
I really like the idea of a voodoo doll This Looks quite Nice

[2016-10-01 16:29] tobyplowy commented on #259
I don't seem to find what its for, I think It Gets overlayd on ther moth when they spit but im not sure About It :/

Also Do You Like my Brown carpet Texture
I also made a fang texture over at #256 what do you think about it

[2016-10-01 16:31] lipki commented on #255
![screenshot at 2016-10-01 18 30 02](https://cloud.githubusercontent.com/assets/401965/19015464/2251f0da-8805-11e6-9420-a49c349de1bb.png)

[2016-10-01 16:43] lipki commented on #257
Not so bad after all.
![screenshot at 2016-10-01 18 42 49](https://cloud.githubusercontent.com/assets/401965/19015546/f204c34c-8806-11e6-9d4f-a2491855e020.png)

[2016-10-01 17:25] lipki commented on #259
I had not seen the carpet, it's great: D
I'll redo the gray texture.

[2016-10-01 17:26] lipki commented on #256
![screenshot at 2016-10-01 17 56 12](https://cloud.githubusercontent.com/assets/401965/19015248/07a8a99e-8801-11e6-848b-e2001d3fc9d2.png)
![screenshot at 2016-10-01 17 59 32](https://cloud.githubusercontent.com/assets/401965/19015250/08fad7fe-8801-11e6-8d99-0a30b97fa044.png)

[2016-10-01 17:26] lipki commented on #256
I like the fangs, I thought I had written.

[2016-10-01 17:38] lipki commented on #257
little test.

Vex
![screenshot at 2016-10-01 19 20 52](https://cloud.githubusercontent.com/assets/401965/19015884/39fc00ce-880d-11e6-885f-d878da239ff1.png)
![screenshot at 2016-10-01 19 20 44](https://cloud.githubusercontent.com/assets/401965/19015885/3b0f2eb4-880d-11e6-946e-6723a2f90205.png)

Vex charging
![screenshot at 2016-10-01 19 20 00](https://cloud.githubusercontent.com/assets/401965/19015

[2016-10-01 17:43] lipki commented on #269
add in 1.11

[2016-10-01 17:43] #269 closed

[2016-10-01 19:29] tobyplowy commented on #255
I really like this, It Looks Like Those guys who wait in the elevators because The people in the elevator have too much money to press the button them self XD

[2016-10-01 19:36] tobyplowy commented on #257
@lipki you made it look so awesome I'm so jealous at you because you're so good at This :P
Also a Little Note about The texture there are no hands to hold the sword (my mistake)

[2016-10-01 19:46] tobyplowy commented on #256
I like the one with the red stripes on his face and Red Lines on his clothes It Makes him Look Real Evil :3

[2016-10-01 20:52] tobyplowy commented on #268
this is what i have made
![horse_zombie](https://cloud.githubusercontent.com/assets/16853304/19016957/bb3e0aa8-8829-11e6-8a7e-de097106943a.png)

[2016-10-01 20:58] tobyplowy commented on #252
lipki can you get ridof the wool textures on the shulker box textures?

[2016-10-01 21:09] lipki commented on #268
yeah it's better.

[2016-10-01 21:10] lipki commented on #252
yes but ... why ?

[2016-10-01 21:26] tobyplowy commented on #252
Ocd :/

[2016-10-01 21:27] tobyplowy commented on #252
It anoys me

[2016-10-01 21:29] tobyplowy commented on #268
I had To redo it alot uh glad that's over :P

[2016-10-01 21:42] tobyplowy commented on #229
can you give me a download for the aether texures and Minion mod and backpack so i downt do unecesery work :D

[2016-10-02 15:30] tobyplowy commented on #259
I know what Spit.png is for, now, If The lama spits it shoots a 3D particle

[2016-10-02 18:14] lipki commented on #229
It's very old textures, but here goes.
The minion texture is not terrible, here is the reference in the dungeon keeper.
http://vignette4.wikia.nocookie.net/dungeonkeeper/images/7/77/Imp0.gif/revision/latest?cb=20120728125543
http://vignette3.wikia.nocookie.net/dungeonkeeper/images/3/33/Imp.jpg/revision/latest?cb=20091105234451

[2016-10-04 11:35] OwOV commented on #259
The nose holes could be a fainter color so it doesn't look like another pair of eyes.
Also I'm wondering if the llama decor colors are from the carpet colors? The images seem brighter.
If not then I think the decor should be the same color as the carpets in the texture.
I do love the designs on them though! Also hello!

[2016-10-04 14:03] tobyplowy commented on #259
@OwOV look hoe we have here a new person, Welcome to the summerFields project ;)
the decore Use the wool Texture also thank you i really do my best :D

[2016-10-04 14:07] tobyplowy commented on #268
Hey lipki You Can close This if you want

[2016-10-04 17:54] tobyplowy commented on #259
lipki can you make the carpets I don't really have time sorry i did my best :/

[2016-10-07 20:34] tobyplowy opened #270 "old better than new tall grass texture"
i like the old one more
tall grass now
![20161005151502-c77626c0](https://cloud.githubusercontent.com/assets/16853304/19204617/11831b3e-8cde-11e6-9476-9119ca7d5cdd.png)
old
![20161005153629-5524239c](https://cloud.githubusercontent.com/assets/16853304/19204616/0f8cdb30-8cde-11e6-874e-69e2101d9329.png)

[2016-10-07 20:39] tobyplowy commented on #270
i did a recolor
![20161005153629-5524239c](https://cloud.githubusercontent.com/assets/16853304/19204760/f7181726-8cde-11e6-8f3f-290335071ffb.png)

[2016-10-08 22:36] tobyplowy commented on #267
C:\Users\toby123\AppData\Local\Packages\Microsoft.MinecraftUWP_8wekyb3d8bbwe\LocalState\games\com.mojang\resource_packs

[2016-10-08 22:41] tobyplowy commented on #267
I Made this progress So Far https://1drv.ms/u/s!Ammw1yWbBi3R21F6AcpzICO0vtYe
Now before I continue i used a texture pack as a bace ( I really had to because the game keep crashing with summerfealds and this pack Works It has Something to do with the image format if I export an image and put it in the pack it won't work but if I edit the image it works) so simply put you have to edit the images do

[2016-10-09 13:26] lipki commented on #267
I can not test for now, I'm going to make you comfiance.
I did the update of this repo https://github.com/SummerFields/MCPE

[2016-10-09 13:28] tobyplowy commented on #267
I'm not sure mcpe is the same as Minecraft Windows 10 Edition

[2016-10-09 13:29] tobyplowy commented on #267
De texture pack seem To Be Different For Pocket Edition

[2016-10-09 13:31] lipki commented on #267
A?

[2016-10-09 13:33] tobyplowy commented on #267
What do you mean by a? Also why can't you test The build

[2016-10-09 13:47] lipki commented on #267
I do not have "windows".
I use only free software.

[2016-10-09 13:53] tobyplowy commented on #267
Well that doesn't matter I tried cloning The repository using the github app doesn't want to work Apparently I don't have permission :/

[2016-10-09 13:58] tobyplowy commented on #259
@lipki Can you do the rest of the Carpets and Fix The Gray lama

[2016-10-10 08:14] lipki commented on #259
![screenshot at 2016-10-09 23 39 11](https://cloud.githubusercontent.com/assets/401965/19223979/40a0e834-8e7c-11e6-9532-5baed6bbe412.png)

![llama_brown](https://cloud.githubusercontent.com/assets/401965/19223983/5b751d7e-8e7c-11e6-8b6d-1ed8d69d0394.png)![llama_creamy](https://cloud.githubusercontent.com/assets/401965/19223982/5b744084-8e7c-11e6-932e-45b82f239807.png)![llama_gray](https://cloud.gi

[2016-10-10 09:09] tobyplowy commented on #259
Nice job lipki i like them

[2016-10-10 09:19] tobyplowy commented on #249
This one may take a long time until it's complete because I'm actually working on the twilight forest mod at the moment also I cannot start the mutant creatures mod anymore for some reason :/

[2016-10-10 15:19] lipki commented on #249
No need to justify yourself :)

[2016-10-13 15:17] tobyplowy opened #271 "1.11 Erly Built release To website?"

[2016-10-13 15:18] tobyplowy commented on #271
@lipki ping

[2016-10-13 16:18] tobyplowy opened #272 "Untextured shield Banner textures"
Some Textures have not been Changed jet

[2016-10-13 16:19] tobyplowy commented on #272
fixed
gradient
![gradient](https://cloud.githubusercontent.com/assets/16853304/19357336/831b7196-9171-11e6-8cdd-1f3823b2dbef.png)
gradient_up
![gradient_up](https://cloud.githubusercontent.com/assets/16853304/19357337/8334a6de-9171-11e6-91bf-39880f2802a2.png)

[2016-10-13 16:19] tobyplowy commented on #272
thers more

[2016-10-13 18:37] tobyplowy commented on #272
done

[2016-10-16 13:53] tobyplowy commented on #245
@lipki I'm working on a randomization of the cactus Only Question Is Can you shange The cactus with the Flower model ( instead Of A Long Cube use two Planes Crossing each other Like A Flower) is that Possible?

[2016-10-16 14:03] tobyplowy commented on #245
i made this
![cactus_plant](https://cloud.githubusercontent.com/assets/16853304/19417947/d56323be-93b9-11e6-96a7-1d565c8b9f3a.png)
this may not work because is to big in that case i  have this
![cactus_plant_flowerpot](https://cloud.githubusercontent.com/assets/16853304/19417955/f9095400-93b9-11e6-9a2c-c9f8b1008cb4.png)

[2016-10-16 14:30] tobyplowy commented on #245
it needs to use this texture
![cactus_pot](https://cloud.githubusercontent.com/assets/16853304/19418115/b6b2d9a6-93bd-11e6-82b9-f04b4c2018d3.png)

[2016-10-16 14:34] tobyplowy commented on #245
in game
![nice cactus](https://cloud.githubusercontent.com/assets/16853304/19418139/4fdf7648-93be-11e6-9dd3-975d6f5bb96a.png)

[2016-10-16 14:35] tobyplowy commented on #245
This is a random model it shuld be randomized with the original cactus in the Pack right now if thats Possible at least

[2016-10-18 07:54] tobyplowy commented on #271
@lipki hallo?

[2016-10-18 07:54] tobyplowy commented on #272
@lipki can you add these textures

[2016-10-19 08:55] tobyplowy commented on #259
@lipki Are You Still there?

[2016-10-25 08:18] tobyplowy commented on #272
@lipki Ping?

[2016-10-28 12:01] lipki commented on #245
Yes it's possible. Very nice you'r cactus :)
I'm not very available right now, but I'll come back.

[2016-10-28 12:29] tobyplowy commented on #245
lipki are you on vacation?

[2016-10-29 21:11] tobyplowy commented on #245
mushroom_block_inside random its just one ;D
![mushroom_block_inside random](https://cloud.githubusercontent.com/assets/16853304/19832761/f0ddced2-9e2c-11e6-9ef4-594324379216.png)

[2016-10-29 21:59] tobyplowy opened #273 "inproved flower textures"
on this issue i will try to inprove the fower textures

[2016-10-29 22:00] tobyplowy commented on #273
flower_oxeye_daisy
![flower_oxeye_daisy](https://cloud.githubusercontent.com/assets/16853304/19833026/d2d1d792-9e33-11e6-826e-0c402d3b8999.png)

[2016-10-29 22:00] tobyplowy commented on #273
flower_houstonia
![flower_houstonia](https://cloud.githubusercontent.com/assets/16853304/19833027/e5376906-9e33-11e6-9a97-b5f63c26d4e1.png)

[2016-10-29 22:01] tobyplowy commented on #273
chorus_flower_dead
![chorus_flower_dead](https://cloud.githubusercontent.com/assets/16853304/19833029/f8150844-9e33-11e6-88b8-3e9e3a6deaf8.png)

[2016-10-29 22:03] tobyplowy commented on #273
@lipki i will do the other stuff later

[2016-10-30 20:49] tobyplowy commented on #273
this one was hard, i did my best :/
![flower_allium](https://cloud.githubusercontent.com/assets/16853304/19839878/a1103d4a-9eea-11e6-9aaa-74d1d80ac3bd.png)

[2016-10-30 20:53] tobyplowy commented on #273
@lipki are you interested in doing flower_paeonia and flower_tulip_orange and other colors

[2016-11-01 16:35] tobyplowy opened #274 "new gravel texture"
@lipki i did a recolor of the minetest cobblestone (to my suprise this is baced on the 16x16 gravel texture)
![gravel](https://cloud.githubusercontent.com/assets/16853304/19897690/57b6b230-a059-11e6-9fc1-7987e9cd58ce.png)

[2016-11-04 22:09] tobyplowy opened #275 "new jack o lantern"
new jack o lantern
![pumpkin_face_on](https://cloud.githubusercontent.com/assets/16853304/20023970/a418b722-a2e3-11e6-9c11-17ddcc5b0237.png)
this is for random textures
Also It Makes More Sense because it's a light source but there's no light in the original :)

[2016-11-04 22:55] tobyplowy commented on #245
new pumpkin_face_on texture
![pumpkin_face_on](https://cloud.githubusercontent.com/assets/16853304/20024915/f92ec8e0-a2e9-11e6-9ef1-9de3d4869d5a.png)
and 1 random texture (i will make more)
![pumpkin_face_on1](https://cloud.githubusercontent.com/assets/16853304/20024943/2e3b0c74-a2ea-11e6-8841-fbb2a0b4557f.png)

[2016-11-06 01:38] tobyplowy opened #276 "Fix README.md"
@lipki You calld me topyplowy xD its tobyplowy

[2016-11-06 01:40] tobyplowy commented on #276
"24/08/2016 : Update 1.11

Added
new random textures (dark prismarine, stone, mycellium, flower pot, top slab) by topyplowy
new elytra angel by topyplowy
new villager and zombie by topyplowy"

[2016-11-06 01:47] tobyplowy commented on #245
@lipki When will you come back exactly :)

[2016-11-10 18:23] Ultharine opened #277 "Stair placement upside down - wrong directions in blockstates"
posted this on the minecraftforum ... solved it little later:

[2016-11-10 19:40] tobyplowy commented on #277
@Ultharine Thanks for reporting your Problem This is one for @lipki because I have no Idea what it is It's programming Side i Only do art :/

[2016-11-10 21:40] Ultharine commented on #277
:)
He'll know what to do.
It's those eight lines in the end i posted
this is the corrected version.

[2016-11-10 21:46] tobyplowy commented on #277
@Ultharine Can you make a pull request?

[2016-11-14 18:33] lipki commented on #277
Thank you for your contribution.
We fix this bug here # 278

[2016-11-14 18:38] lipki commented on #273
Ok I take everything: D
But I find the allium too big.

[2016-11-14 18:52] lipki commented on #277
Problem solve, thank again.

[2016-11-14 18:52] #277 closed

[2016-11-14 19:30] tobyplowy commented on #273
@lipki Do you have Any ideas?

[2016-11-14 19:32] tobyplowy commented on #271
Closing because there is no Need for this Anymore :D

[2016-11-14 19:32] #271 closed

[2016-11-14 19:33] tobyplowy commented on #275
@lipki does it look good?

[2016-11-14 19:36] tobyplowy commented on #245
@lipki do you have more random textures or Textures i should make More randoazasins for?

[2016-11-14 21:44] lipki commented on #245
I added all your textures.
We can do more, for all the blocks, the limit is the weight.

[2016-11-14 22:00] lipki commented on #275
The light was removed some time ago, I know more why.
But I added yours.

[2016-11-14 22:01] lipki commented on #273
Maybe less big ? :)

[2016-11-14 22:19] #276 closed

[2016-11-14 22:25] lipki commented on #274
Yes it's @CuddleWoozle that made this change to have smaller gravel.

[2016-11-14 23:14] #275 closed

[2016-11-14 23:17] #243 closed

[2016-11-14 23:19] lipki commented on #245
I close.
We can reopen it if necessary.

[2016-11-14 23:19] #245 closed

[2016-11-14 23:21] #247 closed

[2016-11-14 23:22] #251 closed

[2016-11-14 23:23] #252 closed

[2016-11-14 23:23] #254 closed

[2016-11-14 23:25] #255 closed

[2016-11-14 23:25] #256 closed

[2016-11-14 23:26] #257 closed

[2016-11-14 23:26] #258 closed

[2016-11-14 23:27] #259 closed

[2016-11-14 23:27] #263 closed

[2016-11-14 23:30] #268 closed

[2016-11-14 23:33] #272 closed

[2016-11-14 23:33] #273 closed

[2016-11-14 23:33] #274 closed

[2016-11-14 23:34] #250 closed

[2016-11-15 07:56] tobyplowy commented on #275
@lipki why was the light removed?

[2016-11-15 16:44] lipki opened #280 "The snowman recovers a face"
The pumpkin in nature had no face.
So the snow golem neither.
But with the model system, I was able to correct that.
![screenshot at 2016-11-15 15 23 57](https://cloud.githubusercontent.com/assets/401965/20309571/ca701326-ab48-11e6-94f8-91d516880fa9.png)

[2016-11-15 16:44] #280 closed

[2016-11-15 20:33] tobyplowy opened #283 "Lipki Fix my name"
@lipki can you please fix my name in readme.md its tobyplowy Not topyplowy

[2016-11-15 20:33] tobyplowy commented on #283
@lipki ping

[2016-11-15 20:37] tobyplowy commented on #245
@lipki perhaps this could be a separate download to Keep The Size low for the default summerfields texture pack

[2016-11-15 20:42] lipki commented on #283
sorry
Is that right?

[2016-11-15 20:46] lipki commented on #245
We can consider making a light pack, but I don't feel like it. :)

[2016-11-15 20:51] tobyplowy commented on #283
@lipki yes everything seems right now thank you :D

[2016-11-15 20:52] #283 closed

[2016-11-15 20:54] tobyplowy commented on #245
It Doesn't Really Matter It's just an Idea, also I Don't Care about it either maybe later

[2016-11-15 20:55] #244 closed

[2016-11-16 12:09] tobyplowy opened #284 "chicken fix"
this will fix the back of the chicken it also fixes the ting on gis shin it was flikkering
![chicken](https://cloud.githubusercontent.com/assets/16853304/20346650/8b49ac4c-abfd-11e6-929c-83f4a4a626ba.png)

also i know its to late for 1.11 but maybe next update

[2016-11-16 12:20] tobyplowy opened #285 "Double Stone Brick slab gives a missing texture"
If You put 2 Stone brick slabes On Top of each other you get a glitch Block

[2016-11-16 15:04] tobyplowy opened #286 "forgot to update stats_icons.png"
![stats_icons](https://cloud.githubusercontent.com/assets/16853304/20352084/469b8b92-ac16-11e6-9af8-79d7c1b74b14.png)
stats_icons.png minecraft

![stats_icons](https://cloud.githubusercontent.com/assets/16853304/20352095/50da09da-ac16-11e6-9dd1-6f9715f38721.png)
stats_icons.png minecraft

[2016-11-16 15:10] lipki commented on #285
In fact it's stonebrick that bug.

[2016-11-16 15:13] lipki commented on #285
pull request #287

[2016-11-16 15:13] #285 closed

[2016-11-16 16:12] lipki commented on #286
![stats_icons](https://cloud.githubusercontent.com/assets/401965/20354831/b2592dea-ac1f-11e6-9b70-aee9ae1f2c91.png)
ok thank !

[2016-11-16 16:12] #286 closed

[2016-11-16 16:21] lipki commented on #284
I'll get a 1.11.1, so it will be there. #289

[2016-11-16 16:21] #284 closed

[2016-11-16 16:31] tobyplowy commented on #286
@lipki did you really Use the pants as a backpack XD

[2016-11-16 16:50] lipki commented on #286
:) yes i do, and assume. :D

[2016-11-19 15:30] tobyplowy opened #290 "terasology support?"
Personally I have never played it before i Just played for couple minutes and my computer couldn't handle the graphics (i really need a new computer XD) anyways maybe you could also make support for this game, as far as I know it's also open source and free :D
http://terasology.org

[2016-11-19 22:46] tobyplowy opened #291 "remove no glow pumkin from random pumpkin on"
now pumpkins are random somtimes i get the off pumkin it doesent make sense the block is calld pumpkin on not pumpkin off

[2016-11-20 00:30] tobyplowy opened #292 "better map_background.png?"
![map_background](https://cloud.githubusercontent.com/assets/16853304/20459418/db3367d2-aec0-11e6-8af6-c3b07f424bf6.png)

[2016-11-23 13:19] lipki commented on #292
Yeah that's good, it makes it great.
I will test.

[2016-11-23 13:24] lipki commented on #291
I will look for the reason for this change on the forum.

[2016-11-23 15:21] joshmaster11 opened #293 "can you please do 1.5 on summerfilds i got the mods but i cant get the textures for vinla to work"
can you please do 1.5 on summerfilds i got the mods but i cant get the textures for og minecraft to work i will enjoy it

[2016-11-23 15:51] tobyplowy commented on #293
@joshmaster11 I Don't really understand what you're asking for are you asking for a older version of The pack for Minecraft 1.5?

[2016-11-23 16:13] lipki commented on #290
Really beautiful, I think that only miss the summerfields :)
I can play it, but I do not have the inventory of craft?

[2016-11-23 17:40] tobyplowy commented on #290
@lipki Yeah this game together with summerfields would be a masterpiece and that's an understatement!!!!
Sadly I won't be able to run the game just yet before I get my new computer which will be early to Middle next year so I won't be able to do all that much on the game side like testing the textures what I can do is make textures as long as you lipki put them here on github

[2016-11-23 23:57] joshmaster11 commented on #293
yea that is what im asking

[2016-11-24 10:09] tobyplowy commented on #293
@joshmaster11 I don't know it's Up To @lipki what do you think about this lipki

[2016-11-26 21:25] lipki commented on #293
1.5 ... yeah ...
wait

[2016-11-26 21:27] lipki commented on #293
Release 1.5 is here: https://github.com/SummerFields/SummerFields/releases/tag/R31
I did not put it on the site because ... bof ...

[2016-11-26 21:33] lipki commented on #290
We keep him under the elbow, and we'll deal with it later.
Priority to minetest for now.

[2016-11-26 21:36] tobyplowy commented on #290
Minetest Will update December 21, 2016 so we beter wate

[2016-11-26 21:37] tobyplowy commented on #290
@lipki so we Don't Skip Anything by accident

[2016-11-27 06:26] joshmaster11 commented on #293
okay ty

On Sat, Nov 26, 2016 at 4:27 PM, Lepeltier kévin <notifications@github.com>
wrote:

[2016-12-04 22:30] theguywholikesyellow opened #294 "can't download"
no matter what I do I'm unable to download the 1.11 version, i've tried the regular and custom version, neither one works

[2016-12-04 22:33] tobyplowy commented on #294
@theguywholikesyellow sorry for the trouble you're having you should be able to use this https://github.com/SummerFields/SummerFields/archive/master.zip

[2016-12-04 22:33] tobyplowy commented on #294
Also @lipki can you fix this

[2016-12-04 23:06] lipki commented on #294
@theguywholikesyellow This is correct, thank you for warning us.

[2016-12-10 12:52] FlorianDoyen95 opened #295 "Mc patcher is missing"
Hello,

First, I use your ressourcepack since a long time and I love it, but since 1.10 relase, all textures aren't connected each other like grass, snow, pigs and squid have loose their différent textures and leaves aren't semi-transparent.

I suggest you to introduce the mcpatcher folder in your new ressourcepack from the 1.8 one.
Cureently, i'm making my own 1.11 ressourcepack by putting mcpatc

[2016-12-10 13:09] tobyplowy commented on #295
@FlorianDoyen95 thank you for reporting your problem this is not something for me but more for lipki

[2016-12-10 13:09] tobyplowy commented on #295
@lipki ping

[2016-12-10 13:23] lipki commented on #295
I chose to separate the standard pack and mcpatcher so that it is less heavy to download.
You can use two pack at the same time with minecraft without having to open the zip
Simply select both.

Now it's true that I have trouble updating mcpatcher, I forget, and I assume that users also forget to use it.

Maybe I should re-merge.

[2016-12-10 13:29] FlorianDoyen95 commented on #295
Hello,

Thanks you very much to take on your time to answer me, i forgot that we
can combine two packs...

I love your ressourcespack, you have all my support !

Snykeurs

Le 10 déc. 2016 2:23 PM, "Lepeltier kévin" <notifications@github.com> a
écrit :

[2016-12-15 22:16] lipki opened #296 "16w50a"
new iron nugget
![iron_nugget](https://cloud.githubusercontent.com/assets/401965/21244261/11f4154e-c31d-11e6-8e98-72d75ee3a3ca.png)
new attack indicator
![icons](https://cloud.githubusercontent.com/assets/401965/21244297/4467f39c-c31d-11e6-9bfc-f4d825c6eca8.png)

[2016-12-15 22:39] lipki commented on #296
![material_nugget_iron](https://cloud.githubusercontent.com/assets/401965/21244555/7ddcb65c-c31e-11e6-84cc-e85ce88a558e.png)
![icons](https://cloud.githubusercontent.com/assets/401965/21244845/bbbd1e52-c31f-11e6-9967-1f1c64ec6b49.png)

[2016-12-15 22:54] lipki commented on #296
https://github.com/SummerFields/SummerFields/commit/8318fc2f0b740488e1b08896b5a3c09f285bc42a

[2016-12-15 22:54] #296 closed

[2016-12-18 12:47] tobyplowy opened #299 "support for Minecraft Education Edition"
@lipki you can get it here (Note) use I’M AN ADMINISTRATOR otther options dount work

[2016-12-18 12:58] tobyplowy commented on #299
@lipki also the Camera is finaly added http://minecraft.gamepedia.com/Camera

Camera texture
![camera](https://cloud.githubusercontent.com/assets/16853304/21293591/eb799c36-c529-11e6-88a3-f48a0de1d72b.png)
what it looks like in game
![150px-camera](https://cloud.githubusercontent.com/assets/16853304/21293592/f28999b8-c529-11e6-97d6-d5439597199e.png)

[2016-12-18 13:00] tobyplowy commented on #299
@lipki also i cant get Education Edition in my country but you live in france maby you can if so just give me a copple textures to do and i will see what i can do

[2016-12-22 03:12] Jackywaii789 opened #300 "Summerfields pack"
Minecraft Summerfields 1.11x cannot downloads ?

[2016-12-22 08:46] tobyplowy commented on #300
@lipki ping this is the second time this happens :/

[2016-12-22 08:48] tobyplowy commented on #300
@Jackywaii789 You should be able to download It using this link https://github.com/SummerFields/SummerFields/archive/master.zip

[2016-12-28 18:56] kyzumi commented on #300
I came here for this issue and I am glad to have found an answer :) Thanks

[2017-01-10 23:37] CosplayAssassin opened #301 "Doesn't work??"
So I tried downloading from the official site, but failed at it. So I came here looking for a solution. I downloaded the link to the 'master' file but Minecraft does not acknowledge that it is even in my resource pack folder at all. Am I doing something wrong with this?

[2017-01-11 07:34] tobyplowy commented on #301
@lipki please fix this there's already 3 people who reported the same thing

[2017-01-11 07:35] tobyplowy commented on #301
@CosplayAssassin you can get it here https://github.com/SummerFields/SummerFields/archive/master.zip

[2017-01-11 19:57] CosplayAssassin commented on #301
Thank you. I have managed to get the master file to work. My computer was being picky about it being a zipped file.

[2017-01-22 00:20] precariusa commented on #301
@CosplayAssassin So how did you get it to work??

[2017-01-22 00:22] tobyplowy commented on #301
@precariusa use this https://github.com/SummerFields/SummerFields/archive/master.zip sorry for all the trouble you guys are having ( sadly I can't fix it but lipki can)

[2017-01-22 00:25] precariusa commented on #301
@tobyplowy i tried but my mc doesnt recognise it as a zip? :(

[2017-01-22 00:27] tobyplowy commented on #301
@precariusa it works for me, I can't really help sorry :/

@lipki ping!

[2017-01-22 03:21] CosplayAssassin commented on #301
I actually unzipped the file. For some reason my computer(a dell) doesn't
read zip files with minecraft, so I have to unzip them every time.

On Sat, Jan 21, 2017 at 7:27 PM, Toby plowy <notifications@github.com>
wrote:

--
Lucien Edward Orient
Co-Chair FoxProject Events

Confidentiality Notice: The information transmitted in this email, is
intended only for the person or entity to which it is add

[2017-01-22 09:50] precariusa commented on #301
@CosplayAssassin And after unzipping it, which files did you put into the resource pack folder?

[2017-01-22 09:53] precariusa commented on #301
@CosplayAssassin Oh nevermind! Figured it out! Thanks for the help though and @tobyplowy :D

[2017-01-22 11:53] tobyplowy commented on #301
@precariusa no problem I help as much as I can

[2017-01-22 15:45] lipki commented on #301
I've corrected this problem normally, but I'll test.
Maybe the zip is badly done.

Sorry for the wait.

[2017-01-22 17:00] lipki commented on #301
I have no problem with the zip or download.
@tobyplowy can you test ?

[2017-01-22 17:04] tobyplowy commented on #301
@lipki it works for me

[2017-01-22 18:15] CosplayAssassin commented on #301
It works for me, it's just my computer is very old. Thank you everyone for
your help with this. Good work team!

On Sun, Jan 22, 2017 at 12:04 PM, Toby plowy <notifications@github.com>
wrote:

--
Lucien Edward Orient
Co-Chair FoxProject Events

Confidentiality Notice: The information transmitted in this email, is
intended only for the person or entity to which it is addressed and may
contain confi

[2017-01-22 19:35] #300 closed

[2017-01-22 19:35] #301 closed

[2017-02-05 21:24] tobyplowy opened #302 "New update soon 1.12"
- concrete #310
![concrete_black](https://cloud.githubusercontent.com/assets/401965/22757933/04ffbf5e-ee4d-11e6-923e-87a46f467254.png)![concrete_blue](https://cloud.githubusercontent.com/assets/401965/22757932/04fd8626-ee4d-11e6-9915-b03ed4e2fc41.png)![concrete_brown](https://cloud.githubusercontent.com/assets/401965/22757931/04fbd650-ee4d-11e6-9d83-998db954c664.png)![concrete_cyan](https://cloud.

[2017-02-05 21:31] tobyplowy commented on #302
@lipki sources

https://gfycat.com/MenacingSnivelingChimneyswift
https://mobile.twitter.com/jeb_/status/824946351725240320/photo/1

On The First Link you can see a gif of Pink Sand Getting droped into water and turning solid (I think the pink stuff is sand but I'm not sure) and in the second link you can see wool and The New Block (the same block you can see when the sand hits the water in the fir

[2017-02-08 21:30] lipki commented on #302
Je fais rapidement les concretes.

[2017-02-08 22:41] lipki commented on #302
![color](https://cloud.githubusercontent.com/assets/401965/22760712/ee8fa45e-ee57-11e6-8857-872079cfedd4.png)

[2017-02-09 11:28] tobyplowy commented on #302
brown terracotta
![brown terracotta](https://cloud.githubusercontent.com/assets/16853304/22781546/40404248-eec3-11e6-8b47-85dcb24b30cb.png)

[2017-02-09 11:50] tobyplowy commented on #302
lime terracotta
![green](https://cloud.githubusercontent.com/assets/16853304/22782178/269929b0-eec6-11e6-89c5-7834e6cad66e.png)

[2017-02-10 02:21] lipki commented on #302
awesome :D

[2017-02-10 10:56] tobyplowy commented on #302
@lipki what do you have already?

Also I may redo the brown one

[2017-02-10 16:26] lipki commented on #302
![concrete_powder_black](https://cloud.githubusercontent.com/assets/401965/22833752/67d0503c-efb3-11e6-9d35-1b9a60720595.png)![concrete_powder_blue](https://cloud.githubusercontent.com/assets/401965/22833751/67cdc6d2-efb3-11e6-8b5e-a0c71bfd1ad7.png)![concrete_powder_brown](https://cloud.githubusercontent.com/assets/401965/22833754/67d5c0e4-efb3-11e6-8e02-8dc40e27fb92.png)![concrete_powder_cyan](ht

[2017-02-10 16:39] tobyplowy commented on #302
@lipki I ment what terracotta patterns do you have

[2017-02-10 18:24] lipki commented on #302
Nothing.
I thought of the tiling.
Like that :
![test1](https://cloud.githubusercontent.com/assets/401965/22836309/285f15b0-efbc-11e6-8edf-05479bfb4d93.png)
![lime](https://cloud.githubusercontent.com/assets/401965/22836315/2d2476f8-efbc-11e6-994f-9e14b0c42ede.png)

[2017-02-10 18:28] tobyplowy commented on #302
@lipki yes that is nice can you give me that tile overlay

[2017-02-10 18:29] lipki commented on #302
I'm testing this?
![test2](https://cloud.githubusercontent.com/assets/401965/22838858/3c09fbba-efc7-11e6-99f6-e0670c5f148a.png)
![use5603](https://cloud.githubusercontent.com/assets/401965/22838865/3fd6db14-efc7-11e6-86d7-00c503a221e6.png)

[2017-02-10 18:32] lipki commented on #302
![test3](https://cloud.githubusercontent.com/assets/401965/22838950/a9bf3760-efc7-11e6-844f-317f134813f4.png)
![use5604](https://cloud.githubusercontent.com/assets/401965/22838957/af6ff2bc-efc7-11e6-82b2-60851951ff56.png)

[2017-02-10 18:38] tobyplowy commented on #302
@lipki Yes I like it but the color needs a little bit more work dark is too dark and pink is too pink ( I know this is a bad description XD )

[2017-02-10 18:53] lipki commented on #302
I improve the junction between the tiles, it makes it more repetitive.
And I cleared up.
![test3](https://cloud.githubusercontent.com/assets/401965/22839598/5e030326-efca-11e6-8671-023ab7bfc1b8.png)
![use5604](https://cloud.githubusercontent.com/assets/401965/22839603/622895d8-efca-11e6-84b9-41ef8de507a9.png)

[2017-02-10 18:55] tobyplowy commented on #302
Yes that is better

[2017-02-12 15:01] lipki commented on #302
![eyj1cmwioijodhrwoi8vchv1lnnol3raskz1lznizjjimgzhzjquanbnin0](https://cloud.githubusercontent.com/assets/401965/22863208/24bbee48-f13c-11e6-9e14-6179b2ca5ee1.jpg)
![eyj1cmwioijodhrwoi8vchv1lnnol3raskpolzewmtmzyzg1mdiuanbnin0](https://cloud.githubusercontent.com/assets/401965/22863211/283f3ac0-f13c-11e6-911d-f53efbb8dc54.jpg)
I think we should get to that, anyway.

[2017-02-12 15:02] tobyplowy commented on #302
Waw that is impressive

[2017-02-14 23:55] ZombehGoast opened #304 "Download issue"
I've been trying to download the newest version of your resource pack for several weeks, but every time I do it sends me to a 404 page not found page. Is there any other way to download your resource pack?

[2017-02-15 10:47] tobyplowy commented on #304
@lipki here we go again

[2017-02-15 10:48] tobyplowy commented on #304
@ZombehGoast you can use this https://github.com/SummerFields/SummerFields/archive/master.zip

[2017-02-20 19:30] lipki commented on #304
I rerererecorrect the link.

[2017-02-20 19:31] #304 closed

[2017-02-21 10:35] lipki opened #305 "A Best Release"
I always think about the right way to make releases, and I still do not know.
Apart from the customize that allows everyone to make that own version.
But I do not have time to do it.

But I thought.
The resource pack, now, have a version number, 1 2 3.

[code]
So we can only do three versions of pack.
- v1 - 1.6.1.... 1.8
- v2 - 1.9 .... 1.10
- v3 - 1.11 .... 1.12

I wanted to update old packs for

[2017-02-21 10:37] tobyplowy commented on #305
@lipki I like the idea of the 16x16 pack

[2017-02-21 18:47] tobyplowy commented on #305
@lipki im realy interested in the 16x pack

![default_wood](https://cloud.githubusercontent.com/assets/16853304/23179541/8e7460a2-f86e-11e6-9a9c-9320ef103fc7.png)

[2017-02-21 23:03] lipki opened #306 "Study of the feasibility of the 16x16 pack"
...
ref : http://www.minecraftforum.net/forums/mapping-and-modding/resource-packs/1242675-16x-greatwood-ready-for-1-8-1

[2017-02-21 23:10] lipki commented on #305
#306

[2017-02-22 16:19] tobyplowy commented on #306
@lipki shuld I start work on it?

[2017-02-22 18:20] tobyplowy commented on #306
@lipki i made this with the mt pack
![16x](https://cloud.githubusercontent.com/assets/16853304/23225914/f627c8cc-f933-11e6-9800-8b694cdee963.png)

[2017-02-23 20:25] lipki commented on #306
I'm surprised that it makes it so good.
and yes you can work on it, of course !

[2017-02-23 20:26] tobyplowy commented on #306
Can you make repositorys? One for MC and one for mt

[2017-02-23 20:39] lipki commented on #306
For now, we are testing.

[2017-02-23 20:43] tobyplowy commented on #306
@lipki Ok

[2017-02-28 00:01] tobyplowy opened #307 "i dount have permision to marge commits to master"
@lipki ping

[2017-02-28 01:13] lipki commented on #307
Make a pull request preferably.
And look if you can merge.

[2017-02-28 01:21] tobyplowy commented on #307
@lipki i dount have permision to make pr's

[2017-02-28 03:21] tobyplowy opened #308 "License Change?"
Wuzzy says

I don't know what I licenses mean but can we do anything with this ( make it a licence where you can use it for whatever you want as long as you give credit I don't know if that exists)

[2017-02-28 03:21] tobyplowy commented on #308
@lipki ping

[2017-02-28 10:58] RobertZenz commented on #308
A short explanation, SummerFields is currently licensed under CC-BY-SA-NC, so you must adhere to the following rules:

  * BY: Always name the author.
  * SA: If you modify it, you must license the result it under this or a compatible license.
  * NC: You're not allowed to make money of this.

The license says this regarding NC:

I'm not a lawyer, so I can't tell you what "Commercial" purposes are

[2017-02-28 11:19] tobyplowy commented on #308
@RobertZenz Wuzzy is One Of Those People Who really likes open source stuff (Linux PC and all programs on the PC are open source)

That would make a lot of Sense with the quote Underneath

I dount think it's Because he cant Make Money Of It (That's really unlikely because what he's making is %100 free)

Take a look at wuzzy's project https://forum.minetest.net/viewtopic.php?f=50&t=16407

[2017-02-28 12:46] MuhdNurHidayat commented on #308
The only thing it's problematic is because it's not backward compatible with any other open license/free license while being a open license itself, but it did creates confusion to the extend that -NC is regarded as not a real open license...

Try reading some articles on -NC:
1. http://esr.ibiblio.org/?p=4559
2. https://blog.okfn.org/2013/01/08/consequences-risks-and-side-effects-of-the-license-mo

[2017-02-28 13:46] lipki commented on #308
Whatever the license, the "nc" is non-negotiable.

[2017-02-28 14:01] lipki commented on #308
My answer is short, and gives the impression that I am not open to argument :)
This is not the case.
The fact is that commercial use of the summerfield requires the agreement of the original author, and the current license allows it.
And protects the author from commercial use without agreement.

And if another license offers the same benefits, we can study the issue.

[2017-02-28 14:06] tobyplowy commented on #308
@lipki can you please ask LithiumSound

[2017-02-28 14:24] RobertZenz commented on #308
I can only speak for myself, but I suck at anything that involves art...but I do know quite a lot about FLOSS and associated licenses. And there seemed to be some confusion initially, so I tried to clear that up.

[2017-02-28 14:27] tobyplowy commented on #308
@lipki I make contributions, not that much anymore but Still do ( I'm currently working on Summerfields 16x16 so that's why I'm not doing much contributions sorry lipki should I work harder?)

[2017-02-28 14:46] Wuzzy2 commented on #308
Hi all! I'm the one behind MineClone 2. Maybe I should explain my motivations.

The point of MineClone 2 is to be 100% free software clone of Minecraft.
One aspect of [free software](https://www.gnu.org/philosophy/free-sw.html) is to be usable for any purpose. A clause which forbids commercial use violates this. So I can't use CC BY-SA-NC, because if I do, MineClone 2 will cease to be free softwar

[2017-02-28 23:02] lipki commented on #308
LithiumSound does not answer for a long time, but it remains the author.
@RobertZenz does not take my reflection badly, it was not bad.
@tobyplowy this remark does not concern you, obviously, for me today the Summerfield, it's us both.
@ Wuzzy2
Nothing to say, I agree with you, and I understand your choices.
As I said the NC is not negotiable, unless the author says so.
Other projects wanted to us

[2017-03-01 05:38] tobyplowy commented on #306
![16x](https://cloud.githubusercontent.com/assets/16853304/23447221/b68ef526-fe49-11e6-8884-79ac682027d3.png)

[2017-03-02 20:08] RobertZenz commented on #308
@lipki No offence taken, I consider your "criticism" valid, though, that was why I responded to it.

[2017-03-06 12:03] tobyplowy opened #309 "Update topic on PMC"
We should post a new topic on pmc (planet Minecraft)

[2017-03-08 20:15] #299 closed

[2017-03-08 20:16] tobyplowy commented on #261
@lipki is this done?

[2017-03-25 02:05] tobyplowy commented on #302
@lipki more news!

[2017-03-25 02:22] tobyplowy commented on #302
@lipki colord beds are a ting!

[2017-03-25 02:23] tobyplowy commented on #302
@lipki horse model will be remade

[2017-03-25 02:24] tobyplowy commented on #302
@lipki and parots yes fucking parots

# I'M SO HYPED

[2017-03-25 12:15] tobyplowy commented on #309
@lipki ping

[2017-03-25 13:04] tobyplowy commented on #302
@lipki what do you think of this?
![kkkkkkkkkkk](https://cloud.githubusercontent.com/assets/16853304/24322403/f89ee7f0-1163-11e7-8b9c-53656c8efd0c.png)

[2017-03-30 10:53] tobyplowy commented on #302
parrot_red_blue
![parrot_red_blue](https://cloud.githubusercontent.com/assets/16853304/24500954/d5bc312e-1547-11e7-9fcf-b4aabfb63353.png)

[2017-03-30 11:13] tobyplowy commented on #302
parrot_yellow_blue
![parrot_yellow_blue](https://cloud.githubusercontent.com/assets/16853304/24501605/870e19cc-154a-11e7-931d-c8f616c330f3.png)
parrot_blue
![parrot_blue](https://cloud.githubusercontent.com/assets/16853304/24501606/870ea86a-154a-11e7-9eda-de8ae130e14c.png)
parrot_green
![parrot_green](https://cloud.githubusercontent.com/assets/16853304/24501607/871037d4-154a-11e7-8e83-2ecdcfe0e633

[2017-03-30 11:13] tobyplowy commented on #302
@lipki can you do the rest of the tracotta?

[2017-03-30 16:03] tobyplowy commented on #302
@lipki crafting_table.png update
![crafting_table](https://cloud.githubusercontent.com/assets/16853304/24514032/2de664ac-1573-11e7-96dd-7d9b449c0ed6.png)

[2017-03-30 16:40] tobyplowy commented on #302
new spectral_arrow
![spectral_arrow](https://cloud.githubusercontent.com/assets/16853304/24515577/54a59446-1578-11e7-9b13-e8f3c09cd5cd.png)
this makes it look more magical

[2017-04-01 17:40] lipki commented on #302
ok ok :) i'm here.

[2017-04-01 18:09] lipki commented on #302
Your parrots are great, my favorite is the yellow blue.
The beaks are perfect.
But blue is a too violet, I find.

[2017-04-01 18:21] lipki commented on #302
I updated the first post.
I will make the issues for each change.

[2017-04-01 18:23] lipki opened #310 "[1.12] concrete"
![concrete_black](https://cloud.githubusercontent.com/assets/401965/22757933/04ffbf5e-ee4d-11e6-923e-87a46f467254.png)![concrete_blue](https://cloud.githubusercontent.com/assets/401965/22757932/04fd8626-ee4d-11e6-9915-b03ed4e2fc41.png)![concrete_brown](https://cloud.githubusercontent.com/assets/401965/22757931/04fbd650-ee4d-11e6-9d83-998db954c664.png)![concrete_cyan](https://cloud.githubuserconten

[2017-04-01 18:25] lipki commented on #310
![concrete_black](https://cloud.githubusercontent.com/assets/401965/24581299/3192a190-1719-11e7-9000-6b2ab95f185a.png)![concrete_blue](https://cloud.githubusercontent.com/assets/401965/24581300/3195855e-1719-11e7-8328-a0349d01d4f2.png)![concrete_brown](https://cloud.githubusercontent.com/assets/401965/24581301/31991b88-1719-11e7-98db-d66484b42d22.png)![concrete_cyan](https://cloud.githubuserconten

[2017-04-01 18:25] lipki opened #311 "[1.12] terracotta"
![glazed_terracotta_black](https://cloud.githubusercontent.com/assets/401965/22757989/1c6cec3e-ee4d-11e6-82a6-ce12b3fdf84a.png)![glazed_terracotta_blue](https://cloud.githubusercontent.com/assets/401965/22757990/1c6ec34c-ee4d-11e6-9af6-06e3622ec41f.png)![glazed_terracotta_brown](https://cloud.githubusercontent.com/assets/401965/22757991/1c72189e-ee4d-11e6-99c2-1a16a9e3937c.png)![glazed_terracotta_

[2017-04-01 18:26] lipki commented on #311
![test3](https://cloud.githubusercontent.com/assets/401965/22839598/5e030326-efca-11e6-8671-023ab7bfc1b8.png)
![use5604](https://cloud.githubusercontent.com/assets/401965/22839603/622895d8-efca-11e6-84b9-41ef8de507a9.png)

[2017-04-01 18:27] lipki opened #312 "[1.12] Correction of cow's udders"
![cow](https://cloud.githubusercontent.com/assets/401965/24581341/9d4e1b4e-1719-11e7-8959-d14f3221ee6f.png)
![mooshroom](https://cloud.githubusercontent.com/assets/401965/24581342/9d517d20-1719-11e7-815b-0770a76d4162.png)

[2017-04-01 18:27] lipki opened #313 "[1.12] parrot"
- new mob, parrot
![parrot_blue](https://cloud.githubusercontent.com/assets/401965/24581158/6198924e-1716-11e7-8a46-feba4fe1f912.png)![parrot_green](https://cloud.githubusercontent.com/assets/401965/24581159/619befd4-1716-11e7-8d64-3cb25d1859c9.png)![parrot_grey](https://cloud.githubusercontent.com/assets/401965/24581160/619eb98a-1716-11e7-8d1e-50d7b6d400f6.png)![parrot_red_blue](https://cloud.git

[2017-04-01 18:28] lipki opened #314 "[1.12] Advancements"
- Achievements become advancements

background textures : ![nether](https://cloud.githubusercontent.com/assets/401965/24581206/89813030-1717-11e7-8254-d3dbb1823505.png)![stone](https://cloud.githubusercontent.com/assets/401965/24581207/8983de48-1717-11e7-8304-a69708754fde.png)![adventure](https://cloud.githubusercontent.com/assets/401965/25129073/c2bd3056-243c-11e7-8fc4-489f73e1ecf4.png)

![tabs](

[2017-04-01 18:28] lipki opened #315 "[1.12] Recipes book"
- recipes book #315
![crafting_table](https://cloud.githubusercontent.com/assets/401965/25129857/25b0c102-2440-11e7-88c5-eccc5b4edaee.png)![inventory](https://cloud.githubusercontent.com/assets/401965/25129945/8ad3c08e-2440-11e7-90e7-577b8bde561e.png)![recipe_background](https://cloud.githubusercontent.com/assets/401965/24581243/18b75644-1718-11e7-9fa9-ee16f436ebcd.png)![progress_book](https://clo

[2017-04-01 18:29] lipki opened #316 "[1.12] Iron nugget"
![iron_nugget](https://cloud.githubusercontent.com/assets/401965/24581264/8714b05a-1718-11e7-91ef-16968fb02784.png)

[2017-04-01 18:29] lipki commented on #316
![iron_nugget](https://cloud.githubusercontent.com/assets/401965/24581355/ef9ee5c2-1719-11e7-8482-c830c8636102.png)

[2017-04-01 18:30] lipki opened #317 "[1.12] Knowledge book"
![knowledge_book](https://cloud.githubusercontent.com/assets/401965/24581267/88d0a232-1718-11e7-8cd1-e6ff3366facc.png)

[2017-04-01 18:36] lipki commented on #302
You transfer your proposal, it's all good.

[2017-04-01 18:43] lipki commented on #317
![knowledge_book](https://cloud.githubusercontent.com/assets/401965/24581445/d5cfcdd0-171b-11e7-9013-3607585ef6c9.png)
i try this.

[2017-04-01 19:22] tobyplowy opened #318 "A new pack"
@lipki Would You be interested in making a new texture pack With Me?
This Would Be a completely New pack Made from Scratch
This is just a question we can talk about More details later

[2017-04-01 19:26] tobyplowy commented on #311
@lipki I think you should do this one I'm not good at this :/

[2017-04-01 19:49] tobyplowy commented on #317
@lipki looks good

[2017-04-01 20:14] tobyplowy commented on #315
crafting_table.png
![crafting_table](https://cloud.githubusercontent.com/assets/16853304/24582090/90fed162-1728-11e7-9d10-e1c9b21244f0.png)

[2017-04-01 20:30] tobyplowy commented on #318
@lipki ping

[2017-04-01 20:31] tobyplowy commented on #314
@lipki can you do window.png

![window](https://cloud.githubusercontent.com/assets/16853304/24582209/f1207814-172a-11e7-8f49-fd70f262337b.png)

[2017-04-01 20:33] tobyplowy commented on #316
@lipki can you make it 1 big peace instead of 3

[2017-04-01 20:34] tobyplowy commented on #313
![parrot_blue](https://cloud.githubusercontent.com/assets/16853304/24582223/407919b6-172b-11e7-9475-65a7a1378e51.png)
![parrot_green](https://cloud.githubusercontent.com/assets/16853304/24582224/4241a92a-172b-11e7-9555-6de8fb290493.png)
![parrot_red_blue](https://cloud.githubusercontent.com/assets/16853304/24582226/43a9213a-172b-11e7-8ad4-14824a7e8fe4.png)
![parrot_yellow_blue](https://cloud.githu

[2017-04-01 20:40] tobyplowy commented on #312
yes this was a problem i forgot to report it or did i i forgot ;/

[2017-04-01 20:43] tobyplowy commented on #315
inventory.png
![inventory](https://cloud.githubusercontent.com/assets/16853304/24582289/93e4f254-172c-11e7-9ca3-5ba603e3961f.png)

[2017-04-01 20:54] lipki opened #319 "New interface button"
I'm testing, what do you think?

![widgets](https://cloud.githubusercontent.com/assets/401965/24582343/fa718de2-172d-11e7-9a91-33801e85e99b.png)

[2017-04-01 21:04] lipki commented on #315
I find it better without support, just the book.
![inventory](https://cloud.githubusercontent.com/assets/401965/24582378/3a986976-172f-11e7-88ab-730db19d8db6.png)
![crafting_table](https://cloud.githubusercontent.com/assets/401965/24582399/7ac0ea78-172f-11e7-9aca-e83125604ed9.png)

[2017-04-01 21:05] lipki commented on #312
No worries, mojang also made a mistake :)

[2017-04-01 21:30] tobyplowy commented on #315
progress_book
![progress_book](https://cloud.githubusercontent.com/assets/16853304/24582575/24a1ec10-1733-11e7-818d-bcfd96558359.png)

[2017-04-01 21:31] tobyplowy commented on #315
@lipki this one took long XD

[2017-04-01 21:32] tobyplowy commented on #315
@lipki also i dount know what those 3 icones are i think the first is a cube
i will add them as soon as i know what it is

[2017-04-01 21:36] tobyplowy commented on #312
@lipki I consider this done :)

[2017-04-01 21:43] tobyplowy commented on #319
@lipki im not shure about the blue :/ but the new textures are nice

[2017-04-01 22:12] tobyplowy commented on #319
@lipki how is this?
![widgets](https://cloud.githubusercontent.com/assets/16853304/24582856/18c6a47a-1739-11e7-8482-87bfd50e0029.png)

[2017-04-01 22:16] tobyplowy commented on #315
recipe_background
![recipe_background](https://cloud.githubusercontent.com/assets/16853304/24582863/a8217884-1739-11e7-8c23-51d570efb492.png)

[2017-04-01 22:25] tobyplowy opened #320 "hay recolor"
in my opinion this looks better and less blinding XD

hay_block_top.png
![hay_block_top](https://cloud.githubusercontent.com/assets/16853304/24582890/9bfb3fee-173a-11e7-8ebf-b77a4875385b.png)
hay_block_side.png
![hay_block_side](https://cloud.githubusercontent.com/assets/16853304/24582892/9c1011ee-173a-11e7-8968-1cdda0cabe18.png)

[2017-04-01 22:25] tobyplowy commented on #302
hay recolor #320

[2017-04-02 00:41] lipki commented on #314
![tabs](https://cloud.githubusercontent.com/assets/401965/24582928/9e9abe54-173b-11e7-823a-df20ea8d186e.png)
![widgets](https://cloud.githubusercontent.com/assets/401965/24582927/9e989ec6-173b-11e7-8aa0-5176bd6ea36d.png)
![window](https://cloud.githubusercontent.com/assets/401965/24582929/9e9cdba8-173b-11e7-85cc-4e4133bef659.png)
![recipe_book](https://cloud.githubusercontent.com/assets/401965/245

[2017-04-02 00:45] lipki commented on #319
I'm not sure about the blue either, but, I think it takes a color.

[2017-04-02 00:46] lipki commented on #320
yep

[2017-04-02 00:52] lipki commented on #315
You put two covers :)

[2017-04-02 00:54] #312 closed

[2017-04-02 00:56] lipki commented on #318
Honestly i dont know if i have the time :)

[2017-04-02 00:58] lipki commented on #317
A little more blue
![knowledge_book](https://cloud.githubusercontent.com/assets/401965/24583591/2fcfd634-1750-11e7-9221-f29351e9abfe.png)

[2017-04-02 01:01] lipki commented on #309
I do not have the rights

[2017-04-02 01:09] lipki commented on #313
for the last : https://duckduckgo.com/?q=cacaotes&t=lm&iax=1&ia=images

[2017-04-02 01:12] tobyplowy commented on #315
@lipki oh i didn't notice that XD

Thank you for bringing this to my attention :) I will fix it later

[2017-04-02 01:19] tobyplowy commented on #317
@lipki yes it looks better like that

[2017-04-02 01:22] tobyplowy commented on #318
@lipki well we can work on it slowly

It's just an idea anyway it would be interesting what we can do together :)

[2017-04-02 01:24] tobyplowy commented on #313
@lipki [what the fuck is this XD](https://images.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.parrot-parrots.com%2Fphotos%2Ftextes%2Fespeces%2Fcacatoes%2Fcacatoes7.jpg&f=1)

[2017-04-02 10:33] tobyplowy commented on #315
progress_book with one cover :D
![progress_book](https://cloud.githubusercontent.com/assets/16853304/24586416/799a7904-17a0-11e7-9a7e-56058086e7ae.png)

[2017-04-02 10:55] tobyplowy commented on #313
parrot_grey.png
![parrot_grey](https://cloud.githubusercontent.com/assets/16853304/24586523/ad1882dc-17a3-11e7-86b3-ea24fce2c726.png)

[2017-04-02 10:56] tobyplowy commented on #313
kaketoe

[2017-04-02 11:52] tobyplowy opened #321 "new selection arrows"
world_selection
![world_selection](https://cloud.githubusercontent.com/assets/16853304/24586899/95a83f22-17ab-11e7-882d-37b66f34c764.png)
resource_packs
![resource_packs](https://cloud.githubusercontent.com/assets/16853304/24586900/95bb63fe-17ab-11e7-9dfd-67e6c7c99880.png)
server_selection
![server_selection](https://cloud.githubusercontent.com/assets/16853304/24586901/95cad474-17ab-11e7-9036-fbdd

[2017-04-02 12:53] tobyplowy opened #322 "new gravel texture"
![gravel](https://cloud.githubusercontent.com/assets/16853304/24587299/2221329e-17b4-11e7-944c-ef0d22ab18c5.png)

[2017-04-02 13:03] tobyplowy commented on #321
spectator_widgets
![spectator_widgets](https://cloud.githubusercontent.com/assets/16853304/24587368/8913c902-17b5-11e7-80fd-329379260e2e.png)
stats_icons
![stats_icons](https://cloud.githubusercontent.com/assets/16853304/24587369/8914c1e0-17b5-11e7-98a9-87b68be0cadb.png)

[2017-04-02 13:38] tobyplowy commented on #314
@lipki edit of your texture for recipe_book
![recipe_book](https://cloud.githubusercontent.com/assets/16853304/24587631/5866e3de-17ba-11e7-9186-613fa9f5c350.png)

[2017-04-02 13:40] tobyplowy commented on #313
@lipki done?

[2017-04-02 13:50] tobyplowy commented on #309
@lipki that suks close?

[2017-04-02 17:04] lipki commented on #309
No. I keep it for the record, I have to recover the rights.

[2017-04-02 17:30] tobyplowy commented on #309
@lipki ok

[2017-04-02 18:27] lipki commented on #315
We're waiting to see how it works.
It's a good start.

[2017-04-02 18:31] lipki commented on #321
yes ok

[2017-04-02 18:32] lipki commented on #322
XD

[2017-04-02 18:34] lipki commented on #318
Always proposes, opens a repo.

[2017-04-02 19:03] tobyplowy commented on #315
@lipki I hope I got rid Of The symmetry on the book so you can't see that it is copy pasted and mirrored :)

[2017-04-02 19:05] tobyplowy commented on #322
@lipki no idea why this is funny but ok :)

[2017-04-02 19:08] tobyplowy commented on #318
@lipki I don't really understand what you are saying

Are you asking me to make a repo?

[2017-04-02 19:17] lipki commented on #314
- the back of the window darker and desaturated.
- the blue buttons :) _ ( when we will agree on a color )
- the back of the boxes, to distinguish the impossible crafts.
- the smaller boxes.
![recipe_book](https://cloud.githubusercontent.com/assets/401965/24590195/59f7acb8-17e9-11e7-982b-95fa9f723460.png)

[2017-04-02 19:22] lipki commented on #318
You can create a repository on github, start suggesting textures, and explain what you want to do.
And if it inspires me, I would help you.

[2017-04-02 19:25] lipki commented on #315
I didn't realize at all, absolutely not, impossible, really, I do not see what you're talking about.

[2017-04-02 19:31] tobyplowy commented on #314
@lipki maybe a dark desaturated blue looks good (I have to test that thow)

[2017-04-02 19:32] lipki commented on #319
Here the colors tests.

[2017-04-02 19:37] tobyplowy commented on #315
@lipki now I'm confused sorry :/

[2017-04-02 19:40] tobyplowy commented on #319
@lipki can you make the little letter icone for Minecraft realms?

Next to the 12345!

[2017-04-02 20:40] lipki commented on #315
It was ironyIt was irony

[2017-04-02 20:45] lipki commented on #315
- add bookbinding
- color
- shadow
- And shifting the middle to the left to match the initial texture.
![progress_book](https://cloud.githubusercontent.com/assets/401965/24590882/97c34c58-17f5-11e7-9be6-14c39275c33b.png)

[2017-04-02 21:00] tobyplowy commented on #322
@lipki can you add it to the 1.12 Milestone?

[2017-04-02 21:01] tobyplowy commented on #320
@lipki can you add it to the 1.12 Milestone?

[2017-04-02 21:03] lipki commented on #319
I do not use realms and anyway it does not work anymore on the old launcher under linux.
Tell me what size does it.

[2017-04-02 21:04] lipki commented on #320
je l'ai ajouter chez moi.
je vais faire le commit.

[2017-04-02 21:08] tobyplowy commented on #310
@lipki some colors look like a solid colors thats a bit boring

these colors are black, red, dark green, and dark blue,

[2017-04-02 21:09] tobyplowy commented on #310
top row

[2017-04-02 21:23] tobyplowy commented on #319
@lipki can you do the thing thats in the red secle (or oval)
![18c6a47a-1739-11e7-8482-87bfd50e0029](https://cloud.githubusercontent.com/assets/16853304/24591170/387eb268-17fb-11e7-8827-fb46849771fa.png)

[2017-04-02 21:28] tobyplowy commented on #313
@lipki done?

[2017-04-02 21:28] lipki commented on #310
I just try to make them very smooth.
For example, black makes it possible to have a real black block, almost a void.
![capture du 2017-04-02 23-23-46](https://cloud.githubusercontent.com/assets/401965/24591197/e554e0ac-17fb-11e7-857b-ca31cb2ffe87.png)

[2017-04-02 21:29] lipki commented on #313
To participate, I made some changes.
![parrot_grey](https://cloud.githubusercontent.com/assets/401965/24591209/28c41600-17fc-11e7-8c5c-d804915eac2e.png)

[2017-04-02 21:31] lipki commented on #319
Yes, but can you tell me what size max.

[2017-04-02 21:39] tobyplowy commented on #310
@lipki Oh ok I see that's nice

[2017-04-02 21:41] tobyplowy commented on #319
@lipki nevermind​ you can't edit it :/

[2017-04-02 21:42] tobyplowy commented on #313
@lipki nice

[2017-04-02 21:50] #320 closed

[2017-04-02 21:50] tobyplowy commented on #318
@lipki
https://github.com/tobyplowy/temp-name
for now the project called temp-name and its a minetest pack but it can also be made for minecraft

please have a look at what i have so far

[2017-04-02 21:50] tobyplowy commented on #318
and give feedback :D

[2017-04-18 12:17] lipki commented on #302
update 17w15a

[2017-04-18 13:02] lipki opened #324 "[1.12] colored bed"
remove :
assets/minecraft/textures/blocks/bed_feet_end.png
assets/minecraft/textures/blocks/bed_feet_side.png
assets/minecraft/textures/blocks/bed_feet_top.png
assets/minecraft/textures/blocks/bed_head_end.png
assets/minecraft/textures/blocks/bed_head_side.png
assets/minecraft/textures/blocks/bed_head_top.png
assets/minecraft/textures/items/bed.png
add :
![black](https://cloud.githubusercontent.co

[2017-04-18 13:45] lipki commented on #324
![white](https://cloud.githubusercontent.com/assets/401965/25133413/eb858546-244c-11e7-8ca6-42005feba81e.png)

colored --- decorated
![black_2](https://cloud.githubusercontent.com/assets/401965/25133736/d89ee26e-244d-11e7-97e4-f515293a8abe.png)![black](https://cloud.githubusercontent.com/assets/401965/25133422/f000cc98-244c-11e7-8c44-57bd6738aada.png)

[2017-04-18 14:13] tobyplowy commented on #324
@lipki wait this update has dubble beds

[2017-04-18 14:48] lipki commented on #324
No it's just a proposition, with or without decor.

[2017-04-18 14:56] tobyplowy commented on #324
@lipki oh I see I think with decore is better

[2017-04-19 11:41] lipki commented on #324
![silver](https://cloud.githubusercontent.com/assets/401965/25177302/aa99442c-2501-11e7-94fb-0ad11d9d06f4.png)
![capture du 2017-04-19 13-09-18](https://cloud.githubusercontent.com/assets/401965/25177292/9cccac08-2501-11e7-8c7d-394e577e0263.png)

[2017-04-19 12:05] lipki commented on #314
background
![nether](https://cloud.githubusercontent.com/assets/401965/25179227/3b0544be-2509-11e7-896e-f5d4283c18ae.png)![stone](https://cloud.githubusercontent.com/assets/401965/25179228/3b0a4f54-2509-11e7-9a8d-d4dff165528f.png)![adventure](https://cloud.githubusercontent.com/assets/401965/25179226/3ad53b5c-2509-11e7-9b42-13b73afc73ac.png)

[2017-04-19 13:16] tobyplowy commented on #324
I rather have a wooden bed than metal

[2017-04-19 14:06] lipki commented on #314
![widgets](https://cloud.githubusercontent.com/assets/401965/25184170/f50f50e2-2519-11e7-9aff-1a8a4c748412.png)
![recipe_book](https://cloud.githubusercontent.com/assets/401965/25184181/01e86920-251a-11e7-92ba-81336346ce55.png)
![toasts](https://cloud.githubusercontent.com/assets/401965/25184190/07162b30-251a-11e7-8f31-9b5aecb44a63.png)

[2017-04-19 14:07] lipki commented on #315
![crafting_table](https://cloud.githubusercontent.com/assets/401965/25184273/4068c910-251a-11e7-8614-47cddba1e8c6.png)
![inventory](https://cloud.githubusercontent.com/assets/401965/25184286/4ae96624-251a-11e7-85ca-4b9016cb4092.png)

[2017-04-19 14:09] lipki commented on #319
![widgets](https://cloud.githubusercontent.com/assets/401965/25184366/82be61ee-251a-11e7-8ce0-b39ae3d44bfe.png)

[2017-04-19 15:19] lipki commented on #324
Yes, I have fun :)

[2017-04-19 15:30] tobyplowy commented on #324
@lipki I have a idea maybe it's a bad one maybe a good one

But wuld it look good if the white bed was a mattress without bed sheets?

[2017-04-19 16:10] tobyplowy commented on #324
@lipki how is this?
![e1ea2780-2456-11e7-8f41-a754232c6c6e](https://cloud.githubusercontent.com/assets/16853304/25190088/7afb6630-252b-11e7-81b3-3b49595d028d.png)

[2017-04-19 17:22] lipki commented on #324
Yeah it is very good, and I like the idea.

[2017-04-19 17:28] tobyplowy commented on #324
@lipki thanks :)

[2017-04-19 17:36] tobyplowy commented on #322
@lipki will this be added?

[2017-04-19 17:36] tobyplowy commented on #318
@lipki have you tryed it yet :D

[2017-04-19 17:39] tobyplowy commented on #313
@lipki done?

[2017-04-19 17:47] tobyplowy commented on #319
@lipki yes that color is good

but the lock difficulty button is not working corectly

[2017-04-19 17:50] tobyplowy commented on #321
@lipki can you do the ! simbol in the first picture

[2017-04-19 18:07] tobyplowy commented on #319
fix
![widgets](https://cloud.githubusercontent.com/assets/16853304/25194784/cb796de0-253b-11e7-8e29-e3db470c5065.png)

[2017-04-19 18:14] tobyplowy commented on #302
@lipki the dispenser gui may need some inprovement

[2017-04-19 20:50] lipki commented on #313
Yes but we wait for 1.12 to close

[2017-04-19 20:51] lipki commented on #321
Yes, it remains that one.

[2017-04-19 20:55] lipki commented on #302
Which ?

[2017-04-19 20:56] lipki commented on #311
Well, we gotta find something for that.

[2017-04-20 09:08] tobyplowy commented on #302
@lipki
![dispenser](https://cloud.githubusercontent.com/assets/16853304/25222745/a7fa518a-25b9-11e7-93fc-00704308e9fc.png)
this one

[2017-04-20 11:17] lipki commented on #302
Yes, but what improvement.

[2017-04-20 13:48] tobyplowy commented on #302
@lipki the stone tiles need to be randomized a bit

[2017-04-20 15:05] lipki commented on #302
Make a issue for that.
But, I don't find it very serious.

[2017-04-20 15:52] lipki commented on #321
![world_selection](https://cloud.githubusercontent.com/assets/401965/25240041/1c5c4ad2-25f2-11e7-9f81-b64e28a0262e.png)

[2017-04-20 16:00] lipki commented on #321
![stats_icons](https://cloud.githubusercontent.com/assets/401965/25240496/42b9f5de-25f3-11e7-9b4a-c75c9dd502e9.png)

[2017-04-20 16:26] #319 closed

[2017-04-20 19:06] tobyplowy commented on #321
@lipki looks good

[2017-04-20 19:16] tobyplowy commented on #321
@lipki done?

[2017-04-20 19:17] tobyplowy commented on #311
@lipki maybe we should copy the original designs (so we don't brake patterns that poeple have already made)

[2017-04-20 19:22] tobyplowy commented on #314
@lipki you may wanna add a search area the recipe book gui

So you know that you can type to search do I do it or you?

[2017-04-20 20:02] #321 closed

[2017-04-20 20:04] lipki opened #326 "[1.12] Illusionist"
![illusionist](https://cloud.githubusercontent.com/assets/401965/25250310/59ed6354-2615-11e7-8aa5-329d9d299bb6.png)

[2017-04-20 20:46] #308 closed

[2017-04-20 20:46] #295 closed

[2017-04-20 20:47] #294 closed

[2017-04-20 20:49] lipki commented on #326
Noted

[2017-04-20 21:34] lipki commented on #314
![toasts](https://cloud.githubusercontent.com/assets/401965/25253281/8b61ee40-2620-11e7-8fcb-9d04a4fe5ec2.png)![recipe_book](https://cloud.githubusercontent.com/assets/401965/25253603/ddfe893c-2621-11e7-8d8b-0cd020e4a2bd.png)

[2017-04-21 07:11] tobyplowy commented on #308
@lipki I see you didn't get the License 0_o

[2017-04-21 11:12] lipki commented on #308
The current license does very well the job.

[2017-04-22 13:25] tobyplowy commented on #326
@lipki i have no idea what to do with it :/
![illusionist](https://cloud.githubusercontent.com/assets/16853304/25304847/e21719fe-276f-11e7-8249-604890e30e62.png)

[2017-04-22 15:25] lipki commented on #326
I like the face and the eyes in the shadow.
But the clothes are too black.
Evoker and witch is already very black.

[2017-04-22 15:33] tobyplowy commented on #326
@lipki what wuld you do with the clothes?

[2017-04-22 16:14] lipki commented on #326
You said you wanted to.
I make you trust.

[2017-04-22 16:15] tobyplowy commented on #326
@lipki I Donno what to do with the clothes

[2017-04-23 13:38] lipki commented on #326
Maybe watch the disney magician.
Or figures of magicians in pop culture, video games.

[2017-04-24 20:04] tobyplowy commented on #326
![illusionist](https://cloud.githubusercontent.com/assets/16853304/25356277/e7f424fe-2939-11e7-9982-28504df8a594.png)

[2017-04-25 22:04] lipki commented on #326
ihihih :D
![capture du 2017-04-25 23-59-05](https://cloud.githubusercontent.com/assets/401965/25409774/adf4a0fa-2a13-11e7-8d77-695ece61edaf.png)
![illusionist](https://cloud.githubusercontent.com/assets/401965/25409789/bbe68570-2a13-11e7-8f27-516b63771735.png)
![latest](https://cloud.githubusercontent.com/assets/401965/25409835/e91432cc-2a13-11e7-8812-7ac50fc08b14.png)

[2017-04-26 11:18] tobyplowy commented on #326
@lipki I like the mummygician :)

I wish I was so good at this like you :/

[2017-04-26 11:23] tobyplowy commented on #326
@lipki also the one based on the picture looks super evil :)

[2017-04-26 11:29] tobyplowy commented on #326
@lipki how do you make your textures?

Do you just make the texture and see how it looks in game
Or Do you have Some Kind of program that shows you the model in 3d? (Like Nova skin or blender)
Or do you just have a really good sense of visualising the models in your head?

[2017-04-26 13:19] lipki commented on #326
Since time, I visualize models very well in my head.
But I regularly watch in the games.
I enclose the mob in a prison of block barrier, and then I refresh with F3 + T.

For ideas, I do a search on the internet, in the images.
And I reuse a lot of the existing textures.

The momy is a body of pigmen, gray, with pieces of gold armor.
The cape is the texture of the banner, with the crown of the gold

[2017-04-26 13:23] lipki commented on #326
[william kaplan](http://marvel.wikia.com/wiki/William_Kaplan_(Earth-616)) is not a bad guy though.

[2017-04-26 15:09] tobyplowy commented on #326
No I didn't so that's a good job :)

[2017-04-26 15:10] tobyplowy commented on #326
@lipki also thank you for explaining :)

[2017-05-02 16:22] chengzzi89 opened #327 "hi"
Hello I'm coming.

[2017-05-02 16:23] chengzzi89 commented on #302
good boy!

[2017-05-02 17:51] tobyplowy commented on #327
@chengzzi89 coming for what?
To help?

[2017-05-02 18:36] lipki commented on #327
yes, see twitter.
[MCPE#1](https://github.com/SummerFields/MCPE/issues/1)

[2017-05-04 13:05] lipki commented on #327
@chengzzi89 I like your idea of discord, but I can not join you, the invitation expired.

[2017-05-04 13:43] tobyplowy commented on #327
@lipki I don't think discord is a good idea I think we should stay with GitHub

[2017-05-04 14:04] lipki commented on #327
No, the "issues" are good to discuss of one change, but not to telling our lives.
As is the case here.
It will be necessary to make an "issue" for each decision taken on discord.

Finally discord or other things, you know a free tool?

[2017-05-04 14:08] lipki commented on #327
I opened this, when you arrived.
https://framateam.org/summerfields/channels/town-square

[2017-05-04 14:09] tobyplowy commented on #327
@lipki Gitter is interesting the minetest good morning craft project uses it
https://gitter.im/good-morning-craft/Lobby

Maybe we can open one for Summerfields?

[2017-05-04 14:21] lipki commented on #327
https://gitter.im/Summerfields/Lobby
If we have to choose a tool, I prefer it free (open source).

[2017-05-04 17:33] lipki commented on #327
https://framateam.org/signup_user_complete/?id=zdkutw38dbndpdqqznftpxra7r
for test

[2017-05-05 14:03] chengzzi89 opened #328 "new sounds"
I have a question! Why doesn't SummerFields have sounds? I think we should have this project!

[2017-05-05 15:17] tobyplowy commented on #328
@chengzzi89 i think it's because it takes alot of time (more than me and lipki heve)

And in my opinion the time it takes is not worth it

[2017-05-05 16:09] chengzzi89 commented on #328
@  OK! Oh, I see！ You've been working hard！

[2017-05-05 17:18] tobyplowy commented on #328
@chengzzi89 there's no need to close yet lipki may like it (also I didn't say no I sayd it may take too much time)

@lipki Can you give me the rights to close and reopen alredy closed issues also to edit milestones

[2017-05-09 09:31] lipki commented on #328
I can't, I'm bad in souds :)

[2017-05-09 09:49] lipki commented on #328
@tobyplowy I can not. I do not find the settings.
You can comment the closed "issues", I would see.

[2017-05-09 11:25] tobyplowy commented on #328
@lipki ok :/

[2017-05-09 11:28] tobyplowy commented on #328
@lipki so do we consider this something we should try or do we leave it?

(Because I'm not good with making sounds but I can try you say yes or no it's your call to make is this important enough)

[2017-05-09 14:01] RobertZenz commented on #328
@lipki Collaborators do have the right to do that (and more, obviously). There is no "fine-grained" permissions as far as I know.

[2017-05-10 13:35] lipki commented on #328
I only found this:

- Owner
    Has full administrative access to the entire organization.

- Member
    Can see every team and member in the organization, and can create new repositories.

[2017-05-31 00:47] chengzzi89 commented on #311
glazed terracotta When can all be done?😃😃😃

[2017-05-31 06:52] tobyplowy commented on #311
@chengzzi89 probably never XD no but really it will take alot of effort and time to make new designs (I think we should remake the original 16x16 textures but in 32x32 and recolor them to fit the Summerfields color palette

[2017-05-31 06:53] tobyplowy commented on #311
@lipki do you agree with the above comment?

[2017-06-01 13:52] chengzzi89 commented on #311
Agree, I think so!😋

[2017-06-06 02:56] chengzzi89 commented on #302
![](https://cloud.githubusercontent.com/assets/401965/22838957/af6ff2bc-efc7-11e6-82b2-60851951ff56.png)
I feel this is more like a pebble!

[2017-06-06 03:51] chengzzi89 commented on #302
This is a preliminary draft, may be a bit ugly!
![timg](https://cloud.githubusercontent.com/assets/28303754/26813062/43dd9044-4aae-11e7-813c-f45e75027177.jpg)
![default](https://cloud.githubusercontent.com/assets/28303754/26813068/4b0bd60a-4aae-11e7-9343-bf897ded2757.png)

[2017-06-06 04:34] chengzzi89 commented on #324
![tim](https://cloud.githubusercontent.com/assets/28303754/26813956/7a5705be-4ab4-11e7-8838-98feb937749c.png)
![qqqw](https://cloud.githubusercontent.com/assets/28303754/26813960/7d576c22-4ab4-11e7-9152-c64b66e30210.png)

[2017-06-06 04:36] chengzzi89 commented on #302
![tim](https://cloud.githubusercontent.com/assets/28303754/26813990/a5bf9f5e-4ab4-11e7-8964-668ab8371e27.png)
![qqqw](https://cloud.githubusercontent.com/assets/28303754/26813991/a86ddb6c-4ab4-11e7-9431-2553cd14e56f.png)

[2017-06-06 04:42] chengzzi89 commented on #302
ok？
![timg 4](https://cloud.githubusercontent.com/assets/28303754/26814119/98ae42a6-4ab5-11e7-92cd-9fce63a27200.png)
![uyuu](https://cloud.githubusercontent.com/assets/28303754/26814124/9ae61c38-4ab5-11e7-98b0-32d540f70df2.png)

[2017-06-06 05:09] chengzzi89 commented on #302
![timg 3](https://cloud.githubusercontent.com/assets/28303754/26814592/4ac508f0-4ab9-11e7-8441-b9e2eba36170.png)
![wwee](https://cloud.githubusercontent.com/assets/28303754/26814599/4ee8c2be-4ab9-11e7-9614-3811a3195557.png)

[2017-06-06 10:01] tobyplowy commented on #302
@chengzzi89 those look really nice

[2017-06-06 10:02] tobyplowy commented on #302
I like the blue one but it needs more texture :)

[2017-06-07 12:01] lipki commented on #302
Yes ok, that's fine.
If you get all the things :) (courage)
It will have to touch up the colors, but for now it's not important.

Good luck.

[2017-06-10 17:27] lipki commented on #317
done

[2017-06-10 17:30] lipki commented on #326
done ... magiptien ?

[2017-06-10 17:32] lipki commented on #324
done

[2017-06-10 17:44] tobyplowy commented on #326
@lipki Yes Also please check before you post a comment :)

It's kind of hard to read sometimes

[2017-06-10 20:48] lipki commented on #326
magicien - egyptien -> magiptien
Magician - egyptian -> magiptian
;D

[2017-06-10 21:41] #313 closed

[2017-06-10 21:43] lipki commented on #316
You have arguments ?

[2017-06-10 21:56] tobyplowy commented on #316
Yes this \/

[2017-06-10 22:12] #324 closed

[2017-06-10 22:16] #317 closed

[2017-06-10 22:25] #315 closed

[2017-06-10 22:43] #314 closed

[2017-06-10 23:02] #326 closed

[2017-06-10 23:03] #328 closed

[2017-06-10 23:03] #327 closed

[2017-06-10 23:04] tobyplowy commented on #322
@lipki done?

[2017-06-10 23:05] tobyplowy commented on #318
@lipki close?

[2017-06-10 23:07] lipki commented on #322
yep

[2017-06-10 23:09] #322 closed

[2017-06-10 23:09] #310 closed

[2017-06-11 13:05] lipki commented on #292
I had forgotten this issue, I add this in 1.12.

[2017-06-11 13:06] #292 closed

[2017-06-11 13:32] lipki commented on #291
I think it's a good idea to have some pumpkin switched off and on.
On the other hand, there was a problem with the items.

[2017-06-11 13:37] #293 closed

[2017-06-11 13:38] #233 closed

[2017-06-11 13:46] lipki commented on #316
Yeah! Bah! I have no idea, so for now I keep that one.
And I leave the ticket open.

[2017-06-11 13:52] lipki commented on #311
for wait, i add the faithful terracotta.

[2017-06-11 14:00] lipki commented on #302
Hello @chengzzi89, could you put your terracotta textures here # 311, please.

[2017-06-11 14:10] lipki commented on #302
https://github.com/SummerFields/SummerFields/releases/download/fp3-2b/SummerFields.fp3-2.1.11-1.12.zip

Here is the release 1.12

I test the new release system, so it's version fp3-2 (beta for now)
Compatible with 1.11 and 1.12

It remains to do the readme, and the icon of the pack.
For the icon, I do not know what to put, the concrete is a sad one, and we have not yet glazed terracotta.

[2017-06-11 14:27] tobyplowy commented on #291
But with that the off pumpkin has no hole for light to go through so where is the light coming from?

[2017-06-11 14:30] tobyplowy commented on #302
@lipki why not use a parrot for the icon?

[2017-06-11 14:42] tobyplowy commented on #302
@lipki also will you update the website?

[2017-06-11 14:48] tobyplowy commented on #302
@lipki if you do update the website can you also add a minetest 0.4.16 update

[2017-06-11 16:29] chengzzi89 commented on #311
@lipki Really sorry! I have already done my best!😟😔
![1](https://user-images.githubusercontent.com/28303754/27012486-e81f6dd2-4f02-11e7-9879-bb7a317a6bbe.png)![2]https://user-images.githubusercontent.com/28303754/27012489-02f89cdc-4f03-11e7-9164-f056ed556620.png)![3](https://user-images.githubusercontent.com/28303754/27012533-c7254c68-4f03-11e7-9045-ca90cd9b8448.png)![4](https://user-images.github

[2017-06-11 16:38] lipki commented on #302
I always use a block except for the shulker, but it is cubic.
But I think about parrots, that's true.
You made the 3d model !?

For the website, I'm waiting for you to test, I do it tomorrow.
And I will add the update of minetest sorry to have forgotten.

[2017-06-11 16:43] lipki commented on #311
Do not worry @chengzzi89, what you do is very good, it does not matter if it is not finished now, the important thing is that we like it.
We all worked well all three.

[2017-06-11 16:55] tobyplowy commented on #311
@chengzzi89 You did a nice job with those

[2017-06-11 16:59] tobyplowy commented on #302
I will have a look

That's ok you're human and humans forget things :)

[2017-06-11 17:15] tobyplowy commented on #302
@lipki parrot model remade by @22i
[parrot.zip](https://github.com/SummerFields/SummerFields/files/1066617/parrot.zip)

[2017-06-11 17:27] tobyplowy commented on #302
@lipki I found a problem with beds they dount have feet so they float :)

Also the bed feet end is upside-down shading is at the bottom but it should be at the top

[2017-06-11 17:52] tobyplowy commented on #302
@lipki and here is the fix for the beds
[bed.zip](https://github.com/SummerFields/SummerFields/files/1066641/bed.zip)

[2017-06-11 18:11] tobyplowy opened #329 "leaf fix"
birch and oak have the same leaf texture (thats not suposto be)

birch leaf
![image](https://user-images.githubusercontent.com/16853304/27013311-dd8da670-4ee1-11e7-9d87-8a91a6e2055b.png)
oak leaf
![image](https://user-images.githubusercontent.com/16853304/27013315-e86eabd4-4ee1-11e7-9c08-71201b8da155.png)

oak is good but birch needs a new texture

also theres no difrence between oak and dark oak

[2017-06-11 18:12] tobyplowy commented on #329
@lipki ping

[2017-06-11 19:04] tobyplowy commented on #302
update picture for the minetest update on the website
![minetest update](https://user-images.githubusercontent.com/16853304/27013700-76e2fbde-4ee9-11e7-8e9e-d729f2061aa9.png)

[2017-06-12 08:28] lipki commented on #329
Yes, it's true.
When it was necessary to add sheets, I did that quickly. At the time, I created very few new textures, just simple transformations.
But yeah, we have to change that.

[2017-06-14 10:44] glxy14colourse opened #330 "Andesite???"
Uhm... so.... Andesite is a great block. Builders often use it in castles and other builds with Stone bricks to bring in their builds more texture. So i have a bunch of screenshots of andesite and stone bricks.
Vanilla:
![2017-06-14_13 12 08](https://user-images.githubusercontent.com/29414200/27127581-412ca644-5104-11e7-9d76-6993e652aabd.png)
Summerfields:
![2017-06-14_13 11 35](https://user-image

[2017-06-14 11:35] tobyplowy commented on #330
@lipki yeh this looks like a problem

[2017-06-14 13:43] chengzzi89 commented on #311
@tobyplowy If you are not satisfied, we can also rework!😃

[2017-06-14 13:47] tobyplowy commented on #311
@chengzzi89 the textures are nice but the colors need some fixing
apart from that it's pretty much perfect

[2017-06-14 22:53] chengzzi89 commented on #311
@tobyplowy Color on my fixed is not very accurate, I hope you can help!

[2017-06-15 11:17] tobyplowy commented on #311
@chengzzi89 I will take a look at it later I already have insane amounts of work to do on other projects I help

Maybe @lipki can help?

[2017-06-18 17:55] chengzzi89 commented on #311
@tobyplowy 😟😞Suddenly on their own design is not satisfied!😞Just to see the Conquest texture of the glazed tiles, looking back at their own design, feeling ugly!

[2017-06-19 19:10] chengzzi89 commented on #330
@tobyplowy Cover a little warm tone？😮
![1497899388228](https://user-images.githubusercontent.com/28303754/27301501-fe97aebc-5565-11e7-81ba-356a0654f21a.png)
![1497899388419](https://user-images.githubusercontent.com/28303754/27301502-fe98dd28-5565-11e7-98f7-1b54ffef4d37.png)
![1497899388551](https://user-images.githubusercontent.com/28303754/27301504-fea03988-5565-11e7-9d5d-462aa6906f2d.png)
![149

[2017-06-19 20:05] tobyplowy commented on #330
@chengzzi89 yeh that seems good to me

[2017-06-26 14:46] chengzzi89 commented on #311
@tobyplowy The color fixes! I wonder if I can use it?😮？
![1498265162361](https://user-images.githubusercontent.com/28303754/27544966-36e54954-5ac1-11e7-90ae-9a2d1182787a.png)
![1498265162578](https://user-images.githubusercontent.com/28303754/27544964-36dbfbb0-5ac1-11e7-8076-eaa653314dc7.png)
![1498265162984](https://user-images.githubusercontent.com/28303754/27544963-36d604a8-5ac1-11e7-92f8-0d4fa

[2017-06-26 18:32] tobyplowy commented on #311
@chengzzi89 yeh that's good @lipki what do you think?

[2017-06-30 15:37] chengzzi89 commented on #311
Hi! Do you have Sina Weibo?😃

[2017-07-01 09:11] laPickle opened #332 "LeavesAndConnectedTextures not working.Forge+Optifine[1.8]"
I am using Forge, Optifine, Liteloader and a few mods.I thought these handled connected textures and transparency on their own but they wont work. I've tried running vanilla with mcpatcher but that doesnt work either.Edit: Grass is animated, has connected textures and doors are 3D .Help?

[2017-07-05 21:22] fridizkool opened #333 "Advancement and recipe book GUI"
[Advancements](http://imgur.com/a/4vNRG)
[Recipe book](http://imgur.com/a/4i5Oy)

**Recipe Book**
Recipe Book GUI
![recipe_book](https://user-images.githubusercontent.com/16827100/27885675-c5a57e84-61a6-11e7-841d-0c920c817535.png)
Inventory with Recipe Book
![inventory](https://user-images.githubusercontent.com/16827100/27885730-f5081fd8-61a6-11e7-8d47-c7a36af3c624.png)

**Advancements**
Window
![

[2017-07-05 22:26] tobyplowy commented on #333
@fridizkool eehhh not sure if this is an improvement
@lipki what's your opinion?

[2017-07-05 22:51] fridizkool commented on #333
these were just something that i made to further push the development of the 1.12 release. Their not great, however these were something that at least patch what is not already there. idk

[2017-07-05 23:04] tobyplowy commented on #333
@fridizkool We already made all textures
https://github.com/SummerFields/SummerFields/issues/314
https://github.com/SummerFields/SummerFields/issues/315

[2017-07-05 23:05] tobyplowy commented on #311
@chengzzi89 i dunno what Sina Weibo is :/

[2017-07-05 23:08] fridizkool commented on #333
well thats good to know, i have been going nuts