[2017-07-07 00:45] joshmaster11 commented on #293
can you re send this link

On Sun, Jun 11, 2017 at 9:37 AM, Lepeltier kévin <notifications@github.com>
wrote:

[2017-07-07 16:13] chengzzi89 opened #334 "HD 64X-SummerFields ??"
![img_20170707_235453](https://user-images.githubusercontent.com/28303754/27966626-7a197f92-6372-11e7-9661-7312e5c27c4a.jpg)
![img_20170707_235457](https://user-images.githubusercontent.com/28303754/27966627-7a1a6330-6372-11e7-99ad-888dd136b933.jpg)
![img_20170707_235500](https://user-images.githubusercontent.com/28303754/27966628-7a1da176-6372-11e7-9dfa-21fad126c5ba.jpg)
![img_20170707_235504](ht

[2017-07-07 16:16] tobyplowy commented on #334
@chengzzi89 This is what the website says and I agree

[2017-07-07 16:22] chengzzi89 commented on #334
@tobyplowy Do you have time to do it?😶

[2017-07-07 16:28] tobyplowy commented on #334
@chengzzi89 if lipki wantes to help yes

[2017-07-09 09:32] chengzzi89 opened #335 "1.12 new bed"
1.12 official version of the bed, it's the latest texture you do not know?
![black](https://user-images.githubusercontent.com/28303754/27992643-222b4940-64cc-11e7-96e5-f8726ba55bb1.png)![blue](https://user-images.githubusercontent.com/28303754/27992641-2228731e-64cc-11e7-8dc0-d8de1cd57131.png)![brown](https://user-images.githubusercontent.com/28303754/27992640-2227fa6a-64cc-11e7-94ff-9f4824230156.

[2017-07-09 09:36] chengzzi89 commented on #335
![black](https://user-images.githubusercontent.com/28303754/27992682-c366084a-64cc-11e7-83e1-89e14b2f99c7.png)![blue](https://user-images.githubusercontent.com/28303754/27992683-c3685384-64cc-11e7-9a5c-2ccef4039fa1.png)![brown](https://user-images.githubusercontent.com/28303754/27992684-c39e081c-64cc-11e7-9245-8e972a13fd76.png)![cyan](https://user-images.githubusercontent.com/28303754/27992685-c3a

[2017-07-09 10:16] chengzzi89 commented on #335
new bed
![black](https://user-images.githubusercontent.com/28303754/27992944-501a0750-64d2-11e7-9541-6bdb9e5cabbf.png)![blue](https://user-images.githubusercontent.com/28303754/27992942-5019b3ea-64d2-11e7-9fcf-3c42845e8160.png)![brown](https://user-images.githubusercontent.com/28303754/27992945-501a56e2-64d2-11e7-86af-8460b023c2e0.png)![cyan](https://user-images.githubusercontent.com/28303754/2799

[2017-07-10 15:30] lipki commented on #330
I like this blue, but I know it's weird.
I will think about it.
Made proposals with screens mixing the stones.

[2017-07-10 15:35] lipki commented on #333
It's my fault, I'm late for release 1.12.

[2017-07-10 15:38] lipki commented on #333
Thanks for your help Frizi.
Tell us what you think of the1.12 beta version.
https://github.com/SummerFields/SummerFields/releases/download/fp3-2b/SummerFields.fp3-2.1.11-1.12.zip

[2017-07-10 15:39] lipki commented on #293
https://github.com/SummerFields/SummerFields/releases/tag/R31
It's the same.

[2017-07-10 15:42] lipki commented on #334
Without me,

[2017-07-10 15:48] lipki commented on #311
I think that is very good. It's a good job. We have to test them, a little, to see if they fit right. I'll see if I can find a map for that.

[2017-07-10 15:50] tobyplowy commented on #334
@chengzzi89 well I guess that's a no than

[2017-07-10 15:54] tobyplowy commented on #334
@chengzzi89 but you can do it if you want I may join to help later If support for minetest is added
chengzzi89 you probably don't know minetest so here have look http://www.minetest.net

[2017-07-10 22:02] chengzzi89 commented on #334
@tobyplowy Maybe I just want to be a mere HD64X😄

[2017-07-10 22:02] #334 closed

[2017-07-13 18:38] lunapanshiel commented on #227
they were made by lithiumsound back when they were doing MCpatcher features, it was for randomobs to replace skins of people using the default "steve" skin with ones fitting summerfields. it got removed from the pack along with the CTM and randomobs textures for a while

[2017-07-13 19:03] RobertZenz commented on #227
@lunapanshiel You don't happen to have the link to a relevant forum thread or IRC discussion?

[2017-07-14 10:29] lipki commented on #227
Thanks for the info:)

[2017-07-23 06:14] garlicy opened #336 "Red ≠ Yellow"
Why are the Red Bricks Yellow in SummerFields resource packs?
![2017-07-23_09 07 51](https://user-images.githubusercontent.com/29414200/28497110-1fdc4296-6f87-11e7-8254-624cf75fb776.png)
![2017-07-23_09 08 07](https://user-images.githubusercontent.com/29414200/28497111-1fe2cec2-6f87-11e7-8504-20a5b3c1cb26.png)

Doesn't it kill all the Bricks buildings?

[2017-08-10 21:37] #332 closed

[2017-08-13 12:09] FlorianDoyen95 commented on #336
I change the texture of brick if you want :

![Uploading brick.png…]()

Bricks building look like this now :

![2017-08-13_14 05 29](https://user-images.githubusercontent.com/23485756/29249502-e5002c4a-8030-11e7-8cf9-b947ba2abab2.png)

[2017-08-15 21:39] #336 closed

[2017-09-08 19:47] tobyplowy commented on #335
@chengzzi89 yup looks good

[2017-09-18 10:58] #318 closed

[2017-10-03 15:41] tobyplowy opened #337 "Discussion"
@lipki are you still here why are you so inpresent?

[2017-10-18 12:18] lipki commented on #337
Yes, I am here...
Tell me what is most urgent.

[2017-10-18 12:36] tobyplowy commented on #337
@lipki can you help with this?
https://github.com/SummerFields/Summerfields-Minetest/issues/99

[2017-10-18 12:37] tobyplowy commented on #333
@lipki close?

[2017-10-18 12:43] tobyplowy commented on #337
@lipki also i think you should allow me to merge pull requests and make me collaborator
it will give you less work and i can make sure the minecraft version of summerfields stays updated
(i have already asked this and i got a no but that was in the beginning i have been helping summerfields for over 3 years i think you can trust me)

[2017-10-19 12:00] #333 closed

[2017-10-19 20:51] lipki commented on #337
You asked, and I did not say no, I said "I can not find a way" :)
But I'm back in the settings, and I think I have succeeded.
You should be able to do a lot of things now.
Tell me.

3 years ... waw! time passes so quickly :)
I am very happy that you are here, do not doubt it.

[2017-10-19 21:38] tobyplowy commented on #337
I will have to test it whin the next Minecraft version is released :)

I hope so XD
And I will tell you when I do something :)

Yeh it's scary how fast time gos

Thanks also I don't :)

[2017-11-23 16:36] tobyplowy commented on #337
@lipki they are adding corral to mc

can you make a kelp texure?

[2017-11-24 00:20] tobyplowy commented on #337
@lipki I'm having the feeling that you try to leave is that correct?
If so that would be sad but I will keep this pack updated as good as I can!

Also can we get the licence for Summerfields so we can make it open source?
And another question wuld i be allowed to use the textures in a personal project
(comesial use I don't whant to do that but I just wanted to know)

[2017-11-24 00:29] lipki commented on #337
I'm not playing Minecraft, Minetest, or anything at the moment.
And snapshots are rare.

But no, I have no intention of leaving Summerfield.

It's just that it's hard to stay motivated.

But the ads 1.13 and 1.14 make me very happy, and I intend to adapt the Summerfield for its new update.

[2017-11-24 00:31] tobyplowy commented on #337
@lipki Ok that's a relief
I was getting scared

[2017-11-24 00:40] tobyplowy commented on #337
Do you whant motivation well
know that Everytime there's an update for Minecraft or minetest there's 1000s (more than that) of people waiting for Summerfields to update becouse they love it just like you and me,

that's why we make updates for Summerfields becouse we want to take care of It,
Make sure It Stays Alive

Look at all the love time and care we have put into Summerfields we do it because

[2017-11-24 11:29] RobertZenz commented on #337
Also keep in mind that Summerfields is a quite awesome texture pack which can also be used for all kind of projects, not just Minecraft/Minetest.

[2017-11-24 12:20] tobyplowy commented on #337
@RobertZenz yeh exactly!

[2017-11-24 14:20] lipki commented on #337
It's nice,
Well, I contacted lithium sound, I'm sure this time if he will receive the message.
So if he answers me, I will be able to definitively settle this question of license.
If he does not answer, he does not care, which will also settle the problem of license.

[2017-11-24 14:31] lipki opened #338 "[1.13] renaming all textures"
They suck, really ...

[2017-11-24 14:59] tobyplowy commented on #338
@lipki hahahah yeh

[2017-11-24 15:02] tobyplowy commented on #337
Well it's true but we can not just steal Summerfields it's not nice :/

[2017-11-24 15:03] tobyplowy opened #339 "[1.13] Horses are broken"
The horse got a new model and with that comes a new texture :/
(The new horse model just looks so bad)

[2017-11-24 15:20] tobyplowy commented on #339
It seems People are really Negative about the new model (It Looks terrible I'm my opinion)
The devs are not sure if this will stay so I'm going to wait until I'm sure

[2017-11-24 15:23] tobyplowy commented on #337
I'm making the trapdoor textures

[2017-11-24 15:25] kingoscargames commented on #339
I hope it wont stay like that. xD

[2017-11-24 15:28] tobyplowy commented on #339
@kingoscargames dude what are you doing here
You are everywhere :/

[2017-11-24 16:16] tobyplowy commented on #337
slabs are added

[2017-11-24 16:19] lipki commented on #337
make a issue for trapdoor

[2017-11-24 16:30] lipki opened #340 "Update 1.13"
# Technical Update

renaming all textures #338

new trapdoor #341
![acacia_trapdoor](https://user-images.githubusercontent.com/401965/33218432-300c8762-d13d-11e7-85a8-df222d83da25.png)![birch_trapdoor](https://user-images.githubusercontent.com/401965/33218433-302d4088-d13d-11e7-8d72-4ed3a266fca3.png)![dark_oak_trapdoor](https://user-images.githubusercontent.com/401965/33218434-3052d352-d13d-11e7-8

[2017-11-24 16:32] lipki opened #341 "[1.13] new trapdoor"
![acacia_trapdoor](https://user-images.githubusercontent.com/401965/33218432-300c8762-d13d-11e7-85a8-df222d83da25.png)![birch_trapdoor](https://user-images.githubusercontent.com/401965/33218433-302d4088-d13d-11e7-8d72-4ed3a266fca3.png)![dark_oak_trapdoor](https://user-images.githubusercontent.com/401965/33218434-3052d352-d13d-11e7-8df4-c437e030d194.png)![iron_trapdoor](https://user-images.githubus

[2017-11-24 16:52] tobyplowy commented on #341
I have already added them

[2017-11-24 17:02] tobyplowy commented on #341
oak_trapdoor
![oak_trapdoor](https://user-images.githubusercontent.com/16853304/33219048-8eb51ee8-d140-11e7-9515-b3c789396812.png)
iron_trapdoor
![iron_trapdoor](https://user-images.githubusercontent.com/16853304/33219049-8ecd5346-d140-11e7-8350-36415ad82b38.png)
jungle_trapdoor
![jungle_trapdoor](https://user-images.githubusercontent.com/16853304/33219050-8ee64a68-d140-11e7-96d2-f0a7c76594af.png)

[2017-11-24 17:05] tobyplowy opened #342 "[1.12] java edition logo"
edition logo
![edition](https://user-images.githubusercontent.com/16853304/33219320-e8fa3496-d141-11e7-9c59-3d35df828447.png)

i whant to try to make this first if thats ok

[2017-11-24 17:08] lipki commented on #341
Not, the "side textures" are mine, I remake the 3d model.
We must do them.

She are very good these trapdoor.

[2017-11-24 17:09] tobyplowy commented on #340
we can also alredy prepere for this https://minecraft.gamepedia.com/Update_Aquatic

[2017-11-24 17:09] lipki commented on #342
yep

[2017-11-24 17:10] lipki commented on #340
no, we prepare 1.14 in another issue.

[2017-11-24 17:11] tobyplowy commented on #340
@lipki ok

[2017-11-24 17:14] tobyplowy commented on #341
ooooh ok i will make them

[2017-11-24 18:02] tobyplowy commented on #342
how is this
![edition](https://user-images.githubusercontent.com/16853304/33220623-0aefa16e-d14a-11e7-9ffb-b82c576adc77.png)

[2017-11-24 18:19] tobyplowy commented on #341
@lipki done

[2017-11-24 18:21] lipki opened #343 "[1.13] all button"
![stone_button](https://user-images.githubusercontent.com/401965/33220898-385053ea-d14c-11e7-807d-0df11fecf531.png)![wooden_button](https://user-images.githubusercontent.com/401965/33220900-386fcad6-d14c-11e7-8ef7-f82ecdec6411.png)

![stone](https://user-images.githubusercontent.com/401965/33220961-8af4e660-d14c-11e7-8f02-6416c370460a.png)![oak_planks](https://user-images.githubusercontent.com/401

[2017-11-24 18:28] tobyplowy commented on #337
Can I do https://github.com/SummerFields/SummerFields/issues/343

And can you already begin making the new horse textures

[2017-11-24 18:47] lipki commented on #337
Do you think they'll keep the new models?

[2017-11-24 18:50] lipki commented on #338
I did the renaming.
I have to modify all the models, but minecraft do not want to work anymore, so we'll see tomorrow.

[2017-11-24 19:31] lipki opened #344 "Questions for lithiumsound, it's time."

[2017-11-24 20:58] kingoscargames commented on #342
" [1.13] java edition logo"  its actually used in 1.12.2 :p

[2017-11-24 21:09] lipki commented on #344
Ah, génial.
Encore désolé d’être passé par Deezine.

Je parle au nom de La « Summerfield support Team » (nom que je viens d’inventer)
Qui existe principalement à travers l’organisation GitHub “Summerfield”
https://github.com/SummerFields
Une douzaine de participants, actuellement 2 réguliers :), mais c’est très variable.
Deux admins, CuddleWoozle et moi (lipki).

(Je vais dire “tu”, parce que le “

[2017-11-24 21:26] tobyplowy commented on #344
@lipki what is this issue for to say what we whant to ask to lithiumsound?

If so I think we should make Summerfields opensource free to edit and to distribute as long as they give a link to the original project ofcorse :)

[2017-11-24 21:28] tobyplowy commented on #249
Well I'm pulling the plug on this

[2017-11-24 21:28] #249 closed

[2017-11-24 21:32] tobyplowy commented on #311
@lipki so do we add @chengzzi89 s textures?

[2017-11-24 21:35] lipki commented on #344
I just sent him an email with this request.
As well as the planet minecraft password.

[2017-11-24 21:42] tobyplowy commented on #344
Ok

[2017-11-24 23:44] tobyplowy commented on #343
acacia
![planks_acacia](https://user-images.githubusercontent.com/16853304/33225546-b9b92d80-d179-11e7-9533-4a924ad0661a.png)
big oak
![planks_big_oak](https://user-images.githubusercontent.com/16853304/33225547-b9d0a820-d179-11e7-8157-59c3fce17cf8.png)
birch
![planks_birch](https://user-images.githubusercontent.com/16853304/33225548-b9e8fb78-d179-11e7-9568-e08a7c5fce34.png)
jungle
![planks_jungle

[2017-11-24 23:44] tobyplowy commented on #343
@lipki done :D

[2017-11-24 23:49] tobyplowy commented on #344
@lipki what if he doesent answer?

[2017-11-24 23:52] tobyplowy commented on #329
@lipki add to 1.13?

[2017-11-25 11:30] chengzzi89 commented on #341
😃

[2017-11-25 11:42] chengzzi89 commented on #341
So painful! I actually can not upload images!😖😣

[2017-11-25 11:49] chengzzi89 commented on #343
OK😮😃

[2017-11-25 12:04] tobyplowy commented on #341
@chengzzi89 Yes You can Just drag and Drop The png files in the text box

Also you can click the blue text above comment to chose a file

[2017-11-25 14:44] tobyplowy opened #345 "Update 1.14 Update Aquatic"
It's not released yet but I already have made this issue so we can work on it

First is dolphins I can remake the model and we can already make a texture :)
![update_aquatic_teaser](https://user-images.githubusercontent.com/16853304/33231580-ac4f411a-d1f7-11e7-8d30-ab6f7ddd95c0.jpeg)

Coral will be added this will get 4 variants (maybe we can use the minetest texture for this?)

Normal stone stair

[2017-11-25 16:27] chengzzi89 commented on #341
![spruce_trapdoor](https://user-images.githubusercontent.com/28303754/33232370-4baf960e-d240-11e7-9477-f371d4e14b3d.png)![spruce_trapdoor_side](https://user-images.githubusercontent.com/28303754/33232375-54d2b8f6-d240-11e7-99f7-f9f9884bcfc6.png)
@tobyplowy  This is my design, my other trapdoor texture and your idea is the same!

[2017-11-25 16:44] chengzzi89 commented on #345
@tobyplowy Underwater world blocks and dolphins need to work?

[2017-11-25 17:32] tobyplowy commented on #341
@chengzzi89 i like my own texture more but yours is fine

@lipki what do you think?

[2017-11-25 17:39] tobyplowy commented on #345
@chengzzi89 I don't really understand what you are saying in the above comment :/

Are you asking if you can work on this?
Or are you saying that they have to work?

[2017-11-25 18:29] lipki commented on #344
no answer

[2017-11-25 19:51] chengzzi89 commented on #345
@tobyplowy  My point is to start designing the texture of 1.14?😶

[2017-11-25 20:27] tobyplowy commented on #344
@lipki so now what

We change the licence?

[2017-11-25 20:27] tobyplowy commented on #345
@chengzzi89 ok yes that's good let's split the work

[2017-11-25 21:17] lipki commented on #344
I'm sure he received the email, maybe we'll give him a little time.

[2017-11-26 02:55] lipki commented on #338
I progress in the update of models, it's long.

[2017-11-26 11:55] tobyplowy commented on #345
my kelp texture (NOTE i mostly made it as placeholder)
![default_kelp](https://user-images.githubusercontent.com/16853304/33239755-03f461d2-d2a9-11e7-955b-b9e5f4bc7f31.png)

[2017-11-26 12:00] tobyplowy commented on #338
@lipki +1 :)

[2017-11-26 23:09] lipki opened #346 "[1.13] pressure plate"

[2017-11-26 23:11] lipki commented on #346
![acacia_pressure_plate](https://user-images.githubusercontent.com/401965/33245362-3bb00e24-d307-11e7-888c-c415b5502623.png)![birch_pressure_plate](https://user-images.githubusercontent.com/401965/33245363-3bd5e522-d307-11e7-8f28-1de305c2be8d.png)![dark_oak_pressure_plate](https://user-images.githubusercontent.com/401965/33245364-3bf4b9c0-d307-11e7-8625-585a0a507719.png)![gold_pressure_plate](http

[2017-11-26 23:18] lipki commented on #346
![acacia_pressure_plate](https://user-images.githubusercontent.com/401965/33245362-3bb00e24-d307-11e7-888c-c415b5502623.png)![birch_pressure_plate](https://user-images.githubusercontent.com/401965/33245363-3bd5e522-d307-11e7-8f28-1de305c2be8d.png)![dark_oak_pressure_plate](https://user-images.githubusercontent.com/401965/33245364-3bf4b9c0-d307-11e7-8625-585a0a507719.png)![gold_pressure_plate](http

[2017-11-26 23:59] lipki commented on #346
![acacia_pressure_plate](https://user-images.githubusercontent.com/401965/33245883-2a57a0c2-d30e-11e7-8fbc-27d6ea03ac19.png)![birch_pressure_plate](https://user-images.githubusercontent.com/401965/33245884-2a7c35e0-d30e-11e7-95b4-45f83c7b6782.png)![dark_oak_pressure_plate](https://user-images.githubusercontent.com/401965/33245885-2aa0f3da-d30e-11e7-8752-227da6ea8a78.png)![gold_pressure_plate](http

[2017-11-27 13:03] tobyplowy commented on #346
@lipki I like the second picture more

But the stone pressure plate on the first picture is better

[2017-11-27 13:42] lipki commented on #346
I hesitate in fact, between pressure plate well visible, and pressure plate well hiding in the ground.

[2017-11-27 13:48] tobyplowy commented on #346
@lipki well jeh makeing them hard to see is a good idea but on the other hand you still have to know they are there I like the second image more :)

[2017-11-27 20:56] tobyplowy commented on #306
@lipki @chengzzi89 so do we make this?

[2017-11-28 00:04] tobyplowy opened #347 "Making a texture database on GitHub"
What if we made a texture database on GitHub that wuld be here https://github.com/SummerFields
This would be a place to store all our textures for Minecraft and minetest and mods and future projects
(if we make any)

It wuld provide a easy way to access all our textures

[2017-11-28 00:51] lipki commented on #347
?
It's already done ...

[2017-11-28 00:56] lipki commented on #347
I think I did not understand, maybe you can make an example.

[2017-11-28 01:23] tobyplowy commented on #347
Basically put all Summerfields textures in one repo on GitHub the current texture database is not very grate how good does the current database work?

I think we need a better texture database

[2017-11-28 08:07] RobertZenz commented on #347
@lipki I think what @tobyplowy is suggesting is to gather *all* textures made (and being made) under one repository, as one single, big source which can be used for various projects easily. The Minecraft texture pack would then result from this single repository by using certain textures (hand picked).

[2017-11-28 12:28] tobyplowy commented on #347
@RobertZenz yes correct

[2017-11-28 16:03] lipki commented on #347
I tried to do that:
  http://ref.summerfields.info/
But I was not satisfied with the tool used.

[2017-11-28 16:06] tobyplowy commented on #347
@lipki We just need a better texture database

[2017-11-28 16:07] tobyplowy commented on #347
@lipki can one be added on the website

[2017-11-28 16:09] lipki commented on #347
Ok we will try.
How do you see the file tree.

[2017-11-28 16:13] lipki commented on #347
https://github.com/SummerFields/DataBase

[2017-11-28 16:14] tobyplowy commented on #347
@lipki ok good

[2017-11-28 16:19] tobyplowy commented on #347
@lipki this my also be considerd
https://github.com/SummerFields/official/issues/16

[2017-11-28 16:23] tobyplowy commented on #347
also the databace may need nameing guidelines

for example steel_trapdoor shuld be steel trapdoor
and default_dirt shuld just be dirt is that ok like that?

[2017-11-28 16:29] lipki commented on #347
proposition 1 : by texture

[code]

proposition 2 : by theme

[code]

[2017-11-28 16:34] lipki commented on #344
Always nothing.

[2017-11-28 16:36] RobertZenz commented on #347
By theme, I'd say, much easier to navigate.

[2017-11-28 16:43] tobyplowy commented on #347
@lipki Yes I also like by theme more

[2017-11-28 16:56] tobyplowy commented on #344
@lipki yeah I'm pretty sure we will not get an answer :/

[2017-11-28 17:12] lipki commented on #344
I had an answer, but not important questions.

[2017-11-28 18:51] tobyplowy commented on #344
@lipki so what did he say (even if its not important)

[2017-11-28 18:53] lipki commented on #344
[code]

But in French of course.

[2017-11-28 18:56] tobyplowy commented on #344
@lipki I think that's an automated response
Dident you ask the questions before you got the response :/

[2017-11-28 19:20] CuddleWoozle commented on #344
Hey, I'm actually still around, just not working on the pack much anymore.  (Kind of...lost my mojo for SummerFields.  :(  )  But what did you want done with PMC?  A way to add an updated pack?

'Cause I still have the proof I was given permission to continue the pack and I could make a new page for it there and handle the major releases on there if you want me to.  (Only if you want, this is pret

[2017-11-28 19:36] lipki commented on #344
AH AH! He contacted you first, so he takes the time to answer.
I suspect him a little.

Already, I apologize for passing you.
But there were questions he was the only one to answer.
And then I wanted to let him know what was going on here.

I did not ask him to give me the leadership.
But, give it to the group, to recognize the group.
In the unlikely event that the chief would be absent several ye

[2017-11-28 19:44] CuddleWoozle commented on #344
He didn't contact me, I'm subscribed to the Hub still.  :3  So I'm actually
reading all this stuff.

And yes, I agree, it's a group effort now.  (And yes, I know, I went
absent.  >_> )

So yes, he'd have to say OK to the free license and all I think.

I'd say make a group account, but then someone could lock everyone out.  :\

And I don't know if we could make it so that everyone could update on P

[2017-11-28 19:54] tobyplowy commented on #344
Im not sure what you mean by that :/

Why not make the download link, a link to the website?
So if they open the link they will always be able to get the latest build :)

I've Been here helping this project for 3 or 4 or so years but I have never seen you on GitHub have you been here in the shadows all this time XD

Yup it is

So that means your coming back?

Maybe only allow Summerfields leaders

[2017-11-28 19:55] lipki commented on #344
like this : https://github.com/orgs/SummerFields/people

[2017-11-28 19:56] CuddleWoozle commented on #344
That could work.  :3  How would we do the group account though?  (Who is
gonna set it up and all that...XD)

I'm kind of working on something of my own, but I might still hop back in
and help out with SummerFields.  I still love it, too.

And yes, I have been in the shadows this whole time just watching.  LOL  I
AM THE BATWOOZLE.

I'm going to update the thread on MCF for right now...

On Tue, Nov

[2017-11-28 19:57] CuddleWoozle commented on #344
I meant mainly on PMC.  ;)  They don't have a way on that site to work
collaboratively with anyone.  (Which is a real shame.)

On Tue, Nov 28, 2017 at 2:55 PM, Lepeltier kévin <notifications@github.com>
wrote:

[2017-11-28 20:02] tobyplowy commented on #344
I like you already XD

That's amazing I would be happy to work with you :)

[2017-11-28 20:10] CuddleWoozle commented on #344
I'm quite strange.  ;3

I updated the forum topic on MCF and asked about updating on PMC.  (I have
to go to work M-F at 3pm until 1-2am, so if I don't reply again, don't
worry.  I'll be back.)

On Tue, Nov 28, 2017 at 3:02 PM, Toby plowy <notifications@github.com>
wrote:

[2017-11-28 23:12] tobyplowy commented on #347
So it's settled can we begin

[2017-11-28 23:21] lipki commented on #347
yep makes a pull request if you already have something.

[2017-12-01 14:44] kingoscargames opened #348 "Some stone tools have broken pixels."
![image](https://user-images.githubusercontent.com/29333817/33487608-0d5132ba-d6ae-11e7-9ca3-d30de8318e94.png)

[2017-12-01 17:33] lipki commented on #344
I relaunched it, I would like at least a return on the license.

[2017-12-01 20:59] #348 closed

[2017-12-01 21:00] lipki commented on #347
https://github.com/orgs/SummerFields/teams/global-manager/discussions/2

[2017-12-01 21:00] #347 closed

[2017-12-01 21:02] lipki commented on #344
https://github.com/orgs/SummerFields/teams/global-manager/discussions/3

[2017-12-01 21:02] #344 closed

[2017-12-01 21:03] #337 closed

[2017-12-01 21:04] #309 closed

[2017-12-01 21:04] #307 closed

[2017-12-01 21:05] lipki commented on #306
https://github.com/orgs/SummerFields/teams/summerfields-contributor

[2017-12-01 21:06] lipki commented on #305
https://github.com/orgs/SummerFields/teams/global-manager/discussions/5

[2017-12-01 21:08] lipki commented on #193
https://github.com/orgs/SummerFields/teams/summerfields-contributor/discussions/2

[2017-12-01 21:08] #193 closed

[2017-12-01 21:30] lipki commented on #227
add in  database

[2017-12-01 21:30] #227 closed

[2017-12-02 06:54] CuddleWoozle commented on #227
Just to assuage any who is fearful that these are 'mystery textures'

These are actually made by Lithium.

http://www.minecraftforum.net/forums/mapping-and-modding-java-edition/resource-packs/1230882-32x32-1-3-2-pre12w37a-summerfields-r29-a-is-out

Scroll down, download "Tale of Kingdoms" support.  There they are.  He used them later on for other things, but he was working on the support for that

[2017-12-02 07:07] CuddleWoozle commented on #291
It's a magical Minecraft pumpkin.  It glows on it's own.  XD

[2017-12-02 15:10] CuddleWoozle commented on #346
I like the second group as well.

They're both really nice, though.  (Maybe add the others to the database as alts for those who want them?)

[2017-12-02 15:45] CuddleWoozle commented on #290
I <3 open source stuff.

I'd take this on, but the game keeps crashing like crazy. :(

[2017-12-02 17:19] lipki commented on #291
Anyway in 1.13, the pumpkins change.
The normal, the carved, and the jack'o'lantern.

I have already made the modifications, at home, but I must finish repairing the models of the stones before committing.

[2017-12-02 17:19] #291 closed

[2017-12-02 19:39] CuddleWoozle commented on #290
I'm probably gonna have to take a pass on it.  At least until they implement a better way to add textures than ripping into individual modules.

Unless I'm missing something, that's the only way to do it?

[2017-12-03 04:14] #338 closed

[2017-12-03 14:54] lipki commented on #311
@CuddleWoozle Since you are in the corner.
What do you think of that?

[2017-12-03 14:55] #335 closed

[2017-12-03 14:57] #229 closed

[2017-12-03 14:58] lipki commented on #248
https://github.com/orgs/SummerFields/teams/summerfields-contributor/discussions/4

[2017-12-03 14:58] #248 closed

[2017-12-03 15:00] lipki commented on #261
https://github.com/orgs/SummerFields/teams/summerfields-contributor/discussions/5

[2017-12-03 15:00] #261 closed

[2017-12-03 15:01] lipki commented on #267
https://github.com/orgs/SummerFields/teams/summerfields-contributor/discussions/6

[2017-12-03 15:01] #267 closed

[2017-12-03 15:03] lipki commented on #290
https://github.com/orgs/SummerFields/teams/summerfields-contributor/discussions/7

[2017-12-03 15:03] #290 closed

[2017-12-14 13:38] tobyplowy commented on #316
@lipki on second thought I think the texture you have made is good

[2017-12-19 15:39] #316 closed

[2018-01-04 10:48] chengzzi89 commented on #346
@lipki  Excuse me, do we want to record a SummerFields texture documentary?😀

[2018-01-04 11:57] tobyplowy commented on #346
@chengzzi89 I think that's a good idea

[2018-01-13 17:20] chengzzi89 opened #351 "new background"
I re-made a background
![panorama_0](https://user-images.githubusercontent.com/28303754/34908315-611cbb4e-f8c8-11e7-9ca9-ed4fba6ab40c.png)![panorama_1](https://user-images.githubusercontent.com/28303754/34908317-746700ec-f8c8-11e7-9f04-79dde14037c3.png)![panorama_2](https://user-images.githubusercontent.com/28303754/34908324-86a3d280-f8c8-11e7-8cae-65c379134fd0.png)![panorama_3](https://user-image

[2018-01-13 17:28] tobyplowy commented on #351
@chengzzi89 No shaders?

[2018-01-13 17:45] chengzzi89 commented on #351
@tobyplowy Yesterday morning, temporarily done, if not satisfied I can re-create!😃

[2018-01-13 17:50] tobyplowy commented on #351
@chengzzi89 Can you re do it with shaders on?

I recommend Sonic Ether's Unbelievable Shaders

[2018-01-13 18:03] chengzzi89 commented on #351
@tobyplowy OK😊

[2018-01-14 15:46] lipki commented on #346
What do you mean by that?

[2018-01-15 03:47] chengzzi89 commented on #351
@tobyplowy Shader and Render360 can not have both! Would like to open the shader will lose Render function, open the Render360 lost shader function! I feel helpless!😞

[2018-01-15 05:17] chengzzi89 commented on #351
![2018-01-15_12 26 23_2](https://user-images.githubusercontent.com/28303754/34927902-ba2f56d8-f9f4-11e7-98c9-da38c93bebff.png)
![2018-01-15_12 15 00_2](https://user-images.githubusercontent.com/28303754/34927918-cfe7c9b0-f9f4-11e7-8242-9568fd71de4f.png)
![2018-01-15_12 30 23_2](https://user-images.githubusercontent.com/28303754/34928108-51a50480-f9f6-11e7-936a-572d06ebb981.png)

[2018-01-15 11:58] tobyplowy commented on #351
@chengzzi89 I like the pumpkin guy alot :)

Can you make more pictures maybe one of the desert and somewhere where you can see the ocean and land?

But I think that the pumpkin in day one looks amazing

[2018-01-16 22:29] lipki commented on #351
Me too I love the scarecrow :)
It's very much in the Summerfield spirit

[2018-01-25 14:50] lipki commented on #339
Ok i take that...
yeaah .... :(

[2018-01-25 15:42] tobyplowy commented on #339
@lipki yeh I guess the new horse models are here to stay :(
Well to bad, I loved the original model more!

[2018-01-25 15:45] tobyplowy commented on #340
@lipki almost Everything is already done XD

[2018-01-25 16:04] lipki commented on #339
And the model is horrible technically.
Certain texture are superimposed.
The legs are all identical, and without symmetry.
The reins are cut off !!

[2018-01-25 16:12] lipki commented on #339
![donkey](https://user-images.githubusercontent.com/401965/35398278-c841de26-01f1-11e8-81e3-a25c02fc5b39.png)

![capture du 2018-01-25 16-59-01](https://user-images.githubusercontent.com/401965/35398282-cbb2069e-01f1-11e8-8a59-97274fd81711.png)

[2018-01-25 16:13] lipki commented on #340
https://minecraft.net/fr-fr/article/java-edition-technically-updated

[2018-01-25 16:19] lipki commented on #345
This update merges with 1.13, and is scheduled for spring.

[2018-01-25 16:35] tobyplowy commented on #339
@lipki Well you did a good job on the texture
But that model tho :/

Wasn't it possible to change mob models with resource packs
I know it's possible to do on the windows 10 edition
Maybe we can add the old model back?

[2018-01-25 16:37] lipki commented on #339
Well, I'll do them, but the model is buggy, really!
There is no halter and the bit to the texture of the chest.

[2018-01-25 16:40] tobyplowy commented on #339
@lipki thank you, I wouldn't want to be in your situation at this point :)

Best of luck with those horses :)

[2018-01-25 16:47] tobyplowy commented on #340
@lipki you miss spelled dolphin but I fixed it :)
Also that's very good news :)

What if we already stated making some textures like the kelp and coral?

[2018-01-25 16:49] tobyplowy commented on #345
@lipki closed because update aquatic aka 1.14 will merge with 1.13

[2018-01-25 16:49] #345 closed

[2018-01-25 16:58] lipki commented on #339
![mule](https://user-images.githubusercontent.com/401965/35401257-48c021e6-01f9-11e8-9ec5-122df2cbc697.png)
![capture du 2018-01-25 17-57-13](https://user-images.githubusercontent.com/401965/35401263-4bcf25c6-01f9-11e8-85ec-d6ccb3252706.png)

[2018-01-25 17:00] lipki commented on #340
I think I wait for the first snapshots.

But if you want to go there, go, think about making a issue by theme.

[2018-01-25 17:32] lipki commented on #339
![horse_zombie](https://user-images.githubusercontent.com/401965/35402848-0a8e60d6-01fe-11e8-807b-0f9d6fed8cfb.png)
![capture du 2018-01-25 18-30-09](https://user-images.githubusercontent.com/401965/35402853-0ecdf4e0-01fe-11e8-932a-96f7b69b9336.png)

[2018-01-25 19:24] lipki commented on #339
![horse_skeleton](https://user-images.githubusercontent.com/401965/35404835-8bb76440-0204-11e8-9842-ba1cc7b71b53.png)
![capture du 2018-01-25 19-17-53](https://user-images.githubusercontent.com/401965/35404839-8ed1f938-0204-11e8-942f-c74bda8329be.png)

[2018-01-25 19:26] lipki commented on #339
![horse_white](https://user-images.githubusercontent.com/401965/35407972-d8532a92-020d-11e8-8efc-4dccdc0c71a1.png)

![capture du 2018-01-25 20-21-50](https://user-images.githubusercontent.com/401965/35407983-e1585b3a-020d-11e8-8ee2-715a2420d396.png)

[2018-01-25 20:01] lipki commented on #339
![horse_gray](https://user-images.githubusercontent.com/401965/35409554-d789f1f4-0212-11e8-9d50-acdc8af98b41.png)
![capture du 2018-01-25 20-59-19](https://user-images.githubusercontent.com/401965/35409558-d9c2685c-0212-11e8-854a-9e6e9fbcdfc9.png)

[2018-01-25 20:16] lipki commented on #339
![horse_brown](https://user-images.githubusercontent.com/401965/35410223-fe62ea54-0214-11e8-8f16-c6f49e44946e.png)
![capture du 2018-01-25 21-14-58](https://user-images.githubusercontent.com/401965/35410229-02d85420-0215-11e8-82e3-22ad8a644ab8.png)

[2018-01-25 20:38] tobyplowy commented on #339
@lipki be sure to keep a backup of the old model
Maybe put it in the database

[2018-01-25 21:03] lipki commented on #339
With git everything is backed up, we can not lose anything.
example : first gravel 2014
https://github.com/SummerFields/SummerFields/blob/c2db217313263dbc6466fa2036ea8acab46dc1a2/textures/blocks/gravel.png

[2018-01-25 21:08] lipki commented on #339
![horse_black](https://user-images.githubusercontent.com/401965/35412355-3c73fab6-021c-11e8-9188-bcd812c8ffdc.png)
![capture du 2018-01-25 21-47-59](https://user-images.githubusercontent.com/401965/35412358-3f278ce6-021c-11e8-8bdb-c2633d1362fb.png)

[2018-01-25 21:08] lipki commented on #339
![horse_creamy](https://user-images.githubusercontent.com/401965/35412370-48218f68-021c-11e8-8df3-6014c1ae9637.png)
![capture du 2018-01-25 21-58-54](https://user-images.githubusercontent.com/401965/35412373-4a575d9e-021c-11e8-8f67-78b7c6487922.png)

[2018-01-25 21:26] lipki commented on #339
![horse_chestnut](https://user-images.githubusercontent.com/401965/35413106-b1e0fdc4-021e-11e8-885a-2425afe91fb9.png)
![capture du 2018-01-25 22-25-13](https://user-images.githubusercontent.com/401965/35413107-b49c1940-021e-11e8-8c19-d20f01fc9e97.png)

[2018-01-25 21:47] lipki commented on #339
![horse_darkbrown](https://user-images.githubusercontent.com/401965/35414085-bc151bc4-0221-11e8-966e-a4ea63c69678.png)
![capture du 2018-01-25 22-46-41](https://user-images.githubusercontent.com/401965/35414088-bed781ee-0221-11e8-8e7f-755b68a45c7b.png)

[2018-01-25 23:15] lipki commented on #339
three saddle color.
![capture du 2018-01-25 23-58-59](https://user-images.githubusercontent.com/401965/35417351-4ab3fa2a-022d-11e8-94b4-993c9ffe9301.png)

[2018-01-25 23:44] tobyplowy commented on #339
@lipki do I need to chose?
Or are they all in the game?

I like the one on the most left the most bdw

[2018-01-26 00:15] lipki commented on #339
I put the three, depending on the horse.

[2018-01-26 00:18] tobyplowy commented on #339
@lipki ooooh ok :)

[2018-01-26 00:38] lipki commented on #339
i wait one check in games before merge.

[2018-01-28 20:46] lipki opened #354 "new default"
Right now zappa is working on a new default texture pack.
It makes decisions and makes changes, which are sometimes relevant.
We can in some cases be inspired.

The textures are available here, with comparison 1.12.
https://github.com/SummerFields/provisoire_new_default/commit/885d5e26cdb5c91b9912ed07aac0e272d8f980c9

Not all textures be changing.
And for the most part, it's not interesting.

I qu

[2018-01-28 20:47] #354 closed

[2018-02-06 02:06] joshmaster11 commented on #293
i cant download to mod textures any more

On Mon, Jul 10, 2017 at 11:39 AM, Lepeltier kévin <notifications@github.com>
wrote:

[2018-02-06 19:14] lipki commented on #293
Ok and this one?
https://www.catupload.com/download/324bc12451196f15d843183718d01fe1.html

[2018-02-06 19:47] joshmaster11 commented on #293
will this have this mods in it

On Tue, Feb 6, 2018 at 2:14 PM, Lepeltier kévin <notifications@github.com>
wrote:

[2018-02-07 16:15] chengzzi89 opened #355 "new models"
![qq 20180208000643](https://user-images.githubusercontent.com/28303754/35927144-f25174f6-0c64-11e8-8026-497d4a95bc66.png)
![2018-02-08_00 02 54](https://user-images.githubusercontent.com/28303754/35927169-050d8f9e-0c65-11e8-9ae1-183389a7145a.png)

[2018-02-07 16:21] chengzzi89 commented on #355
Starting today I will help you to reset models json!😃😃😊

[2018-02-07 18:07] chengzzi89 commented on #355
![qq 20180208020305](https://user-images.githubusercontent.com/28303754/35933189-db4cc0de-0c74-11e8-81e1-43afd0db230a.png)

[2018-02-10 17:57] chengzzi89 commented on #355
new observer models
![qq 20180210235227](https://user-images.githubusercontent.com/28303754/36064960-6642897a-0ece-11e8-9a26-e984dcc7b113.png)

[2018-02-11 17:44] chengzzi89 commented on #355
![qq 20180212012035](https://user-images.githubusercontent.com/28303754/36076357-0cbc4134-0f96-11e8-84eb-6d8d99b8a4ce.png)
![qq 20180211210101](https://user-images.githubusercontent.com/28303754/36076361-1662951c-0f96-11e8-8349-729d16772574.png)

[2018-02-12 03:39] lipki commented on #293
nope

[2018-02-12 03:52] lipki commented on #355
Ok, well, you look motivated :)
Well ..., detailed models weigh heavily on the execution of minecraft (it eats a lot of memory).

So I'm going to deny you some.

In order :
Diamond ect.
It is a very slight detail, which seems to me not very useful.
But as it is not very used blocks, I do not mind.

Reeds
Do not you like mine?
What did you change?

Observer
There are too many details, and it's a bl

[2018-02-12 04:09] joshmaster11 commented on #293
ok i can use that but i cant use the i want to mods for it and i cant
download them i use the pack in ftb unleashed

On Sun, Feb 11, 2018 at 10:39 PM, Lepeltier kévin <notifications@github.com>
wrote:

[2018-02-12 04:36] CuddleWoozle commented on #293
So what you want here is textures for 1.5 Minecraft and FTB?

Or am I misunderstanding your question?

(Because if I'm not, I don't think it's going to be very easy to back port
support to 1.5 for FTB.  I don't think a lot of the textures are even done
for more recent releases much less an old version.)

On Sun, Feb 11, 2018 at 11:09 PM, joshmaster11 <notifications@github.com>
wrote:

[2018-02-12 09:18] chengzzi89 commented on #355
@lipki In fact, I just like intend to be used as a 3D block additional package provided to the player! Let's see you tomorrow😃

[2018-02-12 09:26] chengzzi89 commented on #355
@lipki In fact, I just intend to do as a 3D block additional package available to players! Documents uploaded to you tomorrow!

[2018-02-13 01:45] chengzzi89 commented on #355
@lipki http://www.mediafire.com/file/7bui3prp13cm4yl/block.rar

[2018-02-13 11:40] chengzzi89 commented on #355
3D module idea to explain, in order: diamonds, gold bullion, etc. 6 box is not the most satisfactory, but also to redo back! 2: Your reeds module is the default, now more comfortable! 3: The rest of the following is to make the shape more realistic! There are many behind did not start making!

[2018-02-15 14:22] tobyplowy commented on #340
ok guys it is here

[2018-02-15 21:19] tobyplowy commented on #340
turtle_egg_not_cracked.png
![turtle_egg_not_cracked](https://user-images.githubusercontent.com/16853304/36281518-39f3be60-129e-11e8-8333-e6754d42c858.png)

[2018-02-15 23:02] lipki commented on #355
Ok, I'll let you work.

[2018-02-15 23:03] lipki commented on #340
I list the changes.

[2018-02-15 23:45] lipki opened #356 "[1.13] Kelp"
![dried_kelp](https://user-images.githubusercontent.com/401965/36286182-d6440f58-12ae-11e8-9aac-76890bf80b2e.png)![kelp](https://user-images.githubusercontent.com/401965/36286183-d66febfa-12ae-11e8-9d85-cc4aa36dab7e.png)

![dried_kelp_bottom](https://user-images.githubusercontent.com/401965/36285798-534f8d94-12ad-11e8-85c3-7b034352113c.png)![dried_kelp_side](https://user-images.githubusercontent.c

[2018-02-15 23:45] lipki opened #357 "[1.13] sea grass"
![sea_grass](https://user-images.githubusercontent.com/401965/36285851-8a045f2c-12ad-11e8-8545-634f5b617859.png)![tall_sea_grass_bottom](https://user-images.githubusercontent.com/401965/36285855-8b914382-12ad-11e8-81f0-0b4ee669dacf.png)![tall_sea_grass_top](https://user-images.githubusercontent.com/401965/36285858-8d004cd6-12ad-11e8-905c-2b59bbcf0472.png)
item :
![sea_grass](https://user-images.gi

[2018-02-15 23:46] lipki opened #358 "[1.13] Stripped log"
![stripped_acacia_log](https://user-images.githubusercontent.com/401965/36285926-c703a824-12ad-11e8-9d69-c1ca99719667.png) ![stripped_acacia_log_top](https://user-images.githubusercontent.com/401965/36285927-c72c75ba-12ad-11e8-8a1e-662fe9c50936.png)
![stripped_birch_log](https://user-images.githubusercontent.com/401965/36285928-c752e506-12ad-11e8-9474-de4d741ac3d5.png) ![stripped_birch_log_top](ht

[2018-02-15 23:48] lipki opened #359 "[1.13] Turtle"
![scute](https://user-images.githubusercontent.com/401965/36286206-f21a01e2-12ae-11e8-8f4f-95ca67410659.png)![turtle_helmet](https://user-images.githubusercontent.com/401965/36286211-031488be-12af-11e8-92b4-f8bb20bde201.png)

![turtle_layer_1](https://user-images.githubusercontent.com/401965/36286254-2f96c258-12af-11e8-85c2-b40e45046d6a.png)

![turtle_egg_not_cracked](https://user-images.githubuse

[2018-02-15 23:48] lipki opened #360 "[1.13] Phantom (mob B)"
![phantom](https://user-images.githubusercontent.com/401965/37063828-07dcff48-219b-11e8-91ae-e99d74471b67.png)![phantom_eyes](https://user-images.githubusercontent.com/401965/37063833-0a7c7f1c-219b-11e8-9974-4258551c96d8.png)
![phantom_membrane](https://user-images.githubusercontent.com/401965/38338184-b9b7d38a-3868-11e8-9909-3bc1875f2909.png)

[2018-02-15 23:49] lipki opened #361 "[1.13] Trident"
![trident](https://user-images.githubusercontent.com/401965/36286069-54635642-12ae-11e8-8de3-fcbf2fdb8ce3.png)
![trident](https://user-images.githubusercontent.com/401965/37121265-e8cd0504-225c-11e8-9cc4-6e4f344f8253.png)
->![trident_riptide](https://user-images.githubusercontent.com/401965/38338255-15c088ca-3869-11e8-8b80-58bccc704d63.png)<-

[2018-02-15 23:50] lipki opened #362 "[1.13] Recipe button"
![recipe_button](https://user-images.githubusercontent.com/401965/36286128-9a4109a2-12ae-11e8-9113-5d186ae88f3b.png)
delete :
![recipe_background](https://user-images.githubusercontent.com/401965/36286134-a501022a-12ae-11e8-837c-d19c8cbd8949.png)

[2018-02-15 23:51] lipki opened #363 "[1.13] Recipe book"
![recipe_book](https://user-images.githubusercontent.com/401965/36286463-30762c62-12b0-11e8-818b-788bbf29f4ce.png)

[2018-02-15 23:52] lipki opened #364 "[1.13] Particles"
![particles](https://user-images.githubusercontent.com/401965/36286528-786999be-12b0-11e8-8082-8330845dd714.png)

[2018-02-16 00:06] tobyplowy commented on #359
turtle_egg_not_cracked.png

![turtle_egg_not_cracked](https://user-images.githubusercontent.com/16853304/36287501-9f8f66d6-12b5-11e8-8f73-495ea801491d.png)

[2018-02-16 00:25] lipki commented on #361
![trident](https://user-images.githubusercontent.com/401965/36287883-fdaeec4e-12b7-11e8-92d5-ea259325c8e4.png)
I think I can use this image as an item.

[2018-02-16 00:39] tobyplowy commented on #359
@lipki you do the turtle and i do the turtle hat and eggs

[2018-02-16 00:40] tobyplowy commented on #359
yes

[2018-02-16 01:43] lipki commented on #361
![capture du 2018-02-16 02-24-07](https://user-images.githubusercontent.com/401965/36289911-0d1bdf06-12c3-11e8-90d6-b5a9a0ab4c79.png)

![trident](https://user-images.githubusercontent.com/401965/36289614-245f5442-12c1-11e8-95da-cf37c089c203.png)
![trident](https://user-images.githubusercontent.com/401965/36289636-4424f0ca-12c1-11e8-834e-ae6d69cf5a93.png)

[2018-02-16 03:27] lipki commented on #364
![particles](https://user-images.githubusercontent.com/401965/36292369-a95cc7dc-12d1-11e8-8687-194171f77f2c.png)

[2018-02-16 04:18] lipki commented on #359
if you want to do it, go there.

[2018-02-16 17:43] lipki commented on #363
![recipe_book](https://user-images.githubusercontent.com/401965/36321194-447da354-1349-11e8-98a7-91fd2590efa0.png)

[2018-02-16 17:43] lipki commented on #362
![recipe_button](https://user-images.githubusercontent.com/401965/36319880-a8519b38-1344-11e8-9c74-745f6ea99af2.png)

[2018-02-16 19:45] lipki commented on #360
First try.
![capture du 2018-02-16 20-41-27](https://user-images.githubusercontent.com/401965/36326089-3201a00c-135a-11e8-988b-c81bf679def4.png)
![phantom](https://user-images.githubusercontent.com/401965/36326099-389fd5e6-135a-11e8-8a08-c1fec8fd9b3f.png)

[2018-02-16 20:10] tobyplowy commented on #360
@lipki nice i like the mantaray consept

[2018-02-16 20:11] lipki commented on #360
![capture du 2018-02-16 21-07-33](https://user-images.githubusercontent.com/401965/36327109-d5272cc2-135d-11e8-9b2d-42d5c42cc912.png)

[2018-02-16 20:35] tobyplowy commented on #360
@lipki i added more texture to the top of the wings

![image](https://user-images.githubusercontent.com/16853304/36328060-0b3ffeee-1361-11e8-8dcd-908656c88422.png)
un compresed
![phantom](https://user-images.githubusercontent.com/16853304/36328091-24b23c3e-1361-11e8-84e7-1f93985d2ff5.png)

compressed
![phantom](https://user-images.githubusercontent.com/16853304/36328069-0f314cf6-1361-11e8-91f6-705

[2018-02-16 21:09] lipki commented on #358
![capture du 2018-02-16 22-06-00](https://user-images.githubusercontent.com/401965/36329276-bda4081a-1365-11e8-944d-ba981af91f4f.png)

[2018-02-16 21:15] lipki commented on #360
It's nice to add details, but I think it's too much bat wing.

[2018-02-16 21:19] tobyplowy commented on #360
@lipki yeh true :/

[2018-02-17 00:53] lipki commented on #357
![capture du 2018-02-17 01-25-56](https://user-images.githubusercontent.com/401965/36335662-decce0e0-1381-11e8-8694-0889c0e60cfb.png)
![sea_grass](https://user-images.githubusercontent.com/401965/36335634-b315c638-1381-11e8-88c1-19903fa8cfdb.png)

[2018-02-17 00:54] lipki commented on #357
![capture du 2018-02-17 01-52-45](https://user-images.githubusercontent.com/401965/36336131-6cb422a8-1385-11e8-8468-5f1a91a58918.png)
![tall_sea_grass_bottom](https://user-images.githubusercontent.com/401965/36336135-75c97046-1385-11e8-982c-2be134097fa2.png)![tall_sea_grass_top](https://user-images.githubusercontent.com/401965/36336136-77278bc6-1385-11e8-9118-f4d7453f131e.png)

[2018-02-17 01:18] lipki commented on #357
![capture du 2018-02-17 02-16-51](https://user-images.githubusercontent.com/401965/36336527-cdf9ba2a-1388-11e8-8f4a-2ec93826ed74.png)

[2018-02-17 02:25] lipki commented on #356
![capture du 2018-02-17 03-23-01](https://user-images.githubusercontent.com/401965/36337229-186bb474-1392-11e8-95da-b5c6e32d67d6.png)
![kelp_plant](https://user-images.githubusercontent.com/401965/36337226-144c0c5e-1392-11e8-87e6-f8fa710776db.png)![kelp_top](https://user-images.githubusercontent.com/401965/36337227-14753f34-1392-11e8-98e1-4d64bc4495b8.png)

[2018-02-17 02:42] lipki commented on #359
For the turtle helmet, I imagined doing a mask to dive or something like that.
What do you think ?
Something like that.
http://www.fanrek.com/media/catalog/product/cache/1/image/29b82db22504fb0479cf1248d4fc542c/m/o/mortal_kombat_x_cosplay_sub_zero_mask2.jpg

[2018-02-17 18:07] tobyplowy commented on #359
Yeh that's cool

But the item is called turtle hat can we change that name with texturepacks in vanilla?

[2018-02-17 23:34] lipki commented on #359
It must look like a turtle shell.

[2018-02-18 00:33] tobyplowy commented on #359
Ok I see

[2018-02-19 08:42] lipki commented on #359
![capture du 2018-02-19 00-39-31](https://user-images.githubusercontent.com/401965/36368762-0ea20ea2-1559-11e8-8473-b2d3e2fc9222.png)
![big_sea_turtle](https://user-images.githubusercontent.com/401965/36368776-22411e9e-1559-11e8-8f5d-7208f36d3bd8.png)

[2018-02-19 08:55] lipki commented on #359
![turtle_egg_slightly_cracked](https://user-images.githubusercontent.com/401965/36369283-075b9242-155b-11e8-8831-89ca5bd6ff1c.png)![turtle_egg_very_cracked](https://user-images.githubusercontent.com/401965/36369284-079dfc72-155b-11e8-9e71-c6c5e67b2555.png)

[2018-02-19 09:23] #364 closed

[2018-02-19 09:23] #363 closed

[2018-02-19 09:30] #362 closed

[2018-02-19 14:41] tobyplowy commented on #359
turtle_shell_piece.png
![turtle_shell_piece](https://user-images.githubusercontent.com/16853304/36383016-23e65c00-158b-11e8-91e2-1b64ed401474.png)

(its not super good but its reasonable)

[2018-02-19 15:36] tobyplowy commented on #359
turtle_layer_1.png
![turtle_layer_1](https://user-images.githubusercontent.com/16853304/36385510-0b3e77fc-1593-11e8-8172-608ce7e10ece.png)

[2018-02-19 15:45] tobyplowy commented on #359
@lipki you will have to do the item
im not good at 3d like that

[2018-02-20 11:18] chengzzi89 commented on #355
@lipki Thank you for your approval!😃

[2018-02-20 16:15] lipki commented on #359
I think I have an inkscape file to do the 3d armor items.

[2018-02-21 19:47] lipki opened #374 "new magma cube"
the texture of the magma cube is buggy since a lot of version.

![capture du 2018-02-21 20-43-12](https://user-images.githubusercontent.com/401965/36501726-2676cef0-1748-11e8-9aa8-2d7fdb73e960.png)

Here is 4 proposal.

![magmacube](https://user-images.githubusercontent.com/401965/36501625-e9372350-1747-11e8-979b-a071da850516.png)
![magmacube2](https://user-images.githubusercontent.com/401965/3650

[2018-02-21 21:00] lipki opened #375 "spider eyes"
The eyes of spiders (light layer) had never been done, apparently?
I use the 4 eyes of cave_spider, that's what makes the best.
![spider_eyes](https://user-images.githubusercontent.com/401965/36504919-4e2ab2cc-1752-11e8-8780-d363b5c7f9e1.png)

[2018-02-22 18:32] lipki opened #376 "[1.13] Real Fish"
![cod_mob](https://user-images.githubusercontent.com/401965/36556265-e47b9e14-1804-11e8-9b1c-8e087ff3103d.png)![pufferfish](https://user-images.githubusercontent.com/401965/36556266-e4a3a4ae-1804-11e8-9c49-ba2b345e95dc.png)![salmon_mob](https://user-images.githubusercontent.com/401965/36556267-e4c56df0-1804-11e8-882b-2f83ba1e3784.png)

![clownfish_bucket](https://user-images.githubusercontent.com/

[2018-02-22 18:34] lipki commented on #376
I leave them to you.

[2018-02-22 19:04] lipki commented on #376
You can change the original fish if needed.

[2018-02-22 19:27] lipki commented on #357
![sea_grass](https://user-images.githubusercontent.com/401965/36559613-d1b4a21c-180e-11e8-9bb9-faa8a551435d.png)

[2018-02-22 21:27] tobyplowy commented on #376
@lipki yep ok I will do them

[2018-02-22 21:33] tobyplowy commented on #374
https://user-images.githubusercontent.com/401965/36501625-e9372350-1747-11e8-979b-a071da850516.png
I like this one the most

[2018-02-23 13:09] tobyplowy commented on #376
pufferfish done now doing the other 2
![pufferfish](https://user-images.githubusercontent.com/16853304/36595620-236b144e-18a3-11e8-99d5-c6f7902b7b11.png)

[2018-02-23 13:10] tobyplowy commented on #376
@kingoscargames dude

[2018-02-23 13:10] kingoscargames commented on #376
what?

[2018-02-23 13:11] tobyplowy commented on #376
@kingoscargames lol your just waiting non stop for updates are you XD

[2018-02-23 22:46] lipki commented on #376
It's great, that's exactly it ...
Bravo !

[2018-02-25 09:03] chengzzi89 commented on #376
![https://github.com/SummerFields/SummerFields/issues/3763](https://user-images.githubusercontent.com/28303754/36639680-2eecea76-1a4d-11e8-9ca5-ac8933b1130b.png)
![2](https://user-images.githubusercontent.com/28303754/36639712-b2bf8962-1a4d-11e8-8589-fbfabb83dd9a.png)
![1](https://user-images.githubusercontent.com/28303754/36639718-c14a7410-1a4d-11e8-91ce-4d3bb5377f5f.png)
![4](https://user-images

[2018-02-25 09:08] chengzzi89 commented on #376
@tobyplowy I do the barrel of fish do not know can not!😅😅

[2018-02-28 12:10] tobyplowy commented on #376
salmon
![image](https://user-images.githubusercontent.com/16853304/36786995-c4a46f02-1c88-11e8-90bb-77bbe2288e43.png)
![salmon_mob](https://user-images.githubusercontent.com/16853304/36787002-cb069320-1c88-11e8-84b5-8329984283a1.png)

[2018-02-28 12:48] tobyplowy commented on #376
cod
![image](https://user-images.githubusercontent.com/16853304/36788381-0326c9fa-1c8e-11e8-8f03-fdc9061922b4.png)
![cod_mob](https://user-images.githubusercontent.com/16853304/36788372-fd02121e-1c8d-11e8-87ff-649d825fdf2a.png)

[2018-02-28 12:50] tobyplowy commented on #376
@lipki done ;D

[2018-03-01 16:20] chengzzi89 commented on #376
@lipki  @tobyplowy Java Edition 18w09a is officially out and includes Underwater Ruins and Coral Blocks which come in 5 different colours! Read more here: https://t.co/H9073eqeMg :D https://t.co/PsZfQU1uAe
![img_20180302_000437](https://user-images.githubusercontent.com/28303754/36855775-5db21b46-1daf-11e8-927f-30f33f415aaf.jpg)

[2018-03-01 21:08] lipki commented on #376
you'r cod is wonderful !
salmon to.

[2018-03-01 21:18] lipki opened #377 "[1.13] Coral"
![blue_coral](https://user-images.githubusercontent.com/401965/37121026-548349da-225c-11e8-948f-8fb20ceca0c3.png)![pink_coral](https://user-images.githubusercontent.com/401965/37121027-54a4966c-225c-11e8-9ab8-c973a564ec27.png)![purple_coral](https://user-images.githubusercontent.com/401965/37121028-54c4432c-225c-11e8-8d5a-c5045460a6f4.png)![red_coral](https://user-images.githubusercontent.com/4019

[2018-03-01 21:50] lipki commented on #377
![dead_coral](https://user-images.githubusercontent.com/401965/36871464-a0655834-1da2-11e8-9beb-eeb26c63e294.png)
![blue_coral](https://user-images.githubusercontent.com/401965/36871479-aad56534-1da2-11e8-8ce9-a562e4a7db79.png)![blue_coral_2](https://user-images.githubusercontent.com/401965/36871481-aaf39824-1da2-11e8-9676-21c997b3445f.png)
![pink_coral](https://user-images.githubusercontent.com/4

[2018-03-01 22:05] tobyplowy commented on #376
@lipki thanks :)

[2018-03-01 22:07] tobyplowy commented on #377
@lipki yeh the minetest coral textures are good but there's no hue shifting in the recolors

[2018-03-01 22:08] tobyplowy commented on #377
@chengzzi89 you interested?

[2018-03-01 22:09] lipki commented on #377
![capture du 2018-03-01 23-08-11](https://user-images.githubusercontent.com/401965/36872430-87c69b8c-1da5-11e8-8743-4478a9280fb4.png)

[2018-03-01 22:13] lipki commented on #377
![capture du 2018-03-01 23-12-11](https://user-images.githubusercontent.com/401965/36872608-17f26894-1da6-11e8-8c2e-facc60627e05.png)

[2018-03-01 22:15] tobyplowy commented on #377
yellow inprovement
![image](https://user-images.githubusercontent.com/16853304/36872712-768fde9a-1da6-11e8-80ba-bc77c0e23bdb.png)
![image](https://user-images.githubusercontent.com/16853304/36872715-788a6a3a-1da6-11e8-9637-b953f37055fa.png)

[2018-03-01 22:24] tobyplowy commented on #377
red
![image](https://user-images.githubusercontent.com/16853304/36873060-a4ba0772-1da7-11e8-8e40-c8ba932df2ee.png)
![image](https://user-images.githubusercontent.com/16853304/36873065-a71043c4-1da7-11e8-9896-74133650f571.png)

[2018-03-02 01:57] chengzzi89 commented on #377
@tobyplowy You draw well!👏

[2018-03-06 23:07] lipki opened #378 "[1.13] Map icons"
![map_icons](https://user-images.githubusercontent.com/401965/37063898-53acae28-219b-11e8-8624-f4163e258e25.png)

ref :
![map_icons](https://user-images.githubusercontent.com/401965/37063954-83e191b2-219b-11e8-8ff0-e1a8a2fe8720.png)

[2018-03-06 23:12] lipki commented on #376
update tropical fish

[2018-03-06 23:13] lipki commented on #377
update

[2018-03-06 23:13] lipki commented on #340
update 18w10a

[2018-03-07 17:06] chengzzi89 commented on #378
![map_icons](https://user-images.githubusercontent.com/28303754/37106461-dd03c900-226c-11e8-8759-0dd7fb3306c5.png)

[2018-03-07 20:57] lipki commented on #376
basique

![tropical_a](https://user-images.githubusercontent.com/401965/37117746-6869e044-2252-11e8-9243-9b73d990d073.png)![tropical_a_pattern_1](https://user-images.githubusercontent.com/401965/37117748-688ab814-2252-11e8-9548-a3cc2a298214.png)![tropical_a_pattern_2](https://user-images.githubusercontent.com/401965/37117749-68a4a18e-2252-11e8-9191-f88834f26812.png)![tropical_a_pattern_3](https://

[2018-03-07 21:00] lipki commented on #378
I make that also.
I choose points rather than banners, I find it more precise.
Your red cross is better.
![map_icons](https://user-images.githubusercontent.com/401965/37117829-a31c6e6e-2252-11e8-9139-99bceaa4c141.png)

[2018-03-07 21:05] tobyplowy commented on #376
@lipki nice

[2018-03-07 21:08] kingoscargames commented on #377
There is more than one "dead coral" version now.

[2018-03-07 21:47] tobyplowy commented on #329
@lipki ping
can this finnaly be fixed please?

[2018-03-07 21:52] tobyplowy commented on #377
@kingoscargames we know this is still not added so its still WIP

if you have any textures please show them

[2018-03-07 22:05] lipki commented on #329
I agree for the change.
But we should propose new texture.

[2018-03-07 22:09] lipki commented on #340
update 18w10b

[2018-03-07 22:14] lipki commented on #377
@kingoscargames yes we know, but thank you ;)
update 18w10b

[2018-03-07 22:25] chengzzi89 commented on #378
@lipki Because it feels like a banner, so it looks like that!😃

[2018-03-07 22:27] chengzzi89 commented on #378
@lipki Because it feels like a banner, so I painted it like that!😃

[2018-03-12 12:47] lipki commented on #360
![phantom](https://user-images.githubusercontent.com/401965/37284103-9ca97f6c-25fa-11e8-9719-e042fe8a8c2b.png)![phantom_eyes](https://user-images.githubusercontent.com/401965/37284104-9d1dfe14-25fa-11e8-9102-a4426eee57cf.png)

I stay on the same model while waiting better.
I just place the skeleton shape on the bright layer of the eyes.

![capture du 2018-03-12 13-36-46](https://user-images.github

[2018-03-12 13:54] lipki commented on #377
![blue_coral](https://user-images.githubusercontent.com/401965/37287294-cb7f5280-2604-11e8-8ad5-e3df85d24a67.png) ![purple_coral](https://user-images.githubusercontent.com/401965/37287296-cbc77b8c-2604-11e8-8e2e-d15793a82a34.png) ![red_coral](https://user-images.githubusercontent.com/401965/37287297-cc0a9cbe-2604-11e8-85a8-6e22942dd895.png)

new batch, what do you think of this style ?

![purple_c

[2018-03-13 21:56] lipki opened #379 "[1.13] Drowned"
![drowned](https://user-images.githubusercontent.com/401965/37372019-a4fe231c-2711-11e8-8056-334f13427021.png)![drowned_outer_layer](https://user-images.githubusercontent.com/401965/37372020-a522dc70-2711-11e8-9e9a-f3d78b68fec0.png)

[2018-03-13 22:03] lipki commented on #340
update 18w11a

[2018-03-13 22:03] lipki commented on #377
update 18w11a

[2018-03-13 22:04] lipki commented on #379
First proposal.
It is not because I make a proposal, that you should not do it too.
Mmmm ...

![drowned](https://user-images.githubusercontent.com/401965/37372387-da2a7058-2712-11e8-9aba-29c0b9a9a142.png)![drowned_outer_layer](https://user-images.githubusercontent.com/401965/37372388-da4e9992-2712-11e8-9775-1dec6d4a264f.png)

![capture du 2018-03-13 22-45-45](https://user-images.githubusercontent.

[2018-03-13 23:21] tobyplowy commented on #379
more sea thing
![37372387-da2a7058-2712-11e8-9aba-29c0b9a9a142](https://user-images.githubusercontent.com/16853304/37374907-9d246fdc-271d-11e8-91b7-723d0fad42a4.png)
![37372388-da4e9992-2712-11e8-9775-1dec6d4a264f](https://user-images.githubusercontent.com/16853304/37374908-9d3b70e2-271d-11e8-9e69-a3772a3f8928.png)

[2018-03-14 01:03] chengzzi89 commented on #379
It will be more perfect if you add some water plants properly!🤔

[2018-03-14 12:19] lipki commented on #379
yes it's better.

[2018-03-18 00:29] chengzzi89 commented on #356
![dried_kelp](https://user-images.githubusercontent.com/28303754/37561311-699c3476-2a86-11e8-9361-2d36ec10f995.png)![kelp](https://user-images.githubusercontent.com/28303754/37561313-765bb1e6-2a86-11e8-9b0d-7e4bf63c990e.png)

[2018-03-18 12:57] lipki commented on #358
new attempt.

![stripped_acacia_log](https://user-images.githubusercontent.com/401965/37566047-219b4c60-2ab4-11e8-9daf-1324a0881c2d.png)![stripped_birch_log](https://user-images.githubusercontent.com/401965/37566048-21bda8f0-2ab4-11e8-987a-b2232c62e65c.png)![stripped_dark_oak_log](https://user-images.githubusercontent.com/401965/37566050-22005f06-2ab4-11e8-990a-147aa036c295.png)![stripped_jungle_l

[2018-03-29 14:20] chengzzi89 commented on #376
mcpe1.2.14.2 Fish eggs[1.3]  ![egg_clownfish](https://user-images.githubusercontent.com/28303754/38091802-20b72524-3399-11e8-8317-ff1e00412c8a.png)
![egg_fish](https://user-images.githubusercontent.com/28303754/38091806-21cb8e78-3399-11e8-8ea4-18942c4c01b5.png)
![egg_pufferfish](https://user-images.githubusercontent.com/28303754/38091808-22732732-3399-11e8-8a10-712e4c9389a5.png)
![egg_salmon](http

[2018-04-04 22:38] lipki commented on #376
It's not bad, but ... :)

We can do more SummerField, the eggs could be cubic. or other things.

[2018-04-04 22:38] lipki commented on #340
update 18w14a

[2018-04-06 00:46] chengzzi89 commented on #376
@lipki But I still think that the traditional egg is more uniform!😃

[2018-04-06 15:02] tobyplowy commented on #376
@lipki
![38094071-59162a5e-339f-11e8-9ba0-e2e6b595a691](https://user-images.githubusercontent.com/16853304/38428510-391a1bf2-39bc-11e8-827e-09b6dca8c94b.png)

[2018-04-07 09:34] chengzzi89 commented on #376
@tobyplowy so cool! Brighten up!😃🐚🐚

[2018-04-11 06:03] chengzzi89 commented on #376
@tobyplowy MOJANG is really a joke! Fish egg are now in the mcpe 1.2.20.1 version, change into the traditional kind of egg!😅

[2018-04-11 11:05] lipki commented on #376
I guess teams have agreed to leave the old eggs.

[2018-04-11 11:40] lipki opened #380 "[1.13] sea pickle"
![sea_pickle](https://user-images.githubusercontent.com/401965/38614519-c265f078-3d8d-11e8-9c69-317181317bb2.png)
![sea_pickle](https://user-images.githubusercontent.com/401965/38614562-da493cf4-3d8d-11e8-81df-90f105888052.png)

[2018-04-11 11:40] lipki commented on #340
update 18w14b

[2018-04-11 22:41] lipki opened #381 "[1.13] dolphin"
![dolphin](https://user-images.githubusercontent.com/401965/38646914-2b6e3b0a-3dea-11e8-9c47-c702a086e531.png)

[2018-04-11 22:42] lipki commented on #381
go toby, he is for you this one :)

[2018-04-11 22:44] lipki opened #382 "[1.13] conduit"
![base](https://user-images.githubusercontent.com/401965/38647014-8036baea-3dea-11e8-9c2c-3abda2db8567.png)![cage](https://user-images.githubusercontent.com/401965/38647016-80599e20-3dea-11e8-9076-cfa97e7e81ac.png)![entity_core](https://user-images.githubusercontent.com/401965/38647017-807e0d6e-3dea-11e8-8aae-fabd761302ad.png)
![wind](https://user-images.githubusercontent.com/401965/38647018-80a35

[2018-04-11 22:46] lipki opened #383 "[1.13] Blue ice"
![blue_ice](https://user-images.githubusercontent.com/401965/38647098-e263f0ca-3dea-11e8-8b7f-897b191b0676.png)

[2018-04-11 22:47] lipki commented on #340
update 18w15a

[2018-04-11 23:53] lipki commented on #382
![heart_of_the_sea](https://user-images.githubusercontent.com/401965/38648955-3fcc4858-3df4-11e8-9f67-8279b751ee83.png)

[2018-04-12 01:35] lipki commented on #382
![base](https://user-images.githubusercontent.com/401965/38651559-3645cb48-3e02-11e8-9cbd-0cfb24f158a1.png)![cage](https://user-images.githubusercontent.com/401965/38651560-367f7852-3e02-11e8-9e35-3b6b9fdafc63.png)![entity_core](https://user-images.githubusercontent.com/401965/38651561-36a5cf16-3e02-11e8-9c8e-dbda5cc106f9.png)

![capture du 2018-04-12 03-32-32](https://user-images.githubuserconten

[2018-04-12 01:52] lipki commented on #382
![nautilus_shell](https://user-images.githubusercontent.com/401965/38652164-f5cb4e8c-3e04-11e8-984c-7db0f9fc0378.png)

[2018-04-12 12:51] tobyplowy commented on #381
@lipki whats the texture file of the dolphin called?

[2018-04-12 19:00] lipki commented on #381
yeah :)
I'm going to swim with the dolphins now.

[2018-04-12 23:34] lipki commented on #380
![sea_pickle](https://user-images.githubusercontent.com/401965/38708958-ef987dc8-3eb8-11e8-9463-bcfe760cab22.png)

![capture du 2018-04-13 01-22-19](https://user-images.githubusercontent.com/401965/38709030-372b6178-3eb9-11e8-8641-4ef5a00f8abe.png)

[2018-04-12 23:34] lipki commented on #380
done ?

[2018-04-12 23:34] lipki commented on #383
done ?

[2018-04-12 23:35] lipki commented on #381
done ?

[2018-04-12 23:36] lipki commented on #379
I still have doubts about that one.

[2018-04-13 13:15] tobyplowy commented on #383
@lipki yup

[2018-04-13 13:15] tobyplowy commented on #381
@lipki jup

[2018-04-13 13:15] tobyplowy commented on #380
@lipki yes

[2018-04-13 20:36] #383 closed

[2018-04-13 20:46] #381 closed

[2018-04-13 21:31] #380 closed

[2018-04-13 21:37] #375 closed

[2018-04-13 21:46] #374 closed

[2018-04-13 21:56] #343 closed

[2018-04-13 22:28] #341 closed

[2018-04-13 22:41] #346 closed

[2018-04-14 18:59] #357 closed

[2018-05-09 17:38] lipki commented on #340
update 18w19a

[2018-05-09 17:40] lipki opened #389 "[1.13] inventory"
![inventory](https://user-images.githubusercontent.com/401965/39830058-92155848-53c0-11e8-875c-e5717c21ca7c.png)

[2018-05-09 17:41] lipki commented on #364
update 18w19a

[2018-05-09 17:41] lipki commented on #363
update 18w19a

[2018-05-09 17:42] lipki commented on #359
update 18w19a

[2018-05-14 14:35] lipki commented on #305
Well, I'm looking into this project.
Here is the first package rp1
Which supports 1.6.x versions 1.7.x and 1.8.x
With and without Optifine.
I add the textures changes made after 1.8
I also changed the font, but I'm not sure.
There is still some random texture to add.

I need testers for this pack.
[Summerfields rp1 (1.6|1.7|1.8).tar.gz](https://github.com/SummerFields/SummerFields/files/2001166/Su

[2018-05-15 15:39] chengzzi89 commented on #389
Has this UI been completed?😃

[2018-05-15 20:06] tobyplowy commented on #389
![inventory](https://user-images.githubusercontent.com/16853304/40080747-3e2bd6fa-588c-11e8-9c82-885a771c825e.png)

[2018-05-15 20:11] tobyplowy commented on #389
@chengzzi89 now it is completed :)

[2018-05-16 10:36] lipki commented on #389
Ok that's done, I make the commit.

[2018-05-16 10:52] #389 closed

[2018-05-16 11:04] lipki commented on #382
he misses the "winds"

[2018-05-21 14:30] Jaychiung opened #393 "Some suggestions on color scheme"
Hi, em......
This is my first time write to you, my friend. I have been using your product for almost 7 years. I sometimes recall the history of my game experience and ask myself how did I chose your resource pack. I guess it's because, the skin, the color is always close to the original version and the pattern is always better. I love the way you design the pattern but now I realized that somethi

[2018-05-22 08:19] lipki commented on #393
I think you are right :)

There have been changes of texture, and new textures not necessarily very well chosen (in terms of color).

The fact is, there are not many contributors, and most importantly, no builder in the team.

If you have proposals for change, one or more, do not hesitate to say it here.
If in addition you can propose textures it is even better.
And even several textures with vari

[2018-05-25 14:34] Jaychiung commented on #393
Well, yes, I understand you.
I wanna say THANKS to the team, I really wish the texture pack can stand
for as long as possible.
Do you have any suggestions of how to start learn how to make textures? I
wish oneday I could join you~~

Jay

2018-05-22 16:19 GMT+08:00 Lepeltier kévin <notifications@github.com>:

[2018-05-25 14:48] tobyplowy commented on #393
@Jaychiung hahahah thanks I'm happy that you like the pack :)

I have some tips try to replace some textures that are already in the pack
And make them fit as well as you can

Also color index mode on 32 colors is a nice thing as it makes your textures feel more retro

Also watch these videos as they are very useful!
https://youtu.be/xw65wUfEKIc
https://youtu.be/946Qt7jEzbE
https://youtu.be/iga8qw

[2018-05-28 09:02] Jaychiung commented on #393
Well, it seems I joined a group chat.....
Hey everyone~~~
About clay, well emm.....textures of clay in summerfields are always super
cool, I love them all!!
But one thing here bother me is that the color is quite different from the
orginal resource pack....the color scheme in the oringal one is
nasty....but, you know, when I build somethings using summerfields and I
feel that the building is aweso

[2018-06-06 11:40] lipki commented on #379
ok it's done

[2018-06-06 11:48] #379 closed

[2018-06-06 12:02] lipki commented on #378
done

[2018-06-06 12:02] #378 closed

[2018-06-06 12:19] tobyplowy commented on #356
@lipki @chengzzi89 kelp block still needs to be done

[2018-06-06 12:20] tobyplowy commented on #355
@chengzzi89 hows progress on this going?

[2018-06-06 12:40] tobyplowy opened #397 "glass ctm"
![image](https://user-images.githubusercontent.com/16853304/41038673-4d9dc064-6997-11e8-8b7b-6ee2892defe7.png)
[ctm.zip](https://github.com/SummerFields/SummerFields/files/2076199/ctm.zip)
put the mcpatcher folder from the ctm.zip summerfealds\assets\minecraft

[2018-06-06 12:41] tobyplowy commented on #397
i will do the colored versions later

[2018-06-06 12:42] #376 closed

[2018-06-06 12:45] lipki commented on #397
The ctm files already exist:
https://github.com/SummerFields/SummerFields/tree/rp1/assets/minecraft/mcpatcher
https://github.com/SummerFields/SummerFields/blob/rp1/SummerFields_rp1.zip?raw=true
If you want to check and complete them.

[2018-06-06 12:46] lipki commented on #397
it's for which version ?

[2018-06-06 12:47] #361 closed

[2018-06-06 12:49] tobyplowy commented on #397
1.12.2

[2018-06-06 13:13] lipki commented on #360
Quickly done, Poorly done, Membrane.
![phantom_membrane](https://user-images.githubusercontent.com/401965/41039842-f667dc9a-699a-11e8-8c7f-612957e6a1bb.png)
![phantom_membrane](https://user-images.githubusercontent.com/401965/41040243-1e7e731e-699c-11e8-91d5-11da95cd5ecb.png)

[2018-06-06 13:19] lipki commented on #397
ah,great, I still have not checked mcpatcher on 1.12.
Look here : https://twitter.com/Zombiellaa/status/1002313683391746048

[2018-06-06 13:28] tobyplowy commented on #397
Uuuuh not sure why that happens
Bdw I very new to ctm so I probably won't be able to fix it

[2018-06-06 13:34] #358 closed

[2018-06-06 13:35] lipki commented on #397
It was just for info, I'll finish by taking care of it.

[2018-06-06 19:35] lipki commented on #356
done

[2018-06-06 19:36] lipki commented on #351
@chengzzi89
Can you make a underwater background ?

[2018-06-07 09:27] chengzzi89 commented on #351
@lipki Ok, no problem!😄

[2018-06-07 09:27] chengzzi89 commented on #351
@lipki Ok, no problem!😄

[2018-06-07 10:27] chengzzi89 commented on #377
No content of coral found in the bag🤔

[2018-06-07 16:36] lipki commented on #382
I can not do anything good for the winds textures, so I put nothing temporarily.

[2018-06-07 16:36] lipki opened #399 "[1.13] conduit winds"
![wind](https://user-images.githubusercontent.com/401965/38647018-80a354b6-3dea-11e8-9c6c-6eab7d159755.png)![wind_vertical](https://user-images.githubusercontent.com/401965/38647019-80c57d5c-3dea-11e8-9bb7-c9623a527000.png)

[2018-06-12 12:32] lipki opened #400 "[1.13] panorama"
![panorama_overlay](https://user-images.githubusercontent.com/401965/41290506-606636d0-6e4d-11e8-8427-9f4d1ca5caa8.png)

[2018-06-12 20:53] chengzzi89 commented on #400
Sorry, my Render-360mod is 1.12 and I can't run it in the 1.13 snapshot!😟

[2018-06-14 13:49] chengzzi89 commented on #400
1.13-pre1
![recipe_book](https://user-images.githubusercontent.com/28303754/41416078-ae53807a-701c-11e8-911a-1450957467de.png)

[2018-06-14 16:17] lipki commented on #400
It's not the right issue, but thanks :)
Too bad for the render 360, you will wait for the update.

[2018-06-14 17:39] lipki opened #406 "[1.13] bark top"
**bark top**
![acacia_bark_top](https://user-images.githubusercontent.com/401965/41428512-99654192-700a-11e8-8843-f120c3265d1c.png)
![birch_bark_top](https://user-images.githubusercontent.com/401965/41428513-99907b00-700a-11e8-9064-7db322c9fdce.png)
![dark_oak_bark_top](https://user-images.githubusercontent.com/401965/41428514-99b5f0b0-700a-11e8-878d-da7bc580c9c4.png)
![jungle_bark_top](https://us

[2018-06-14 17:39] lipki commented on #406
![acacia_bark_top](https://user-images.githubusercontent.com/401965/41428537-ac3a9b28-700a-11e8-93fb-2f3b3798bcad.png)
![birch_bark_top](https://user-images.githubusercontent.com/401965/41428539-ac6112a8-700a-11e8-9f7a-4d5af27f3ca2.png)
![dark_oak_bark_top](https://user-images.githubusercontent.com/401965/41428540-ac8958c6-700a-11e8-9f71-65fe76f40312.png)
![jungle_bark_top](https://user-images.git

[2018-06-14 17:43] #406 closed

[2018-06-14 18:15] lipki commented on #363
by @chengzzi89
![recipe_book](https://user-images.githubusercontent.com/401965/41430171-98427ece-700f-11e8-8458-92b93e762eb9.png)

[2018-06-14 19:52] lipki commented on #377
![dead_brain_coral_block](https://user-images.githubusercontent.com/401965/41434707-f74769ea-701c-11e8-82e2-e0f42e2c88d7.png)![dead_bubble_coral_block](https://user-images.githubusercontent.com/401965/41434708-f77eed98-701c-11e8-9d7a-d965c13a24fb.png)![dead_fire_coral_block](https://user-images.githubusercontent.com/401965/41434709-f7ab884e-701c-11e8-8561-bfa630b2d11b.png)![dead_horn_coral_block](

[2018-06-14 19:52] #377 closed

[2018-06-14 20:17] chengzzi89 commented on #356
![dried_kelp_side_mirror](https://user-images.githubusercontent.com/28303754/41435980-00fe6958-7053-11e8-8a92-bf52b404202e.png)![dried_kelp_top](https://user-images.githubusercontent.com/28303754/41435983-0243fca6-7053-11e8-9e26-c0dee38a74a1.png)

[2018-06-14 20:20] #400 closed

[2018-06-14 20:28] chengzzi89 commented on #356
@lipki Your kelp is cool ;)

[2018-06-14 20:52] #360 closed

[2018-06-14 21:39] lipki commented on #359
![turtle_egg](https://user-images.githubusercontent.com/401965/41439716-1e1b83e4-702c-11e8-9177-5ba881b60e49.png)

[2018-06-14 21:41] lipki commented on #359
I tried to make a new turtle helmet, what do you think?
![capture du 2018-06-14 23-37-45](https://user-images.githubusercontent.com/401965/41439719-245de382-702c-11e8-82b8-6894b65a95fc.png)
![turtle_layer_1](https://user-images.githubusercontent.com/401965/41439736-377557b6-702c-11e8-9090-122e40b1c1e7.png)

[2018-06-14 22:18] lipki commented on #359
![turtle_helmet](https://user-images.githubusercontent.com/401965/41441148-a6067d7c-7031-11e8-8180-4e988c67c7e1.png)

[2018-06-14 22:34] #340 closed

[2018-06-14 23:41] lipki commented on #311
I took a little, the colors, to be in the sheme summerfields.
That's what it gives in image.

![color](https://user-images.githubusercontent.com/401965/41443075-072097b0-703b-11e8-8120-5745676bc2d9.png)
![capture du 2018-06-15 01-26-29](https://user-images.githubusercontent.com/401965/41443097-3432e23a-703b-11e8-8808-799d1cc3c3ee.png)
![capture du 2018-06-15 01-38-37](https://user-images.githubuse

[2018-06-15 05:40] chengzzi89 commented on #311
Yellow and orange may be exchanged!🤔

[2018-06-15 05:41] chengzzi89 commented on #311
Yellow and orange may be exchanged!🤔

[2018-06-15 16:35] chengzzi89 commented on #381
[mcpe]  ![dolphin](https://user-images.githubusercontent.com/28303754/41479133-c0d26a8c-70fc-11e8-97c4-c306d0512886.png)

[2018-06-15 17:57] chengzzi89 opened #419 "bubble_column"
Request help
![bubble_column_down_top_a](https://user-images.githubusercontent.com/28303754/41482516-6ba4005a-7108-11e8-9f54-3b4a4cf61509.png)       ![bubble_column_inner_a](https://user-images.githubusercontent.com/28303754/41482517-6bf678d0-7108-11e8-9d6d-78cef197b1d1.png)       ![bubble_column_outer_a](https://user-images.githubusercontent.com/28303754/41482519-6cb74100-7108-11e8-9945-a23ff3caa

[2018-06-16 06:14] lipki commented on #419
Which version is it for?

[2018-06-16 11:07] chengzzi89 commented on #419
@lipki mcpe ocean bubble column！😅😅

[2018-06-16 14:42] lipki commented on #419
I can help, but can you put this here : https://github.com/SummerFields/MCPE/issues/new

[2018-06-16 15:01] chengzzi89 commented on #419
I am sorry, I am anxious, so I made a mistake!

[2018-06-16 17:41] lipki commented on #339
Repair in 1.13
So I could finish the armor.

![capture du 2018-06-16 19-38-27](https://user-images.githubusercontent.com/401965/41501049-32e07006-719d-11e8-98f1-5193edfa6abd.png)

![horse_armor_diamond](https://user-images.githubusercontent.com/401965/41501052-3d8e5c5c-719d-11e8-9930-db8cd85f8290.png)![horse_armor_gold](https://user-images.githubusercontent.com/401965/41501053-3db1f202-719d-11e8-9

[2018-06-16 17:56] #339 closed

[2018-06-16 17:58] lipki commented on #356
Your as well.
@tobyplowy  you choose !?

[2018-06-16 18:00] lipki commented on #419
No need to apologize, there is no problem.

[2018-06-16 23:41] lipki commented on #419
view -> #12

[2018-06-16 23:41] #419 closed

[2018-06-17 00:48] tobyplowy commented on #356
@lipki I like your top more but I don't like the side bucouse it's a Junglewood recolor XD

[2018-06-17 15:39] tobyplowy commented on #356
The strings look like strings so I guess that's fine :)

[2018-06-17 20:40] #359 closed

[2018-06-17 22:36] lipki commented on #329
acacia leaf ![acacia_leaves](https://user-images.githubusercontent.com/401965/41512517-d7828af8-7289-11e8-9d58-54b1d0ee6825.png)
birch leaf ![birch_leaves](https://user-images.githubusercontent.com/401965/41512762-4b6fb09e-728f-11e8-976f-6d65209de21f.png)
ping @tobyplowy

[2018-06-17 22:54] lipki commented on #329
![capture du 2018-06-18 00-41-54](https://user-images.githubusercontent.com/401965/41512834-4ea8947c-7291-11e8-9044-51f608a4289f.png)
![capture du 2018-06-18 00-53-26](https://user-images.githubusercontent.com/401965/41512867-1b019898-7292-11e8-8ba4-557856c51c7b.png)

[2018-06-17 23:14] #302 closed

[2018-06-17 23:17] lipki commented on #342
And if we put the name of the game in big.
And "summerfields" instead of "java edition"

MINECRAFT
[Summerfields]

[2018-06-17 23:18] lipki commented on #342
I will give an example.

[2018-06-17 23:55] tobyplowy commented on #356
@lipki I like it

[2018-06-17 23:57] tobyplowy commented on #329
@lipki good job
I like it!

[2018-06-18 00:01] chengzzi89 commented on #356
@lipki perfect!

[2018-06-18 11:04] tobyplowy commented on #342
Good Idea

[2018-06-18 12:10] #356 closed

[2018-06-18 12:18] #329 closed

[2018-06-19 16:16] lipki commented on #311
![red_glazed_terracotta](https://user-images.githubusercontent.com/401965/41609496-2897697e-73eb-11e8-8fc0-42983a415942.png)
![capture du 2018-06-19 17-54-11](https://user-images.githubusercontent.com/401965/41609483-22063a86-73eb-11e8-9dd5-7c0620aa2452.png)
Inspired by a dragon texture quest
![39201](https://user-images.githubusercontent.com/401965/41609601-7ceff9a0-73eb-11e8-8bab-2deff648c47f.pn

[2018-07-08 22:19] tobyplowy commented on #399
i like these
done?

[2018-07-08 22:21] tobyplowy commented on #306
@lipki @chengzzi89 @CuddleWoozle
do we do it?

[2018-07-08 22:37] lipki commented on #399
it's the originals.
I did not manage to do a good thing.

[2018-07-08 22:38] lipki commented on #306
It interests me, but like everything else, the job that it represents scares me.

[2018-07-08 22:48] tobyplowy commented on #306
@lipki yeah but i will help alot
and most textures shuld not take much longer than 5 minutes to make

[2018-07-08 22:49] tobyplowy commented on #306
@chengzzi89 what about you what do you think?

[2018-07-09 23:55] CuddleWoozle commented on #306
Just to pop in my thoughts on this:

I've always felt that Jolicraft was the 16x "summerfields".  The packs are
so similar in design/premise that I'm afraid if you start shrinking
SummerFields down you're going to end up with pretty much a Jolicraft clone.

I'm not saying "Don't do it", I'm just saying that's going to be something
you'll have to keep an eye on and make sure that things end up diff

[2018-08-24 21:33] lipki opened #435 "[1.13.1] the JSON interpreter and less permissive"
Some animated texture does not work anymore

[2018-08-24 21:41] #435 closed

[2018-09-19 23:08] tobyplowy commented on #311
I think these textures are perfect, I feel like they are ready to be added :D

[2018-09-19 23:09] tobyplowy commented on #306
@lipki Close?

[2018-09-19 23:15] tobyplowy commented on #399
Hummm... I can't seem to do it ether.
This is a hard one.

[2018-09-19 23:17] tobyplowy commented on #351
@chengzzi89 Here's a little reminder :D

[2018-09-30 17:03] tobyplowy opened #438 "[1.14.2] Minecraft update"
This issue is to gather information and prep textures for the upcoming minecraft update 1.14.

[2018-09-30 17:07] tobyplowy commented on #438
There will now be 8 cat textures in minecraft instead of just 4.
![image](https://user-images.githubusercontent.com/16853304/46260233-9ae32d80-c4e3-11e8-8000-f00a2a844311.png)
every village will be unique depending on the biome it will be in.
villagers will also get a Unique texture and it seems like they will get special models depending on there profession,

[2018-09-30 17:13] lipki opened #439 "[1.14] Nine cats (la la lala lalalala la ....)"
![capture du 2018-11-02 12-32-50](https://user-images.githubusercontent.com/401965/47913203-87890080-de9b-11e8-9a55-f1a35412fc3e.png)

+ jellie
![jellie](https://user-images.githubusercontent.com/401965/49890278-00d52500-fe44-11e8-8914-2bba61109a28.png)

[2018-09-30 17:14] lipki opened #440 "[1.14]"

[2018-09-30 17:22] lipki opened #441 "[1.14] Really more villagers"
![](https://community-content-assets.minecraft.net/upload/styles/large/s3/ecc42eac7a61534efdb13c2d23d049b0-Header.jpg)
![](https://community-content-assets.minecraft.net/upload/styles/small/s3/261bb692505f27684b7d1a04e248773b-HereWeGo.jpg)

- Maybe 5 origins / biomes
- 12 different professions
- Mainly differentiate by their hats in the original version.

Maybe the textures will be assembled.
A ba

[2018-09-30 17:37] tobyplowy commented on #438
@lipki We can use the hat layer now :D
![image](https://user-images.githubusercontent.com/16853304/46260589-3d051480-c4e8-11e8-89a3-654e4946decf.png)

[2018-09-30 18:10] tobyplowy opened #442 "[1.14] Bamboo"
Bamboo will be added to minecraft.
![image](https://user-images.githubusercontent.com/16853304/46260329-cca8c400-c4e4-11e8-81f1-f32bfd01b987.png)
Bamboo seems to be 3 pixels wide.
And there seems to be 2 variants, one with leaves and one without, and there seems to be a bottom bamboo leaves version.
![image](https://user-images.githubusercontent.com/16853304/46260956-3f1da200-c4ed-11e8-995b-391983

[2018-09-30 18:36] tobyplowy commented on #399
@chengzzi89 Can you give it an attempt?

[2018-09-30 18:38] tobyplowy commented on #355
@chengzzi89 Can you finish this and submit the new models?

[2018-09-30 18:53] tobyplowy commented on #355
@lipki Also I had an idea...
What if the ores got a model and the material sticks out of the rock?
A bit like this
https://www.virtualmicroscope.org/sites/default/files/styles/large_carousel/public/cassiterite_C_1903-1-851-AGT10755.jpg?itok=SQW05dta

[2018-09-30 18:56] tobyplowy commented on #355
@lipki Also I had an idea...
What if the ores got a model and the material sticks out of the rock?
A bit like this
![image](https://user-images.githubusercontent.com/16853304/46261378-f23cca00-c4f2-11e8-95d0-95f04996d5d7.png)
I made this with real quick with blender as a proof of concept, it doesn't look good but with some more time it can look amazing.
So it looks like a real ore cluster.
https:/

[2018-09-30 18:58] tobyplowy commented on #311
@lipki Close?

[2018-09-30 19:04] #440 closed

[2018-09-30 19:07] lipki commented on #442
I think it will be necessary to change the sugar cane, too.

[2018-09-30 19:15] lipki opened #443 "[1.14.1] Minecraft update"
There will now be 9 cat textures in minecraft instead of just 4.
![46260233-9ae32d80-c4e3-11e8-8000-f00a2a844311](https://user-images.githubusercontent.com/401965/46260338-df22fd80-c4e4-11e8-8920-3118b1ba59ba.png)
And a mysterious item, to tame them.
 #439

They are adding bamboo.
![image](https://user-images.githubusercontent.com/16853304/46260329-cca8c400-c4e4-11e8-81f1-f32bfd01b987.png)
Bamboo

[2018-09-30 19:31] #306 closed

[2018-09-30 19:35] lipki opened #444 "[1.14] Panda"
![](https://community-content-assets.minecraft.net/upload/styles/small/s3/e2d0abe34518a1e27ec6ed1067d41e1b-Pandas.JPEG)

[2018-09-30 19:38] lipki commented on #438
nop, he misses the brim for hats.

[2018-09-30 21:04] tobyplowy commented on #442
@lipki What do you think about this?
![sugar_cane](https://user-images.githubusercontent.com/16853304/46262697-1e614680-c505-11e8-929b-3623123dc1e4.png)

[2018-09-30 21:17] tobyplowy opened #446 "Kelp top cuts off animation from frames below"
![image](https://user-images.githubusercontent.com/16853304/46262806-caeff800-c506-11e8-99d9-5f0918b7f968.png)
And here's a fix texture that I have done.
![kelp](https://user-images.githubusercontent.com/16853304/46262813-db07d780-c506-11e8-8bd8-699e399b8ddc.png)

[2018-10-01 07:45] lipki commented on #438
nop, he misses the brim for hats.

[2018-10-01 07:53] lipki commented on #442
![](https://upload.wikimedia.org/wikipedia/commons/8/8e/Canne_en_fleur.jpeg)

[2018-10-01 07:59] lipki commented on #342
nop, it deserves to be made cleaner, and a better contrast between minecraft and Summerfields.
It is difficult to distinguish it.

It can still wait for 1.13.2.

[2018-10-01 09:39] lipki opened #447 "[1.14 Villager] Three-layer separation"
I think the easiest way is to work the villagers into three separate layers.
- villagers
- clothes
- job

example :
![capture du 2018-10-01 11-16-51](https://user-images.githubusercontent.com/401965/46281350-b9423b00-c56e-11e8-9a6d-b7c3ac414ed4.png)
![capture du 2018-10-01 11-17-24](https://user-images.githubusercontent.com/401965/46281360-c2330c80-c56e-11e8-8402-4c4938030732.png)
![capture du 201

[2018-10-01 09:46] lipki opened #448 "[1.14 Villager] Identify professions with things other than colors"
As a reminder, we have textures that are not used.
And that can be used for trades.

![builder](https://user-images.githubusercontent.com/401965/46281855-31f5c700-c570-11e8-9d2f-0d179f5d324e.png) Builder
![forge](https://user-images.githubusercontent.com/401965/46281858-328e5d80-c570-11e8-9057-3734a0546939.png) Forge
![guard elite](https://user-images.githubusercontent.com/401965/46281859-328e5d80

[2018-10-01 09:56] lipki opened #449 "[1.14 Villager] Identify type with clothes"
As a reminder, we have textures that are not used.
And this can be used for biomes.

![builder](https://user-images.githubusercontent.com/401965/46282265-51412400-c571-11e8-9278-249d2f64b41b.png)![lambda](https://user-images.githubusercontent.com/401965/46282286-6027d680-c571-11e8-8fed-ed0993650906.png)![smithgoonmkii](https://user-images.githubusercontent.com/401965/46282344-88afd080-c571-11e8-88

[2018-10-01 14:18] lipki commented on #449
Biomes :
Plains
Deserts
Taiga
Savannas
Jungle
Snowy taiga
... ?

[2018-10-01 14:39] lipki opened #450 "[1.14] Pillager"
![capture du 2018-10-01 16-21-14](https://user-images.githubusercontent.com/401965/46294464-21f0de00-c596-11e8-8c91-3c8ddbadcce0.png)

![pillager](https://user-images.githubusercontent.com/401965/47445168-9b0bdb80-d7b8-11e8-9b93-01165ea4dee3.png)

[2018-10-01 15:26] lipki opened #451 "[1.14] Pillager beast"
![capture du 2018-10-01 16-21-14](https://user-images.githubusercontent.com/401965/46294464-21f0de00-c596-11e8-8c91-3c8ddbadcce0.png)
![beast](https://user-images.githubusercontent.com/401965/47445122-7283e180-d7b8-11e8-8cef-f5d805d1ce38.png)

[2018-10-01 15:30] lipki commented on #451
For this one, I propose to take the style of golem.
A robot beast, then.
![capture du 2018-10-01 17-28-27](https://user-images.githubusercontent.com/401965/46298516-8b291f00-c59f-11e8-8fd4-a276e65cf649.png)

[2018-10-01 17:11] tobyplowy commented on #438
The brim is new but I'm sure it uses that hat layer.

[2018-10-01 17:17] tobyplowy commented on #451
@lipki Can I do this one?

[2018-10-01 17:43] tobyplowy commented on #446
@lipki

[2018-10-01 17:47] tobyplowy commented on #442
@lipki I made it look like this.
https://www.google.be/search?q=sugarcane&safe=active&client=tablet-android-google&prmd=inmv&source=lnms&tbm=isch&sa=X&ved=0ahUKEwi-gcKT5uXdAhVQKewKHX0yBaoQ_AUIESgB&biw=960&bih=600#imgrc=EbblvTEMvhl6HM:

But I will try the other image.

[2018-10-01 20:39] lipki commented on #442
It's just to differentiate them.
maybe just make them redder.

[2018-10-01 20:40] lipki commented on #451
yep, of course.

[2018-10-01 21:02] tobyplowy commented on #442
@lipki What about this?
![sugar_cane](https://user-images.githubusercontent.com/16853304/46315562-14574a80-c5ce-11e8-9609-457d5bc4e616.png)

[2018-10-02 13:54] lipki commented on #448
Jobs (currently) :
Librarian : blue bearded
Cartographer : blue bearded
Butcher : white - apron in blood
Leatherworker : white - apron in blood
Cleric : pink bearded
Fletcher : brown
Shepherd : brown
Farmer : brown
Fisher : brown
Armorer : gris - leather apron
Toolsmith : gris - leather apron
Weaponsmith : gris - leather apron
idiot : green

[2018-10-03 17:14] lipki opened #452 "New 3d rail"
I wanted to do that for so long.

![capture du 2018-10-03 17-41-02](https://user-images.githubusercontent.com/401965/46423281-834fb300-c736-11e8-9e97-c71fe1e4237b.png)
![capture du 2018-10-03 17-41-57](https://user-images.githubusercontent.com/401965/46423305-8ba7ee00-c736-11e8-960d-4699625782f8.png)
![capture du 2018-10-03 17-41-36](https://user-images.githubusercontent.com/401965/46423291-86e33a

[2018-10-03 17:15] lipki opened #453 "New ladder 3d"
![capture du 2018-10-03 19-13-27](https://user-images.githubusercontent.com/401965/46427038-88196480-c740-11e8-9138-32b3529c44ef.png)

[ladder.json.zip](https://github.com/SummerFields/SummerFields/files/2443010/ladder.json.zip)

[2018-10-03 17:47] tobyplowy commented on #452
@lipki this is amazing man!
One thing that anoyes me is the light pixels on the metal rail.
They seme to mirror a lot.
![screenshot_20181003-194638](https://user-images.githubusercontent.com/16853304/46428753-168fe500-c745-11e8-8ff9-f79dcd92900a.png)
Maybe have the highlight on the rail always on the outside of the rail.
That way there wount be any flipping of the light line.

[2018-10-03 18:35] lipki commented on #452
like this :
![capture du 2018-10-03 20-34-22](https://user-images.githubusercontent.com/401965/46431354-e1d35c00-c74b-11e8-9616-5ff8db116b46.png)

[2018-10-03 18:37] lipki commented on #452
it's better, thank you.

[2018-10-04 12:03] lipki opened #454 "New note block"
Displays the note and the instrument.

![capture du 2018-10-03 23-23-33](https://user-images.githubusercontent.com/401965/46472672-36271c00-c7de-11e8-9b9b-7d865180e6c9.png)

![capture du 2018-10-04 13-56-39](https://user-images.githubusercontent.com/401965/46472679-3aebd000-c7de-11e8-8038-283784374e43.png)

[2018-10-04 12:45] lipki opened #455 "Two stages of development of sapling"
![capture du 2018-10-04 14-34-18](https://user-images.githubusercontent.com/401965/46474793-1561c500-c7e4-11e8-8ece-8bbe2d1163c3.png)

[2018-10-04 14:06] lipki opened #456 "new Sticky piston"
Allows to distinguish the sticky piston by the side or the back.

![capture du 2018-10-04 16-02-53](https://user-images.githubusercontent.com/401965/46479469-62976400-c7ef-11e8-8fb4-3d96c4a1c4e0.png)

[2018-10-05 00:41] tobyplowy commented on #452
@lipki Yes exactly like that :D

[2018-10-05 00:54] tobyplowy commented on #453
@lipki The 3D looks a bit odd.
Why not make the planks look a bit like this?
![image](https://user-images.githubusercontent.com/16853304/46510548-f1d16580-c849-11e8-9c76-2c65ef551ca1.png)

[2018-10-05 00:57] tobyplowy commented on #454
Looks nice but I feel that it's a bit odd to have the texture on all sides.

[2018-10-05 00:57] tobyplowy commented on #455
@lipki Really nice.
Is it possible to have 3 stages?

[2018-10-05 01:34] tobyplowy opened #457 "Should we add models for some normal blocks?"
Like gravel can get a model like this for example
![image](https://user-images.githubusercontent.com/16853304/46511113-f1869980-c84c-11e8-854d-9c5ffd92d3c2.png)

And maybe for grass we can have some small pebbles
Or some short grass stick out of the top of the grass block.

Ore can use this too...
Here's an image from the Minecraft Dungeons trailer.
![image](https://user-images.githubusercontent.c

[2018-10-05 07:50] lipki commented on #453
You can not make free angles, only 0 / 22.5 / 90 and on one axis at a time.
But yes it might be better.

[2018-10-05 07:56] lipki commented on #453
![capture du 2018-10-05 09-54-26](https://user-images.githubusercontent.com/401965/46523039-cd46af00-c884-11e8-9808-aaf7528c9c8a.png)
not great ...

[2018-10-05 08:16] lipki commented on #454
We can not always see all the faces.
![capture du 2018-10-05 10-14-04](https://user-images.githubusercontent.com/401965/46524001-c40b1180-c887-11e8-8fa8-6cd97009ec8f.png)
But if you have a better idea, I take it.

[2018-10-05 08:18] lipki commented on #455
No, in the game there are only two.

[2018-10-05 08:47] lipki commented on #457
So, several things.

The new models are very greedy resource.
in addition to weighing down the pack.
So I prefer to go with parcimony.

For the moment I chose the blocks that really needed it ... from my point of view.
Because the block was just a face in the void:
iron bars
rails
sugar cane

To provide additional information:
piston
note block

To bring relief:
chorus
doors
trapdoor

So ok to imp

[2018-10-05 08:53] lipki commented on #457
Nop, it will not work, we can not use transparency for extra layers.
We have to make each little cube one by one.

[2018-10-05 08:55] lipki commented on #457
Download https://blockbench.net/
You should not have trouble, and you will be better aware of what you can do.

And to make 3d models of mobs, it will be easier.

[2018-10-09 15:34] chengzzi89 commented on #441
☹️Too much?

[2018-10-09 15:34] chengzzi89 commented on #441
☹️Too much?

[2018-10-09 15:40] tobyplowy commented on #441
@chengzzi89 yup it is too much, but we MUST do it.
It's going to be fun (sarcasm) :/

[2018-10-09 15:40] chengzzi89 commented on #449
I can't help anything!☹️

[2018-10-09 15:40] chengzzi89 commented on #449
I can't help anything!☹️

[2018-10-09 15:45] tobyplowy commented on #351
@lipki Just the scarecrow makes me sad... it reminds me of a friend that left me.

[2018-10-12 10:57] lipki commented on #439
There is in the currently bedrock version, 8 different cats + the ocelot.
Most are tame, even the ocelots.
Some cat have variations.

![allblackcat](https://user-images.githubusercontent.com/401965/46862182-a05e4300-ce14-11e8-9bf8-bab3fc2ea8d5.png) ![tuxedo](https://user-images.githubusercontent.com/401965/46862213-ac4a0500-ce14-11e8-9999-82f1ee552e16.png)
![britishshorthair](https://user-images.g

[2018-10-12 11:12] lipki commented on #442
up
![bamboo_sapling](https://user-images.githubusercontent.com/401965/46865765-fc2dc980-ce1e-11e8-9ada-c87a27912b32.png)
![bamboo_leaf](https://user-images.githubusercontent.com/401965/46865787-0a7be580-ce1f-11e8-9489-d5fb337f612f.png) ![bamboo_small_leaf](https://user-images.githubusercontent.com/401965/46865788-0cde3f80-ce1f-11e8-881e-291631ba39e1.png) ![bamboo_singleleaf](https://user-images.gi

[2018-10-12 11:29] lipki commented on #443
scaffolding
![800px-scaffolding_be_beta](https://user-images.githubusercontent.com/401965/46866713-cab6fd00-ce22-11e8-8aa5-7ceca5d525b1.jpeg)

[2018-10-12 12:02] lipki opened #458 "[1.14.1] scaffolding"
![scaffolding_bottom](https://user-images.githubusercontent.com/401965/48195772-d083fd80-e350-11e8-93a4-a727e558455c.png)![scaffolding_side](https://user-images.githubusercontent.com/401965/48195773-d083fd80-e350-11e8-8571-5df26e0660ee.png)![scaffolding_top](https://user-images.githubusercontent.com/401965/48195775-d11c9400-e350-11e8-9fce-e749fb6ad32f.png)

![800px-scaffolding_be_beta](https://use

[2018-10-12 12:42] lipki commented on #444
On the bedrock, there are currently 7 pandas.

classic
![panda](https://user-images.githubusercontent.com/401965/46868340-48c9d280-ce28-11e8-998a-3a7d0e55b529.png)
aggressive
![panda_aggressive](https://user-images.githubusercontent.com/401965/46868341-48c9d280-ce28-11e8-9253-bfdcbf664c47.png)
brown
![panda_brown](https://user-images.githubusercontent.com/401965/46868342-48c9d280-ce28-11e8-95cc-57

[2018-10-12 18:13] tobyplowy commented on #442
bamboo_stem
![bamboo_stem](https://user-images.githubusercontent.com/16853304/46886445-459c0a00-ce5b-11e8-9e6b-ddfa3b06f041.png)

[2018-10-12 18:19] tobyplowy commented on #458
This model looks like trash :/
This will need a custom model to look good.

[2018-10-13 05:10] chengzzi89 commented on #442
![8aa782f4705adc8cb44fbfd06844135d](https://user-images.githubusercontent.com/28303754/46901588-3b285180-cee9-11e8-8a95-c86dc72d1273.jpg)
![4df667efb6a8b17247e3d570e5c0d432](https://user-images.githubusercontent.com/28303754/46901590-424f5f80-cee9-11e8-9542-f9f16c255e17.jpg)

![u 107508993 618390947 fm 26 gp 0](https://user-images.githubusercontent.com/28303754/46901596-4da28b00-cee9-11e8-9b4c-448

[2018-10-13 05:18] chengzzi89 commented on #444
![e83b8ef194ca5c1af19a90b5ef6b71f4](https://user-images.githubusercontent.com/28303754/46901678-83943f00-ceea-11e8-8fd8-6ca08cc27d52.jpg)
![u 107508993 618390947 fm 26 gp 0](https://user-images.githubusercontent.com/28303754/46901679-84c56c00-ceea-11e8-98f4-d318b4411f0f.jpg)

[2018-10-13 17:10] lipki commented on #458
I think the same.

[2018-10-17 10:01] lipki commented on #438
New series of block variation.
![](https://pbs.twimg.com/media/Do_3_6fXUAAF0F6.jpg)

[2018-10-17 10:04] lipki opened #459 "[1.14] New series of block variation."
![](https://pbs.twimg.com/media/Do_3_6fXUAAF0F6.jpg)
![](https://pbs.twimg.com/media/DpDM0EpWsAAVIYC.jpg)
![](https://pbs.twimg.com/media/DpJ3-zsX4AA9DrI.jpg)
![](https://pbs.twimg.com/media/DpJ8PhIXoAYPSRN.jpg)

[2018-10-17 10:11] lipki commented on #438
New sign for all types of wood.
![](https://pbs.twimg.com/media/DpjgmvRW4AAl9g1.jpg)

[2018-10-17 10:12] lipki opened #460 "[1.14] New sign for all types of wood."
![capture du 2018-10-24 16-48-16](https://user-images.githubusercontent.com/401965/47440562-b96cd980-d7ae-11e8-9115-65ae64f5f5e1.png)

![acacia](https://user-images.githubusercontent.com/401965/47445482-461c9500-d7b9-11e8-863e-2c70b6b4827d.png)![birch](https://user-images.githubusercontent.com/401965/47445483-461c9500-d7b9-11e8-939b-731e516bd78d.png)![dark_oak](https://user-images.githubuserconten

[2018-10-17 10:46] lipki commented on #460
![sign_acacia](https://user-images.githubusercontent.com/401965/47080278-e1d16280-d207-11e8-8a52-6eaec9b46173.png)![sign_birch](https://user-images.githubusercontent.com/401965/47080279-e269f900-d207-11e8-962f-2a2cebbfb97d.png)![sign_dark_oak](https://user-images.githubusercontent.com/401965/47080299-ef86e800-d207-11e8-9e3c-ca8fec7a3f3d.png)![sign_jungle](https://user-images.githubusercontent.com/

[2018-10-18 13:58] lipki opened #461 "[1.14] Lectern"
![lectern_base](https://user-images.githubusercontent.com/401965/48195668-91ee4300-e350-11e8-8744-924f8d9c506a.png)![lectern_front](https://user-images.githubusercontent.com/401965/48195669-9286d980-e350-11e8-91ac-e0147adac270.png)![lectern_sides](https://user-images.githubusercontent.com/401965/48195670-9286d980-e350-11e8-9900-572cd31d0689.png)![lectern_top](https://user-images.githubusercontent.

[2018-10-18 13:59] lipki commented on #438
Lectern #461
![](https://pbs.twimg.com/media/Dpy2vICX4AAMBzs.jpg)

[2018-10-18 18:12] tobyplowy commented on #461
@lipki Can I do this one?

[2018-10-18 20:13] lipki commented on #461
yep

[2018-10-18 21:57] lipki opened #462 "[1.14] The crossbow"
![crossbow_standby](https://user-images.githubusercontent.com/401965/47186645-88655280-d331-11e8-86fa-b40af2f5db30.png) ![crossbow_pulling_0](https://user-images.githubusercontent.com/401965/47186649-8c917000-d331-11e8-9254-15118b7a04fc.png) ![crossbow_pulling_1](https://user-images.githubusercontent.com/401965/47186650-8dc29d00-d331-11e8-86c0-5f708af4558b.png) ![crossbow_pulling_2](https://user-i

[2018-10-19 04:56] tobyplowy commented on #462
Maybe this can be used as a bace?
https://github.com/SummerFields/Mod-balkon/blob/master/assets/weaponmod/textures/items/crossbow-loaded.png

[2018-10-19 09:54] lipki commented on #462
![](https://raw.githubusercontent.com/SummerFields/Mod-balkon/master/assets/weaponmod/textures/items/crossbow-loaded.png) ![](https://raw.githubusercontent.com/SummerFields/Mod-balkon/master/assets/weaponmod/textures/items/crossbow.png)
Yes I did not remember it anymore.

Must make some changes anyway.

[2018-10-24 15:04] lipki commented on #460
white typo .... :(

[2018-10-24 15:14] lipki commented on #459
slab
![capture du 2018-10-24 16-30-10](https://user-images.githubusercontent.com/401965/47440656-e620f100-d7ae-11e8-8ff9-48e9591b8503.png)

qwartz: the normal and smooth are too similar.
stone and smooth stone: you have to invert the textures and make the slab of stone.
petrified wood (2): make a different texture.

double slab
![capture du 2018-10-24 16-36-59](https://user-images.githubuserconten

[2018-10-24 15:15] lipki commented on #459
![capture du 2018-10-24 16-44-52](https://user-images.githubusercontent.com/401965/47441382-54b27e80-d7b0-11e8-8c45-752b4b5bacc0.png)

qwartz: the normal and smooth are too similar.
sandstone : maybe add dark line

[2018-10-24 15:16] lipki commented on #459
![capture du 2018-10-24 16-53-55](https://user-images.githubusercontent.com/401965/47441447-74e23d80-d7b0-11e8-8766-48ffb87a4ea0.png)
cobble: I'm doing tests.

[2018-10-24 15:18] lipki commented on #460
todo : the item (maybe 3d model)

[2018-10-24 16:21] lipki opened #463 "[1.14] Loom"
![loom_bottom](https://user-images.githubusercontent.com/401965/47445588-9267d500-d7b9-11e8-94bc-daafa6da24af.png)![loom_front](https://user-images.githubusercontent.com/401965/47445589-9267d500-d7b9-11e8-9676-60909d653485.png)![loom_side](https://user-images.githubusercontent.com/401965/47445590-93006b80-d7b9-11e8-9992-c064845a9a52.png)![loom_top](https://user-images.githubusercontent.com/401965/

[2018-10-24 16:25] lipki opened #464 "[1.14] Pattern for banner"
![creeper_banner_pattern](https://user-images.githubusercontent.com/401965/47445790-1621c180-d7ba-11e8-8eac-b83706f21019.png)![flower_banner_pattern](https://user-images.githubusercontent.com/401965/47445792-16ba5800-d7ba-11e8-867d-2f38458d3f62.png)![mojang_banner_pattern](https://user-images.githubusercontent.com/401965/47445793-16ba5800-d7ba-11e8-8228-c6e770d1e486.png)![skull_banner_pattern](htt

[2018-10-24 16:28] lipki opened #465 "[1.14] New dyes"
![black_dye](https://user-images.githubusercontent.com/401965/47445987-79135880-d7ba-11e8-9286-d83ff040649c.png)![blue_dye](https://user-images.githubusercontent.com/401965/47445990-7b75b280-d7ba-11e8-8897-8edd24d12f13.png)![brown_dye](https://user-images.githubusercontent.com/401965/47445998-7f093980-d7ba-11e8-95a6-7707c9b154ad.png)![white_dye](https://user-images.githubusercontent.com/401965/474

[2018-10-24 16:31] lipki opened #466 "[1.14] suspicious stew"
![suspicious_stew](https://user-images.githubusercontent.com/401965/47446195-05258000-d7bb-11e8-838b-e8679f69d17e.png)

[2018-10-24 16:36] lipki opened #467 "[1.14] New Flowers"
![cornflower](https://user-images.githubusercontent.com/401965/47446444-8c72f380-d7bb-11e8-980a-912d1936edf1.png)![lily_of_the_valley](https://user-images.githubusercontent.com/401965/47446467-97c61f00-d7bb-11e8-8712-ba5de1db8703.png)![wither_rose](https://user-images.githubusercontent.com/401965/47446487-a3194a80-d7bb-11e8-9731-f5a734b05b7b.png)

[2018-10-24 22:02] lipki commented on #460
![acacia_sign](https://user-images.githubusercontent.com/401965/47464338-2dc46e80-d7e9-11e8-8222-eefd22dad303.png)![birch_sign](https://user-images.githubusercontent.com/401965/47464340-2dc46e80-d7e9-11e8-9acf-f7f92640a758.png)![dark_oak_sign](https://user-images.githubusercontent.com/401965/47464341-2e5d0500-d7e9-11e8-9288-0b6ced82db0b.png)![jungle_sign](https://user-images.githubusercontent.com/

[2018-10-24 22:11] lipki commented on #466
![suspicious_stew](https://user-images.githubusercontent.com/401965/47464666-38cbce80-d7ea-11e8-8443-4ccaa4f252c7.png)
Inspire by "Dubious Food" of "Breath of the Wild"
![suspicious_stew](https://vignette.wikia.nocookie.net/zelda/images/4/43/Breath_of_the_Wild_Failed_Food_Dish_Dubious_Food_%28Icon%29.png/revision/latest?cb=20170409233042)
http://zelda.wikia.com/wiki/Dubious_Food

[2018-10-24 22:17] tobyplowy commented on #466
@lipki Can you make the stuff that's dripping out of the bowl green instead of yellow?

[2018-10-24 22:18] tobyplowy commented on #466
Otherwise I like it.
Nice reference!

[2018-10-24 22:20] tobyplowy commented on #465
They are not new items. They are just the new textures (they look bad)
I don't know if they were renamed or not tho.

[2018-10-24 22:20] tobyplowy commented on #467
I would like to attempt this.

[2018-10-24 22:33] lipki commented on #465
![black_dye](https://user-images.githubusercontent.com/401965/47465461-6bc39180-d7ed-11e8-8d45-9a06a8956c6e.png)![blue_dye](https://user-images.githubusercontent.com/401965/47465464-7120dc00-d7ed-11e8-87d5-0798bf8ffef2.png)![brown_dye](https://user-images.githubusercontent.com/401965/47465468-73833600-d7ed-11e8-9143-609e78a7155f.png)![white_dye](https://user-images.githubusercontent.com/401965/474

[2018-10-24 22:47] lipki commented on #442
![capture du 2018-10-25 00-44-20](https://user-images.githubusercontent.com/401965/47465977-767f2600-d7ef-11e8-8a36-8ae38a8ad39c.png)
I'm not sure about the leaves.

[2018-10-24 23:16] lipki commented on #465
![ink_sac](https://user-images.githubusercontent.com/401965/47466311-feb1fb00-d7f0-11e8-9490-9c8c3a05ce45.png)![lapis_lazuli](https://user-images.githubusercontent.com/401965/47466524-df679d80-d7f1-11e8-8922-5e5b9ec24a23.png)![cocoa_beans](https://user-images.githubusercontent.com/401965/47466857-a16b7900-d7f3-11e8-912d-f7358b108abe.png)![bone_meal](https://user-images.githubusercontent.com/401965

[2018-10-24 23:53] lipki commented on #459
![oak_petrified](https://user-images.githubusercontent.com/401965/47467900-c0203e80-d7f8-11e8-93a0-d3518e1881bd.png) petrified oak

[2018-10-25 08:57] lipki commented on #459
quartz modification  :
Normal / Smooth
![capture du 2018-10-25 10-48-36](https://user-images.githubusercontent.com/401965/47488479-c0462b80-d844-11e8-8eff-c99dc0cbfc2c.png)

[2018-10-25 09:12] lipki commented on #459
Petrified wood :
![capture du 2018-10-25 11-11-12](https://user-images.githubusercontent.com/401965/47489375-c89f6600-d846-11e8-8b25-bd4326c20436.png)

[2018-10-25 10:53] chengzzi89 commented on #442
@lipki Bamboo joints are not reasonable! Bamboo leaves you can follow the photos I provided!😃

[2018-10-25 11:47] lipki commented on #459
Sandstone :
![capture du 2018-10-25 13-46-38](https://user-images.githubusercontent.com/401965/47498113-8bde6980-d85c-11e8-9636-a6f5f11d9221.png)

[2018-10-25 11:48] lipki commented on #459
Stone and smooth stone :
![capture du 2018-10-25 11-53-19](https://user-images.githubusercontent.com/401965/47498145-a1ec2a00-d85c-11e8-8202-6e9b2b25e213.png)
![capture du 2018-10-25 11-53-35](https://user-images.githubusercontent.com/401965/47498149-a6b0de00-d85c-11e8-9630-22bdad0b4128.png)

[2018-10-25 13:15] lipki commented on #459
Wall :
![capture du 2018-10-25 15-13-12](https://user-images.githubusercontent.com/401965/47502662-af0f1600-d868-11e8-9243-5a07ea62e7d4.png)

[2018-10-25 14:08] tobyplowy commented on #466
![47506052-a4a44a80-d86f-11e8-8af6-cb8b9552f2c8](https://user-images.githubusercontent.com/16853304/47506373-3318cc00-d870-11e8-80b9-570bef57f76c.png)
@lipki I did some small adjustments.

[2018-10-25 14:09] tobyplowy commented on #465
@lipki Those are better.

[2018-10-25 14:11] tobyplowy commented on #462
@lipki Do you make the crossbow item?
If it's ok I would like to do the rocket one.

[2018-10-25 16:18] lipki commented on #462
as you wish

[2018-10-25 19:30] lipki opened #468 "Easily recognize infested blocks."
I suggest this look for infested blocks.
Only in the inventory.
To never confuse them again.

![capture du 2018-10-25 21-22-09](https://user-images.githubusercontent.com/401965/47525268-1777ea80-d89d-11e8-8781-bd9e5b70230f.png)
![capture du 2018-10-25 21-27-27](https://user-images.githubusercontent.com/401965/47525275-19da4480-d89d-11e8-92ca-4cfdd50195e2.png)

[2018-10-25 20:17] tobyplowy commented on #468
@lipki AMAZING!
Look at how cute he is :3
I approve!

[2018-10-25 20:35] lipki commented on #463
It's a loom.
But I do not think it makes sense, we do not weave the pattern, we print it.
So I propose instead to do some kind of lithography press.

[2018-10-25 20:56] lipki commented on #463
Or Sérigraphie

[2018-10-25 21:29] tobyplowy commented on #463
Maybe the block model with an animated texture would be nice?

[2018-10-25 21:55] lipki commented on #463
something like that
![capture du 2018-10-25 23-51-30](https://user-images.githubusercontent.com/401965/47532615-1bae0300-d8b1-11e8-8372-2d1300293845.png)
The problem with animation is that it will always play.
Not just when we use it.

[2018-10-25 21:56] tobyplowy commented on #463
@lipki Nice.

[2018-10-26 14:03] #446 closed

[2018-10-26 14:03] #452 closed

[2018-10-26 14:03] #453 closed

[2018-10-26 14:04] #454 closed

[2018-10-26 14:04] #455 closed

[2018-10-26 14:05] #456 closed

[2018-10-26 15:20] #468 closed

[2018-11-01 09:29] lipki commented on #461
up

[2018-11-01 09:30] lipki opened #481 "[1.14] Barrel"
![barrel_bottom](https://user-images.githubusercontent.com/401965/47843721-cb5b0780-ddc0-11e8-9661-55d054155739.png)![barrel_side](https://user-images.githubusercontent.com/401965/47843722-cb5b0780-ddc0-11e8-8330-606e6fe268a6.png)![barrel_top](https://user-images.githubusercontent.com/401965/47843723-cb5b0780-ddc0-11e8-9cda-6c424bcf65d8.png)
![capture du 2018-11-01 09-49-03](https://user-images.gi

[2018-11-01 09:30] lipki opened #482 "[1.14] Stonecutter"
![stonecutter_bottom](https://user-images.githubusercontent.com/401965/47843695-b8483780-ddc0-11e8-9894-5804fd31e67b.png)![stonecutter_saw](https://user-images.githubusercontent.com/401965/47843696-b8483780-ddc0-11e8-9a1e-b7756b7970bf.png)![stonecutter_side](https://user-images.githubusercontent.com/401965/47843697-b8e0ce00-ddc0-11e8-9137-adf0b870bbae.png)![stonecutter_top](https://user-images.git

[2018-11-01 09:30] lipki opened #483 "[1.14] Bell"
![bell_bottom](https://user-images.githubusercontent.com/401965/47843664-9f3f8680-ddc0-11e8-8de0-5301fab900ce.png)![bell_side](https://user-images.githubusercontent.com/401965/47843665-9fd81d00-ddc0-11e8-8c55-ce6b64ce7458.png)![bell_top](https://user-images.githubusercontent.com/401965/47843666-9fd81d00-ddc0-11e8-95e4-1f236a633c3e.png)

![bell_body](https://user-images.githubusercontent.com/401965

[2018-11-01 09:30] lipki opened #484 "[1.14] Grindstone"
![grindstone_pivot](https://user-images.githubusercontent.com/401965/47843638-8b942000-ddc0-11e8-9232-e090e2810896.png)![grindstone_round](https://user-images.githubusercontent.com/401965/47843639-8b942000-ddc0-11e8-9b70-c1890fd8f730.png)![grindstone_side](https://user-images.githubusercontent.com/401965/47843640-8b942000-ddc0-11e8-911b-68c0bc9bdf4d.png)
![capture du 2018-11-01 09-36-11](https://u

[2018-11-01 09:31] lipki opened #485 "[1.14] Smoker"
![smoker_bottom](https://user-images.githubusercontent.com/401965/47843608-76b78c80-ddc0-11e8-8083-1e3c251003b9.png)![smoker_front](https://user-images.githubusercontent.com/401965/47843609-77502300-ddc0-11e8-9ed4-435edcfc7ae9.png)![smoker_front_on](https://user-images.githubusercontent.com/401965/47843610-77502300-ddc0-11e8-8712-c20ef2b62eaa.png)![smoker_side](https://user-images.githubuserconten

[2018-11-01 09:31] lipki opened #486 "[1.14] Blast Furnace"
![blast_furnace_front](https://user-images.githubusercontent.com/401965/47843251-50452180-ddbf-11e8-9c75-700693f8313d.png)![blast_furnace_front_on](https://user-images.githubusercontent.com/401965/47843252-50452180-ddbf-11e8-878d-1bd03e83abec.png)![blast_furnace_side](https://user-images.githubusercontent.com/401965/47843253-50452180-ddbf-11e8-8585-535972cea90d.png)![blast_furnace_top](https://use

[2018-11-01 09:31] lipki opened #487 "[1.14] Cartography Table"
![cartography_table_front](https://user-images.githubusercontent.com/401965/47843233-3dcae800-ddbf-11e8-97be-02054bbaaaf0.png)![cartography_table_side](https://user-images.githubusercontent.com/401965/47843234-3e637e80-ddbf-11e8-8e7d-c7600e7ef285.png)![cartography_table_top](https://user-images.githubusercontent.com/401965/47843235-3e637e80-ddbf-11e8-9d90-8b725ee06e16.png)
![cartography_table](htt

[2018-11-01 09:31] lipki opened #488 "[1.14] Fletching Table"
![fletching_table_front](https://user-images.githubusercontent.com/401965/47843212-30156280-ddbf-11e8-8eb8-ba7e910d1fac.png)![fletching_table_side](https://user-images.githubusercontent.com/401965/47843213-30156280-ddbf-11e8-880d-e36d9bba983e.png)![fletching_table_top](https://user-images.githubusercontent.com/401965/47843214-30156280-ddbf-11e8-8add-736ff0ccb675.png)
![capture du 2018-11-01 09-34-

[2018-11-01 09:32] lipki opened #489 "[1.14] Smithing Table"
![smithing_table_front](https://user-images.githubusercontent.com/401965/47843176-15db8480-ddbf-11e8-8979-15c7a1ad231c.png)![smithing_table_side](https://user-images.githubusercontent.com/401965/47843177-16741b00-ddbf-11e8-92bf-3a81102ce984.png)![smithing_table_top](https://user-images.githubusercontent.com/401965/47843178-16741b00-ddbf-11e8-9c9d-f174fd617736.png)
![capture du 2018-11-01 09-34-37]

[2018-11-01 10:08] lipki commented on #481
texture from mods:
Factorization : ![barrel_bottom](https://user-images.githubusercontent.com/401965/47845733-0dd31300-ddc6-11e8-9df0-71a95f71163f.png)![barrel_face](https://user-images.githubusercontent.com/401965/47845734-0e6ba980-ddc6-11e8-8d34-66d6597d08d8.png)![barrel_top](https://user-images.githubusercontent.com/401965/47845788-3a872a80-ddc6-11e8-9ac3-6dd9c09d8e89.png)![barrel_side](https:/

[2018-11-01 10:11] lipki commented on #486
texture from mods :
Railcraft : ![blast furnace](https://user-images.githubusercontent.com/401965/47845952-baad9000-ddc6-11e8-8a23-5f61ff55372f.png)

Terrafirmacraft : ![blast furnace bottom off](https://user-images.githubusercontent.com/401965/47845967-cac56f80-ddc6-11e8-8265-1b5f3650ce24.png)![blast furnace bottom on](https://user-images.githubusercontent.com/401965/47845968-cac56f80-ddc6-11e8-8

[2018-11-01 10:14] lipki commented on #485
tinker : ![smeltery_furnace_off](https://user-images.githubusercontent.com/401965/47846128-37406e80-ddc7-11e8-9cde-ea9c36d56956.png)![smeltery_furnace_on](https://user-images.githubusercontent.com/401965/47846136-3ad3f580-ddc7-11e8-8bfa-fc851f3d3d94.png)

[2018-11-01 10:17] lipki commented on #483
texture from mods :
thaumcraft : ![arcaneearbellside](https://user-images.githubusercontent.com/401965/47846293-a5853100-ddc7-11e8-858e-240660bfdcfe.png)![arcaneearbelltop](https://user-images.githubusercontent.com/401965/47846298-a7e78b00-ddc7-11e8-8f11-69fda80d2c88.png)

[2018-11-01 13:38] lipki commented on #483
![bell_bottom](https://user-images.githubusercontent.com/401965/47855025-ac21a180-dde3-11e8-8a89-63e41f54ce7e.png)![bell_side](https://user-images.githubusercontent.com/401965/47855026-ac21a180-dde3-11e8-9623-3ad293cc60e7.png)![bell_top](https://user-images.githubusercontent.com/401965/47855027-ac21a180-dde3-11e8-875e-e0a2af5bddb2.png)

![capture du 2018-11-01 14-35-46](https://user-images.githubu

[2018-11-01 13:45] lipki opened #490 "Correct the planks"
![capture du 2018-10-25 11-11-12](https://user-images.githubusercontent.com/401965/47855271-687b6780-dde4-11e8-9e43-5fe02fe32d01.png)

Since the time I want to do that.

![capture du 2018-11-01 14-44-25](https://user-images.githubusercontent.com/401965/47855359-b001f380-dde4-11e8-9462-40e00991bf13.png)

[2018-11-01 18:30] tobyplowy commented on #481
Here is my attempt :D
Side
![mid](https://user-images.githubusercontent.com/16853304/47871487-83fa6880-de0c-11e8-9f2a-abfa02a45277.png)
Top
![top](https://user-images.githubusercontent.com/16853304/47871496-8957b300-de0c-11e8-8b85-99a203c62b81.png)
Bottom
![bottom](https://user-images.githubusercontent.com/16853304/47871499-8a88e000-de0c-11e8-87f9-0bade66eb728.png)

[2018-11-01 18:40] tobyplowy commented on #483
I have adjusted your texture a little. here is what I have made.
![47855027-ac21a180-dde3-11e8-875e-e0a2af5bddb2](https://user-images.githubusercontent.com/16853304/47872068-f6b81380-de0d-11e8-96d5-092656ed8b00.png)
![47855026-ac21a180-dde3-11e8-9623-3ad293cc60e7](https://user-images.githubusercontent.com/16853304/47872071-f6b81380-de0d-11e8-825f-de476e09244f.png)
![47855025-ac21a180-dde3-11e8-8a8

[2018-11-01 18:42] tobyplowy commented on #486
I like the one from tinkers construct.

[2018-11-01 18:42] tobyplowy commented on #482
Can I do this one?

[2018-11-01 18:42] tobyplowy commented on #484
@lipki Can I do this one?

[2018-11-01 21:01] lipki commented on #481
All right.
![capture du 2018-11-01 21-59-47](https://user-images.githubusercontent.com/401965/47879695-8915e280-de21-11e8-8b62-1f2d9d4500ea.png)

[2018-11-01 21:07] lipki commented on #486
I think rather keep this design for the smoker, i do not know too much.
We will wait the craft anyway.

[2018-11-01 21:08] lipki commented on #482
yep, You think retouch the model?
We must give the thickness to the blade.

[2018-11-02 01:07] tobyplowy commented on #482
@lipki Yeah can you please improve the blade with a model?
:)

[2018-11-02 10:57] lipki commented on #482
Make your 3D model, I will adapt it then.
Enjoy yourself :)

[2018-11-02 13:39] lipki commented on #439
![all_black](https://user-images.githubusercontent.com/401965/47918479-033f7900-dead-11e8-848b-c389a7c17908.png)all_black
![black](https://user-images.githubusercontent.com/401965/47918481-033f7900-dead-11e8-86a7-5db579130bd3.png)black
![british_shorthair](https://user-images.githubusercontent.com/401965/47918482-033f7900-dead-11e8-984d-e460c6bf62cc.png)british_shorthair
![calico](https://user-ima

[2018-11-02 16:46] lipki commented on #439
![capture du 2018-11-02 17-36-10](https://user-images.githubusercontent.com/401965/47928543-f039a280-dec6-11e8-9460-119ec6efb1a0.png)
![capture du 2018-11-02 17-42-09](https://user-images.githubusercontent.com/401965/47928550-f3cd2980-dec6-11e8-956e-f2ad845cef5a.png)
![all_black](https://user-images.githubusercontent.com/401965/47928608-0a738080-dec7-11e8-8160-3f1aa7b647fb.png)![black](https://use

[2018-11-03 11:09] GloomyAnthony opened #491 "Paintings."
I love all the 1.13 textures but I really liked the old paintings.

[2018-11-04 10:44] lipki commented on #491
All the tables are available in the pack, just rename.

assets/minecraft/textures/painting/

![](https://raw.githubusercontent.com/SummerFields/SummerFields/master/assets/minecraft/textures/painting/paintings_kristoffer_zetterstrand.png)
![](https://raw.githubusercontent.com/SummerFields/SummerFields/master/assets/minecraft/textures/painting/paintings_kristoffer_zetterstrand_2.png)

[2018-11-08 11:20] lipki commented on #461
18w45a up

[2018-11-08 13:54] lipki commented on #463
![capture du 2018-11-08 14-53-50](https://user-images.githubusercontent.com/401965/48202801-2911c580-e366-11e8-9f59-48641505aeac.png)

[2018-11-08 13:57] #491 closed

[2018-11-08 15:49] lipki commented on #458
![scaffolding_bottom](https://user-images.githubusercontent.com/401965/48209750-2cad4880-e376-11e8-8bea-c0dfbcafaad1.png) ![scaffolding_side](https://user-images.githubusercontent.com/401965/48209752-2cad4880-e376-11e8-8f69-50e2d8a03825.png) ![scaffolding_top](https://user-images.githubusercontent.com/401965/48209754-2cad4880-e376-11e8-8a67-d23b893eeb9f.png)

![capture du 2018-11-08 16-46-59](http

[2018-11-08 15:54] lipki commented on #458
![capture du 2018-11-08 16-52-03](https://user-images.githubusercontent.com/401965/48210048-e1e00080-e376-11e8-9a48-df44952bf771.png)
![capture du 2018-11-08 16-52-37](https://user-images.githubusercontent.com/401965/48210050-e1e00080-e376-11e8-8ffa-8d49520ed057.png)

[2018-11-08 17:05] tobyplowy commented on #458
Looking good :)

[2018-11-08 17:16] lipki commented on #462
![crossbow_standby](https://user-images.githubusercontent.com/401965/48215309-45236000-e382-11e8-87b6-ed3c2ac04391.png)![crossbow_pulling_0](https://user-images.githubusercontent.com/401965/48215318-49e81400-e382-11e8-86ff-39f6cf078c3f.png)![crossbow_pulling_1](https://user-images.githubusercontent.com/401965/48215319-49e81400-e382-11e8-9376-be80db03aeb1.png)![crossbow_pulling_2](https://user-imag

[2018-11-10 19:37] tobyplowy commented on #462
@lipki Firework arrow.
![48215323-4bb1d780-e382-11e8-8563-5b7305d3c59c](https://user-images.githubusercontent.com/16853304/48305301-6de55a00-e528-11e8-9493-f818cec68e30.png)
TNT arrows in case they are added.
![48215323-4bb1d780-e382-11e8-8563-5b7305d3c59c](https://user-images.githubusercontent.com/16853304/48305220-198daa80-e527-11e8-860a-86df34664709.png)

[2018-11-10 20:11] tobyplowy commented on #467
Wither rose.
![47446487-a3194a80-d7bb-11e8-9731-f5a734b05b7b](https://user-images.githubusercontent.com/16853304/48305555-2b724c00-e52d-11e8-9e4a-661cbae9cf4b.png)

[2018-11-13 10:31] lipki commented on #467
Blah I don't find it very poison.

[2018-11-13 10:43] OwOV commented on #467
Maybe give it spikes like roses have somehow? I do like the dead look though.

[2018-11-13 19:12] tobyplowy commented on #467
Is this better?
![47446487-a3194a80-d7bb-11e8-9731-f5a734b05b7b](https://user-images.githubusercontent.com/16853304/48436949-60c2a800-e780-11e8-904e-3b7b35ef7784.png)

[2018-11-15 12:43] lipki commented on #467
yes better.

[2018-11-16 01:04] lipki opened #492 "[1.14] Lantern"
![lantern](https://user-images.githubusercontent.com/401965/48591383-f65a6500-e943-11e8-951e-770cdf17795a.png)
![](https://community-content-assets.minecraft.net/upload/6c4423190a87d93d41923203a52c900a-LanternHeader.jpeg)

[2018-11-16 14:52] chengzzi89 commented on #492
excuse me I can try making this Lantern it?😅

[2018-11-18 03:43] chengzzi89 commented on #492
Should this be ok?😅
![lantern](https://user-images.githubusercontent.com/28303754/48668385-e353ba80-eb26-11e8-871f-a333c9d7ddda.png)

[2018-11-18 03:44] chengzzi89 commented on #492
Should this be ok?😅
![lantern](https://user-images.githubusercontent.com/28303754/48668385-e353ba80-eb26-11e8-871f-a333c9d7ddda.png)

[2018-11-18 15:07] lipki commented on #492
That's great :)
![capture du 2018-11-18 15-55-32](https://user-images.githubusercontent.com/401965/48674320-1c9e2180-eb4b-11e8-811b-79cb65096381.png)

[2018-12-05 16:20] lipki opened #493 "[1.14] Berry"
![sweet_berry_bush_stage0](https://user-images.githubusercontent.com/401965/49527144-922b2100-f8b1-11e8-9245-c9c889f2e086.png)![sweet_berry_bush_stage1](https://user-images.githubusercontent.com/401965/49527145-92c3b780-f8b1-11e8-8985-003a365e12d5.png)![sweet_berry_bush_stage2](https://user-images.githubusercontent.com/401965/49527147-935c4e00-f8b1-11e8-981c-8f54925919ff.png)![sweet_berry_bush_sta

[2018-12-07 16:57] chengzzi89 commented on #451
pillager beast how is the progress?

[2018-12-07 17:40] tobyplowy commented on #451
@chengzzi89 haven't started yet.

[2018-12-12 17:20] chengzzi89 commented on #441
![screenshot_20181213_011949](https://user-images.githubusercontent.com/28303754/49886684-38a89080-fe75-11e8-9986-d9e929a58777.jpg)

[2018-12-12 18:21] lipki opened #494 "[1.14] Jigsaw technical block"
![jigsaw_bottom](https://user-images.githubusercontent.com/401965/51190961-b1bb5d80-18e3-11e9-9164-2e3ad2c2dd96.png)
![jigsaw_side](https://user-images.githubusercontent.com/401965/51190962-b1bb5d80-18e3-11e9-8be4-3c53c1479e03.png)
![jigsaw_top](https://user-images.githubusercontent.com/401965/51190964-b253f400-18e3-11e9-835a-8ba181311313.png)

[2018-12-12 18:24] lipki commented on #483
the bell becomes an entity, I take care of modifying the model.

![bell_body](https://user-images.githubusercontent.com/401965/49890084-7a204800-fe43-11e8-9350-c0ee830664b9.png)

[2018-12-12 18:40] lipki commented on #447
It's confirmed.
Villager
Profession
Type
+ level

example :

![villager](https://user-images.githubusercontent.com/401965/49890767-362e4280-fe45-11e8-9dac-dc1604baf739.png) + ![desert](https://user-images.githubusercontent.com/401965/49890781-3d555080-fe45-11e8-82a3-cdbaafaf9055.png) + ![butcher](https://user-images.githubusercontent.com/401965/49890804-47774f00-fe45-11e8-9a81-2c30cbb6ad6e.png) +

[2018-12-12 18:46] lipki commented on #447
I remember that the pnj summerfield, one cubic head, the upper part of the head is hidden by a hat, systematically.

We will still have to abandon the hood, at least for most types.

And we do not use the nose, we can perhaps use it for one of the types.

[2018-12-12 18:50] lipki commented on #448
New Job :

armorer
butcher
cartographer
cleric
farmer
fisherman
fletcher
leatherworker
librarian
mason
nitwit
shepherd
toolsmith
weaponsmith

Can you propose keywords for each profession, to start accumulating ideas.

[2018-12-12 19:01] lipki commented on #449
New type :

Plain
Desert
Taiga
Savanna
Jungle
Snow
Swamp

Can you propose keywords for each profession, to start accumulating ideas.

[2018-12-12 19:04] tobyplowy commented on #449
@lipki what do you mean by keywords?

[2018-12-12 19:54] lipki commented on #449
Snow : warm clothing, covering, bear, fur, hood, boot, glove

[2018-12-12 21:55] lipki opened #495 "[1.14 Villager] zombie Villager"

[2018-12-12 22:21] lipki opened #496 "[1.14 Villager] level"
Villagers will apparently have level display on their skin.
Like medals.

Diamonds
emerald
gold
iron
stone

![diamond](https://user-images.githubusercontent.com/401965/49902670-dba4de80-fe64-11e8-9a56-26a8267d91bb.png)![emerald](https://user-images.githubusercontent.com/401965/49902671-dba4de80-fe64-11e8-8abb-35c3062f7a32.png)![gold](https://user-images.githubusercontent.com/401965/49902672-dba4de

[2018-12-13 02:35] lipki commented on #449
Proposition ...

Desert :
Reference country : Sahara
Hat : Cheche
Color clothes : Indigo/blue

Jungle :
RC : Cambodia
H : Conical straw hat
CC : a lot

Plains :
RC : Europe
H : Cowboy hat
CC : brown/beige

Savanna :
RC : Tanzania
H : Kofia
CC : Red/orange

Snow :
RC : Russia
H : ouchanka
CC : white/black/red

Swamp :
RC : Ireland
H : Irish Hat
CC : Green

Taiga :
RC : Greenland
H : fur hood
CC : w

[2018-12-13 13:21] tobyplowy commented on #449
@lipki yup sounds good.

[2018-12-15 08:15] chengzzi89 commented on #494
![jigsaw_bottom](https://user-images.githubusercontent.com/28303754/50040749-8515eb00-0084-11e9-9b72-2c195aeb9eee.png)
![jigsaw_side](https://user-images.githubusercontent.com/28303754/50040753-8b0bcc00-0084-11e9-85ee-a4be0435bb49.png)
![jigsaw_top](https://user-images.githubusercontent.com/28303754/50040754-8f37e980-0084-11e9-9d70-d914b691d66b.png)

[2018-12-15 15:41] lipki commented on #449
Skin color :
![desert](https://user-images.githubusercontent.com/401965/50044639-c1e2e180-0086-11e9-9586-6d0a63170a23.png) Desert
![jungle](https://user-images.githubusercontent.com/401965/50044640-c1e2e180-0086-11e9-9f22-c6dc33d2f143.png) Jungle
![plains](https://user-images.githubusercontent.com/401965/50044641-c1e2e180-0086-11e9-8c3f-1dfcc6bfff54.png) Plains
![savanna](https://user-images.githu

[2018-12-15 15:43] lipki commented on #449
First attempt.
The swamp people, the Irish appreciate :)
The result is a cliché, but it's the goal.
![swamp](https://user-images.githubusercontent.com/401965/50044630-9f50c880-0086-11e9-919a-71674e0c9bd6.png)
![capture du 2018-12-15 16-11-22](https://user-images.githubusercontent.com/401965/50044602-4b45e400-0086-11e9-939f-e369a6176232.png)
It may be necessary to add details, asymmetry, imperfecti

[2018-12-15 17:57] tobyplowy commented on #449
@lipki hahahah I like that :)
Also I like the idea of the skin colors.
Nice work.

[2019-01-01 23:07] tobyplowy commented on #482
@lipki Can't make 3 models tho.

[2019-01-01 23:08] tobyplowy commented on #462
@lipki Done?

[2019-01-02 13:34] lipki commented on #493
For the item?
It may be too big a branch for the item, but for the bush it's not bad.
I will do a test.

[2019-01-02 14:43] lipki commented on #482
You know blender !?

[2019-01-02 16:40] tobyplowy commented on #482
@lipki Yeah...
But you can't use those models in Minecraft.

[2019-01-09 23:47] lipki opened #497 "[1.14] CampFire"
![capture du 2019-01-10 00-36-30](https://user-images.githubusercontent.com/401965/50936627-b9f14400-1470-11e9-9a45-a2b7816ed3f9.png)
![campfire_fire](https://user-images.githubusercontent.com/401965/50936706-16546380-1471-11e9-8aab-7e73750cbb89.png)
![campfire_side](https://user-images.githubusercontent.com/401965/50936712-19e7ea80-1471-11e9-8843-9f541f7831c3.png)
![campfire_top](https://user-ima

[2019-01-10 17:41] chengzzi89 commented on #497
3D campfire
![qq 20190111013738](https://user-images.githubusercontent.com/28303754/50986404-b7aaea80-1541-11e9-8821-03fb94673b5f.png)

[2019-01-10 17:53] lipki commented on #497
Yeah great, way better than the original.
Can you put the file here ?

[2019-01-10 18:33] chengzzi89 commented on #497
@lipki https://www.dropbox.com/sh/fi8wg8ld0j29q6j/AABympw3gpFAR52dFc_57nF4a?dl=0

[2019-01-15 01:49] tobyplowy commented on #497
I think making the campfire look like this may be nice, no?
![image](https://user-images.githubusercontent.com/16853304/51153333-07562280-1870-11e9-895d-25a55257c4cf.png)

[2019-01-15 01:49] tobyplowy commented on #497
@chengzzi89 Nice model :D

[2019-01-15 01:50] tobyplowy commented on #481
@lipki Done?

[2019-01-15 02:49] tobyplowy commented on #482
@lipki Easy and nice looking 3d blade :D
![image](https://user-images.githubusercontent.com/16853304/51155530-1640d300-1878-11e9-9862-5ec9db8226ba.png)
End result with bace.
![image](https://user-images.githubusercontent.com/16853304/51155669-8fd8c100-1878-11e9-8121-961b29bff6cb.png)

[2019-01-15 02:50] tobyplowy commented on #482
Blade texture not animated yet ![stonecutter](https://user-images.githubusercontent.com/16853304/51155711-b39c0700-1878-11e9-9ce0-4ff2cb01a9be.png)

[2019-01-15 03:17] tobyplowy commented on #493
Yeah I made it for the item :D

[2019-01-15 03:18] tobyplowy commented on #494
@lipki Done?

[2019-01-15 03:21] tobyplowy commented on #466
@lipki Done?

[2019-01-15 03:21] tobyplowy commented on #463
@lipki Done?

[2019-01-15 03:57] tobyplowy commented on #461
bace
![48195668-91ee4300-e350-11e8-8744-924f8d9c506a](https://user-images.githubusercontent.com/16853304/51157815-dd0d6080-1881-11e9-8392-19c3e19b1295.png)
front
![48195669-9286d980-e350-11e8-91ac-e0147adac270](https://user-images.githubusercontent.com/16853304/51157822-e0a0e780-1881-11e9-9101-1d31369caf71.png)
sides
![48195670-9286d980-e350-11e8-9900-572cd31d0689](https://user-images.githubuserco

[2019-01-15 03:57] tobyplowy commented on #461
@lipki

[2019-01-15 03:59] tobyplowy commented on #492
@lipki Do we use my edit or the original from chengzzi?

[2019-01-15 04:01] tobyplowy commented on #492
I also propose a darker shain.
![48668385-e353ba80-eb26-11e8-871f-a333c9d7ddda](https://user-images.githubusercontent.com/16853304/51157991-9f5d0780-1882-11e9-9b8a-4c9d4be7eb58.png)

[2019-01-15 04:02] tobyplowy commented on #495
@lipki Can you do this one?

[2019-01-15 04:04] tobyplowy commented on #483
@lipki Have you made the texture yet?

[2019-01-15 15:21] lipki commented on #483
I took yours, but I have to remodel the model again.

[2019-01-15 15:36] lipki commented on #494
yep

[2019-01-15 15:40] lipki commented on #463
I am not sure.

The block of loom allows to make the nice decoration.
Mine does not allow that.
I like it, but I have doubts.

[2019-01-15 15:41] lipki commented on #496
Difficult with a dozen pixels.
But why not.

[2019-01-15 15:52] lipki commented on #461
Yes it's pretty cool.
![capture du 2019-01-15 16-47-24](https://user-images.githubusercontent.com/401965/51191950-c4cf2d00-18e5-11e9-81db-515d2755a3ab.png)
![capture du 2019-01-15 16-47-43](https://user-images.githubusercontent.com/401965/51191951-c567c380-18e5-11e9-986b-54ba3b84e7d3.png)

[2019-01-15 15:59] lipki commented on #492
I do not know !?
![capture du 2019-01-15 16-56-21](https://user-images.githubusercontent.com/401965/51192425-c77e5200-18e6-11e9-9b0b-7fbc527895c4.png)

[2019-01-15 16:07] lipki commented on #495
It is necessary to zombify this textures : #449

[2019-01-15 22:31] tobyplowy commented on #463
@lipki hmm yeah but I mean poeple will find a nice decorative use for your model too I'm sure.

[2019-01-15 23:03] tobyplowy commented on #482
@lipki that looks pretty good :)
Now I will try and do the stone bace of the cutter.

[2019-01-15 23:07] tobyplowy commented on #492
@chengzzi89 what do you think?

[2019-01-16 01:02] chengzzi89 commented on #492
@tobyplowy Obviously, you are more comfortable!👍

[2019-01-16 01:03] chengzzi89 commented on #492
@tobyplowy Obviously, you are more comfortable!👍

[2019-01-16 01:03] chengzzi89 commented on #492
@tobyplowy Obviously, you are more comfortable!👍

[2019-01-16 03:51] tobyplowy commented on #497
@chengzzi89 still like your model more.

[2019-01-16 23:58] tobyplowy commented on #482
@lipki Here it is.
Bottom.
![47843695-b8483780-ddc0-11e8-9894-5804fd31e67b](https://user-images.githubusercontent.com/16853304/51286336-deaa6600-19f2-11e9-855c-352c30179208.png)
Side.
![47843697-b8e0ce00-ddc0-11e8-9137-adf0b870bbae](https://user-images.githubusercontent.com/16853304/51286350-ea962800-19f2-11e9-8974-22254c217674.png)
Top.
![47843698-b8e0ce00-ddc0-11e8-9796-54acfcd4b414](https://use

[2019-01-17 00:09] tobyplowy commented on #355
@lipki I really like the furnace model by @chengzzi89 And I'm sure it will be fine on performance.
![image](https://user-images.githubusercontent.com/16853304/51286656-267dbd00-19f4-11e9-8e65-bce13cfc89d4.png)
Maybe This needs to be fixed.
![image](https://user-images.githubusercontent.com/16853304/51286705-6e044900-19f4-11e9-8727-fe762a3b7c6e.png)
Looks like flickering because of overlapping pixe

[2019-01-17 00:16] tobyplowy commented on #449
Maybe for the snow base we can make them have a red nose because it's cold?
![50044643-c27b7800-0086-11e9-8b23-f9ab98f4dd7c](https://user-images.githubusercontent.com/16853304/51286920-714c0480-19f5-11e9-91ae-d12f20803c5b.png)

[2019-01-17 00:18] tobyplowy commented on #451
@lipki Are you interested in doing this one?
I am having trouble making it look interesting.

[2019-01-17 00:21] tobyplowy commented on #439
I like it :D

[2019-01-17 00:21] tobyplowy commented on #439
@lipki Done?

[2019-01-17 02:15] tobyplowy opened #498 "[1.14] Composter"
composter_top
![composter_top](https://user-images.githubusercontent.com/16853304/51291048-1a9af680-1a06-11e9-8639-ab40282e4439.png)
composter_bottom
![composter_bottom](https://user-images.githubusercontent.com/16853304/51291049-1a9af680-1a06-11e9-981e-d6d39eaa70a8.png)
composter_compost
![composter_compost](https://user-images.githubusercontent.com/16853304/51291050-1b338d00-1a06-11e9-8527-7b6e3

[2019-01-17 15:30] lipki commented on #449
yeah ! :D

[2019-01-17 15:32] lipki commented on #439
It's missing jellie.

[2019-01-17 15:56] lipki commented on #451
I started that. but ... prout !
![capture du 2019-01-17 16-54-08](https://user-images.githubusercontent.com/401965/51330857-acdbe280-1a78-11e9-9a97-75118afa06d8.png)

[2019-01-17 16:17] lipki commented on #482
![capture du 2019-01-17 17-08-10](https://user-images.githubusercontent.com/401965/51331691-8e76e680-1a7a-11e9-8a65-0aa4fb58b4f5.png)

[2019-01-17 22:18] tobyplowy commented on #482
@lipki done?

[2019-01-24 22:09] lipki commented on #498
![composter_bottom](https://user-images.githubusercontent.com/401965/51710558-d8873b80-2029-11e9-911d-8f16dbc3e72b.png)![composter_compost](https://user-images.githubusercontent.com/401965/51710569-dcb35900-2029-11e9-883f-b4703c8dd727.png)![composter_ready](https://user-images.githubusercontent.com/401965/51710570-dcb35900-2029-11e9-8190-8c99c5c5576a.png)![composter_side](https://user-images.githu

[2019-01-25 05:45] tobyplowy commented on #498
@lipki done?

[2019-01-25 05:45] tobyplowy commented on #498
Also looking nice :)
I really like the compost texture, good job!

[2019-01-25 05:50] tobyplowy commented on #450
@lipki done?

[2019-01-25 05:55] tobyplowy commented on #351
@lipki done?

[2019-01-25 05:59] tobyplowy commented on #355
@chengzzi89 Can you finish this?
Would like to get it done for 1.14.

[2019-01-25 11:53] lipki commented on #498
![composter_bottom](https://user-images.githubusercontent.com/401965/51710558-d8873b80-2029-11e9-911d-8f16dbc3e72b.png)![composter_compost](https://user-images.githubusercontent.com/401965/51710569-dcb35900-2029-11e9-883f-b4703c8dd727.png)![composter_ready](https://user-images.githubusercontent.com/401965/51710570-dcb35900-2029-11e9-8190-8c99c5c5576a.png)![composter_side](https://user-images.githu

[2019-01-25 11:58] lipki commented on #458
![capture du 2019-01-25 12-51-18](https://user-images.githubusercontent.com/401965/51744672-d613f880-20a0-11e9-8c23-c4dcad6da435.png)

[2019-01-25 13:37] lipki commented on #497
![campfire_fire](https://user-images.githubusercontent.com/401965/51748994-6b69b980-20ae-11e9-935c-aa75ff65ac90.png)![campfire_log](https://user-images.githubusercontent.com/401965/51748995-6c025000-20ae-11e9-8147-749a5d5fdc65.png)![campfire_log_lit](https://user-images.githubusercontent.com/401965/51748996-6c025000-20ae-11e9-8013-1ee050da8156.png)
![particles](https://user-images.githubuserconten

[2019-01-25 14:52] lipki commented on #483
![bell_body](https://user-images.githubusercontent.com/401965/51753080-39aa2000-20b9-11e9-95f5-5a8e25922ab9.png)
![capture du 2019-01-25 15-50-25](https://user-images.githubusercontent.com/401965/51753022-1b442480-20b9-11e9-9d31-2e2e1db8cb62.png)

[2019-01-25 15:12] tobyplowy commented on #458
@lipki what changed?
Also nice bridge :)

[2019-01-25 15:16] tobyplowy commented on #497
@lipki I'm not sure about the smoke texture.
It looks a bit odd.

Maybe make it have a swirl, a bit like this animation https://www.spriters-resource.com/game_boy_advance/thelegendofzeldatheminishcap/sheet/37862/

[2019-01-25 15:21] tobyplowy commented on #459
@lipki Is this merged yet?

[2019-01-25 15:42] lipki commented on #493
Proposal for berry bush.
![sweet_berry_bush_stage0](https://user-images.githubusercontent.com/401965/51755751-b8a25700-20bf-11e9-8c30-0f5ad7e4b6f7.png)![sweet_berry_bush_stage3](https://user-images.githubusercontent.com/401965/51755753-b93aed80-20bf-11e9-80a4-b287f0f274a0.png)
![capture du 2019-01-25 16-38-13](https://user-images.githubusercontent.com/401965/51755739-b213df80-20bf-11e9-94e4-792426

[2019-01-25 15:46] lipki commented on #493
![capture du 2019-01-25 16-44-00](https://user-images.githubusercontent.com/401965/51756187-bbea1280-20c0-11e9-8fc9-adb6bb722006.png)

[2019-01-25 15:47] lipki commented on #458
Before there were 4 stages, now there are 6.

[2019-01-25 15:50] lipki commented on #497
Yes why not.
Particles are not animated, they move up.

[2019-01-25 16:09] tobyplowy commented on #459
@lipki I see, ok :)

[2019-01-25 16:13] tobyplowy commented on #493
@lipki That is really nice looking.
Also is that my item texture as a bace XD

[2019-01-25 20:45] lipki commented on #486
![capture du 2019-01-25 21-41-55](https://user-images.githubusercontent.com/401965/51771739-4a26be80-20ea-11e9-8527-c6e6e4dae6f0.png)
![blast_furnace_front](https://user-images.githubusercontent.com/401965/51771753-5874da80-20ea-11e9-83fb-9bf657018cba.png)![blast_furnace_side](https://user-images.githubusercontent.com/401965/51771756-5b6fcb00-20ea-11e9-9a29-c396489258c1.png)![blast_furnace_top](ht

[2019-01-25 20:47] lipki commented on #493
She is "in it". Literally.

[2019-01-25 20:49] lipki commented on #497
Look for yourself, you will understand.

[2019-01-25 20:56] lipki commented on #487
No it's great!
here is the table.
![capture du 2019-01-25 21-50-17](https://user-images.githubusercontent.com/401965/51772094-6bd47580-20eb-11e9-9e53-e019dc2fc787.png)

[2019-01-25 20:56] lipki commented on #487
![cartography_table_side1](https://user-images.githubusercontent.com/401965/51772350-151b6b80-20ec-11e9-9158-3b501b9af7e1.png)![cartography_table_side2](https://user-images.githubusercontent.com/401965/51772352-15b40200-20ec-11e9-8c23-010b07fb5143.png)![cartography_table_side3](https://user-images.githubusercontent.com/401965/51772353-15b40200-20ec-11e9-9949-082490f092fe.png)![cartography_table_to

[2019-01-25 21:01] lipki commented on #489
![smithing_table_bottom](https://user-images.githubusercontent.com/401965/51772610-ba364400-20ec-11e9-8b04-ab7bd99c0250.png)![smithing_table_front](https://user-images.githubusercontent.com/401965/51772613-baceda80-20ec-11e9-8cd5-28858143a18d.png)![smithing_table_side](https://user-images.githubusercontent.com/401965/51772614-baceda80-20ec-11e9-8a76-0798fb2fa327.png)![smithing_table_top](https://u

[2019-01-25 21:03] lipki commented on #488
![fletching_table_front](https://user-images.githubusercontent.com/401965/51772716-fc5f8580-20ec-11e9-8d1d-c9092b400263.png)![fletching_table_side](https://user-images.githubusercontent.com/401965/51772717-fcf81c00-20ec-11e9-83d3-268839e8a8d7.png)![fletching_table_top](https://user-images.githubusercontent.com/401965/51772718-fcf81c00-20ec-11e9-8375-d1255e79bed3.png)
![capture du 2019-01-25 22-02-

[2019-01-25 21:55] lipki commented on #485
![capture du 2019-01-25 22-53-07](https://user-images.githubusercontent.com/401965/51774877-1bade100-20f4-11e9-9d45-d36eb3b3bb98.png)
![smoker_bottom](https://user-images.githubusercontent.com/401965/51774931-413aea80-20f4-11e9-9027-96b3637d2933.png)![smoker_front](https://user-images.githubusercontent.com/401965/51774932-41d38100-20f4-11e9-8c3a-71dc38ba0551.png)![smoker_side](https://user-images.

[2019-01-25 22:55] lipki commented on #484
![grindstone_pivot](https://user-images.githubusercontent.com/401965/51777264-9844bd80-20fc-11e9-9a41-4e0d3d20e158.png)![grindstone_round](https://user-images.githubusercontent.com/401965/51777265-98dd5400-20fc-11e9-92c6-dcb6e4cb1c06.png)![grindstone_side](https://user-images.githubusercontent.com/401965/51777266-98dd5400-20fc-11e9-8fa3-1ad015e5ec02.png)
![capture du 2019-01-25 23-54-00](https://u

[2019-01-25 22:59] lipki commented on #464
![creeper_banner_pattern](https://user-images.githubusercontent.com/401965/51777311-d510b480-20fc-11e9-9e16-6aa508ca8de8.png)![flower_banner_pattern](https://user-images.githubusercontent.com/401965/51777317-d9d56880-20fc-11e9-94f7-9a52d2199677.png)![mojang_banner_pattern](https://user-images.githubusercontent.com/401965/51777320-dfcb4980-20fc-11e9-919d-d899f483639c.png)![skull_banner_pattern](htt

[2019-01-26 06:15] tobyplowy commented on #493
@lipki hahaha yeah :)

[2019-01-26 10:16] tobyplowy commented on #488
@lipki Looking good :D

[2019-01-26 10:17] tobyplowy commented on #489
@lipki Nice.

[2019-01-26 10:37] tobyplowy commented on #487
@lipki Nice.

[2019-01-26 11:09] tobyplowy commented on #485
@lipki Not sure on the front texture, it looks a little odd.

[2019-01-26 12:07] lipki commented on #485
I agree.

[2019-01-26 12:19] tobyplowy commented on #485
@lipki I will try to improve it :)

[2019-01-26 12:50] lipki commented on #485
![capture du 2019-01-26 13-48-37](https://user-images.githubusercontent.com/401965/51787376-530ea300-2171-11e9-8742-f7e86a0de1ef.png)
![smoker_front](https://user-images.githubusercontent.com/401965/51787378-5ace4780-2171-11e9-949f-698224338b82.png)
![smoker_front_on](https://user-images.githubusercontent.com/401965/51787379-5d30a180-2171-11e9-9da2-ba1d17fcf561.png)

[2019-01-26 12:56] tobyplowy commented on #485
@lipki That's a lot better yeah.
Maybe improve the fire a bit, but other than that it's really good.
I think the fire should fill the furnace more, there is not enough fire :)

[2019-01-26 13:56] lipki commented on #497
![ezgif com-apng-to-gif](https://user-images.githubusercontent.com/401965/51788099-79850c00-217a-11e9-83fd-ebb3595b4e46.gif)

[2019-01-26 14:09] tobyplowy commented on #497
@lipki Done?

[2019-01-28 15:21] tobyplowy commented on #486
@lipki I like the color on the furnace a lot :D
Done?

[2019-01-29 02:00] lipki commented on #486
not yet ui

[2019-01-30 13:04] lipki commented on #497
ok, I understand.

[2019-01-31 14:33] tobyplowy commented on #485
@lipki Nice :D
Done?
We can probably use the furnace GUI for the ui.
![furnace](https://user-images.githubusercontent.com/16853304/52060965-9c923000-256d-11e9-909f-312102c09541.png)

[2019-01-31 14:37] lipki commented on #486
I would like to make a difference.
Maybe change the furnace ...
The furnace is stone, the blast furnace is metal.

[2019-01-31 14:40] tobyplowy commented on #486
But the furnace GUI looks like metal.

[2019-01-31 15:55] tobyplowy commented on #448
Nitwit
![nitwit](https://user-images.githubusercontent.com/16853304/52066502-f77d5480-2578-11e9-9a78-4c6e9eee868d.png)
Farmer
![farmer](https://user-images.githubusercontent.com/16853304/52066491-f5b39100-2578-11e9-91a1-edabff688adf.png)

[2019-01-31 15:55] tobyplowy commented on #448
I really like the farmer hat :D

[2019-02-01 00:14] tobyplowy commented on #449
![snow](https://user-images.githubusercontent.com/16853304/52094232-a728e580-25be-11e9-9883-cb252af8849b.png)
Here's my attempt for the snow villager.
This took me 3 hours to make XD

[2019-02-01 10:42] lipki commented on #486
yep

[2019-02-01 10:57] lipki commented on #449
It's a super job !!
![capture du 2019-02-01 11-53-04](https://user-images.githubusercontent.com/401965/52119122-68c01480-2618-11e9-987f-06d12fac386c.png)

[2019-02-01 11:09] lipki opened #499 "[1.14 Villager] Wandering trader"
There was not enough! Here is a new villager.
![wandering_trader](https://user-images.githubusercontent.com/401965/52119587-d1f45780-2619-11e9-8e2e-65ec7c832122.png)![trader_llama](https://user-images.githubusercontent.com/401965/52119591-d3be1b00-2619-11e9-84f2-f77ea53deddd.png)
![capture du 2019-02-01 12-04-37](https://user-images.githubusercontent.com/401965/52119581-cc970d00-2619-11e9-9d39-724

[2019-02-01 11:32] lipki commented on #448
The texture for the nitwit totally ruins the clothes of the pnj.
I propose to put nothing for the nitwit, an empty texture.
![capture du 2019-02-01 12-20-45](https://user-images.githubusercontent.com/401965/52120285-1b45a680-261c-11e9-961d-49bc2ce3f839.png)
![capture du 2019-02-01 12-23-31](https://user-images.githubusercontent.com/401965/52120332-4203dd00-261c-11e9-97fe-800829f2f18a.png)

The far

[2019-02-01 12:22] lipki commented on #449
The citizen of the plain.
![plains](https://user-images.githubusercontent.com/401965/52122721-2bfa1a80-2624-11e9-9543-e0c9f51df94a.png)
![capture du 2019-02-01 13-18-37](https://user-images.githubusercontent.com/401965/52122747-3ddbbd80-2624-11e9-8b05-d1caaeadda3d.png)

[2019-02-01 13:22] lipki commented on #449
The desert people.
![desert](https://user-images.githubusercontent.com/401965/52125412-af1f6e80-262c-11e9-9322-3dca6da3dabe.png)
![capture du 2019-02-01 14-20-06](https://user-images.githubusercontent.com/401965/52125402-a9298d80-262c-11e9-8058-e80835dc8a7f.png)

[2019-02-01 15:09] lipki commented on #495
![zombie_villager](https://user-images.githubusercontent.com/401965/52130887-ba2dcb00-263b-11e9-9ac9-14e7399967c9.png)

[2019-02-01 15:12] lipki commented on #495
![swamp](https://user-images.githubusercontent.com/401965/52131003-01b45700-263c-11e9-9155-9db35ec74ccf.png)
![capture du 2019-02-01 16-06-52](https://user-images.githubusercontent.com/401965/52130911-cca80480-263b-11e9-9418-ba06a4b53ada.png)

[2019-02-01 15:16] lipki commented on #496
![diamond](https://user-images.githubusercontent.com/401965/52131299-b9e1ff80-263c-11e9-8d49-570309b42042.png)
![emerald](https://user-images.githubusercontent.com/401965/52131300-b9e1ff80-263c-11e9-9cda-e812d730f4c6.png)
![gold](https://user-images.githubusercontent.com/401965/52131301-b9e1ff80-263c-11e9-9ad4-e90276db1699.png)
![iron](https://user-images.githubusercontent.com/401965/52131303-ba7a

[2019-02-01 15:17] lipki commented on #496
version zombie
![diamond](https://user-images.githubusercontent.com/401965/52131341-d2eab080-263c-11e9-88f4-7641c5db1499.png)![emerald](https://user-images.githubusercontent.com/401965/52131342-d3834700-263c-11e9-85ed-7d301b0a5981.png)![gold](https://user-images.githubusercontent.com/401965/52131344-d3834700-263c-11e9-9cda-b90924f21077.png)![iron](https://user-images.githubusercontent.com/401965/5

[2019-02-01 17:04] tobyplowy commented on #449
@lipki OH WOW YOUR TEXTURES ARE SO GOOD DUDE!!!
For the swamp can we keep the leaves on the characters?

[2019-02-01 17:09] tobyplowy commented on #499
I will give this a try if that's alright.

[2019-02-01 17:24] lipki commented on #449
Make a proposal.

[2019-02-02 11:55] lipki commented on #444
not yet.

[2019-02-02 23:07] lipki commented on #499
:D

[2019-02-02 23:08] tobyplowy commented on #499
@lipki Done or do I make him more colorful?

[2019-02-02 23:18] lipki commented on #499
We have time to decide.

[2019-02-03 00:18] tobyplowy commented on #448
@lipki My attempt at the armorer.
![armorer](https://user-images.githubusercontent.com/16853304/52170822-83e26f80-2751-11e9-8ba7-08359295edf3.png)

[2019-02-07 15:45] tobyplowy commented on #496
@lipki Done?

[2019-02-09 22:06] lipki opened #500 "[1.14] splash screen"
![mojang](https://user-images.githubusercontent.com/401965/52526843-5ea8b080-2cbf-11e9-8792-ff93cc25f5ff.png)

[2019-02-09 22:07] lipki commented on #500
Proposal
![mojang](https://user-images.githubusercontent.com/401965/52526847-6a947280-2cbf-11e9-9d0a-8c961eec05e6.png)

[2019-02-10 00:57] tobyplowy commented on #500
@lipki looks good to me.
I like the notch apple a lot :)

[2019-02-11 04:47] BaronJPN opened #501 "Light gray glass and gray glass are opposite"
Hello. Thank you for the wonderful texture.

Light gray glass and gray glass seem to be opposite.
Compare the following images.

https://github.com/SummerFields/SummerFields/blob/master/assets/minecraft/textures/block/gray_stained_glass.png
https://github.com/SummerFields/SummerFields/blob/master/assets/minecraft/textures/block/light_gray_stained_glass.png

I would be grateful if you could fix.

[2019-02-11 13:42] lipki commented on #501
Thank you.
Do not hesitate to come back here to criticize our work.

[2019-02-14 20:54] chengzzi89 opened #502 "[1.14] Separated painting"
I really want to know why mojang wants to do this?😂

![alban](https://user-images.githubusercontent.com/28303754/52816597-98712100-30dc-11e9-82ec-8b1fccaedcc9.png)
![aztec](https://user-images.githubusercontent.com/28303754/52816632-a8890080-30dc-11e9-96bb-b8548bd32ea6.png)
![aztec2](https://user-images.githubusercontent.com/28303754/52816726-d66e4500-30dc-11e9-9468-6a919164fe8a.png)
![bomb](https

[2019-02-15 01:30] lipki commented on #502
It's much easier to add new ones.
This is the next step after what they start in beta 1.6.

And we can make animated painting.

[2019-02-15 02:48] tobyplowy commented on #502
@chengzzi89 Thanks for doing this.
@lipki Done?
Maybe we also need to split up the alternative painting?

[2019-02-15 02:49] tobyplowy commented on #500
@lipki Done?

[2019-02-15 02:57] chengzzi89 commented on #502
@lipki Another painting is also necessary to open! Please give it to me!

[2019-02-15 02:58] tobyplowy opened #503 "[1.14] Fox"
I'm already working on it.

[2019-02-15 03:41] tobyplowy commented on #503
My proposal.
Fox
![fox](https://user-images.githubusercontent.com/16853304/52833163-e8031d00-30db-11e9-9bae-63124d595f97.png)
![fox_sleep](https://user-images.githubusercontent.com/16853304/52833164-e9344a00-30db-11e9-950a-3d46fc4970ab.png)
Snow fox
![snow_fox](https://user-images.githubusercontent.com/16853304/52833165-ea657700-30db-11e9-840a-f7974e098938.png)
![snow_fox_sleep](https://user-image

[2019-02-15 03:42] tobyplowy commented on #496
@lipki Done?

[2019-02-15 04:25] tobyplowy commented on #502
Actually making new paintings would be interesting.

[2019-02-15 12:17] lipki commented on #503
You're too strong, you have to teach me how to make textures.
;)

[2019-02-15 12:46] lipki commented on #503
![capture du 2019-02-15 13-45-20](https://user-images.githubusercontent.com/401965/52857675-16a6e500-3128-11e9-9fee-0b0fba1f3892.png)

[2019-02-15 16:15] chengzzi89 commented on #503
@tobyplowy nice！👏👏👍

[2019-02-15 17:14] chengzzi89 commented on #502
I tried to do one!😅
![1550247775682](https://user-images.githubusercontent.com/28303754/52872643-fdce1c00-3187-11e9-8ca4-5ec515495c6e.gif)
![1550250699913](https://user-images.githubusercontent.com/28303754/52872659-06beed80-3188-11e9-9f0c-005887987131.png)

[2019-02-15 17:50] tobyplowy commented on #503
Thanks guys =D

[2019-02-15 19:02] lipki commented on #502
done :)
I was looking for pictures at "Fool" who already provided some painting.

![alban](https://user-images.githubusercontent.com/401965/52878055-11fc2400-315c-11e9-8dea-4c3759270417.png)![aztec](https://user-images.githubusercontent.com/401965/52878056-11fc2400-315c-11e9-8c56-da6832489e88.png)![aztec2](https://user-images.githubusercontent.com/401965/52878057-11fc2400-315c-11e9-8951-e46fe55266

[2019-02-15 20:11] CuddleWoozle commented on #502
Just make sure it's still OK to use Fools artwork.  They do a lot of pixel
art and such but my worry is that they'll be upset.

There is no longer a way to credit within the art file itself.

On Fri, Feb 15, 2019, 2:02 PM Lepeltier kévin <notifications@github.com
wrote:

[2019-02-15 20:13] CuddleWoozle commented on #502
Also the alternative paintings are small focused selections of real fine
art paintings.  I made them using images taken from art museum websites.
Their virtual collections.

I would have to figure out which paintings and artists to properly credit
them.

On Fri, Feb 15, 2019, 3:11 PM Cuddle Woozle <cuddlewoozle@gmail.com wrote:

[2019-02-15 20:58] lipki commented on #502
I add a txt file with the credits.
And I found the authors of most of the painting.
thanks to google image.

[2019-02-16 03:58] tobyplowy commented on #467
Bell flower
![47446467-97c61f00-d7bb-11e8-8712-ba5de1db8703](https://user-images.githubusercontent.com/16853304/52894294-6bd60b80-31a7-11e9-842d-134ca682279a.png)

[2019-02-16 21:11] chengzzi89 commented on #355
@tobyplowy Ok, I will try to make them more real!😁

[2019-02-18 06:46] tobyplowy commented on #503
@lipki can we consider this done?

[2019-02-20 15:54] lipki commented on #503
yep

[2019-02-20 20:04] tobyplowy opened #504 "Close snapshot-17w48a branch and open branch for 1.14"
![image](https://user-images.githubusercontent.com/16853304/53120813-f7a6b980-3552-11e9-87c7-d5ec90154d82.png)

[2019-02-20 23:28] lipki commented on #504
let me do my thing.

[2019-02-21 00:02] lipki opened #505 "[1.14] Brown Mooshroom"
![brown_mooshroom](https://user-images.githubusercontent.com/401965/53133706-5a5c7d00-3574-11e9-9787-7607e06929c1.png)

[2019-02-21 00:02] lipki commented on #505
![brown_mooshroom](https://user-images.githubusercontent.com/401965/53133714-61838b00-3574-11e9-8d8d-0537afa5f1de.png)

[2019-02-21 00:13] lipki commented on #505
![capture du 2019-02-21 01-08-54](https://user-images.githubusercontent.com/401965/53134067-ddca9e00-3575-11e9-9a14-2c013d974da5.png)

[2019-02-21 01:23] lipki opened #506 "[1.14] Horse armor Leather"
![horse_armor_leather](https://user-images.githubusercontent.com/401965/53136519-9517e280-357f-11e9-9482-c2bed3b83eef.png)

[2019-02-21 01:26] lipki commented on #506
test
![horse_armor_leather](https://user-images.githubusercontent.com/401965/53136572-c55f8100-357f-11e9-99b8-9866009ea579.png)

![capture du 2019-02-21 02-25-18](https://user-images.githubusercontent.com/401965/53136664-05beff00-3580-11e9-89b3-669cfa736f6a.png)

[2019-02-21 01:44] lipki commented on #506
![capture du 2019-02-21 02-43-12](https://user-images.githubusercontent.com/401965/53137328-95fe4380-3582-11e9-8e64-e8e23e7b9666.png)

[2019-02-23 14:48] chengzzi89 commented on #506
The mob_effect file that is decomposed in the 19w08b snapshot version can be obtained from the bedrock version of the SummerFields texture package!😄

[2019-02-25 03:07] tobyplowy opened #507 "[1.14] Separated particles"
They have also separated the particles.

[2019-02-25 03:08] tobyplowy commented on #507
@chengzzi89 Are you interested in doing this one?

[2019-02-25 03:11] tobyplowy commented on #506
@lipki I like this cow doing thing that is going on.
But maybe make it more protective? Add more leather bits to protect the head and maybe the legs?

[2019-02-25 03:12] tobyplowy commented on #505
@lipki Nice.
Is this done?

[2019-02-25 03:13] tobyplowy commented on #504
@lipki ok.
So that is a no?

[2019-02-25 03:17] tobyplowy commented on #496
@lipki Is this done?

[2019-02-25 03:17] tobyplowy commented on #495
I like that a lot, he looks really scary now XD

[2019-02-25 03:22] tobyplowy commented on #448
@lipki also an empty texture for the nitwit is good.

[2019-02-25 03:27] tobyplowy commented on #499
@lipki maybe it would be nice to just completely desaturate the wandering trader and make him feel even less colorful, so he is a real boring business man :,D
Same for the lama.

[2019-02-25 03:30] tobyplowy commented on #442
@chengzzi89 are you interested in giving it a try?

[2019-02-25 03:31] tobyplowy commented on #442
@chengzzi89 Maybe you can make a nice model for it :)

[2019-02-25 03:32] tobyplowy commented on #355
@chengzzi89 can you please upload the models that you have already made?

[2019-02-25 03:35] tobyplowy commented on #486
@lipki are you interested in doing something special with the GUI?
I think that the furnace GUI can be used.
And then we can add a special GUI for the smoker.
What do you think?

[2019-02-25 03:37] tobyplowy commented on #482
I wish that they would just add the GUIs for these.

[2019-02-25 03:39] tobyplowy commented on #463
@lipki I feel like this is good to be honest :)

[2019-02-25 03:42] tobyplowy commented on #457
@lipki Alright well I think that this can be closed :)

[2019-02-25 03:43] tobyplowy commented on #305
@lipki is this issue still used or needed?

[2019-02-25 03:46] tobyplowy commented on #444
I will see if I can start working on this soon.

[2019-02-25 03:48] tobyplowy commented on #502
Fool is just so good at pixelart.
I'm jealous.

[2019-02-25 03:49] tobyplowy commented on #501
@lipki Can you resolve this?

[2019-02-25 03:51] tobyplowy commented on #493
@lipki is the item texture that I made good as the item?
If so this is done right?

[2019-02-25 03:55] tobyplowy commented on #393
@lipki do we finish this?

[2019-02-25 04:41] chengzzi89 commented on #507
@tobyplowy OK！

[2019-02-25 08:13] chengzzi89 commented on #507
https://www.dropbox.com/s/usawvc5ehy3tp0y/particle.zip?dl=0

[2019-02-25 15:43] lipki commented on #506
Maybe a little more but not too much, less than iron armor anyway.

[2019-02-25 15:44] lipki commented on #505
yep

[2019-02-25 15:46] lipki commented on #504
For the snapshot, I do not really know what's inside.
The 1.14 remains in the master branch for now, the branch will be created at the time of the release.

[2019-02-25 15:47] lipki commented on #496
we are waiting to finish all the villagers to be safe.

[2019-02-25 15:48] tobyplowy commented on #507
@chengzzi89 Nice :D
Make sure to keep that link working until we merge it :D

[2019-02-25 15:49] tobyplowy commented on #496
Ok.

[2019-02-25 15:54] tobyplowy commented on #499
![52150385-1d395500-2670-11e9-8b3e-ff34707e0496](https://user-images.githubusercontent.com/16853304/53349728-05c35400-391e-11e9-8ca9-0286941fca4f.png)

[2019-02-25 16:30] lipki commented on #448
![capture du 2019-02-25 17-28-37](https://user-images.githubusercontent.com/401965/53352454-14f8d080-3923-11e9-92da-1a23286030b9.png)

[2019-02-25 16:54] lipki commented on #486
Ideally I would like three different interface.
but if the interface of the furnace becomes that of the blast furnace, it is good.
But it would take a new interface for the furnace.

Maybe stone for the furnace.
the furnace interface for the blast furnace
and stone + wood for the smoker.

[2019-02-25 16:54] lipki commented on #482
yep

[2019-02-25 16:57] #457 closed

[2019-02-25 16:59] #305 closed

[2019-02-25 17:00] lipki commented on #501
It is done it will merge with the next update.

[2019-02-25 17:00] #501 closed

[2019-02-25 17:04] #393 closed

[2019-02-25 17:51] tobyplowy commented on #439
@lipki Here is my attempt at jellie.
![47918488-0470a600-dead-11e8-95e6-07fa5ad79b86](https://user-images.githubusercontent.com/16853304/53357464-41feb080-392e-11e9-8451-d061c7e85f8d.png)

[2019-02-25 18:35] tobyplowy commented on #444
@lipki Here are the 2 panda colors.
![black classic](https://user-images.githubusercontent.com/16853304/53359840-5e9de700-3934-11e9-945d-17742d60a8e6.png)
![brown](https://user-images.githubusercontent.com/16853304/53359841-5e9de700-3934-11e9-8ee1-33706a9d9dd3.png)
I didn't do the emotions.
And I don't plan on doing them soon.
@lipki @chengzzi89 You guys interested in doing the emotions?

[2019-02-25 18:37] tobyplowy commented on #486
@lipki Can you do the GUIs?

[2019-02-25 19:22] lipki commented on #449
![capture du 2019-02-25 18-45-03](https://user-images.githubusercontent.com/401965/53362659-f999bf80-393a-11e9-8d41-644875b80deb.png)

[2019-02-25 19:35] lipki commented on #439
ok done!

[2019-02-25 22:29] lipki commented on #444
![capture du 2019-02-25 22-38-42](https://user-images.githubusercontent.com/401965/53373213-1e029580-3955-11e9-95b8-58c152b7ca1f.png)

[2019-02-25 22:39] lipki commented on #444
![aggressive_panda](https://user-images.githubusercontent.com/401965/53373297-573b0580-3955-11e9-8083-ca893080972c.png) ![brown_panda](https://user-images.githubusercontent.com/401965/53373682-77b78f80-3956-11e9-9567-25436a7c4263.png) ![lazy_panda](https://user-images.githubusercontent.com/401965/53373299-573b0580-3955-11e9-8af1-604f12394ee8.png) ![panda](https://user-images.githubusercontent.com/

[2019-02-25 22:59] #504 closed

[2019-02-26 11:26] chengzzi89 commented on #355
I modeled the piston arm made of PE bedrock!
![62881e69d17783d5](https://user-images.githubusercontent.com/28303754/53409507-05998600-39fc-11e9-90d0-65201200dabf.png)

[2019-02-26 15:38] tobyplowy commented on #355
Nice =D

[2019-02-27 12:33] chengzzi89 commented on #444
Wow! Nice!😘

[2019-02-27 13:39] chengzzi89 commented on #444
Please mark the name of the emoticon!😀

[2019-02-27 20:26] chengzzi89 commented on #442
🤔🤔🤔![bamboo](https://user-images.githubusercontent.com/28303754/53520472-af6a3700-3b10-11e9-8ce7-c6cf0954b4bb.png)

[2019-02-27 20:28] tobyplowy commented on #442
That actually looks really nice =D

[2019-02-27 21:09] chengzzi89 commented on #442
![texture](https://user-images.githubusercontent.com/28303754/53523154-0410b080-3b17-11e9-9f15-3a0f78a58b4f.png)
![texture](https://user-images.githubusercontent.com/28303754/53523159-08d56480-3b17-11e9-823e-0967e4448f5f.png)

[2019-02-27 21:12] chengzzi89 commented on #442
@tobyplowy Bamboo leaves I painted some small!

[2019-02-28 00:27] chengzzi89 commented on #442
Bamboo small leaves
![-2dc568373f06d5a8](https://user-images.githubusercontent.com/28303754/53532569-51e6e200-3b32-11e9-830b-ab006d525195.png)

[2019-02-28 23:59] tobyplowy commented on #442
@lipki What do you think?
I think these are amazing.

[2019-03-01 10:24] chengzzi89 commented on #481
Added a new barrel_top_open

[2019-03-01 21:43] lipki commented on #442
perfect :D

[2019-03-01 22:24] chengzzi89 commented on #442
![bamboo_stem](https://user-images.githubusercontent.com/28303754/53669932-c72df080-3cb3-11e9-879c-8669ccd491a9.png)

[2019-03-01 22:28] chengzzi89 commented on #442
@lipki
bamboo_large_leaveshttps://www.dropbox.com/s/9kquyxuqpue1ejb/bamboo_large_leaves.zip?dl=0

[2019-03-01 23:37] lipki commented on #442
![capture du 2019-03-02 00-34-58](https://user-images.githubusercontent.com/401965/53672545-51119580-3c83-11e9-89c0-b40f71b438a2.png)

[2019-03-01 23:41] lipki commented on #481
![barrel_top_open](https://user-images.githubusercontent.com/401965/53672692-ead94280-3c83-11e9-9ebd-725b663c4e1e.png)

[2019-03-02 01:00] lipki commented on #481
![capture du 2019-03-02 01-57-57](https://user-images.githubusercontent.com/401965/53674530-e9f9de00-3c8e-11e9-966e-0f8f86dd45b7.png)

[2019-03-02 01:08] tobyplowy commented on #442
I'm a little bothered by the floating leaves at the top of the bamboo.
@chengzzi89 Can you please fix this?

[2019-03-02 01:30] lipki commented on #442
better ?
![capture du 2019-03-02 02-27-19](https://user-images.githubusercontent.com/401965/53675045-04ce5180-3c93-11e9-8479-78a663172e20.png)

[2019-03-02 01:35] lipki commented on #442
It does not float! But the stems are thin, is hard to see if you are not in the right angle.

[2019-03-02 01:39] tobyplowy commented on #442
Alright yeah.
Nevermind :)

[2019-03-02 20:33] chengzzi89 commented on #439
@lipki
Is there a cat collar?🤔

[2019-03-02 23:02] chengzzi89 commented on #439
😁![screenshot_20190303_070013](https://user-images.githubusercontent.com/28303754/53688663-3d992400-3d82-11e9-9261-ce15bc84a00a.jpg)

[2019-03-03 02:04] chengzzi89 commented on #464
banner_pattern_illager
![banner_pattern_illager](https://user-images.githubusercontent.com/28303754/53689935-a771f780-3d9b-11e9-812c-7a6ab40445e4.png)

[2019-03-03 15:27] lipki commented on #464
In the game it looks like that.
![53689935-a771f780-3d9b-11e9-812c-7a6ab40445e4](https://user-images.githubusercontent.com/401965/53697421-23d2fd80-3dd1-11e9-9096-fcc1c9dc112d.png)

[2019-03-03 15:58] lipki commented on #464
I would like something like that, I did it fast.
![53689935-a771f780-3d9b-11e9-812c-7a6ab40445e4](https://user-images.githubusercontent.com/401965/53697793-4404bb80-3dd5-11e9-9557-b0bccd6b9a26.png)

[2019-03-03 16:23] chengzzi89 commented on #464
Wow, this is great! I like!👍👍😍

[2019-03-04 22:15] tobyplowy commented on #493
@lipki is the item texture that I made good as the item?
If so this is done right?

[2019-03-04 23:01] tobyplowy commented on #444
@lipki Is this done?

[2019-03-04 23:13] tobyplowy commented on #399
I have given it another try.
![outputimage](https://user-images.githubusercontent.com/16853304/53769190-70a2fb00-3edb-11e9-8d7d-45b72cbec9b8.png)
![outputimage 1](https://user-images.githubusercontent.com/16853304/53769191-713b9180-3edb-11e9-9df0-d34076bb2719.png)

[2019-03-14 17:04] lipki commented on #464
19w11
new pattern globe
![globe](https://user-images.githubusercontent.com/401965/54376494-7d65e280-4683-11e9-911f-f30fd491feb6.png)
![globe_banner_pattern](https://user-images.githubusercontent.com/401965/54376532-8f478580-4683-11e9-8b7e-ae9113f3f5d5.png)

[2019-03-14 17:07] lipki opened #508 "[1.14 Villager] GUI"
![villager](https://user-images.githubusercontent.com/401965/54376759-0aa93700-4684-11e9-8f96-bd0c0f9d0865.png)

19w13b

![villager2](https://user-images.githubusercontent.com/401965/55281271-46095e00-5332-11e9-88bf-1c4c108f06de.png)

[2019-03-16 17:39] tobyplowy commented on #508
![54376759-0aa93700-4684-11e9-8f96-bd0c0f9d0865](https://user-images.githubusercontent.com/16853304/54479209-e5026600-481a-11e9-95f0-132c58e2dc8b.png)

[2019-03-16 17:42] tobyplowy opened #509 "Redo chicken and beef item textures"
They look like the minecraft textures but upscaled in a very lazy way.
Especially the chicken needs a redo.

[2019-03-16 17:42] tobyplowy commented on #509
@lipki Ping

[2019-03-16 17:46] tobyplowy commented on #493
@lipki Ping?

[2019-03-16 17:48] tobyplowy commented on #451
@lipki Can you finish this?

[2019-03-16 18:11] tobyplowy commented on #464
A bit of battle damage :D
![53697793-4404bb80-3dd5-11e9-9557-b0bccd6b9a26](https://user-images.githubusercontent.com/16853304/54479474-5d6a2680-481d-11e9-8a90-49202a821004.png)
Also globe banner.
![54376494-7d65e280-4683-11e9-911f-f30fd491feb6](https://user-images.githubusercontent.com/16853304/54479661-4c221980-481f-11e9-83b2-504e46265137.png)

[2019-03-17 10:59] lipki commented on #509
yes,yes, why not

[2019-03-17 11:07] lipki commented on #451
That would be good, that's for sure.

[2019-03-17 13:43] lipki commented on #508
We must be able to do better.
![Capture du 2019-03-17 14-37-37](https://user-images.githubusercontent.com/401965/54491956-cf487b80-48c2-11e9-845d-42afb199e0d4.png)

[2019-03-17 13:47] lipki commented on #500
It does not work anymore: /

[2019-03-17 13:57] lipki commented on #509
![Capture du 2019-03-17 14-54-48](https://user-images.githubusercontent.com/401965/54492229-0586fa80-48c5-11e9-9c7e-65563f6b3e8c.png)

[2019-03-17 14:12] lipki commented on #464
whistles ... :D
![boule](https://user-images.githubusercontent.com/401965/54492440-fb65fb80-48c6-11e9-87cf-2eba2720f151.png)

[2019-03-17 14:30] lipki commented on #496
What level?
we do not see it !!
![Capture du 2019-03-17 15-27-53](https://user-images.githubusercontent.com/401965/54492740-6e707180-48c9-11e9-9079-19fd6e488c84.png)

[2019-03-17 18:21] tobyplowy commented on #496
hmmm.. not sure what you mean.
It's on their shoulder right?

[2019-03-17 18:49] tobyplowy commented on #464
![54376494-7d65e280-4683-11e9-911f-f30fd491feb6](https://user-images.githubusercontent.com/16853304/54496275-c28d4d00-48ed-11e9-8b90-48c69ab94bd4.png)

[2019-03-17 20:39] lipki commented on #496
yes, but we do not see it when we do the exchanges, it's not good.
I have another proposal.

[2019-03-17 20:41] lipki commented on #496
![Capture du 2019-03-17 21-37-18](https://user-images.githubusercontent.com/401965/54497628-47339780-48fd-11e9-87d3-f354c187e6d1.png)
![diamond](https://user-images.githubusercontent.com/401965/54497634-56b2e080-48fd-11e9-9045-21406c5e4018.png)![emerald](https://user-images.githubusercontent.com/401965/54497635-56b2e080-48fd-11e9-9228-e729af529d82.png)![gold](https://user-images.githubusercontent.

[2019-03-17 21:24] lipki commented on #464
![globe_banner_pattern](https://user-images.githubusercontent.com/401965/54498147-6df4cc80-4903-11e9-89d2-e1b3461aeb77.png)

[2019-03-17 22:25] lipki commented on #508
![Capture du 2019-03-17 14-56-24](https://user-images.githubusercontent.com/401965/54498809-dc3d8d00-490b-11e9-93ae-15244f3e36bf.png)
![villager](https://user-images.githubusercontent.com/401965/54498819-ef505d00-490b-11e9-8a32-61a5d09f51d9.png)

[2019-03-17 23:01] lipki commented on #486
For Furnace ?
![furnace](https://user-images.githubusercontent.com/401965/54499338-e3b36500-4910-11e9-916a-141bf5fd072d.png)

[2019-03-18 10:38] tobyplowy commented on #509
I think the mutton looks good.
The chicken needs to be completely redone.
The rest needs some small improvements.
@lipki you interested in taking this task?

[2019-03-18 10:42] tobyplowy commented on #496
Yeah that looks nice :)
Looks like epaulettes.
Maybe add some strands to it so it's a bit nicer (more texture/shape)

[2019-03-18 10:45] tobyplowy commented on #508
Nice improvement :)

[2019-03-18 10:45] tobyplowy commented on #486
Yeah that would be a nice one.

[2019-03-18 13:49] lipki commented on #496
Enjoy yourself.

[2019-03-18 14:45] lipki commented on #509
![chicken](https://user-images.githubusercontent.com/401965/54538561-c031fe00-4994-11e9-8247-d733959f05d4.png)![cooked_chicken](https://user-images.githubusercontent.com/401965/54538569-c3c58500-4994-11e9-93cf-f7f7dc03bc49.png) ?

[2019-03-18 14:53] lipki commented on #489
![smithing_table_bottom](https://user-images.githubusercontent.com/401965/54538891-654cd680-4995-11e9-8586-60e92399f825.png)![smithing_table_front](https://user-images.githubusercontent.com/401965/54538893-654cd680-4995-11e9-90a1-46c79fb2f046.png)![smithing_table_side](https://user-images.githubusercontent.com/401965/54538894-65e56d00-4995-11e9-99a3-1bb310aaa20f.png)![smithing_table_top](https://u

[2019-03-18 15:24] lipki commented on #493
![sweet_berries](https://user-images.githubusercontent.com/401965/54541475-4c92ef80-499a-11e9-8fca-fdb1908a2376.png)
And like this ?

[2019-03-18 19:15] lipki opened #510 "Leaves"
What do you think.

![Capture du 2019-03-18 20-12-27](https://user-images.githubusercontent.com/401965/54556999-6e9c6a00-49ba-11e9-8d7d-c180d77e917a.png)
![Capture du 2019-03-18 19-53-29](https://user-images.githubusercontent.com/401965/54556963-604e4e00-49ba-11e9-9a97-910f2897deaa.png)
![Capture du 2019-03-18 20-10-01](https://user-images.githubusercontent.com/401965/54556807-fcc42080-49b9-11e9-9

[2019-03-18 20:43] #502 closed

[2019-03-18 20:44] #507 closed

[2019-03-18 21:41] tobyplowy commented on #509
Yeah that does look a little odd :'D
Also does not look like chicken at all.

[2019-03-18 21:50] tobyplowy commented on #510
I love these, I have a bit of feedback tho.
Can you make the models a little bigger there seems to be a gap between the leaves. (It's too clear that they are separated blocks)
Also can you brighten the textures a bit so they don't looks so dark.
Have a look at the leaves in my texture pack as a reference.
 https://www.planetminecraft.com/texture_pack/epic-adventures-by-toby109tt-x32-wip/

[2019-03-18 21:53] lipki commented on #509
:D

[2019-03-18 22:04] tobyplowy commented on #493
Yeah that is better, I like it :)

[2019-03-18 22:05] tobyplowy commented on #489
Very nice :)

[2019-03-30 08:52] chengzzi89 commented on #355
@tobyplowy @lipki
https://www.dropbox.com/s/rii6brt77264tyc/SummerFields_1.14.zip?dl=0
I optimized some models,

[2019-03-30 10:23] tobyplowy commented on #355
@chengzzi89 Nice =D

[2019-03-30 10:23] tobyplowy commented on #355
@lipki Can you add them?

[2019-03-30 20:26] lipki commented on #508
we change everything ...
19w13b

![villager2](https://user-images.githubusercontent.com/401965/55281271-46095e00-5332-11e9-88bf-1c4c108f06de.png)

[2019-03-30 20:28] lipki opened #520 "[1.14] accessibility button"
![accessibility](https://user-images.githubusercontent.com/401965/55281314-cd56d180-5332-11e9-9a31-564e109e13fb.png)

[2019-03-30 20:31] lipki commented on #464
and the shield

[2019-03-30 20:33] lipki opened #521 "[1.14] hero of the village"
![hero_of_the_village](https://user-images.githubusercontent.com/401965/55281351-7c93a880-5333-11e9-9e2e-5bdb99a977bf.png)

[2019-03-30 20:47] lipki commented on #520
![accessibility](https://user-images.githubusercontent.com/401965/55281485-5ff87000-5335-11e9-8ab9-36b52f13991f.png)

[2019-03-30 20:51] lipki commented on #464
![globe](https://user-images.githubusercontent.com/401965/55281526-03498500-5336-11e9-99a5-6ca700070b9a.png)

[2019-03-30 22:34] lipki commented on #508
![villager2](https://user-images.githubusercontent.com/401965/55282445-41e63c00-5344-11e9-8137-f01860655457.png)

![Capture du 2019-03-30 23-33-20](https://user-images.githubusercontent.com/401965/55282452-57f3fc80-5344-11e9-9910-ae6323c9d7d3.png)

[2019-03-30 23:57] tobyplowy commented on #508
Looking good :)

[2019-04-02 23:32] tobyplowy commented on #520
Nice. Done?

[2019-04-02 23:32] tobyplowy commented on #510
@lipki

[2019-04-14 22:13] AzurLighting commented on #510
This looks cool but please do not include on the next release, has a addon would be better

[2019-04-14 22:15] AzurLighting commented on #463
i think the problem is that other people not always use summerfields or use other pack so sticking to the original concept is actually better

its possible to make a alternate textures of this one but with the summerfield tone? i mean the loom itself

[2019-04-15 06:40] lipki commented on #463
Everything is possible when we have time.

[2019-04-15 06:45] #481 closed

[2019-04-15 06:46] #461 closed

[2019-04-15 06:47] #460 closed

[2019-04-15 06:48] #458 closed

[2019-04-15 06:50] #439 closed

[2019-04-15 06:52] #444 closed

[2019-04-15 06:52] #450 closed

[2019-04-15 06:53] #442 closed

[2019-04-15 07:04] lipki opened #522 "add a background to GUI titles"
![Capture du 2019-03-17 14-56-24](https://user-images.githubusercontent.com/401965/56113185-67d32980-5f5d-11e9-8dac-509c6b347700.png)

[2019-04-15 07:14] #508 closed

[2019-04-15 07:20] #505 closed

[2019-04-15 08:06] #503 closed

[2019-04-15 08:12] #498 closed

[2019-04-15 08:36] lipki commented on #497
![53683619-e1acac00-3d3d-11e9-8130-bb618339c890](https://user-images.githubusercontent.com/401965/56118243-24cb8300-5f6a-11e9-8432-38d2a75df906.png)
![campfire_log_lit](https://user-images.githubusercontent.com/401965/56118225-18472a80-5f6a-11e9-9485-7d472fa002bd.png)

[2019-04-15 08:54] #494 closed

[2019-04-15 08:59] #493 closed

[2019-04-15 09:03] #492 closed

[2019-04-15 09:10] #490 closed

[2019-04-15 09:31] #520 closed

[2019-04-15 09:36] #500 closed

[2019-04-15 09:40] #488 closed

[2019-04-15 09:50] #487 closed

[2019-04-15 09:54] #483 closed

[2019-04-15 09:57] #466 closed

[2019-04-15 10:02] #462 closed

[2019-04-15 10:03] #459 closed

[2019-04-15 10:11] #486 closed

[2019-04-15 10:12] #443 closed

[2019-04-15 10:12] #441 closed

[2019-04-15 10:13] #438 closed

[2019-04-15 10:21] #399 closed

[2019-04-15 10:22] #397 closed

[2019-04-15 10:23] #351 closed

[2019-04-15 10:29] lipki commented on #467
@tobyplowy  you make the blue ?

[2019-04-15 12:12] tobyplowy commented on #467
@lipki Can you do that?
Currently having trouble to do it.
Also I know it's not part of the issue but Ididen't like the allium so I changed it a bit.
![allium](https://user-images.githubusercontent.com/16853304/56131657-5ce1be80-5f88-11e9-95b4-3c3b2ed7b96f.png)
Hope you like it.

[2019-04-15 12:15] tobyplowy commented on #510
I don't see why this needs to be an addon, This is clearly an improvement so I think it would be good to just add this to the pack.

@lipki Can you make the spruce leaves have a bit more shape?
Like now it looks very straight and not natural.

[2019-04-15 13:09] lipki commented on #467
One more allium, one allium of less ...
It must be the fifth version :)

[2019-04-15 13:12] lipki commented on #510
People are used to cubic leaves.
I understand.
I can improve the spruce leaves, surely.

[2019-04-15 13:47] tobyplowy commented on #521
@lipki How's this?
![hero of the village](https://user-images.githubusercontent.com/16853304/56137758-cb794900-5f95-11e9-89f1-557ea0e17b2f.png)

[2019-04-15 13:48] tobyplowy commented on #510
Alright.

[2019-04-15 13:53] lipki commented on #521
We win that when we finish a raid.

[2019-04-15 13:54] tobyplowy commented on #521
Yeah...?
So is it good?

[2019-04-15 16:58] lipki commented on #448
![Capture du 2019-04-15 18-54-57](https://user-images.githubusercontent.com/401965/56150958-65e68600-5fb0-11e9-9531-e6d0f9bb3e72.png)
![Capture du 2019-04-15 18-54-48](https://user-images.githubusercontent.com/401965/56150973-70a11b00-5fb0-11e9-8988-afac84fb8afc.png)
![Capture du 2019-04-15 18-54-41](https://user-images.githubusercontent.com/401965/56150978-73037500-5fb0-11e9-980b-d89e8ced4ff6.png

[2019-04-15 17:12] tobyplowy commented on #467
XD

[2019-04-16 07:21] chengzzi89 commented on #497
@lipki
Thank you!

[2019-04-16 08:59] #497 closed

[2019-04-16 09:03] lipki commented on #448
![armorer](https://user-images.githubusercontent.com/401965/56196462-2adb6580-6037-11e9-801b-08f2a51af62e.png)![leatherworker](https://user-images.githubusercontent.com/401965/56196463-2b73fc00-6037-11e9-82c2-628552d9fabd.png)![toolsmith](https://user-images.githubusercontent.com/401965/56196464-2b73fc00-6037-11e9-9e99-08cfc8478d7d.png)![weaponsmith](https://user-images.githubusercontent.com/40196

[2019-04-16 09:04] lipki commented on #448
![Capture du 2019-04-15 22-27-02](https://user-images.githubusercontent.com/401965/56196576-62e2a880-6037-11e9-95f4-414ff5bb5dd3.png)
![shepherd](https://user-images.githubusercontent.com/401965/56196587-69712000-6037-11e9-8e08-d5860609701b.png)

[2019-04-16 09:05] lipki commented on #448
![Capture du 2019-04-15 22-27-14](https://user-images.githubusercontent.com/401965/56196606-71c95b00-6037-11e9-917b-7d10b4ae9413.png)
![butcher](https://user-images.githubusercontent.com/401965/56196620-7726a580-6037-11e9-9140-9e813a21d635.png)

[2019-04-16 16:27] tobyplowy commented on #448
@lipki nice stuff you got here :)

[2019-04-24 07:04] AzurLighting commented on #451
Do you think a mechanical bull would be more interesting? i mean skinning it to look like the iron golem looks very uninspired

a example:

![Mechanical Bull](https://i.imgur.com/lJK38sy.jpg)

[2019-04-24 07:12] lipki commented on #451
Yes you're right this bull is very cool.
I can not wait to see your version of the beast with this style ;)

[2019-04-24 14:05] tobyplowy commented on #451
@lipki I think he was asking you to make it XD

[2019-04-26 21:39] tobyplowy commented on #521
@lipki Ping want me to make to something different?

[2019-04-26 21:40] tobyplowy commented on #464
@lipki Can you make a PR?

[2019-04-26 21:55] tobyplowy commented on #482
![53354154-825a3080-3926-11e9-8487-46839793be36](https://user-images.githubusercontent.com/16853304/56838524-98309700-687e-11e9-9649-dc74c4734da4.png)
Hmmmm, I have given it a try but I can't seem to be able to do this right now.

[2019-04-29 04:34] tobyplowy commented on #496
@lipki Seems like this can be merged.

[2019-05-19 05:04] tobyplowy opened #546 "Acacia button textures have not changed"
For some reason it is using the standard way of mapping the textures on to the button.
![image](https://user-images.githubusercontent.com/16853304/57978007-62f21180-7a04-11e9-8f41-4f4ca2b384ab.png)

[2019-05-19 05:06] tobyplowy commented on #546
@lipki @chengzzi89 In the top image you can see that the left and right buttons are correct.
I have attempted to fix it but I do not understand at all why this is happening.

[2019-05-29 03:06] lunapanshiel opened #547 "Lithiumsound's other packs need a home"
Lithiumsound, the creator of summerfields, had two other texture packs they had created and have unfortunately been mostly forgotten, with the closure of the minecraft forum there needs to be a place for them to be preserved and possibly updated

the first and reasonably well-known is greatwood, a 16x texture pack designed to be similar to summerfields, which I have put in a lot of effort to make

[2019-05-29 08:05] tobyplowy commented on #547
I am interested in this if lipki is.
@lipki Are you interested?

[2019-05-29 08:12] tobyplowy commented on #546
Fixed by https://github.com/SummerFields/SummerFields/pull/548

[2019-05-29 08:15] tobyplowy commented on #355
@chengzzi89 Can you make a PR for these models?

[2019-05-29 20:52] chengzzi89 commented on #467
Flower_cornflower has not drawn

[2019-06-03 16:50] chengzzi89 commented on #355
@tobyplowy PR What is it? 「◦㉨◦」？

[2019-06-03 16:52] tobyplowy commented on #355
Pull request.
Here you can see how to make one.
https://help.github.com/en/articles/creating-a-pull-request

[2019-06-29 12:27] Snykeurs commented on #484
![grindstone](https://user-images.githubusercontent.com/30370861/60384101-07db2200-9a7a-11e9-829f-533280ef0117.png)
What do you think of this ?

[2019-06-29 14:31] tobyplowy commented on #484
@Snykeurs It's a good start perhaps you can try and make it look more special and unique?
Perhaps add some elements that display the grindstones characteristics.

[2019-07-01 21:11] Snykeurs commented on #484
yeah sure, i'm working on it :D

[2019-07-02 08:18] tobyplowy commented on #484
@Snykeurs Nice =D
Can't wait to see what you come up with.

[2019-07-17 02:59] #546 closed

[2019-07-22 08:26] angel8808301798 opened #549 "switch texture packs"
I hope you can make the summer fields texture packs gor switch!!!! I really like the summer fields texture packs!!!! If it can be real I will buy it!!!

[2019-07-22 15:41] tobyplowy commented on #549
First of all hello welcome on our GitHub page =D
Yeah that is not really how it works...
You have to get the approval of Microsoft first. and even if we get it I do not think it's a good idea to put SummerFields on the "minecraft" store. I am also very sure that lipki and CuddleWoozle agree with this. Also we still have the packs license, which explicitly states no commercial use.

So I here by st

[2019-07-22 15:41] #549 closed

[2019-07-22 15:49] tobyplowy commented on #549
You can support me on patreon if you want. this will help me keep this pack updated becouse right now I'm the only one that is working on it.
https://www.patreon.com/toby109tt

[2019-07-22 20:18] lipki commented on #547
I agree to help make a "repo" for GreatWood, I'm curious to see the result in 1.14.
I'm thinking of a separate "repo" because it's different from SummerFields.

I did not know about ToyBoxTales. Make it an addon, why not! The addons are boring to manage, it must be said, they are never updated. But why not.

Sorry for the lack of credit.
When I did the repo, I did a lot of research to understand w

[2019-07-22 20:24] lipki commented on #546
I did not understand why, that's why I left it.
Cool, you have find.

[2019-07-22 20:25] tobyplowy commented on #546
Yup. It was hard but I did it =D
Also welcome back, SO happy to see you again.

[2019-07-22 20:26] tobyplowy commented on #547
@lipki I want to help with GreatWood =D

[2019-07-22 20:28] tobyplowy commented on #547
Bdw GreatWood looks a lot like SummerFields so why not put it in the SummerFields repo?
I'm sure it would be fine =D

[2019-07-22 20:50] lipki commented on #547
Because I'm obsessive :)
But it may not be up to me to decide after all.

[2019-07-22 23:25] tobyplowy commented on #547
@lipki It is up to you to decide =D
We are a team and I say we do whatever you think is best.
I'm just happy to help as always =D

[2019-07-22 23:31] tobyplowy commented on #355
@chengzzi89 The media fire link is broken can you reupload it?

[2019-07-22 23:33] tobyplowy commented on #464
@lipki What else needs to be done for this to be finished?

[2019-07-23 00:05] tobyplowy commented on #496
Added by https://github.com/SummerFields/SummerFields/pull/550

[2019-07-23 00:10] tobyplowy commented on #485
This add 2 little things that connect the door when it's cosed so it looks less like it's floating =D
![image](https://user-images.githubusercontent.com/16853304/61673235-e8d55600-acee-11e9-9c72-c34f9f4e8702.png)

[2019-07-23 09:24] lipki commented on #464
I think he's missing a PR ...

[2019-07-23 10:26] lipki commented on #547
Following this conversation ... is happening here for the GreatWood.
https://github.com/greatwood-minecraft/greatwood

[2019-07-29 18:39] Snykeurs commented on #451
What do you think of this one ?

![2019-07-29_20 36 07](https://user-images.githubusercontent.com/30370861/62073333-cd170600-b240-11e9-89d7-b6ddebb681a0.png)
![2019-07-29_20 35 01](https://user-images.githubusercontent.com/30370861/62073334-cdaf9c80-b240-11e9-95b1-4d94ab672b1a.png)
![ravager](https://user-images.githubusercontent.com/30370861/62073352-d607d780-b240-11e9-8186-82720f65e90a.png)

[2019-07-29 20:38] tobyplowy commented on #451
@Snykeurs A bit generic but still nice =D

[2019-07-29 20:38] tobyplowy commented on #451
@lipki Ping

[2019-07-30 01:11] chengzzi89 commented on #451
@tobyplowy I don't think it is very visible.🤔

[2019-07-30 10:28] tobyplowy commented on #451
@chengzzi89 Hhhmmm I probably can't do better si unless lipki gives it a try i think this is it.

[2019-08-01 06:56] lipki commented on #451
It's a good base thank you @Snykeurs
Missing details, saddle, rust, traces of grass, mechanical details.
But it's already very good.

[2019-08-01 11:57] astarace opened #551 "Lavaflow texture broken"
The flowing lava texture doesn't conform to the dimensions of the pack, and is subsequently broken. Current dimension is 64x8443. Comparatively, flowing water dimensions are 64x8384

[2019-08-10 03:24] tobyplowy commented on #449
Hey @lipki  can you finish the villagers?

[2019-08-19 19:33] Snykeurs commented on #551
![lava_flow](https://user-images.githubusercontent.com/30370861/63293692-ef90c200-c2c8-11e9-9eda-40bb8b0a5258.png)

I fixed it !

[2019-08-21 17:40] Snykeurs commented on #506
What do you tink of this one ?
Inspired from iron armor and cover all horse back

![2019-08-21_19 37 36](https://user-images.githubusercontent.com/30370861/63454573-5fc75100-c44b-11e9-8aa3-16c90238881e.png)

![horse_armor_leather](https://user-images.githubusercontent.com/30370861/63454608-71105d80-c44b-11e9-9316-bb03b0be1fb1.png)

[2019-08-21 17:59] tobyplowy commented on #506
Yeah I like this.

[2019-08-25 07:54] jaygradon commented on #485
Would this be acceptable for a GUI?

![smoker](https://user-images.githubusercontent.com/16079512/63647225-1a1fc680-c772-11e9-986b-0ca7125b4ec6.png)

[2019-08-25 07:56] jaygradon commented on #509
I have had a go at some new pork textures

![cooked_porkchop](https://user-images.githubusercontent.com/16079512/63647238-33287780-c772-11e9-9a1f-ceea2ba2b64d.png)
![porkchop](https://user-images.githubusercontent.com/16079512/63647239-33c10e00-c772-11e9-9b7a-869c1b5df691.png)

Here is a take on a chicken drumstick (not sure if they fit well enough)

![chicken](https://user-images.githubuserconten

[2019-08-25 20:05] tobyplowy commented on #485
@jaygradon Very nice!

[2019-09-10 14:10] intrushok opened #552 "Terrafirmacraft 1.7.x link doesnt work properly"
The link from site:
![1](https://user-images.githubusercontent.com/50256886/64621067-b93cf300-d3ed-11e9-8aea-1e2a317dcded.png)
When GitHub loads:
![3](https://user-images.githubusercontent.com/50256886/64621081-bf32d400-d3ed-11e9-9584-108be25c888f.png)
What I found in google:
![2](https://user-images.githubusercontent.com/50256886/64621103-c78b0f00-d3ed-11e9-805a-71771f3da9ac.png)
Please correct t

[2019-09-30 20:22] Snykeurs opened #553 "Honey texture"
I made some honey texture for the new incomming update !

honey_bottle : ![honey_bottle](https://user-images.githubusercontent.com/30370861/65913744-b0c64f80-e3d0-11e9-9061-509cb1c88c7b.png)

honeycomb : ![honeycomb](https://user-images.githubusercontent.com/30370861/65913745-b0c64f80-e3d0-11e9-973d-492a6dcb183c.png)

[2019-09-30 20:26] tobyplowy commented on #553
Very nice.
I do recommend that you learn how to make PRs (Pull requests)
Otherwise I have a hard time adding your textures.

[2019-09-30 20:27] tobyplowy commented on #553
@Snykeurs Check this out.
https://help.github.com/en/articles/creating-a-pull-request

[2019-09-30 20:34] Snykeurs commented on #553
oh sorry, i'll do it now

[2019-09-30 20:38] tobyplowy commented on #553
Thanks for all the contributions bdw.
Also if you want please join our discord.
https://discord.gg/U9sVJTb

[2019-09-30 20:42] tobyplowy commented on #451
@Snykeurs If you can address the above comments that would be wonderful.

[2019-09-30 20:48] Snykeurs commented on #553
i just joined. i connected first with my firefox account by i never use it :x

[2019-09-30 21:38] Snykeurs commented on #553
can you give access for this account : Snykeurs#7875 ?

[2019-10-26 13:23] JohnsanGeezo opened #555 "Downloaded the master and it doesn't appear in my resource packs menu"
Tried renaming it, tried adding the new flowing lava from another issue to myexisting pack, and it doesn't work. Can someone help?

I can't bring myself to use another resource pack after using this one for 5 years...

[2019-10-26 19:06] tobyplowy commented on #555
If you are ruing it on java check inside the zip and see if the files are in the correct structure.
I should be (Name of zip)/assets/minecraft
If it's not like that then you may reed to re pack.

[2019-10-27 06:48] JohnsanGeezo commented on #555
Yeah the file structure looks ok. There's a few other files under (name of zip) with assets - license, pack.mcdata, pack.png and readme. Don't think that matters though.

Still doesn't work. Any other suggestions?

[2019-10-27 14:52] tobyplowy commented on #555
Huh...
Perhaps you are running a minecraft version that's too old?
Also make sure that you are running java edition.

[2019-10-28 10:30] JohnsanGeezo commented on #555
Definitely Java, and definitely the latest version. 1.14.4.

[2019-10-28 20:02] tobyplowy commented on #555
Hmmm, well I'm confused...
Maybe show me a picture of what's in the zip?

[2019-10-29 11:53] JohnsanGeezo commented on #555
Ok I've got it working (there was an extra copy of the home folder in there). Thanks for the help, and sorry for being a pain! So glad it's working again.

[2019-10-30 11:31] #555 closed

[2019-11-19 08:22] KaitoAomiOokami opened #557 "??"
?????

[2019-11-19 08:24] KaitoAomiOokami opened #558 "When is 1.14!!!!"
the 1.15 is coming out !!! where is 1.14!! I really like this texture pack plz make it!!

[2019-11-19 08:53] chengzzi89 commented on #558
This package is still in production, please don't worry!

[2019-11-19 11:54] tobyplowy commented on #558
@KaitoAomiOokami Can you "plz" have some patience.
I am currently working on epic adventures (My other pack)
https://www.planetminecraft.com/texture_pack/epic-adventures-by-toby109tt-x32-wip/
So it may be a while untill I get back to summerfealds.
Please just be patient. Thank you.

[2019-11-19 11:56] tobyplowy commented on #557
Please don't make issues like this!
They are frustrating and they add nothing.
Please don't make issues like this in the future. Thank you.

[2019-11-19 11:57] #557 closed

[2019-12-04 13:36] tobyplowy commented on #558
@KaitoAomiOokami Currently working on the update.
Please have a look at my patreon to support me. https://www.patreon.com/toby109tt
More support means more progress =D

[2019-12-04 13:37] #558 closed

[2019-12-04 13:51] tobyplowy commented on #553
Eeeehhh yeah sorry can't do that.
You are fairly new but if you commit more I may =D

[2019-12-04 13:52] tobyplowy commented on #553
@Snykeurs The items are added. https://github.com/SummerFields/SummerFields/commit/9724ca5ee0ad73128729ac083712b237352cff8e =D

[2019-12-04 14:48] tobyplowy commented on #485
Done.

[2019-12-04 14:48] #485 closed

[2019-12-04 14:56] tobyplowy commented on #551
@Snykeurs Your texture had some odd animation so I fixed it.

[2019-12-04 14:56] #551 closed

[2019-12-14 21:17] #496 closed

[2019-12-16 21:00] tobyplowy commented on #451
@Snykeurs Are you still interested in finishing this issue?

[2019-12-16 21:45] Snykeurs commented on #451
@tobyplowy  I have tried to add some foliage but it don't look nice, i'll try with alternate texture of iron golem from optifine textures.

[2019-12-18 18:55] lipki commented on #510
If you want to test this, I like it a lot.
[summerLeaves.zip](https://github.com/SummerFields/SummerFields/files/3978712/summerLeaves.zip)

[2019-12-18 18:55] lipki commented on #449
twoo last

jungle
![Capture du 2019-12-18 16-23-30](https://user-images.githubusercontent.com/401965/71099056-f49c4a00-21b2-11ea-8b8a-58c04a0242f7.png)

taiga
![Capture du 2019-12-18 17-23-43](https://user-images.githubusercontent.com/401965/71103924-41841e80-21bb-11ea-9aff-83f1702565f4.png)

[2019-12-18 18:55] lipki commented on #509
I like the chicken

I made changes, and I add the rabbit, what do you think?

![cooked_chicken](https://user-images.githubusercontent.com/401965/71112231-5799db00-21cb-11ea-8b39-0c5571b8d12f.png)![chicken](https://user-images.githubusercontent.com/401965/71112245-5e285280-21cb-11ea-8e21-e54f7f315e71.png)
![cooked_porkchop](https://user-images.githubusercontent.com/401965/71112232-58327180-21cb-11e

[2019-12-18 18:55] lipki commented on #552
I just tested, it works well ...

[2019-12-18 18:55] lipki commented on #506
I find that it covers a little too much.

[2019-12-18 18:56] lipki commented on #553
For the honey bottle, I prefer this shape and this color.
The round bottle being reserved for potions.

![honey_bottle](https://user-images.githubusercontent.com/401965/71113404-cb3ce780-21cd-11ea-9a14-ea85a870b303.png)

[2019-12-18 18:57] tobyplowy commented on #510
@lipki Yeah I like these too.

[2019-12-18 18:59] tobyplowy commented on #553
@lipki Yeah I have already merged and changed the honey color =D

[2019-12-18 19:01] tobyplowy commented on #509
@lipki Yeah it's getting there... Just needs a bit more contrast and complexity in the texture I think?

[2019-12-18 20:03] Snykeurs commented on #510
Old spruce leaves where made with a custom 3D model and disappear in an update, i added them in a custom pack, I, also  customized other leaves as those in conquest.

![2019-12-18_20 59 43](https://user-images.githubusercontent.com/30370861/71118976-67b8b700-21d9-11ea-85ce-1e50e3a7e461.png)

[2019-12-18 20:05] Snykeurs commented on #553
Me too i prefer this one but after honey bottle drank it return empty bottle

[2019-12-18 20:30] Snykeurs commented on #510
I love your new leaves by the way :D

[2019-12-18 20:51] lipki commented on #553
Ok, you're right !

[2019-12-18 20:51] #553 closed

[2019-12-18 22:24] tobyplowy commented on #449
@lipki Very nice!
I like the Eskimo look. Is that Christmas decoration on his solders?

[2019-12-18 22:29] tobyplowy commented on #553
I mean minecrafts logic has always been a bit odd. I I don't think it matters XD

[2019-12-19 09:50] lipki commented on #449
No it's supposed to be the thing on the shoulders.
https://www.ecosia.org/images?q=greenland+people#id=B80A9199E18A7E179979F7B6B8B187867E261549

[2019-12-19 12:54] lipki commented on #495
![Capture du 2019-12-19 13-45-33](https://user-images.githubusercontent.com/401965/71175089-f293c300-2266-11ea-81c6-1a3d1bc10610.png)
![Capture du 2019-12-19 13-45-56](https://user-images.githubusercontent.com/401965/71175091-f293c300-2266-11ea-916e-c27e7192d0d2.png)
![Capture du 2019-12-19 13-46-18](https://user-images.githubusercontent.com/401965/71175092-f293c300-2266-11ea-84a6-dd98c3aebe0e.png

[2019-12-19 12:59] lipki commented on #448
nitwit - ok
armorer - ok
butcher - ok
leatherworker - ok
shepherd - ok
toolsmith - ok
weaponsmith - ok
librarian
mason
cartographer
cleric
farmer
fisherman
fletcher

[2019-12-19 13:54] tobyplowy commented on #495
@lipki hahaH I love how the little creature on the head of the first one came back to life.
Also I was planning to do these textures. Guess you beat me to it XD